<% @tax_year_info = TaxYearInfo.new(user: resource_owner) %>

<div class="card mb-30 mt-20 max-w-1000-centered">
  <h1>Your Tax Accountant</h1>
  <%= form_for @tax_year_info, url: tax_update_preparers_path, method: :post do |f| %>
    <%= hidden_field_tag :next_page_number, @next_page %>
    <%= hidden_field_tag :page_number, @page_number %>
  
    <% @tax_accountants.each do |tax_accountant| %>
      <p>What years did <%= tax_accountant.name %> prepare your taxes. Please check all that apply.</p>
    
      <ul class="check-list mb-30">
        <% TaxesLimits::YEARS[:max].downto(TaxesLimits::YEARS[:min]) do |year| %>
          <li class="check-list">
            <label>
              <%= check_box_tag "tax_accountants[#{tax_accountant.id}][years][#{year}]",
                year,
                (tax_accountant_years(tax_accountant).include? year.to_i) ? true : false, {}
              %>
              <span></span> <%= year %>
            </label>
          </li>
        <% end %>
     </ul>
    <% end %>

    <%= render partial: 'tutorials/buttons_section', locals: { f: f } %>
  <% end %>
</div>
