<div class="wtl-body-content">
  <%= f.hidden_field :id, id: "will_id_#{index}" %>
  <div class="field">
    <label>Executor</label>
    <div class="chosen-styled-select">
      <%= f.collection_select :executor_id, 
        @contacts, :first, :second, {}, 
        { 'data-placeholder' => 'Add Contact...', class: "chosen-select", multiple: false, id: "will_executor_id_#{index}" }
      %>
  </div>
  </div>
  <div class="field">
    <label>Primary Beneficiaries</label>
    <div class="chosen-styled-select">
      <%= contact_select_with_create_new(f, :primary_beneficiary_ids, @contacts, id: "will_primary_id_#{index}") %>
    </div>
  </div>
  <div class="field">
    <label>Secondary Beneficiaries</label>
    <div class="chosen-styled-select">
      <%= contact_select_with_create_new(f, :secondary_beneficiary_ids, @contacts, id: "will_secondary_id_#{index}") %>
    </div>
  </div>
  <div class="field">
    <label>Attorney, Accountant or Advisor(s)</label>
    <div class="chosen-styled-select">
      <%= contact_select_with_create_new(f, :agent_ids, @contacts, id: "will_agent_id_#{index}", multiple: false) %>
    </div>
  </div>
  <div class="field shared-field bt-gray-light bb-gray-light wtl-shared-with">
    <label>Shared With</label>
    <span class="shared-with-block">
      <h2 class="shared-with-title">Shared With</h2>
      <svg class="icon icon-Safe share-with-icon" viewBox="0 0 20 20">
        <use xlink:href="#icon-Safe"></use>
      </svg>
    </span>
    <div class="chosen-styled-select">
      <%= contact_select_with_create_new(f, :share_ids, @contacts_shareable, id: "will_share_id_#{index}") %>
    </div>
  </div>
</div>

<script>
  clearForm = function($newWtlForm, old_id, new_id){
    new_vault_entry_id = "vault_entry_" + new_id;
    $newWtlForm.find("[id^='will_id_']").attr({
      id: "will_id_" + new_id,
      value: ""
    });
    $newWtlForm.find("[id^='will_id_']").attr("name", new_vault_entry_id + "[id]");
    $newWtlForm.find("[id^='vault_entry_']").attr({
      name: new_vault_entry_id + "[name]",
      id: new_vault_entry_id + "_name"
    });
    
    $newWtlForm.find("#will_executor_id_" + old_id).attr({
      name: new_vault_entry_id +"[executor_id]",
      id: "will_executor_id_" + new_id
    });
    $newWtlForm.find("#will_executor_id_" + new_id + " option").prop("selected", false);
    
    $newWtlForm.find("#will_primary_id_" + old_id).attr({
      name: new_vault_entry_id +"[primary_beneficiary_ids][]",
      id: "will_primary_id_" + new_id
    });
    $newWtlForm.find("#will_primary_id_" + new_id + " option").prop("selected", false);
    
    $newWtlForm.find("#will_secondary_id_" + old_id).attr({
      name: new_vault_entry_id +"[secondary_beneficiary_ids][]",
      id: "will_secondary_id_" + new_id
    });
    $newWtlForm.find("#will_secondary_id_" + new_id + " option").prop("selected", false);
    
    $newWtlForm.find("#will_agent_id_" + old_id).attr({
      name: new_vault_entry_id +"[agent_ids][]",
      id: "will_agent_id_" + new_id
    });
    $newWtlForm.find("#will_agent_id_" + new_id + " option").prop("selected", false);
    
    $newWtlForm.find("#will_share_id_" + old_id).attr({
      name: new_vault_entry_id +"[share_ids][]",
      id: "will_share_id_" + new_id
    });
    $newWtlForm.find("#will_share_id_" + new_id + " option").prop("selected", false);
  }

$(document).ready(function(){
  url = "new/get_wills_details";
  $.get(url, function(data) {
    data.forEach(function(form_values, index){
      $("#will_executor_id_" + index).val(form_values[0]).trigger("chosen:updated");
      $("#will_primary_id_" + index).val(form_values[1]).trigger("chosen:updated");
      $("#will_secondary_id_" + index).val(form_values[2]).trigger("chosen:updated");
      $("#will_agent_id_" + index).val(form_values[3]).trigger("chosen:updated");
      $("#will_share_id_" + index).val(form_values[4]).trigger("chosen:updated");
      $("#will_id_" + index).val(form_values[5]).trigger("chosen:updated");
    });
  });
});
</script>
