<% @wills.each do |will| %>
  <div class="card wills mb-30">
    <%= link_to content_tag(:a), new_will_path, class: "whole-card-link" %>
    <h3 class="card-label">Will Details</h3>

    <label class="title">Primary Beneficiaries</label>
    <p>
      <% will.primary_beneficiaries && will.primary_beneficiaries.each do |primary| %>
        <%= primary.name %><br>
      <% end %>
    </p>

    <label class="title">Secondary Beneficiaries</label>
    <p>
      <% will.secondary_beneficiaries && will.secondary_beneficiaries.each do |secondary| %>
        <%= secondary.name %><br>
      <% end %>
    </p>

    <% if will.executor %>
      <label class="title">Executor</label>
        <p><%= will.executor.name %><br>
           <a href="mailto:<%= will.executor.emailaddress %>">
             <%= will.executor.emailaddress %>
           </a><br>
          <%= will.executor.phone %>
        </p>
    <% end %>

    <label class="title">Attorney, Accountant, Advisor</label>

    <% will.agents && will.agents.each do |agent| %>
      <p><%= agent.name %><br>
        <a href="mailto:<%= agent.emailaddress %>">
          <%= agent.emailaddress %>
        </a><br>
        <%= agent.phone %>
      </p>
    <% end %>


    <section class="shared-with">
      <h3 class="card-label shared-label">
        <svg class="icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg> Shared With
      </h3>

      <label>Shared With</label>
      <div>
        <% will.shares && will.shares.each do |share| %>
          <% if share.contact.present? %>
            <span class="user-circle"><%= share.contact.initials %></span>
          <% end %>
        <% end %>
      </div>
    </section>

  </div>
<% end %>
