<div class="card wills mb-30">
  <%= f.hidden_field :id, id: "will_id_#{index}" %>
  <%= f.hidden_field :user_id %>
  <%= render partial: 'layouts/hidden_for_disabled', locals: { name: :share_with_contact_ids, shares: data.share_with_contact_ids, f: f } %>
  <% if data.id.present? && @errors %>
    <% error_list = @errors.detect {|x| x[:id].to_i == data.id } %>
  <% else %>
    <% error_list = @errors && @errors.pop() %>
  <% end %>

  <h3 class="card-label">Will Details</h3>
  
  <%= f.label :title, 'Will Title' %><span class="required">Required</span>
  <% if error_list && error_list[:error].messages[:title].present? %>
    <span class="error-label"> - <%= error_list[:error].messages[:title].first %></span>
  <% end %>
  <%= f.text_field :title, value: data.title, class: ("input-error" if error_list && error_list[:error].messages[:title].present?), id: "will_title_id_#{index}", :maxlength => get_max_length(:wtl_name) %>
    
  <%= f.label :executor_id, 'Executor' %>
  <div class="chosen-styled-select">
    <%= contact_select_with_create_new(f, :executor_id, @contacts, id: "will_executor_id_#{index}", multiple: false, value: data.executor_id) %>
  </div>

  <%= f.label :primary_beneficiary_ids, 'Primary Beneficiaries' %>
  <div class="chosen-styled-select">
    <%= contact_select_with_create_new(f, :primary_beneficiary_ids, @contacts, id: "will_primary_id_#{index}", value: data.primary_beneficiary_ids) %>
  </div>

  <%= f.label :secondary_beneficiary_ids, 'Secondary Beneficiaries' %>
  <div class="chosen-styled-select">
    <%= contact_select_with_create_new(f, :secondary_beneficiary_ids, @contacts, id: "will_secondary_id_#{index}", value: data.secondary_beneficiary_ids) %>
  </div>

  <label>Attorney, Accountant or Advisor(s)</label>
  <div class="chosen-styled-select">
    <%= contact_select_with_create_new(f, :agent_ids, @contacts, id: "will_agent_id_#{index}", multiple: false, value: data.agent_ids) %>
  </div>
  
  <%= f.label :notes %>
  <p><%= f.text_area :notes, id: "will_notes_id_#{index}", value: data.notes, :maxlength => get_max_length(:notes) %></p>

  <%= render partial: 'layouts/shared_with_email_preview_section', locals: { f: f, shared_with_field_symbol: :share_with_contact_ids,
                                                                             shared_with_dropdown_id: "will_share_id_0",
                                                                             additional_params: { id: "will_share_id_#{index}", value: data.share_with_contact_ids } } %>
  <% if data.id && policy(data).destroy? %>
    <%= link_to 'Delete', "#{yield(:delete_path)}#{data.id}", method: :delete,
        data: { confirm: "Deleting this '#{yield(:question_title)}' will permanently remove it from ZokuVault." },
        class: 'button small-button secondary-button', id: 'delete-will'  %>
  <% end %>
</div>