<h1>ZokuVault Support</h1>

<%= form_tag email_support_path do %>
  <div class="card cg-3 mb-30">
    <h3 class="card-label">ZokuVault Support</h3>
    <p>Please let us know how we can help you. Send us your questions, concerns or feedback</p>
    <p>
      <%= label_tag :first_name, 'First Name' %>
      <%= text_field_tag :first_name, current_user.user_profile.first_name %>
    </p>
    <p>
      <%= label_tag :last_name, 'Last Name' %>
      <%= text_field_tag :last_name, current_user.user_profile.last_name %>
    </p>
    <p>
      <%= label_tag :email %>
      <%= text_field_tag :email, current_user.email %>
    </p>
    <p>
      <%= label_tag :phone_number, 'Phone Number' %>
      <%= text_field_tag :phone_number, current_user.user_profile.phone_number %>
    </p>

    <p>
      <label>Preferred Method of Contact</label>
    </p>
    <p>
      <%= radio_button("user", "connect_by", "email", options = { checked: true }) %>
      <%= label_tag :email, 'Email' %>
      <br>
      <%= radio_button("user", "connect_by", "phone") %>
      <%= label_tag :phone, 'Phone' %>
    </p>
    <p>
      <label>Message</label>
      <br>
      Please include any details that will help us with your inquiry.
      <p><%= text_area_tag :message, nil, :maxlength => get_max_length(:notes), class: 'big' %></p>
    </p>
  </div>

  <%= submit_tag "Send", class: "button primary-button big-button" %>
  <%= link_to 'Cancel', back_path(session[:ret_url]) || root_path, { class: "button secondary-button big-button" } %>
<% end %>
