<%= ff.hidden_field :id, id: "policy_id_#{index}" %>

  <h3 class="card-label">Policy Information</h3>
  
  <%= ff.label :policy_type, 'Policy Type' %>
  <div class="styled-select">
    <%= ff.select :policy_type, HealthPolicy::policy_types.keys, id: "health_policy_type_id_#{index}" %>
  </div>

  <%= ff.label :policy_number, 'Policy Number' %>
  <%= ff.text_field :policy_number, id: "health_policy_number_id_#{index}", :maxlength => get_max_length(:default) %>
  
  <%= ff.label :group_id, 'Group ID' %>
  <%= ff.text_field :group_id, id: "health_policy_group_id_#{index}", :maxlength => get_max_length(:default) %>

  <%= ff.label :group_number, 'Group Number' %>
  <%= ff.text_field :group_number, id: "health_group_number_id_#{index}", :maxlength => get_max_length(:default) %> 

  <%= ff.label :policy_holder_id, 'Policy Holder' %>
  <div class="chosen-styled-select">
    <%= contact_select_with_create_new(ff, :policy_holder_id, @contacts, id: "health_policy_holder_id_#{index}", multiple: false) %>
  </div>

  <%= ff.label :insured_member_ids, 'Insured Members' %>
  <div class="chosen-styled-select">
    <%= contact_select_with_create_new(ff, :insured_member_ids, @contacts, id: "health_insured_id_#{index}") %>
  </div>

  <%= ff.label :broker_or_primary_contact_id, 'Broker or Primary Contact' %>
  <div class="chosen-styled-select">
    <%= contact_select_with_create_new(ff, :broker_or_primary_contact_id, @contacts, id: "health_broker_id_#{index}", multiple: false) %>
  </div>

  <%= ff.label :notes %>
  <%= ff.text_area :notes, id: "health_notes_id_#{index}", :maxlength => get_max_length(:notes) %>

<script>
  clearForm = function($newWtlForm, old_id, new_id){
    var newPolicy = "[policy_" + new_id + "]"
    var newPolicyNameStart = "health" + newPolicy
    changeIdAndName($newWtlForm, "policy_id_" + old_id,
      "policy_id_" + new_id, newPolicyNameStart + "[id]")
    changeIdAndName($newWtlForm, "health_policy_" + old_id + "_policy_type",
      "health_policy_" + new_id + "_policy_type", newPolicyNameStart + "[policy_type]")
    changeIdAndName($newWtlForm, "health_policy_holder_id_" + old_id,
      "health_policy_holder_id_" + new_id, newPolicyNameStart + "[policy_holder_id]")
    changeIdAndName($newWtlForm, "health_policy_number_id_" + old_id,
      "health_policy_number_id_" + new_id, newPolicyNameStart + "[policy_number]")
    changeIdAndName($newWtlForm, "health_policy_group_id_" + old_id,
      "health_policy_group_id_" + new_id, newPolicyNameStart + "[group_id]")
    changeIdAndName($newWtlForm, "health_group_number_id_" + old_id,
      "health_group_number_id_" + new_id, newPolicyNameStart + "[group_number]")
    changeIdAndName($newWtlForm, "health_insured_id_" + old_id,
      "health_insured_id_" + new_id, newPolicyNameStart + "[insured_member_ids][]")
    changeIdAndName($newWtlForm, "health_broker_id_" + old_id,
      "health_broker_id_" + new_id, newPolicyNameStart + "[broker_or_primary_contact_id]")
    changeIdAndName($newWtlForm, "health_notes_id_" + old_id,
      "health_notes_id_" + new_id, newPolicyNameStart + "[notes]")
      
    changeHiddenMultipleSelect($newWtlForm, "health[policy_" + old_id + "][insured_member_ids][]",
      "health[policy_" + new_id + "][insured_member_ids][]")
  };
</script>