<div class="card mb-30">
  <h1 class="mb-20">Add Your Home</h1>

  <%- @financial_property = FinancialProperty.new(user: resource_owner, category: Category.fetch(Rails.application.config.x.FinancialInformationCategory.downcase)) %>

  <%= form_for @financial_property, url: url_for(action: :create, controller: :financial_property) do |f| %>
    <%= hidden_field_tag :next_page_number, @next_page %>
    <%= hidden_field_tag :page_number, @page_number %>

    <%= label_tag "property_name", 'Street Address' %>
    <%= render partial: 'tutorials/home/financial_properties' %>

    <div class="collect-fields">
      <%= hidden_field_tag :tutorial_name, @tutorial_name %>
      <%= hidden_field_tag :next_tutorial, @next_tutorial.try(:name).try(:parameterize) || 'confirmation_page' %>
      <%= hidden_field_tag 'financial_property[property_type]', "House" %>
      <div class="input-pair tutorial-fields">
        <%= text_field_tag "financial_property[name]", "", class: "form-control medium repeated-field", placeholder: '1010 Main Street' %>
        <a class="medium-button button primary-button inline-button add-another-btn">Add Another</a>
      </div>
    </div>

    <%= render partial: 'tutorials/buttons_section', locals: { f: f } %>
  <% end %>
</div>
