<%= form_tag mfa_path, id: 'mfa-form' do %>
  <% if @phone_number_error %>
    <h5>Please reenter your Cell Phone number for verification purposes. You will be receiving a code shortly.
      If you do not receive a code, please reach out to <%= mail_to 'support@zokuvault.com', 'support@zokuvault.com', class: 'no-underline-link' %>. Thank you.
    </h5>

    <%= label_tag 'Cell Phone Number' %>
    <span id='send_code_text'></span>
    <%= text_field_tag "user[user_profile_attributes][two_factor_phone_number]", "", class: "form-control", :data => {:mask => '999-999-9999'}, autofocus: true %>
    <input type="button" onClick="sendCode();" value="Send code">
  <% end %>

  <%= label_tag 'user_user_profile_attributes_phone_code', 'Phone Code' %>
  <span id='verify_code_text'></span>
  <%= text_field_tag 'user[user_profile_attributes][phone_code]', "", autofocus: true %>
  <input type="button" onClick="verifyCode();" value="Verify code">
  <% if !@phone_number_error %>
    <%= link_to 'Resend code', 'javascript:;', class: "no-underline-link", id: 'resend-code' %><span id='send_code_text'></span>
  <% end %>

<% end %>

<script>

// handle 'enter press' to verify code
$('#user_user_profile_attributes_phone_code').keypress(function(e) {
  if(e.which == 13) {
    e.preventDefault();
    verifyCode();
  }
});

$('#user_user_profile_attributes_two_factor_phone_number').keypress(function(e) {
  if(e.which == 13) {
    e.preventDefault();
    sendCode();
  }
});

$('#resend-code').click(function() {
  $.ajax({
    url: "<%= resend_code_path %>",
    type: "GET",
    success: function() {
      $('#send_code_text').html(' - Code sent!');
    },
    error: function() {
      $('#send_code_text').html(' - Error!');
    }
  });
});

function sendCode() {
  var data = $('#user_user_profile_attributes_two_factor_phone_number').serialize();
  $.post("<%= send_code_account_path %>",
      data,
      function() {
        $('#send_code_text').html(' - Code sent!');
      })
  .fail(function() {
    $('#send_code_text').html(' - Error!');
  })
}

function verifyCode() {
  var data = $('#user_user_profile_attributes_phone_code').serialize();
  $.post("<%= verify_code_account_path %>",
      data,
      function() {
        window.location.replace('<%= back_path || root_path %>' + "?mfa_submit=true")
      })
  .fail(function() {
    $('#verify_code_text').html(' - Error!')
  })
}

</script>
