<section class="card login-card" >
  <%= form_tag mfa_path, id: 'mfa-form' do %>
    <h2>Two-Factor Authentication</h2>
    <div class="flash-alert-static flash static" style="display:none;"><%= alert %></div>
    <% if @phone_number_error %>
      <div class="mb-10" >
        <%= label_tag 'Cell Phone Number' %>
        <span id='send_code_text'></span>
        <%= render partial: 'layouts/phone_number', locals: { f: nil, phone: "user[user_profile_attributes][two_factor_phone_number]", autofocus: true } %>
        <input type="button" onClick="sendCode();" value="Send code" class="button fixed-width big-button primary-button">
      </div>
    <% end %>
    <div class="mb-10" >
      <%= label_tag 'user_user_profile_attributes_phone_code', 'Phone Code' %>
      <span id='verify_code_text'></span>
      <%= text_field_tag 'user[user_profile_attributes][phone_code]', "", autofocus: true %>
      <input type="button" onClick="verifyCode();" value="Verify code" class="button fixed-width big-button primary-button">
    </div>
    <% if !@phone_number_error %>
      <p><%= link_to 'Resend code', 'javascript:;', class: "no-underline-link", id: 'resend-code' %><span id='send_code_text'></span></p>
    <% end %>
  <% end %>
</section>

<script>
// handle 'enter press' to verify code
$('#user_user_profile_attributes_phone_code').keypress(function(e) {
  if(e.which == 13) {
    e.preventDefault();
    verifyCode();
  }
});

$('#user_user_profile_attributes_two_factor_phone_number').keypress(function(e) {
  if(e.which == 13) {
    e.preventDefault();
    sendCode();
  }
});

$('#resend-code').click(function() {
  $.ajax({
    url: "<%= resend_code_path %>",
    type: "GET",
    success: function() {
      $('#send_code_text').html(' - Code sent!');
    },
    error: function() {
      $('#send_code_text').html(' - Error!');
    }
  });
});

function sendCode() {
  var data = $('#user_user_profile_attributes_two_factor_phone_number').serialize();
  $.post("<%= send_code_account_path %>",
      data,
      function() {
        $('#send_code_text').html(' - Code sent!');
      })
  .fail(function() {
    var msg = "Please reenter your Cell Phone number for verification purposes. You will be receiving a code shortly. If you do not receive a code, please reach out to support@zokuvault.com. Thank you."
    $(".flash-alert.flash").html(msg);
    $(".flash-alert-static.flash.static").html(msg)
    $(".flash-alert.flash").show().delay(3000).fadeOut();
    $(".flash-alert-static.flash.static").show();
  })
}

function verifyCode() {
  var data = $('#user_user_profile_attributes_phone_code').serialize();
  $.post("<%= verify_code_account_path %>",
      data,
      function() {
        window.location.replace('<%= back_path || root_path %>' + "?mfa_submit=true")
      })
  .fail(function() {
    var msg = "Incorrect code submitted.";
    $(".flash-alert.flash").html(msg);
    $(".flash-alert-static.flash.static").html(msg)
    $(".flash-alert.flash").show().delay(3000).fadeOut();
    $(".flash-alert-static.flash.static").show();
  })
}
</script>
