<% @contacts = Contact.for_user(current_user) %>

<%= form_for(@vault_entry) do |f| %>
  <% if @vault_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vault_entry.errors.count, "error") %> prohibited this vault_entry from being saved:</h2>

      <ul>
      <% @vault_entry.shares.first.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <% @vault_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card mb-30">
    <div class="field">
      <label>Do you have a will? Required<br>
      <%= f.label :has_will, "Yes", value: "true" %>
      <%= f.radio_button :has_will, true, checked: true, onClick: "showForm();" %><br>
      <%= f.label :has_will, "No", value: "false" %>
      <%= f.radio_button :has_will, false, onClick: "showUploadMessage();" %><br>
      </label>
    </div>
  </div>

  <div class="card  wills mb-30" id="form-fields">
    <div class="field">
      <%= f.label :executor %><br>
      <div class="unstyled-select">
        <%= f.collection_select :executor_id,
          @contacts, :id, :name, {},
          { 'data-placeholder' => 'Choose contact...', class: "chosen-select", style: "width:350px" }
        %>
      </div>
    </div>

    <div class="field">
      <%= f.label :primary_beneficiaries %><br>
      <div class="unstyled-select">
        <%= f.collection_select :primary_beneficiary_ids,
          @contacts, :id, :name, {},
          { 'data-placeholder' => 'Choose contacts...', multiple: true, class: "chosen-select", style: "width:350px" }
        %>
      </div>
    </div>

    <div class="field">
      <%= f.label :secondary_beneficiaries %><br>
      <div class="unstyled-select">
        <%= f.collection_select :secondary_beneficiary_ids,
          @contacts, :id, :name, {},
          { 'data-placeholder' => 'Choose contacts...', multiple: true, class: "chosen-select", style: "width:350px" }
        %>
      </div>
    </div>

    <div class="field">
      <%= f.label :attorney_accountant_advisors, 'Attorney, Accountant or Advisor(s)' %><br>
      <div class="unstyled-select">
        <%= f.collection_select :agent_ids,
          @contacts, :id, :name, {},
          { 'data-placeholder' => 'Choose contacts...', multiple: true, class: "chosen-select", style: "width:350px" }
        %>
      </div>
    </div>

    <div class="field">
      <%= f.label :shared_with %><br>
      <div class="unstyled-select">
        <%= f.collection_select :share_ids,
          @contacts, :id, :name, {},
          { 'data-placeholder' => 'Choose contacts...', multiple: true, class: "chosen-select", style: "width:350px" }
        %>
      </div>
    </div>

    <div class="field">
      <%= f.label :will %><br>
      <div class="unstyled-select">
        <%= f.collection_select :document_id,
          Document.wills.for_user(current_user), :id, :name, {},
          { 'data-placeholder' => 'Choose Will....', class: "chosen-select", style: "width:350px" }
        %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<div class="card" id="upload-will-message" style="display: none">
  <%= link_to "Please upload a Will before continuing.", new_document_path %>
</div>
<script>
  $('.chosen-select').chosen()
  function showForm() {
    $('#form-fields').show();
    $('#upload-will-message').hide();
  }

  function showUploadMessage() {
    $('#form-fields').hide();
    $('#upload-will-message').show();
  }
</script>
