<p id="notice"><%= notice %></p>

<h1>Shared With Me</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Documents</th>
      <th>Categories</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shares_by_user.each do |user, shares| %>
      <tr>
        <td>
          <span class="user-circle"><%= user.try(:initials) %></span>
          <%= user.try(:name) %>
        </td>
        <td>
          <%= user.try(:email) %>
        </td>
        <% shareables = shares.map(&:shareable) %>
        <td><%= shareables.count { |res| res.is_a? Document } %></td>
        <td><%= shareables.count { |res| res.class.in? [Will, Trust, PowerOfAttorney]} %></td>
        <td class="details-col"><%= link_to 'View', user && shared_view_dashboard_path(user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
