<p id="notice"><%= notice %></p>

<h1>Shared With Me</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Documents</th>
      <th>Categories</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shares_by_user.each do |user, shares| %>
      <% if user.present? %>
        <tr>
          <td>
            <span class="user-circle"><%= user.try(:initials) %></span>
            <%= user.try(:name) %>
          </td>
          <td>
            <%= user.try(:email) %>
          </td>
          <% shareables = shares.map(&:shareable) %>
          <td><%= shared_document_count(shareables, user) %></td>
          <td><%= shared_category_count(shares, user) %></td>
          <td class="details-col"><%= link_to 'View', user && shared_view_dashboard_path(user.id) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
