<p id="notice"><%= notice %></p>

<h1>Shared With Me</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Documents</th>
      <th>Categories</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shares_by_contact.each do |contact, shares| %>
      <tr>
        <td>
          <span class="user-circle"><%= contact.try(:initials) %></span>
          <%= contact.try(:name) %>
        </td>
        <td>
          <%= contact.try(:emailaddress) %>
        </td>
        <% shareables = shares.map(&:shareable) %>
        <td><%= shareables.count { |res| res.is_a? Document } %></td>
        <td><%= shareables.count { |res| res.is_a? Category } %></td>
        <td class="details-col"><%= link_to 'View', shares_dashboard_path(contact.user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
