<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @folder.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @folder.description %>
</p>

<p>
  <strong>system:</strong>
  <%= @folder.system %>
</p>

<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', path_helper(@folder.parent) %>

<% if @folder.documents.empty? %>
  <h1>Sub-Folders</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @folder.children.each do |folder| %>
      <tr>
        <td>
          <a><%= link_to folder.name, folder %></a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Folder', new_folder_path(@folder) %>
<% end %>

<% if @folder.children.empty? %>
  <h1>Documents</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @folder.documents.each do |document| %>
      <tr>
        <td>
          <a><%= link_to document.name, folder_document_path(@folder,document) %></a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <a class="add-link fr" href="<%=new_folder_document_path(@folder)%>">
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-plus-1"></use>
      </svg>
    </span>Add Document
  </a>
<% end %>
