<h1><%= yield(:action) %> Client User</h1>

  <%= form_for @user_account, url: yield(:save_update_url), method: yield(:method) do |f| %>
    <%= hidden_field_tag :id, @user_account.user_profile.try(:id) %>
    <% if @user_account.errors.any? %>
      <% errors = @user_account.errors %>
    <% else %>
      <% errors = nil %>
    <% end %>

    <div class="card mb-30">
      <h3 class="card-label">Personal Information</h3>

      <%= f.fields_for :user_profile do |user_profile_form| %>
        <%= user_profile_form.label :first_name, 'First Name' %><span class="required">Required</span>
        <% if errors && errors.messages[:"user_profile.first_name"] %>
          <span class="error-label"> - <%= errors.messages[:"user_profile.first_name"].first %></span>
        <% end %>
        <%= user_profile_form.text_field :first_name, { class: ("input-error" if errors && errors.messages[:"user_profile.first_name"].present?), :maxlength => get_max_length(:default) } %>

        <%= user_profile_form.label :last_name, 'Last Name' %><span class="required">Required</span>
        <% if errors && errors.messages[:"user_profile.last_name"] %>
          <span class="error-label"> - <%= errors.messages[:"user_profile.last_name"].first %></span>
        <% end %>
        <%= user_profile_form.text_field :last_name, { class: ("input-error" if errors && errors.messages[:"user_profile.last_name"].present?), :maxlength => get_max_length(:default) } %>
      <% end %>

      <%= f.label :email, 'Email Address' %><span class="required">Required</span>
      <% if errors && errors.messages[:email].first %>
        <span class="error-label"> - <%= errors.messages[:email].first %></span>
      <% end %>
      <%= f.email_field :email, { class: ("input-error" if errors && errors.messages[:email].present?), :maxlength => get_max_length(:default) } %>

      <% if @user_account.confirm_email %>
        <%= f.label :email, 'Verify Email Address' %><span class="required">Required</span>
        <% if errors && errors.messages[:email_confirmation] %>
          <span class="error-label"> - <%= errors.messages[:email_confirmation].first %></span>
        <% end %>
        <%= f.email_field :email_confirmation, { class: ("input-error" if errors && errors.messages[:email_confirmation].present?), :maxlength => get_max_length(:default) } %>
      <% end %>

      <%= f.fields_for :user_profile do |user_profile_form| %>
        <%= user_profile_form.label :two_factor_phone_number, 'Cell Phone Number' %>
        <%= render partial: 'layouts/phone_number', locals: { f: user_profile_form, phone: :two_factor_phone_number } %>

        <%= user_profile_form.label :phone_number, 'Home Phone Number' %>
        <%= render partial: 'layouts/phone_number', locals: { f: user_profile_form, phone: :phone_number } %>

        <%= user_profile_form.label :street_address_1, 'Street Address' %>
        <%= user_profile_form.text_field :street_address_1, { :maxlength => get_max_length(:default) } %>

        <%= user_profile_form.label :city %>
        <%= user_profile_form.text_field :city, { :maxlength => get_max_length(:default) } %>

        <span class="state-input">
          <%= user_profile_form.label :state %>
          <div class="styled-select">
            <%= user_profile_form.select :state, options_for_select(us_states, user_profile_form.object.state), :include_blank => "Select..." %>
          </div>
        </span>
        <span class="zip-input">
          <%= user_profile_form.label :zip, 'Zip Code' %>
          <%= render partial: 'layouts/zip_code', locals: { f: user_profile_form, zip: :zip } %>
        </span>
      <% end %>

      <% @plan ||= StripeSubscription.yearly_plan %>

      <ul class="radio-list">
        <li class="radio-list">
          <%= radio_button_tag :who_pays, "corporate", true %>
          <label for="who_pays">
            Provide user with an annual subscription<br/>
            <span style="display:inline-block; width: 400px">
              $<%= (@plan.amount / 100.0).round(2) %>
              charged annually for every user attached to your account.
              Add and remove new users at any time.
            </span>
          </label>
          <div class="check"></div>
        </li><br/>
        <li class="radio-list">
          <%= radio_button_tag :who_pays, "client", false %>
          <label for="who_pays">
            User will pay for their own account<br/>
            <span style="display:inline-block; width: 400px">
              After UserName signs in they will have 14 days to pay
              for their account before their Free Trial ends.
            </span>
          </label>
          <div class="check"></div>
        </li>
      </ul>
    </div>

    <%= render partial: 'layouts/save_cancel_buttons', locals: { previous_path: back_path || corporate_accounts_path, f: f } %>
<% end %>
