<h1><%= yield(:action) %> Client User</h1>

  <%= form_for @user_account, url: yield(:save_update_url), method: yield(:method) do |f| %>
    <%= hidden_field_tag :id, @user_account.user_profile.try(:id) %>
    <% if @user_account.errors.any? %>
      <% errors = @user_account.errors %>
    <% else %>
      <% errors = nil %>
    <% end %>

    <div class="card mb-30">
      <h3 class="card-label">Personal Information</h3>

      <%= f.fields_for :user_profile do |user_profile_form| %>
        <%= user_profile_form.label :first_name, 'First Name' %><span class="required">Required</span>
        <% if errors && errors.messages[:"user_profile.first_name"] %>
          <span class="error-label"> - <%= errors.messages[:"user_profile.first_name"].first %></span>
        <% end %>
        <%= user_profile_form.text_field :first_name, { class: ("input-error" if errors && errors.messages[:"user_profile.first_name"].present?), :maxlength => get_max_length(:default) } %>

        <%= user_profile_form.label :last_name, 'Last Name' %><span class="required">Required</span>
        <% if errors && errors.messages[:"user_profile.last_name"] %>
          <span class="error-label"> - <%= errors.messages[:"user_profile.last_name"].first %></span>
        <% end %>
        <%= user_profile_form.text_field :last_name, { class: ("input-error" if errors && errors.messages[:"user_profile.last_name"].present?), :maxlength => get_max_length(:default) } %>
      <% end %>

      <%= f.label :email, 'Email Address' %><span class="required">Required</span>
      <% if errors && errors.messages[:email].first %>
        <span class="error-label"> - <%= errors.messages[:email].first %></span>
      <% end %>
      <%= f.email_field :email, { class: ("input-error" if errors && errors.messages[:email].present?), :maxlength => get_max_length(:default) } %>

      <% if @user_account.confirm_email %>
        <%= f.label :email, 'Verify Email Address' %><span class="required">Required</span>
        <% if errors && errors.messages[:email_confirmation] %>
          <span class="error-label"> - <%= errors.messages[:email_confirmation].first %></span>
        <% end %>
        <%= f.email_field :email_confirmation, { class: ("input-error" if errors && errors.messages[:email_confirmation].present?), :maxlength => get_max_length(:default) } %>
      <% end %>

      <%= f.fields_for :user_profile do |user_profile_form| %>
        <%= user_profile_form.label :two_factor_phone_number, 'Cell Phone Number' %>
        <%= render partial: 'layouts/phone_number', locals: { f: user_profile_form, phone: :two_factor_phone_number } %>

        <%= user_profile_form.label :phone_number, 'Home Phone Number' %>
        <%= render partial: 'layouts/phone_number', locals: { f: user_profile_form, phone: :phone_number } %>

        <%= user_profile_form.label :street_address_1, 'Street Address' %>
        <%= user_profile_form.text_field :street_address_1, { :maxlength => get_max_length(:default) } %>

        <%= user_profile_form.label :city %>
        <%= user_profile_form.text_field :city, { :maxlength => get_max_length(:default) } %>

        <span class="state-input">
          <%= user_profile_form.label :state %>
          <div class="styled-select">
            <%= user_profile_form.select :state, options_for_select(us_states, user_profile_form.object.state), :include_blank => "Select..." %>
          </div>
        </span>
        <span class="zip-input">
          <%= user_profile_form.label :zip, 'Zip Code' %>
          <%= render partial: 'layouts/zip_code', locals: { f: user_profile_form, zip: :zip } %>
        </span>
      <% end %>

      <% unless @user_account.persisted? %>
        <% plan = StripeSubscription.yearly_plan %>
        <% cost = (plan.amount / 100.0).round(2) %>
        <% @has_card = true if @billing_error %>

        <ul class="radio-list">
          <li class="radio-list">
            <%= radio_button_tag 'payment[who_pays]', "corporate", @has_card,
                onclick: 'showPricingRows()', disabled: !@has_card %>
            <label for="payment_who_pays_corporate"
                 class="<%= 'clr-gray-med-tinted' if !@has_card %>">
              <p class="max-w-300 inline-block w-80-percent">Provide client with an annual subscription</p>
              <span class="block max-w-400">
                $<%=cost%> charged annually for every client attached to
                your account. Add and remove new clients at any time.
              </span>
            </label>
            <div class="check"></div>
            <% if !@has_card && @is_corporate_employee %>
              <span class="fz-12 ml-10">The Corporate Administrator must setup Billing Information to enable this option.</span>
            <% elsif !@has_card %>
              <span class="fz-12 ml-10">You must setup <%= link_to 'Billing Information', corporate_billing_information_path %> to enable this option.</span>
            <% end %>
          </li><br/>
          <li class="radio-list">
            <%= radio_button_tag 'payment[who_pays]', "client", !@has_card,
                onclick: 'hidePricingRows()' %>
            <label for="payment_who_pays_client">
              <p class="max-w-300 inline-block w-80-percent">Client will pay for their own account</p>
              <span class="block max-w-400">
                After your client signs in they will have 14 days to
                pay for their account before their Free Trial ends.
              </span>
            </label>
            <div class="check"></div>
          </li><br/>
        </ul>
        <% if @billing_error %>
          <div class="flash-error-static flash static"
               style="width:55%; margin-left:0" id="billing_error">
            <div>Billing Error: <%= @billing_error %></div>
            <div>Please <%= link_to 'update your credit card on file',
              corporate_billing_information_path, :target => "_blank" %>.</div>
          </div>
        <% end %>
        <div id="pricing-rows">
          <section class="bb-gray-light-dashed mb-10">
            <div class="inline-block mb-10">Annual Subscription</div>
            <span class="fr" id="subscription-price">$<%= cost %></span>
            <span class="clear"></span>
          </section>
          <section class="pb-10 mb-10" id="promo-row">
            <span class="bold" id="promo-name"></span>
            <span class="fr clr-red" id="promo-price"></span>
          </section>
          <section class="bb-gray-light pb-10 mb-10">
            <span class="bold">Total</span>
            <span class="fr" id="subscription-total">$<%= cost %></span>
          </section>
          <section>
            <span class="mr-10">Promo Code</span>
            <%= hidden_field_tag 'payment[promo_code]', nil, id: 'user_stripe_subscription_attributes_promo_code' %>
            <%= text_field_tag 'promo_code_text_field', nil, class: 'promo-form inline-block width-250' %>
            <%= link_to "Apply", 'javascript:void(0);', onClick: "applyPromoCode(); return false", id: "apply-promo-code-button",
              class: "button primary-button text-field-button" %>
            <span id='promo-code-text'></span>
          </section>
        </div>
      <% end %>

    </div>

    <%= render partial: 'layouts/save_cancel_buttons', locals: { previous_path: back_path || corporate_accounts_path, f: f } %>
  <% end %>

  <script type='text/javascript'>
    function hidePricingRows() {
      $('#pricing-rows').hide();
      <% if @billing_error %>
      $('#billing_error').hide();
      <% end %>
    }
    function showPricingRows() {
      $('#pricing-rows').show();
    }
    <% if !@has_card %>
      $(document).ready(function() { hidePricingRows(); })
    <% end %>
  </script>

<%= javascript_include_tag "promotion_logic" %>
