<%= link_to edit_corporate_settings_path, class: "edit-link mrg-top" do %>
  <span class="circle-button">
  <svg class="icon circle-icon">
    <use xlink:href="#icon-pencil-1"></use>
  </svg>
  </span>Edit
<% end %>

<h1>Corporate Account Settings</h1>

<div class="card">
  <h3 class="card-label">Corporate Details</h3>
  <% if @corporate_profile.blank? %>
    <label>There is on information about Corporate Account</label>
  <% else %>
    <% if @corporate_profile.business_name.present? %>
      <label>Business Name</label>
      <p><%= @corporate_profile.business_name %></p>
    <% end %>

    <% if @corporate_profile.web_address.present? %>
      <label>Web Address</label>
      <p><%= sanitize link_to @corporate_profile.web_address, @corporate_profile.web_address, target: '_blank' %></p>
    <% end %>

    <% if show_corporate_address?(@corporate_profile) %>
      <label>Address</label>
      <p>
        <%= @corporate_profile.street_address %><br>
        <%= @corporate_profile.city %>,
        <%= @corporate_profile.state %>
        <%= @corporate_profile.zip %><br>
      </p>
    <% end %>

    <% if @corporate_profile.phone_number.present? ||
          @corporate_profile.fax_number.present? %>
      <label>Phone</label>
      <p>
        <% if @corporate_profile.phone_number.present? %>
          <%= @corporate_profile.phone_number %><br>
        <% end %>
        <% if @corporate_profile.fax_number.present? %>
          <%= @corporate_profile.fax_number %><span class="phone-type">fax</span>
        <% end %>
      </p>
    <% end %>
    
    <% if @corporate_profile.relationship.present? %>
      <label>Advisor Relationship</label>
      <p><%= @corporate_profile.relationship %></p>
    <% end %>

    <% if @corporate_profile.company_logo.present? %>
      <label>Company Logo</label>
      <p class="mb-0"><%= image_tag(get_file_url(@corporate_profile.company_logo), class: "max-w-130", alt: @corporate_profile.business_name) %></p>
    <% end %>
  <% end %>
</div>
