<h1>Edit Corporate Details</h1>

<%= form_for @corporate_profile, url: update_corporate_settings_path(@corporate_profile), method: :post do |f| %>
  <div class="card mb-30">
    <h3 class="card-label">Company Details</h3>

    <%= f.label :business_name, 'Company Name' %>
    <%= f.text_field :business_name, :maxlength => get_max_length(:default) %>

    <%= f.label :web_address, 'Web Address' %>
    <%= f.text_field :web_address, { type: "url", onblur: "checkURL(this)", onsubmit: "checkURL(this)", :maxlength => get_max_length(:web) } %>

    <%= f.label :street_address, 'Street Addess' %>
    <%= f.text_field :street_address, :maxlength => get_max_length(:default) %>

    <%= f.label :city, 'City' %>
    <%= f.text_field :city, :maxlength => get_max_length(:default) %>

   <span class="state-input">
      <%= f.label :state %>
      <div class="styled-select">
        <%= f.select :state, options_for_select(us_states, f.object.state), :include_blank => "Select..." %>
      </div>
    </span>
    <span class="zip-input">
      <%= f.label :zip, 'Zip Code' %>
      <%= render partial: 'layouts/zip_code', locals: { f: f, zip: :zip } %>
    </span>

    <%= f.label :phone_number, 'Phone Number' %>
    <%= render partial: 'layouts/phone_number', locals: { f: f, phone: :phone_number } %>

    <%= f.label :fax_number, 'Fax Number' %>
    <%= render partial: 'layouts/phone_number', locals: { f: f, phone: :fax_number } %>

    <%= f.label :company_logo, 'Copmany Logo' %>
    <p></p>
    
    <% if @corporate_profile.company_logo.blank? %>
      <% no_logo = true %>
    <% end %>
    <div class="avatar-wrapper">
      <% if @corporate_profile.company_logo.present? %>
        <div id="new-avatar_account">
          <%= image_tag(get_file_url(@corporate_profile.company_logo), class: "max-w-80", id: "image_view_account", alt: 'company logo') %>
        </div>
      <% else %>
        <div id="new-avatar_account" style="display: none;">
          <%= image_tag('', class: "max-w-80", id: "image_view_account", alt: 'company logo') %>
        </div>
      <% end %>
    </div>

    <% upload_args = "'#{file_picker_api_key}', #{FilepickerService.policy_hash_string}, '_account'" %>

    <a onclick="uploadThumbnailWithFilestack(<%= upload_args %>)" class="no-underline-link" id="action-avatar-link">Update Logo</a>
    <a onclick="clearAvatarPhoto('_account')" class="no-underline-link neighbour-link remove-button_account" id="action-avatar-link"
    <% if no_logo %> style="display: none;" <% end %>>Remove Logo</a>
    
    <%= f.text_field :company_logo, id: "photo_url_account", style: "display: none;" %>
  </div>
  <%= render partial: 'layouts/save_cancel_buttons', locals: { previous_path: back_path || corporate_accounts_path, f: f } %>
<% end %>

<%= javascript_include_tag 'url_validation' %>
