<%= render :partial => "layouts/bread_crumbs" %>

<h1>Edit Corporate Details</h1>

<%= form_for @corporate_profile, url: update_account_settings_corporate_accounts_path(@corporate_profile), method: :post do |f| %>
  <div class="card mb-30">
    <h3 class="card-label">Company Details</h3>
    
    <% if @corporate_profile.errors.any? %>
      <% errors = true %>
      <% error_messages = @corporate_profile.errors.messages %>
    <% end %>

    <%= f.label :business_name, 'Company Name' %>
    <% if errors && error_messages[:business_name].present? %>
      <span class="error-label"> - <%= error_messages[:business_name].first %></span>
    <% end %>
    <%= f.text_field :business_name, { class: ("input-error" if errors && error_messages[:business_name].present?),
                                       :maxlength => get_max_length(:default) } %>

    <%= f.label :web_address, 'Web Address' %>
    <% if errors && error_messages[:web_address].present? %>
      <span class="error-label"> - <%= error_messages[:web_address].first %></span>
    <% end %>
    <%= f.text_field :web_address, { class: ("input-error" if errors && error_messages[:web_address].present?),
                                     type: "url", onblur: "checkURL(this)", onsubmit: "checkURL(this)",
                                     :maxlength => get_max_length(:web) } %>

    <%= f.label :street_address, 'Street Addess' %>
    <% if errors && error_messages[:street_address].present? %>
      <span class="error-label"> - <%= error_messages[:street_address].first %></span>
    <% end %>
    <%= f.text_field :street_address, { class: ("input-error" if errors && error_messages[:street_address].present?),
                                        :maxlength => get_max_length(:default) } %>

    <%= f.label :city, 'City' %>
    <% if errors && error_messages[:city].present? %>
      <span class="error-label"> - <%= error_messages[:city].first %></span>
    <% end %>
    <%= f.text_field :city, { class: ("input-error" if errors && error_messages[:city].present?),
                              :maxlength => get_max_length(:default) } %>

   <span class="state-input">
      <% state_error = errors && error_messages[:state].present? %>
      <% state_class = state_error ? "styled-select input-error" : "styled-select" %>
      <%= f.label :state %>
      <% if errors && error_messages[:state].present? %>
        <span class="error-label"> - <%= error_messages[:state].first %></span>
      <% end %>
      
      <div class= "<%= state_class %>" >
        <%= f.select :state, options_for_select(us_states, f.object.try(:state)), :include_blank => "Select...", 
            class: ("input-error" if errors && error_messages[:state].present?) %>
      </div>
    </span>
    <span class="zip-input">
      <%= f.label :zip, 'Zip Code' %>
      <% if errors && error_messages[:zip].present? %>
        <span class="error-label"> - <%= error_messages[:zip].first %></span>
      <% end %>
      <%= render partial: 'layouts/zip_code', locals: { f: f, zip: :zip, errors: errors && error_messages[:zip].present? } %>
    </span>

    <%= f.label :phone_number, 'Phone Number' %>
    <% if errors && error_messages[:phone_number].present? %>
      <span class="error-label"> - <%= error_messages[:phone_number].first %></span>
    <% end %>
    <% phone_additional_classes = errors && error_messages[:phone_number].present? ? " input-error" : "" %>
    <%= render partial: 'layouts/phone_number', locals: { f: f, phone: :phone_number, phone_additional_classes: phone_additional_classes } %>

    <%= f.label :fax_number, 'Fax Number' %>
    <%= render partial: 'layouts/phone_number', locals: { f: f, phone: :fax_number } %>

    <%= f.label :company_logo, 'Copmany Logo' %>
    <p></p>
    
    <%= render partial: 'corporate_accounts/company_logo_upload', locals: { f: f } %>
  </div>
  <%= render partial: 'layouts/save_cancel_buttons', locals: { previous_path: back_path || account_settings_corporate_accounts_path, f: f } %>
<% end %>

<%= javascript_include_tag 'url_validation' %>