<%= render :partial => "layouts/bread_crumbs" %>

<button class="primary-button big-button d-none" data-modal-id="remove-client-modal" id="remove-client-modal-btn"></button>

<%= link_to edit_corporate_account_path, class: "edit-link mrg-top pr-10" do %>
  <span class="circle-button">
  <svg class="icon circle-icon">
    <use xlink:href="#icon-pencil-1"></use>
  </svg>
  </span>Edit
<% end %>
<h1>Client Details</h1>

<div class="card mb-30">
  <h3 class="card-label">Personal Information</h3>

  <label>Name</label>
  <p><%= @corporate_contact.user_profile.name %></p>

  <label>Email Address</label>
  <p><%= @corporate_contact.emailaddress %></p>

  <% if @corporate_contact.user_profile.phone_number.present? ||
        @corporate_contact.user_profile.two_factor_phone_number.present? %>
    <label>Phone</label>
    <% if @corporate_contact.user_profile.phone_number.present? %>
      <p class="mb-0"><%= @corporate_contact.user_profile.phone_number %><span class="phone-type">home</span></p>
    <% end %>

    <% if @corporate_contact.user_profile.two_factor_phone_number.present? %>
      <p><%= @corporate_contact.user_profile.two_factor_phone_number %><span class="phone-type">mobile</span></p>
    <% end %>
  <% end %>

  <% if @corporate_contact.user_profile.date_of_birth.present? %>
    <label>Date of Birth</label>
    <p><%= @corporate_contact.user_profile.date_of_birth %></p>
  <% end %>

  <% if show_street?(@corporate_contact.user_profile) %>
    <label>Address</label>
    <p>
      <%= @corporate_contact.user_profile.street_address_1 %><br>
      <%= @corporate_contact.user_profile.city %>,
      <%= @corporate_contact.user_profile.state %>
      <%= @corporate_contact.user_profile.zip %><br>
    </p>
  <% end %>
  
  <label>Has User Logged In</label>
  <p><%= associated_user_logged_in?(@corporate_contact) %></p>
  
  <label>Managed By</label></br>
  <% managed_by_contacts(@corporate_contact).each do |manager_contact| %>
    <%= render partial: "layouts/avatar_circle", locals: { :contact => manager_contact } %>
  <% end %>
</div>

<h1>Admin Actions</h1>
<div class="card mb-30">
  <section class="flex-boxes percent-100 bb-gray-light-padding mb-10">
    <div class="user-account-title">
      <h3>Access Shared Vault</h3>
      <p>Upload and update information in the User's Vault.</p>
    </div>
    <div class="user-account-link mt-10">
      <%= link_to 'View Client Vault', dashboard_shared_view_path(@corporate_contact.user_profile.user_id), class: 'button big-button blue-button' %>
    </div>
  </section>

  <section class="flex-boxes percent-100 <% if current_user.corporate_admin %> bb-gray-light-padding mb-10 <% end %>">
    <% invitation_sent = invitation_sent?(@corporate_contact) %>
    <div class="user-account-title">
      <h3>Send Invitation</h3>
      <% if invitation_sent %>
        <p>The <%= link_to 'invitation', 'javascript:displayEmailPreviewCorporate(' + @corporate_contact.try(:id).try(:to_s) + ')', class: 'no-underline-link' %> has already been sent.</p>
      <% else %>
        <p>Send <%= @corporate_contact.name %> an <%= link_to 'invitation', 'javascript:displayEmailPreviewCorporate(' + @corporate_contact.try(:id).try(:to_s) + ')', class: 'no-underline-link' %> to ZokuVault. </p>
      <% end %>
    </div>
    <div class="user-account-link mt-10">
      <%= link_to 'Send Invitation', send_invitation_corporate_accounts_path(@corporate_contact), method: :post, class: 'button big-button blue-button' %>
    </div>
  </section>
  
  <% if current_user.corporate_admin %>
    <section class="flex-boxes percent-100">
      <div class="user-account-title">
        <h3>Remove Client Account</h3>
        <p>Remove this clients account and vault from your corporation.</p>
      </div>
      <div class="user-account-link mt-10">
        <%= link_to 'Remove Client', 'javascript:void(0);', class: 'button big-button blue-button', onclick: 'removeClientModalShow()' %>
      </div>
    </section>
  <% end %>
</div>

<% if @invoices.any? %>
  <h1>Invoices</h1>
  <%= render partial: 'account_settings/previous_invoices', locals: { invoices: @invoices, corporate: true } %>
<% end %>

<%= render partial: 'layouts/email_preview_javascript' %>

<div id="email-preview-section">
</div>

<div id="remove-client-modal" class="modal medium-modal">
  <a href="javascript:void(null)" class="js-modal-close modal-close">
    <svg class="icon">
      <use xlink:href="#icon-x-2"></use>
    </svg>
  </a>
  <div class="modal-header">
    <h2>Remove Client Account</h2>
  </div>
  <div class="modal-content">
    <p class="mb-30">
      Removing the client account will sever all access between you and this account, revoking access to all shared documents and information.
      <div class="mb-30">
        <%= link_to 'Remove Account', remove_corporate_client_corporate_accounts_path(@corporate_contact), method: :post, class: "js-modal-close button primary-button big-button" %>
        <%= link_to 'Cancel', 'javascript:void(null)', class: "js-modal-close button secondary-button big-button" %>
      </div>
    </p>
  </div>
</div>

<%= javascript_include_tag 'modal' %>
<script>
  var removeClientModalShow = function() {
    $("#remove-client-modal-btn").click()
  }
</script>