<h3>Account Settings</h3>

<div class="card b-radius-0 p-0">
  <div class="tab-header">
    <% account_users_selected = 'selected' if (current_page?(vault_co_owners_path) || (controller_name.eql?('account_settings') && action_name.eql?('update_account_users') )) %>
    <%= link_to 'Vault Co-Owner', vault_co_owners_path, class: "tab left not-link #{account_users_selected}", id: "account_users"%>

    <% login_settings_selected = 'selected' if current_page?(login_settings_path) %>
    <%= link_to 'Login Settings', login_settings_path, class: "tab not-link #{login_settings_selected}", id: "login_settings"%>

    <% manage_subscription_selected = 'selected' if current_page?(manage_subscription_path) %>
    <%= link_to 'Manage Subscription', manage_subscription_path, class: "tab not-link #{manage_subscription_selected}", id: "manage_subscription"%>
    
    <% vault_inheritance_selected = 'selected' if current_page?(vault_inheritance_path) %>
    <%= link_to 'Vault Inheritance', vault_inheritance_path, class: "tab not-link #{vault_inheritance_selected}", id: "vault_inheritance"%>
  </div>
  <%= render partial: yield(:current_tab_path) %>
</div>

<script>
$(document).ready(function() {
  changeTabNames()
})

$(window).resize(function() {
  changeTabNames()
})

var changeTabNames = function() {
  $('#account_users').text('Vault Co-Owner')
  $('#login_settings').text('Login Settings')
  $('#manage_subscription').text('Manage Subscription')
  $('#vault_inheritance').text('Vault Inheritance')

  if (window.matchMedia("(max-width: 660px)").matches) {
    $('#account_users').text('Vault Co-Owner')
    $('#login_settings').text('Login Settings')
    $('#manage_subscription').text('Manage Subscription')
    $('#vault_inheritance').text('Vault Inheritance')
  }
  if (window.matchMedia("(max-width: 550px)").matches) {
    $('#account_users').text('Co-Owner')
    $('#login_settings').text('Login')
    $('#manage_subscription').text('Subscription')
    $('#vault_inheritance').text('Inheritance')
    
  }
}
</script>
