<% if @user_profile.photourl.blank? %>
 <% text_avatar = true %>
<% end %>
<div class="avatar-wrapper">
  <% if @user_profile.photourl.present? %>
    <div id="new-avatar_account">
      <%= image_tag(get_file_url(@user_profile.photourl), class: "avatar-small", id: "image_view_account", alt: @user_profile.initials.to_s) %>
    </div>
    <div id="text-avatar_account" style="display: none;" >
      <%= image_tag(empty_image, class: "avatar-small", alt: @user_profile.initials.to_s) %>
      <p class="avatar-initials"><%= @user_profile.initials %></p>
    </div>
  <% else %>
    <div id="text-avatar_account" <% if !text_avatar %> style="display: none;" <% end %> >
      <%= image_tag(empty_image, class: "avatar-small", alt: @user_profile.initials.to_s) %>
      <p class="avatar-initials"><%= @user_profile.initials %></p>
    </div>
    <div id="new-avatar_account" style="display: none;">
      <%= image_tag('', class: "avatar-small", id: "image_view_account", alt: @user_profile.initials.to_s) %>
    </div>
  <% end %>
</div>

<a onclick="saveFileUrl('account')" class="no-underline-link" id="action-avatar-link">Update Photo</a>
<a onclick="removePhoto('account')" class="no-underline-link neighbour-link remove-button_account" id="action-avatar-link"
  <% if text_avatar %> style="display: none;" <% end %>>Remove Photo</a>
