<%= form_for @user_profile, :url => url_for(action: :update_login_settings, controller: :account_settings) do |f| %>
  <div class="card b-radius-0 b-none box-shadow-none">
    <% if @user_profile.errors.any? %>
      <% errors = true %>
    <% end %>
    
    <%= f.label :two_factor_phone_number, 'Two Factor Authentication Phone Number' %>
    <p id="two_factor_phone_label"><%= f.object.two_factor_phone_number %></p>
    
    <p><%= link_to 'Change Two-Factor Phone Number', "javascript:showModal()", class: "button secondary-button small-button", id: "change-phone-btn"%></p>

    <%= f.label :mfa_frequency, "Login Settings" %>
    <ul class="radio-list">
      <li class="radio-list">
        <%= radio_button_tag "user_profile[mfa_frequency]", "always", radio_button_checked?("always", @user_profile.mfa_frequency) %>
        <label for="user_profile_mfa_frequency_always">Verify login using my phone every time<span class="recommended">(recommended)</span></label>
        <div class="check"></div>
      </li>
      <li class="radio-list">
        <%= radio_button_tag "user_profile[mfa_frequency]", "new_ip", radio_button_checked?("new_ip", @user_profile.mfa_frequency) %>
        <label for="user_profile_mfa_frequency_new_ip">Verify login using my phone when logging in from a new device</label>
        <div class="check"></div>
      </li>
      <li class="radio-list">
        <%= radio_button_tag "user_profile[mfa_frequency]", "never", radio_button_checked?("never", @user_profile.mfa_frequency) %>
        <label for="user_profile_mfa_frequency_never">Do not use my phone for login</label>
        <div class="check"></div>
      </li>
    </ul>

    <%= f.label :password, 'Update Password' %>
    <% if errors && @user_profile.errors.messages[:password].present? %>
      <span class="error-label"> - <%= @user_profile.errors.messages[:password].first %></span>
    <% end %>
    <%= f.password_field :password, {autocomplete: "off", class: ("input-error" if @user_profile.errors.messages[:password].present?) } %>
    <%= render partial: 'layouts/password_requirements', locals: { password_field_id: 'user_profile_password' } %>

    <%= f.label :password_confirmation, 'Confirm Password' %>
    <% if errors && @user_profile.errors.messages[:password_confirmation].present? %>
      <span class="error-label"> - <%= @user_profile.errors.messages[:password_confirmation].first %></span>
    <% end %>
    <%= f.password_field :password_confirmation, {autocomplete: "off", class: ("input-error" if @user_profile.errors.messages[:password_confirmation].present?) } %>
    
  </div>
  
  <div class="ml-15 mb-30">
    <%= f.submit "Update", class: "button primary-button big-button" %>
  </div>
<% end %>

<%= render :partial => "account_settings/two_factor_phone_setup" %>

<script>
  togglePhoneAuthentication = function() {
    var check_el = $('#phone_authenticate_checkbox')
    if (check_el.is(':checked')) {
      $('p#two_factor_phone_label').wrap('<strike>')
      $('#change-phone-btn').hide();
      $('#user_profile_mfa_frequency_always').prop('disabled', true);
      $('#user_profile_mfa_frequency_new_ip').prop('disabled', true);
      $('#user_profile_mfa_frequency_never').prop('checked', true);
    }
    else {
      $('p#two_factor_phone_label').unwrap()
      $('#change-phone-btn').show();
      $('#user_profile_mfa_frequency_always').prop('disabled', false);
      $('#user_profile_mfa_frequency_new_ip').prop('disabled', false);
    }
  }
  
  $('.chosen-select').chosen({allow_single_deselect: true});
</script>