<label>Plan</label>
<p><%= plan.try(:name) || '--' %></p>

<label>Start Date</label>
<p><%= date_format(subscription.start_at) || '–' %></p>

<label>Next Invoice</label>
<% if next_invoice.present? %>
  <p><%= "$#{next_invoice.amount / 100.0} - #{date_format(next_invoice.date)} - Automatic Collection" %></p>
<% else %>
  <% if @subscription_cancelled %>
    <p>Subscription was canceled. It will be available until <%= date_format @subscription_end_time %></p>
  <% else %>
    <p>–</p>
  <% end %>
<% end %>

<label>Billing Info</label>
<%= render partial: 'account_settings/stripe_card_information', locals: { card: card, update_payment_path: update_subscription_information_path } %>

<h3>Previous Invoices</h3>
<%= render partial: 'account_settings/previous_invoices', locals: { invoices: invoices } %>

<div class="mt-20">
  <%= link_to "Update Subscription", billing_info_path, class: "button primary-button big-button mt-10 inline-block fixed-width-big p-10" %>
  <% if @next_invoice_date.present? %>
    <%= link_to "Cancel Subscription", cancel_subscription_path, class: "button secondary-button big-button mt-10 inline-block fixed-width-big p-10" %>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    $('#documents-table').DataTable( {
      paging: false,
      searching: false,
      info: false,
      aaSorting: [[1, 'asc']],
      'aoColumnDefs': [{
        'bSortable': false,
        'aTargets': ['nosort']
      }, {
        'bSearchable': false,
        'aTargets': ['nosearch']
      }],
    } );
  });
</script>
