<div class="card mb-30 min-w-330">
  <h3>Subscription Details</h3>
  <section class="bb-gray-light-dashed mb-10">
    <%
      plans = StripeSubscription.active_plans.map do |plan|
        price = (plan.amount / 100.0).round(2)
        [plan.name, plan.id, {:"data-price" => price}]
      end
      selected_id = plans[0][1]
      start_price = plans[0][2][:"data-price"]
    %>
    <div class='styled-select inline-block'>
      <%= select_tag(
            "user[stripe_subscription_attributes][plan_id]",
            options_for_select(plans, selected_id),
            onchange: "updateSubscription(this)"
          )
      %>
    </div>
    <span class="fr" id="subscription-price">$<%= start_price %></span>
    <span class="clear"></span>
  </section>

  <section class="pb-10 mb-10" id="promo-row">
    <span class="bold" id="promo-name"></span>
    <span class="fr clr-red" id="promo-price"></span>
  </section>

  <section class="bb-gray-light pb-10 mb-10">
    <span class="bold">Total</span>
    <span class="fr" id="subscription-total">$<%= start_price %></span>
  </section>

  <section>
    <span class="mr-10">Promo Code</span>
    <%= hidden_field_tag 'user[stripe_subscription_attributes][promo_code]' %>
    <%= text_field_tag 'promo_code_text_field', nil, class: 'promo-form inline-block width-250' %>
    <%= link_to "Apply", 'javascript:void(0);', onClick: "applyPromoCode(); return false", id: "apply-promo-code-button",
      class: "button primary-button text-field-button" %>
    <span id='promo-code-text'></span>
  </section>
</div>

<%= javascript_include_tag "promotion_logic" %>
