<button class="primary-button big-button hidden" data-modal-id="two-factor-phone-modal" id="show-modal-button">
  Wizard Modal
</button>
<div id="two-factor-phone-modal" class="modal wizard-modal modal-no-js">
  <div class="step-wizard">
    <div class="inner-step" onclick="phoneSetupNext(1)">
      <span id="step-1-phone" class="inner-counter">
        1
      </span>
      Enter Cell Phone Number
    </div>
    <div class="inner-step">
      <span id="step-2-phone" class="inner-counter">
        2
      </span>
      Enter Phone Code
    </div>
  </div>
  <div class="modal-header">
    <div id="phone-setup-header">
      <h2>Phone Setup</h2>
      <p>A phone number is required for account recovery purposes. It can also be used to provide an extra layer of security for your account. Please enter your cell phone number below.</p>
    </div>
    <div id="phone-code-header">
      <h2>Enter Phone Code</h2>
      <p>You should receive your phone code within the next few minutes. Please enter the code below.</p>
    </div>
  </div>
  <%= form_tag :account_settings, { method: :post, id: 'two_factor_phone' } do %>
    <div class="modal-content">
      <div id="phone-setup-form">
        <%= label_tag "user_profile_two_factor_phone_number", 'Cell Phone Number' %>
        <span class="error-label" id="phone-number-error" style="display: none;"> - Phone Number Invalid </span>
        <%= text_field_tag "user_profile[two_factor_phone_number]", "", class: "form-control medium", :data => {:mask => '999-999-9999'}, autofocus: true %>
      </div>

      <div id="phone-code-form">
        <%= label_tag "user_profile_phone_code", 'Phone Code' %>
        <span class="error-label" id="phone-code-error" style="display: none;"> - Code Invalid </span>
        <%= text_field_tag "user_profile[phone_code]", "", class:"short" %>
      </div>
    </div>
    <footer class="modal-footer">
      <a href="javascript:;" id='next-step-phone' class=" button primary-button big-button"
        onclick="sendCode()">Next</a>
      <%= link_to 'Submit', "javascript:verifyCode()", class: "button primary-button big-button", id: 'submit-btn-phone' %>
      <%= link_to 'Cancel', "javascript:closeFormModal()", class: "js-modal-close button secondary-button big-button", id: 'close-form-link' %>
    </footer>
  <% end %>
</div>


<%#= link_to 'Back', contacts_path #%>
<script>


// handle 'enter press' to verify code
$('#user_profile_phone_code').keypress(function(e) {
  if(e.which == 13) {
    e.preventDefault();
    verifyCode();
  }
});

$('#user_profile_two_factor_phone_number').keypress(function(e) {
  if(e.which == 13) {
    e.preventDefault();
    sendCode();
  }
});

var currentStep = 1;

var phoneSetupNext = function(step){
  currentStep = step;
  $(this).next('.inputs').focus();
  if(step===1){
    $("#next-step-phone").show();
    $("#submit-btn-phone").hide();
    $("#step-1-phone").removeClass().addClass("inner-counter current-step");
    $("#step-1-phone").html('1');
    $("#step-2-phone").removeClass().addClass("inner-counter");
    $("#step-2-phone").html('2');
    $("#phone-setup-header").show();
    $("#phone-code-header").hide();
    $("#phone-setup-form").show();
    $("#phone-code-form").hide();
    $("#user_profile_two_factor_phone_number").focus();
  }
  else if(step===2){
    $("#next-step-phone").hide();
    $("#submit-btn-phone").show();
    $("#step-1-phone").removeClass().addClass("inner-counter completed-step");
    $("#step-1-phone").html('<svg class="icon circle-icon"><use xlink:href="#icon-checkmark-1"> </use></svg>');
    $("#step-2-phone").removeClass().addClass("inner-counter current-step");
    $("#step-2-phone").html('2');
    $("#phone-setup-header").hide();
    $("#phone-code-header").show();
    $("#phone-setup-form").hide();
    $("#phone-code-form").show();
    $("#user_profile_phone_code").focus();
  }
}

var showModal = function() {
  $("body").append("<div class='modal-overlay js-modal-close'></div>");
  $(".modal-overlay").fadeTo(500, 0.8);
  $(".js-modalbox").fadeIn(500);
  canvasEl = $('button[data-modal-id="two-factor-phone-modal"]');
  var modalBox = $(canvasEl).attr('data-modal-id');
  $('#' + modalBox).fadeIn($(canvasEl).data());
  phoneSetupNext(1);
}

var closeFormModal = function() {
  $(".modal, .modal-overlay").fadeOut(500, function() {
    $("#contact-form").trigger("reset");
    $("#error_explanation ul").empty();
    $(".modal-overlay").remove();
  });
}

function sendCode() {
  var data = $('#user_profile_two_factor_phone_number').serialize();
  $.post("<%= send_code_account_settings_path %>",
      data,
      function() {
        $('#phone-number-error').hide();
        $('#user_profile_two_factor_phone_number').removeClass('input-error')
        phoneSetupNext(currentStep + 1); return false;
      })
  .fail(function() {
    $('#user_profile_two_factor_phone_number').addClass('input-error')
    $('#phone-number-error').show();
  })
}

function verifyCode() {
  var data = $('#two_factor_phone').serialize();
  var phoneNumber = $('#user_profile_two_factor_phone_number').val()
  $.post("<%= verify_code_account_settings_path %>",
      data,
      function() {
        $('#user_profile_phone_code').removeClass('input-error')
        $('#phone-code-error').hide()
        $('#phone_authenticate_checkbox').show()
        $("#user_profile_phone_code").text('');
        $('#two_factor_phone_label').text(phoneNumber)
        $('.flash-success').show().text("Phone number successfully updated.").fadeOut( 5000 )
        $('#user_profile_mfa_frequency_always').prop('disabled', false);
        $('#user_profile_mfa_frequency_new_ip').prop('disabled', false);
        closeFormModal()
      })
  .fail(function() {
    $('#user_profile_phone_code').addClass('input-error')
    $('#phone-code-error').show()
  })
}
</script>