<h1>Update Billing Info</h1>

<%= form_tag :account, { method: :put, id: 'account-form' } do %>
  <div class="card mb-30 min-w-330">
    <h3>Subscription Details</h3>
    <section class="bb-gray-light-dashed mb-10">
      <div class='styled-select width-250 inline-block'>
        <%= select_tag "user[subscription_attributes][plan_id]", 
          options_from_collection_for_select(Subscription.plans, 'id', 'name'),
          onchange: "updateSubscription()",
          class: 'width-250'
        %>
      </div>

      <div class="subscription-description ml-15" id='subscription-description'></div>
      <span class="fr" id="subscription-price"></span>
      <span class="clear"></span>
    </section>

    <section class="pb-10 mb-10" id="promo-row">
      <span class="bold" id="promo-name">Total</span>
      <span class="fr clr-red" id="promo-price"></span>
    </section>

    <section class="bb-gray-light pb-10 mb-10">
      <span class="bold">Total</span>
      <span class="fr" id="subscription-total"></span>
    </section>

    <section>
      <span class="mr-10">Promo Code</span>
      <%= hidden_field_tag 'user[subscription_attributes][promo_code]' %>
      <%= text_field_tag 'promo_code_text_field', nil, class: 'promo-form inline-block width-250' %>
      <%= link_to "Apply", 'javascript:void(0);', onClick: "applyPromoCode(); return false", id: "apply-promo-code-button",
        class: "button primary-button text-field-button" %>
      <span id='promo-code-text'></span>
    </section>
  </div>

  <div class="card mb-30 min-w-330">
    <h3>Payment Information</h3>

    <div class="card-info">
      <span id="payment-errors" style="color: red"></span>
    </div>

    <%= label_tag "user_subscription_attributes_name_on_card", 'Name on Card' %><br>
    <%= text_field_tag "user[subscription_attributes][name_on_card]" %>

    <%= label_tag "user_subscription_attributes_card_number", 'Card Number' %><br>
    <%= text_field_tag "user[subscription_attributes][card_number]", 
      "",
      "data-stripe" => "number" 
    %>

    <%= label_tag "user_subscription_attributes_expiration_month", 'Expiration Date' %><br>
    <div class='styled-select small-width inline-block'>
      <%= select_tag "user[subscription_attributes][expiration_month]", 
        options_for_select(Date::MONTHNAMES.compact.map.with_index { |m, i| [m, i]}),  
        include_blank: "Month",
        "data-stripe" => "exp_month",
        class: 'small-width'
      %>
    </div>
    <div class="styled-select-separator">/</div>
    <div class='styled-select small-width inline-block'>
      <%= select_tag "user[subscription_attributes][expiration_year]", 
        options_for_select(card_expiration_years), 
        include_blank: "Year",
        "data-stripe" => "exp_year",
        class: 'small-width'
      %>
    </div><br>

    <%= label_tag "user_subscription_attributes_cvc", 'CV Code' %><br>
    <p>
      <%= text_field_tag "user[subscription_attributes][cvc]", "", "data-stripe" => "cvc", class: 'small-width inline-block' %>
      <%= image_tag(cvv_code_image, class: "inline-block ml-10 cvv-card", alt: 'CVV Code') %>
    </p>
  </div>

  <%= hidden_field_tag "user[subscription_attributes][stripe_token]", "" %>

  <div>
    <%= link_to "Submit", 'javascript:void(0);' , onClick: "addCreditCard(); return false", id: "submit-cc-button", class: "button primary-button big-button" %>
  </div>
<% end %>

<%= javascript_include_tag "https://js.stripe.com/v2/" %>
<%= javascript_include_tag 'stripe' %>

<script>
  Stripe.setPublishableKey('<%= ENV["STRIPE_PUBLIC_KEY"] %>')
  $('.chosen-select').chosen({allow_single_deselect: true});
</script>