<div class="card mb-30 min-w-330">
  <h3>Subscription Details</h3>
  <%= form_tag :account, { method: :put, id: 'account-form' } do %>
    <section class="bb-gray-light-dashed mb-10">
      <%= hidden_field_tag 'user[stripe_subscription_attributes][plan_id]', StripeSubscription.yearly_plan.id %>

      <div class="h-28 overflow-hidden inline-block"><%= StripeSubscription.yearly_plan.name %></div>
      <div class="subscription-description ml-15" id='subscription-description'></div>
      <span class="fr" id="subscription-price"></span>
      <span class="clear"></span>
    </section>

    <section class="pb-10 mb-10" id="promo-row">
      <span class="bold" id="promo-name">Total</span>
      <span class="fr clr-red" id="promo-price"></span>
    </section>

    <section class="bb-gray-light pb-10 mb-10">
      <span class="bold">Total</span>
      <span class="fr" id="subscription-total"></span>
    </section>

    <section>
      <span class="mr-10">Promo Code</span>
      <%= hidden_field_tag 'user[stripe_subscription_attributes][promo_code]' %>
      <%= text_field_tag 'promo_code_text_field', nil, class: 'promo-form inline-block width-250' %>
      <%= link_to "Apply", 'javascript:void(0);', onClick: "applyPromoCode(); return false", id: "apply-promo-code-button",
        class: "button primary-button text-field-button" %>
      <span id='promo-code-text'></span>
    </section>
  <% end %>
</div>

<div class="card mb-30 min-w-330">
  <h3>Payment Information</h3>
  <%= form_tag '/account_settings/update_billing_info', { id: 'payment-form' } do %>
    <div class="form-row">
      <label for="card-element">
        Credit or Debit Card
      </label>
      <div id="card-element">
        <!-- a Stripe Element will be inserted here. -->
      </div>
      <div id="card-errors"></div> <!-- Used to display Element errors -->
    </div>
    <button id="submit-cc-button" class="button primary-button big-button">Submit</button>
  <% end %>
</div>

<%= javascript_include_tag "https://js.stripe.com/v3/" %>
<%= javascript_include_tag "stripe_elements_card" %>
<%= javascript_include_tag "sub_with_promo" %>

<script>
  setupStripeCardEntryForm('<%= ENV["STRIPE_PUBLIC_KEY"] %>')
</script>
