<% if current_user.corporate_manager? %>
  <% description = "You have purchased a #{@plan_duration} subscription for #{@corporate_client.name}." %>
<% else %>
  <% description = "You have purchased a #{@plan_duration} subscription." %>
<% end %>

<div class="card max-w-1000-centered text-center">
  <h1 class="text-center">Thank You</h1>
  <p class="max-w-100-percent mb-20"><%= description %></p>
  <%= image_tag "marketing/rocket.png", :class => "block m-0-auto mb-20 w-30-percent"%>
  <%= link_to "Dashboard", root_path, class: 'button blue-button big-button inline-block' %>

  <% if current_user.corporate_manager? %>  
  <% else %>
    <%= link_to "Account Settings", manage_subscription_path, class: 'button blue-button big-button inline-block' %>
  <% end %>
</div>

<%= render partial: 'layouts/improvely_conversion_tracking_js', locals: { goal: 'subscription payment', revenue: @revenue, reference: current_user.email } %>
<!‐‐ REFERSION TRACKING: BEGIN ‐‐>
<script src="//zokuvault.refersion.com/tracker/v3/pub_67c99ccb533535d2f230.js"></script>
<script>_refersion(function()
                   { _rfsn._setSource("STRIPE"); 
                    _rfsn._addCart("<%= @customer_id %>"); }
                  );
</script>
<!‐‐ REFERSION TRACKING: END ‐‐>