<h3>Update Subscription Information</h3>
<div class="card">
  <h3>Update Payment Information</h3>
  <p>This will update your card on file. You will not be charged until your subscription is due.</p>
  
  <label>Current Billing Info</label>
  <% if @card.present? %>
    <p>
      <%= "#{@card[:brand]} XXXX-#{@card[:last4]} exp. #{@card[:exp_month]}/#{@card[:exp_year]}" %>
    </p>
  <% else %>
    <p>–</p>
  <% end %>
  
  <%= form_tag update_payment_account_settings_path(@corporate_update), { id: 'payment-form' } do %>
    <div class="form-row mb-30 m-0-auto">
      <label for="card-element">
        Enter card details
      </label>
      <div id="card-element"></div>
      <div id="card-errors" style="color: #E4584C"></div>
    </div>
    
    <%= submit_tag 'Submit', class: 'button big-button primary-button' %>
    <%= link_to 'Cancel', @corporate_update.eql?('corporate') ? corporate_billing_information_path : manage_subscription_path, class:"button big-button secondary-button" %>
  <% end %>
</div>

<%= javascript_include_tag "https://js.stripe.com/v3/" %>
<%= javascript_include_tag "stripe_elements_card" %>

<script>
  setupStripeCardEntryForm('<%= Rails.configuration.stripe[:publishable_key] %>')
</script>