<section class="hero-01a">
  <article>
    <h1 class="hero-text">Secure storage, sharing, and planning for families.</h1>
    <h5 class="hero-text">ZokuVault helps families plan, organize, and share the important details of their lives.</h5>
    <button class="primary-button call-to-action">Sign Up</button>
  </article>
</section>

<section class="hero-01">
  <article>
    <h1 class="hero-text">Secure storage, sharing, and planning for families.</h1>
    <h5 class="hero-text">ZokuVault helps families plan, organize, and share the important details of their lives.</h5>
    <button class="primary-button call-to-action">Sign Up</button>
  </article>
</section>

<section class="security">
  <article>
    <%= image_tag "marketing/security.svg", :class => "fl" %>
    <h3>Nothing is more important than security.
      <br>Security. Security. Security.
      <br>Learn how we keep your data safe.</h3>
    <button class="primary-button call-to-action">Learn More</button>
  </article>
</section>

<section class="hero-05">
  <article>
    <h1 class="hero-text">Your virtual safety deposit box and estate planning portal.</h1>
    <h5 class="hero-text">We help store your digital assets safely and securely.</h5>
    <button class="primary-button call-to-action">Sign Up</button>
  </article>
</section>

<section class="logo-bg">

  <div class="wrapper">
    <article>
      <h3 class="hero-text">
        Create access points to your important accounts, documents, and contacts ensuring everything is easily available when you need it most.
      </h3>
    </article>
  </div>
  <div class="wrapper flex-boxes mt-100">
    <article class="flex-marketing">
      <svg class="icon home-icon">
        <use xlink:href="#icon-cloud-1"></use>
      </svg>
      <h1 class="hero-text">Accounts</h1>
    </article>
    <article class="flex-marketing">
      <svg class="icon home-icon">
        <use xlink:href="#icon-document-3"></use>
      </svg>
      <h1 class="hero-text">Documents</h1>
    </article>
    <article class="flex-marketing">
      <svg class="icon home-icon">
        <use xlink:href="#icon-user-1"></use>
      </svg>
      <h1 class="hero-text">Contacts</h1>
    </article>
  </div>
  <button class="primary-button call-to-action">Learn More</button>
</section>

<section class="hero-02">
  <article>
    <h1 class="hero-text">Your critical information is in too many places.</h1>
    <h3 class="hero-text">ZokuVault helps families find what they need, when they need it.</h3>
    <button class="primary-button call-to-action">Sign Up</button>
</article>
</section>

<section class="three-up">
  <h1>Let ZokuVault help you organize your key details and finances.</h1>
  <div class="wrapper flex-boxes mt-100">
    <article class="flex-marketing">
      <%= image_tag "marketing/safe.png", :class => "" %>
      <h1>Secure Sharing</h1>
      <h5>Share critical details with trusted relationships.</h5>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/rocket.png", :class => "" %>
      <h1>Convenience</h1>
      <h5>Access your personal and estate information when you need it.</h5>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/umbrella.png", :class => "" %>
      <h1>Peace of Mind</h1>
      <h5>Be prepared for life’s toughest moments.</h5>
    </article>
  </div>
  <div class="wrapper flex-boxes">
    <article class="flex-marketing">
      <%= image_tag "marketing/lock.png", :class => "" %>
      <h1>Safe & Secure</h1>
      <h5>Bank-level security, encrypted and backed up.</h5>
    </article>

    <article class="flex-marketing">
      <%= image_tag "marketing/cloud.png", :class => "" %>
      <h1>All in one place</h1>
      <h5>A central portal for life's most important information.</h5>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/pie.png", :class => "" %>
      <h1>Portfolio</h1>
      <h5>What you own, and where it is.</h5>
    </article>
  </div>
</section>

<section class="hero-03">
  <article>
    <h1 class="hero-text-dark">Do you know where your critical information is in an emergency?
                               Does anyone else?</h1>
    <h3 class="hero-text-dark">Zoku helps families plan, organize, and share the important details of their lives.</h3>
    <button class="primary-button call-to-action">Sign Up</button>
  </article>
</section>

<section class="screen-text">
  <article>
    <h1>ZokuVault software is easy to use.</h1>
    <h3>It only takes a few minutes to organize your life’s key details.</h3>
    <button class="primary-button call-to-action">Sign Up</button>
  </article>
</section>

<section class="hero-04">

</section>


<section class="card login-card" >
<a name="login-form">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <button type="submit" name="commit" value="Log in" class="big-button primary-button">Log in</button>

    </div>
  <% end %>

  <%= render "users/shared/links" %>
</card>
