<%= render :partial => "layouts/bread_crumbs" %>

<h1><%= yield(:title) + ' - Setup' %></h1>
<%= form_for(@entity, url: "#{yield(:url_path)}") do |f| %>
  <%= hidden_field_tag :shared_user_id, params[:shared_user_id] %>
  <% if @entity.errors.any? %>
    <% errors = true %>
  <% end %>

  <div class="card cg-3 mb-30">
    <%= render partial: 'layouts/hidden_for_disabled', locals: { name: :share_with_contact_ids, shares: @entity.share_with_contact_ids, f: f } %>

    <h3 class="card-label">Entity Details</h3>
    <label>Entity Name<span class="required">Required</span></label>
    <% if errors && @entity.errors.messages[:name].present? %>
      <span class="error-label"> - <%= @entity.errors.messages[:name].first %></span>
    <% end %>
    <%= f.text_field :name, class: ("input-error" if errors && @entity.errors.messages[:name].present?), :maxlength => get_max_length(:wtl_name) %>

    <label>Attorney, Accountant or Advisor(s)</label>
    <div class="chosen-styled-select">
      <%= contact_select_with_create_new(f, :agent_ids, @contacts, {}, @selected_agents) %>
    </div>

    <label>Owners/Partners</label>
    <div class="chosen-styled-select">
      <%= account_owner_select_with_create_new(f, :partner_ids, @account_owners,
        {}, @selected_partners) %>
    </div>

    <%= f.label :notes %>
    <p><%= f.text_area :notes, :maxlength => get_max_length(:notes) %></p>

    <section class="shared-with edit-shared">
      <h3 class="card-label shared-label">
        <svg class="icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg> Shared With
      </h3>
      <label>Shared With</label><br>
      <div class="chosen-styled-select">
        <%= contact_select_with_create_new(f, :share_with_contact_ids, @contacts_shareable, {}, @selected_shareables) %>
      </div>
    </section>

    <% if @entity.id && policy(@entity).destroy? %>
      <%= link_to 'Delete', delete_entity_path(@entity), method: :delete,
          data: { confirm: "Deleting this '#{yield(:question_title)}' will permanently remove it from ZokuVault." },
          class: 'button small-button secondary-button', id: 'delete-trust' %>
    <% end %>

  </div>

  <%= render partial: 'layouts/save_cancel_buttons', locals: { previous_path: trusts_entities_path, f: f } %>
<% end %>

<script>
  $('.chosen-select').chosen({allow_single_deselect: true});
</script>
