<div class="card trusts mb-20">

  <%= f.hidden_field :id, id: "attorney_id_#{index}" %>
  <h3 class="card-label">Legal Details</h3>

  <label>Power of Attorney</label>
  <div class="chosen-styled-select">
    <%= contact_select_with_create_new(f, :agent_ids, @contacts, id: "attorney_agent_id_#{index}", multiple: false) %>
  </div>

  <label>This Agent's powers are (please choose all that apply):</label>
  <ul class="check-list">
    <% PowerOfAttorney::POWERS.each do |option| %>
      <li class="check-list">
        <label>
          <%= check_box_tag "vault_entry_#{index}[powers][#{option}]",
            option,
            @vault_entry.powers.try(:[], option), {:checked => data.powers.present? && data.powers.keys.any? {|check| check == option} }
          %>
        <span></span> <%= option %>
      </label>
      </li>
    <% end %>
  </ul>

  <section class="shared-with edit-shared">
    <h3 class="card-label shared-label">
      <svg class="icon" viewBox="0 0 20 20">
        <use xlink:href="#icon-Safe"></use>
      </svg> Shared With
    </h3>
    <label>Shared With</label><br>
    <div class="chosen-styled-select">
      <%= contact_select_with_create_new(f, :share_ids, @contacts_shareable, id: "attorney_share_id_#{index}") %>
    </div>
  </section>

  <% if data.id %>
    <%= link_to 'Delete', "#{yield(:delete_path)}#{data.id}", method: :delete,
        data: { confirm: "Deleting this '#{yield(:question_title)}' will permanently remove it from ZokuVault." },
        class: 'button small-button secondary-button', id: 'delete-legal' %>
  <% end %>

</div>

<script>
  clearForm = function($newWtlForm, old_id, new_id){
    new_vault_entry_id = "vault_entry_" + new_id;

    $newWtlForm.find("[id^='attorney_id_']").attr({
      id: "attorney_id_" + new_id,
      value: ""
    });
    $newWtlForm.find("[id^='attorney_id_']").attr("name", new_vault_entry_id + "[id]");
    $newWtlForm.find("[id^='vault_entry_']").attr({
      name: new_vault_entry_id + "[name]",
      id: new_vault_entry_id + "_name"
    });

    $newWtlForm.find(".check-list li").each(function() {
      var checkBox = $(this).find("input[type=checkbox]");
      checkBox.attr("name", "vault_entry_" + new_id + "[powers][" + checkBox.attr('value') + "]")
      checkBox.attr("id", "vault_entry_" + new_id + "_powers_" + checkBox.attr('value'))
    });

    $newWtlForm.find("#attorney_agent_id_" + old_id).attr({
      name: new_vault_entry_id +"[agent_ids]",
      id: "attorney_agent_id_" + new_id
    });
    $newWtlForm.find("#attorney_agent_id_" + new_id + " option").prop("selected", false);

    $newWtlForm.find("#attorney_share_id_" + old_id).attr({
      name: new_vault_entry_id +"[share_ids][]",
      id: "attorney_share_id_" + new_id
    });
    $newWtlForm.find("#delete-legal").remove();
  }

$(document).ready(function(){
  url = "new/get_powers_of_attorney_details";
  $.get(url, function(data) {
    data.forEach(function(form_values, index){
      $("#attorney_agent_id_" + index).val(form_values[0]).trigger("chosen:updated");
      $("#attorney_share_id_" + index).val(form_values[1]).trigger("chosen:updated");
      $("#attorney_id_" + index).val(form_values[2]).trigger("chosen:updated");
    });
  });
});
</script>
