<div class="card trusts mb-30">

  <%= f.hidden_field :id, id: "attorney_id_#{index}" %>
  <h3 class="card-label">Legal Details</h3>

  <label>Power of Attorney</label>
  <div class="chosen-styled-select">
    <%= contact_select_with_create_new(f, :agent_ids, @contacts, id: "attorney_agent_id_#{index}", multiple: false, value: data.agent_ids) %>
  </div>

  <label>This Agent's powers are (please choose all that apply):</label>
  <ul class="check-list">
    <% PowerOfAttorney::POWERS.each do |option| %>
      <li class="check-list">
        <label>
          <%= check_box_tag "vault_entry_#{index}[powers][#{option}]",
            option,
            @vault_entry.powers.try(:[], option), {:checked => data.powers.present? && data.powers.keys.any? {|check| check == option} }
          %>
        <span></span> <%= option %>
      </label>
      </li>
    <% end %>
  </ul>
  
  <%= f.label :notes %>
  <p><%= f.text_area :notes, id: "attorney_notes_id_#{index}", value: data.notes %></p>

  <section class="shared-with edit-shared">
    <h3 class="card-label shared-label">
      <svg class="icon" viewBox="0 0 20 20">
        <use xlink:href="#icon-Safe"></use>
      </svg> Shared With
    </h3>
    <label>Shared With</label><br>
    <div class="chosen-styled-select">
      <%= contact_select_with_create_new(f, :share_with_contact_ids, @contacts_shareable, id: "attorney_share_id_#{index}", value: data.share_with_contact_ids) %>
    </div>
  </section>

  <% if data.id %>
    <%= link_to 'Delete', "#{yield(:delete_path)}#{data.id}", method: :delete,
        data: { confirm: "Deleting this '#{yield(:question_title)}' will permanently remove it from ZokuVault." },
        class: 'button small-button secondary-button', id: 'delete-legal' %>
  <% end %>

</div>

<script>
  changeIdAndName = function($form, old_id, new_id, new_name){
    $form.find("#" + old_id).attr({
      id: new_id,
      name: new_name,
      value: ""
    });
    $form.find("#" + new_id + " option").prop("selected", false);
  };
  
  clearForm = function($newWtlForm, old_id, new_id){
    new_vault_entry_id = "vault_entry_" + new_id;

    changeIdAndName($newWtlForm, "attorney_id_" + old_id,
      "attorney_id_" + new_id, new_vault_entry_id + "[id]");
    changeIdAndName($newWtlForm, "attorney_agent_id_" + old_id,
      "attorney_agent_id_" + new_id, new_vault_entry_id + "[agent_ids]");
    changeIdAndName($newWtlForm, "attorney_notes_id_" + old_id,
      "attorney_notes_id_" + new_id, new_vault_entry_id + "[notes]");
    changeIdAndName($newWtlForm, "attorney_share_id_" + old_id,
      "attorney_share_id_" + new_id, new_vault_entry_id + "[share_with_contact_ids][]");
    
    $newWtlForm.find(".check-list li").each(function() {
      var checkBox = $(this).find("input[type=checkbox]");
      checkBox.attr("name", "vault_entry_" + new_id + "[powers][" + checkBox.attr('value') + "]")
      checkBox.attr("id", "vault_entry_" + new_id + "_powers_" + checkBox.attr('value'))
    });

    $newWtlForm.find("#delete-legal").remove();
  }
</script>
