<%= render :partial => "layouts/bread_crumbs" %>

<% power_of_attorney_contact = {contact_name: 'Contact Name 1',
  power_of_attorneys: [{agent_name: 'Jake Prinston', powers: ['General', 'Digital'], notes: 'Notes notes notes notes notes notes notes notes notes notes notes notes notes' },
  {agent_name: 'John Wolly', powers: ['Digital'], notes: 'Notes notes notes notes notes notes notes notes notes notes notes notes notes'}],
  shares_initials: ['JS', 'BB', 'PS'] } %>

<%= link_to edit_power_of_attorney_path, class: "edit-link mrg-top" do%>
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-pencil-1"></use>
    </svg>
  </span>Edit Power of Attorney
<% end %>
<h1>Power of Attorney - <%= power_of_attorney_contact[:contact_name] %></h1>


<% power_of_attorney_contact[:power_of_attorneys].each do |power_of_attorney| %>
  <div class="card attorney mb-30">

    <h3 class="card-label">Legal Details</h3>

    <label class="title">Agent</label>
    <p><%= power_of_attorney[:agent_name] %></p>

    <label class="title">Agent Powers</label>
    <p>
      <% power_of_attorney[:powers].each do |agent_power| %>
        <%= agent_power %><br>
      <% end %>
    </p>

    <label>Notes</label>
    <p><%= power_of_attorney[:notes] %></p>
    <span class="clear"></span>
  </div>
<% end %>

<div class="card category-shared">
  <section class="shared-with category-shared">
    <h3 class="card-label shared-label">
      <svg class="icon" viewBox="0 0 20 20">
        <use xlink:href="#icon-Safe"></use>
      </svg> Shared With
    </h3>
    
    <label>Shared With</label>
    <section class="shared-list">
      <% power_of_attorney_contact[:shares_initials].each do |share_initials| %>
        <div class="tooltip-item">
          <p class="avatar-initials"><%= share_initials %></p>
          <%= image_tag(empty_image, class: "avatar-small") %>
        </div>
      <% end %>
    </section>
  </section>
</div><br>

<h3>Documents</h3>
<a class="add-link fr" href="#">
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>
  </span>Add Document
</a>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => []} %>