<%= ff.hidden_field :id, id: "policy_id_#{index}" %>

  <h3 class="card-label">Policy Information</h3>

  <label>Policy Type</label>
  <div class="styled-select">
    <%= ff.select :policy_type, LifeAndDisabilityPolicy::policy_types.keys, id: "life_policy_type_id_#{index}"%>
  </div>

  <%= ff.label :policy_holder_id, 'Policy Holder' %>
  <div class="chosen-styled-select">
    <%= account_owner_select_with_create_new(ff, :policy_holder_id, @account_owners,
      {id: "life_policy_holder_id_#{index}", multiple: false}, data && owner_ids_transform(data.policy_holder.try(:id))) %>
  </div>

  <label>Coverage Amount</label>
  <%= ff.text_field :coverage_amount, id: "life_coverage_amount_id_#{index}", maxLength: 9, :data => {autonumeric: {vMin: '0', vMax: '999999999', aSign: "$"} },
    :value => ff.object && number_to_currency(ff.object.coverage_amount, precision: 0, unit: "$") %>

  <label>Policy Number</label>
  <%= ff.text_field :policy_number, id: "life_policy_number_id_#{index}", :maxlength => get_max_length(:default) %>
  
  <%= ff.label :primary_beneficiary_ids, 'Primary Beneficiaries' %>
  <div class="chosen-styled-select">
    <%= account_owner_select_with_create_new(ff, :primary_beneficiary_ids, @account_owners,
      {id: "life_primary_id_#{index}"}, data && data.primary_beneficiary_ids) %>
  </div>
  
  <%= ff.label :secondary_beneficiary_ids, 'Secondary Beneficiaries' %>
  <div class="chosen-styled-select">
    <%= account_owner_select_with_create_new(ff, :secondary_beneficiary_ids, @account_owners,
      {id: "life_primary_id_#{index}"}, data && data.secondary_beneficiary_ids) %>
  </div>
  
  <label>Broker or Primary Contact</label>
  <div class="chosen-styled-select">
    <%= contact_select_with_create_new(ff, :broker_or_primary_contact_id, @contacts, id: "life_broker_id_#{index}", multiple: false) %>
  </div>

  <label>Notes</label>
  <%= ff.text_area :notes, :maxlength => get_max_length(:notes) %>


<script>
  clearForm = function($newWtlForm, old_id, new_id){
    var newPolicy = "[policy_" + new_id + "]"
    var newPolicyNameStart = "life_and_disability" + newPolicy
    changeIdAndName($newWtlForm, "policy_id_" + old_id,
      "policy_id_" + new_id, newPolicyNameStart + "[id]")
    changeIdAndName($newWtlForm, "life_and_disability_policy_" + old_id + "_policy_type",
      "life_and_disability_policy_" + new_id + "_policy_type", newPolicyNameStart + "[policy_type]")
    changeIdAndName($newWtlForm, "life_policy_holder_id_" + old_id,
      "life_policy_holder_id_" + new_id, newPolicyNameStart + "[policy_holder_id]")
    changeIdAndName($newWtlForm, "life_coverage_amount_id_" + old_id,
      "life_coverage_amount_id_" + new_id, newPolicyNameStart + "[coverage_amount]")
    changeIdAndName($newWtlForm, "life_policy_number_id_" + old_id,
      "life_policy_number_id_" + new_id, newPolicyNameStart + "[policy_number]")
    changeIdAndName($newWtlForm, "life_primary_id_" + old_id,
      "life_primary_id_" + new_id, newPolicyNameStart + "[primary_beneficiary_ids][]")
    changeIdAndName($newWtlForm, "life_secondary_id_" + old_id,
      "life_secondary_id_" + new_id, newPolicyNameStart + "[secondary_beneficiary_ids][]")
    changeIdAndName($newWtlForm, "life_broker_id_" + old_id,
      "life_broker_id_" + new_id, newPolicyNameStart + "[broker_or_primary_contact_id]")
    changeIdAndName($newWtlForm, "life_and_disability_policy_" + old_id + "_notes",
      "life_and_disability_policy_" + new_id + "_notes", newPolicyNameStart + "[notes]")
      
    changeHiddenMultipleSelect($newWtlForm, "vault_entry_" + old_id + "[primary_beneficiary_ids][]",
      "vault_entry_" + new_id + "[primary_beneficiary_ids][]")
    changeHiddenMultipleSelect($newWtlForm, "vault_entry_" + old_id + "[secondary_beneficiary_ids][]",
      "vault_entry_" + new_id + "[secondary_beneficiary_ids][]")
  }
</script>
