<% @insurance_card.policy.each do |policy| %>
  <h2 class="mt-20"><%= "#{policy.policy_type} -  #{policy.policy_holder && policy.policy_holder.name}" %></h2>

  <div class="card <%= @insurance_card.group %>">

    <h3 class="card-label">Policy Information</h3>
    <% if !life_policy_present?(policy) %>
      <label>There is no information about Policy</label>
    <% end %>

    <% if policy.coverage_amount.present? %>
      <label>Coverage Amount</label>
      <p><%= number_to_currency(policy.coverage_amount, unit: "$", precision: 0) %></p>
    <% end %>

    <% if policy.policy_number.present? %>
      <label >Policy Number</label>
      <p><%= policy.policy_number %></p>
    <% end %>

    <% if policy.primary_beneficiaries.present? %>
      <label>Primary Beneficiaries</label>
      <p>
        <% policy.primary_beneficiaries.each do |primary| %>
          <%= primary && primary.name %><br>
        <% end %>
      </p>
    <% end %>

    <% if policy.secondary_beneficiaries.present? %>
      <label>Secondary Beneficiaries</label>
      <p>
        <% policy.secondary_beneficiaries.each do |secondary| %>
          <%= secondary && secondary.name %><br>
        <% end %>
      </p>
    <% end %>

    <% if policy.broker_or_primary_contact.present? %>
      <label>Primary contact</label>
      <p><%= policy.broker_or_primary_contact.name %></p>
    <% end %>

    <% if policy.notes.present? %>
      <label class="title">Notes</label>
      <p><%= policy.notes %></p>
    <% end %>
    
    <span class="clear"></span>
  </div>
<% end %>