<%= ff.hidden_field :id, id: "final_wish_id_#{index}" %>
<div class="card cg-<%= @group["value"] %> mb-30">
  <label>Primary Contact</label>
  <div class="chosen-styled-select">
   <%= contact_select_with_create_new(ff, :primary_contact_id, @contacts, id: "final_wish_primary_id_#{index}", multiple: false) %>
  </div><br>

  <label>Notes</label>
  <p><%= ff.text_area :notes, id: "final_wish_notes_id_#{index}", :maxlength => get_max_length(:notes) %></p><br>

  <%= render partial: 'layouts/shared_with_email_preview_section', locals: { f: ff, shared_with_field_symbol: :share_with_contact_ids,
                                                                             shared_with_dropdown_id: "final_wish_share_id_#{index}",
                                                                             additional_params: { id: "final_wish_share_id_#{index}" }} %>

  <% if data && data.id && policy(data).destroy? %>
    <%= link_to 'Delete', "#{final_wishes_path}/#{data.id}", method: :delete,
        data: { confirm: "Deleting this final wish will permanently remove it from ZokuVault." },
        class: 'button small-button secondary-button', id: 'delete-wish' %>
  <% end %>
</div>

<script>
  clearForm = function($newWtlForm, old_id, new_id) {
    new_field_name = "final_wish_info[final_wish_" + new_id + "]";
    changeIdAndName($newWtlForm, "final_wish_id_" + old_id,
      "final_wish_id_" + new_id, new_field_name + "[id]")
    changeIdAndName($newWtlForm, "final_wish_primary_id_" + old_id,
      "final_wish_primary_id_" + new_id, new_field_name + "[primary_contact_id]")
    changeIdAndName($newWtlForm, "final_wish_notes_id_" + old_id,
      "final_wish_notes_id_" + new_id, new_field_name + "[notes]")
    changeIdAndName($newWtlForm, "final_wish_share_id_" + old_id,
      "final_wish_share_id_" + new_id, new_field_name + "[share_with_contact_ids][]")
      
    changeHiddenMultipleSelect($newWtlForm, "final_wish_info[final_wish_" + old_id + "][share_with_contact_ids][]",
      "final_wish_info[final_wish_" + new_id + "][share_with_contact_ids][]")
      
    $newWtlForm.find("#delete-wish").remove();
  }
</script>
