<%= form_for(@final_wish) do |f| %>
  <% if @final_wish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@final_wish.errors.count, "error") %> prohibited this final_wish from being saved:</h2>

      <ul>
      <% @final_wish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :document_id %><br>
    <%= f.number_field :document_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :primary_contact_id %><br>
    <%= f.number_field :primary_contact_id %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :group %><br>
    <%= f.text_field :group %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
