<h1>Final Wishes</h1>

<section class="flex-boxes">
  <% @groups && @groups.each do |group| %>
    <% group_title = group["label"] %>
    <div class="flex-column">
      <div class="card cg-<%= group["value"] %> mb-30">
        <%#= link_to content_tag(:a), final_wish_details(group_title), class: "whole-card-link" %>
        <% if final_wish_exists?(@final_wishes, group_title) %>
          <%= render :partial => "layouts/documents_count_icon", :locals => { :count => document_count(@shared_user || current_user, group_title, @category.name) } %>
        <% end %>

        <h3><%= group_title %></h3>

        <% if final_wish_exists?(@final_wishes, group_title) %>
          <% final_wish = wish_by_group(group_title) %>
          <% if final_wish && final_wish.primary_contact.present? %>

            <label>Primary Contact</label>
            <ul class="data-list">
              <li class="contact-pair">
                <%= final_wish.primary_contact.name %><br>
                <%= mail_to final_wish.primary_contact.emailaddress, final_wish.primary_contact.emailaddress, class:"link-on-top" %><br>
                <%= final_wish.primary_contact.phone %>
              </li>
            </ul>

          <% end %>
          
          <% final_wish_info = final_wish_info(group_title) %>
          <% if category_subcategory_shares(final_wish_info.final_wishes, resource_owner).present? %>
            <label>Shared With</label>
            <section class="shared-list mb-20">
              <%= render :partial => "layouts/subcategory_share", :locals => { :shares => category_subcategory_shares(final_wish_info.final_wishes, resource_owner) } %>
           </section>
         <% end %>

        <% end %>

        <% if @category_shared || show_add_link?(@shared_user, current_user, 'Final Wishes', group_title) %>
          <% if final_wish_exists?(@final_wishes, group_title) %>
            <%= link_to 'View Details', final_wish_details(group_title), class: "small-button outline-button mt-20" %>
          <% else %>
            <%= link_to 'Add Details', final_wish_add_details(group_title),  class: "small-button outline-button mt-20" %>
          <% end %>
        <% else %>
          <p>No shared items</p>
        <% end %>
      </div>
    </div>
  <% end %>
</section>

<%= render :partial => "layouts/add_document_button", :locals => {documents_path: new_document_path(:shared_user_id => @shared_user.present? ? @shared_user.id : "", :category => @category.name),
  documents_title: "Final Wishes Documents"} %>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @documents} %>

<%= render :partial => "layouts/shared_category", :locals => { :category => Rails.application.config.x.FinalWishesCategory.downcase } %>

<%= javascript_include_tag 'flex_boxes' %>
<script>
var is_safari = navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1;
if(!is_safari){
  $(function(){
    $('.flex-boxes').masonry({
      columnWidth: '.flex-column',
      gutter: 20,
      percentPosition: true,
      itemSelector: '.flex-column'
    });
  });
}
</script>
