<%= render :partial => "layouts/bread_crumbs" %>

<h1 class="card-title-0"><%= @final_wish.group %></h1>
<%= link_to "#{@final_wish.id}/edit", class: "edit-link mrg-top" do%>
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-pencil-1"></use>
    </svg>
  </span>Edit <%= @final_wish.group %>
<% end %>

<% @final_wishes.each do |final_wish| %>
  <div class="card cg-<%= @group["value"] %> mb-30">
    <% if !final_wish_present?(final_wish) %>
      <label>There is no information about Final Wish</label>
    <% end %>

    <% if final_wish.primary_contact.present? %>
      <label>Primary Contact</label><br>
      <p>
        <%= final_wish.primary_contact.name %><br>
        <%= mail_to final_wish.primary_contact.emailaddress, final_wish.primary_contact.emailaddress, class:"link-on-top" %><br>
        <%= final_wish.primary_contact.phone %>
      </p>
    <% end %>

    <% if final_wish.notes.present? %>
      <label>Notes</label><br>
      <p><%= final_wish.notes %></p>
    <% end %>

    <% if category_subcategory_shares(final_wish, resource_owner).present? %>
      <div class="shared-with">
        <h3 class="card-label shared-label">
          <svg class="icon" viewBox="0 0 20 20">
            <use xlink:href="#icon-Safe"></use>
          </svg>
          Shared With
        </h3>

        <label>Shared With</label><br>
          <%= render :partial => "layouts/subcategory_share", :locals => { :shares => category_subcategory_shares(final_wish, resource_owner) } %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render :partial => "layouts/add_document_button", :locals => {documents_path: new_documents_path(:shared_user_id => @shared_user.present? ? @shared_user.id : "", :category => @category, :group => @final_wish.group),
  documents_title: "#{@final_wish.group} Documents"} %>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @group_documents} %>
