<%= link_to "#{final_wishes_path}/#{@final_wish.id}/edit", class: "edit-link" do%>
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-pencil-1"></use>
    </svg>
  </span>Edit
<% end %>
<h1><%= @final_wish.group %></h1>

<% @final_wish.final_wishes.each do |final_wish| %>
  <div class="card cg-<%= @group["value"] %> mb-30">

    <label>Primary Contact</label><br>
    <p>
      <% if final_wish.primary_contact %>
        <%= final_wish.primary_contact.name %><br>
        <%= mail_to final_wish.primary_contact.emailaddress, final_wish.primary_contact.emailaddress, class:"link-on-top" %><br>
        <%= final_wish.primary_contact.phone %>
      <% end %>
    </p>

    <label>Notes</label><br>
    <p>
      <%= final_wish.notes %>
    </p>

    <div class="shared-with">
      <h3 class="card-label shared-label">
        <svg class="icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg>
        Shared With
      </h3>

      <label>Shared With</label><br>
        <% final_wish.share_with_contacts && final_wish.share_with_contacts.each do |contact| %>
          <%= render partial: "layouts/avatar_circle", locals: { :contact => contact } %>
        <% end %>
    </div>
  </div>
<% end %>

<a class="add-link fr" href="<%= new_document_path(:category => @category, :group => @final_wish.group) %>">
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>
  </span>Add Document
</a>
<h3><%= @final_wish.group %> Documents</h3>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @group_documents} %>
