<% description ||= "" %>
<% bottom_description ||= "" %>
<% title ||= "" %>
<% category_empty ||= false %>
<% next_tutorial_path ||= nil %>

<%= render partial: 'tutorials/skip_tutorial_modal' %>

<% wide ||= false %>
<% hidden_field_tag_values ||= nil %>

<div class="card mb-30 mt-20 max-w-1000-centered">
  <h1><%= title %></h1>
  <p><%= description %></p>

  <%= form_for form_for_object, url: url_for(action: :create, controller: form_controller) do |f| %>
    <%= hidden_field_tag :next_page_number, @next_page %>
    <%= hidden_field_tag :page_number, @page_number %>
    <%= hidden_field_tag :next_tutorial_path, next_tutorial_path %>

    <% if wide %>
      <div class="input-pair wide mobile-hide h-25">
        <% label_tag.each_with_index do |tag, index| %>
          <% label_class = 'input-form-class pl-0 b-color-transparent ' + (index > 0 ? 'ml-15' : ' max-w-270-edge min-w-270-edge') %>
          <%= label_tag tag[:name], tag[:value], class: label_class %>
        <% end %>
        <%= label_tag "investment_name", '', class: 'inline-button' %>
      </div>
    <% else %>
      <%= label_tag label_tag[:name], label_tag[:value] %>
    <% end %>
    <%= render partial: 'tutorials/tutorial_resources', locals: { partial_path: partial_path,
                                                                  fields_class: fields_class,
                                                                  select_tag: wide && select_tag,
                                                                  text_field_tag: text_field_tag,
                                                                  label_tag: label_tag,
                                                                  wide: wide } %>

    <div class="collect-fields">
      <%= hidden_field_tag :tutorial_name, @tutorial_name %>
      <%= hidden_field_tag :next_tutorial, @next_tutorial.try(:name).try(:parameterize) || 'confirmation_page' %>

      <% hidden_field_tag_values.try(:each) do |hidden_field_tag_value| %>
        <%= hidden_field_tag hidden_field_tag_value[:name], hidden_field_tag_value[:value] %>
      <% end %>

      <div class="input-pair <% if wide %> wide <% end %> tutorial-fields add-tutorial <%= fields_class %>">
        <% if wide %>
          <%= label_tag label_tag[0][:name], label_tag[0][:value], class: 'mobile-show' %>
        <% end %>
        <%= text_field_tag text_field_tag[:name], "", class: "form-control medium repeated-field", placeholder: text_field_tag[:placeholder], :maxlength => text_field_tag[:max_length] || get_max_length(:default) %>
        <% if wide %>
          <%= label_tag label_tag[1][:name], label_tag[1][:value], class: 'mobile-show' %>
          <div class="styled-select form-control medium repeated-field ml-15 h-34">
            <%= select_tag select_tag[:name], options_for_select(select_tag[:value], "") %>
          </div>
        <% end %>
        <%= link_to 'Add Another', 'javascript:void(0);', class: "medium-button button primary-button inline-button add-another-btn min-w-80"%>
      </div>
    </div>

    <p class="mt-30 mb-0"><%= bottom_description %></p>

    <%= render partial: 'tutorials/buttons', locals: { category_empty: category_empty, next_tutorial_path: next_tutorial_path, f: f } %>
  <% end %>
</div>

<script>
  $('.chosen-select').chosen({allow_single_deselect: true});
</script>
