<% f ||= nil %>
<% skip_continue_equal ||= false %>
<% margin_top ||= "mt-60" %>

<section class="<%= margin_top %> bt-gray-light pt-20 mb-10 flex-button">
  <%= link_to 'Back', tutorial_destroy_path(tutorial_id: params[:tutorial_id]), method: :post, class: "big-button outline-button padded left-0 ps-absolute" %>
  <% if @tutorial_name != 'confirmation_page' && !skip_continue_equal %>
    <%- if @next_tutorial_name == 'confirmation_page' %>
      <%= link_to "Skip", confirmation_tutorials_path, class: "big-button outline-button padded skip-btn" %>
    <%- else %>
      <%= link_to "Skip", tutorial_page_path(@next_tutorial_name, @next_page), class: "big-button outline-button padded skip-btn" %>
    <% end %>
  <% end %>
  &nbsp
  <% if f.present? %>
    <%= f.submit "Continue", class: "button big-button blue-button f-right submit-btn" %>
  <% else %>
    <% if @next_tutorial_name == 'confirmation_page' %>
      <%= link_to "Continue", confirmation_tutorials_path, class: "button big-button blue-button f-right submit-btn ml-0" %>
    <% elsif @tutorial_name == 'confirmation_page' %>
      <%= link_to "Continue", tutorials_end_tutorials_path, class: "button big-button blue-button f-right submit-btn ml-0" %>
    <% else %>
      <% if skip_continue_equal %>
        <%= link_to "Skip", tutorial_page_path(@next_tutorial_name, @next_page), class: "big-button outline-button padded skip-btn mr-5" %>
      <% end %>
      <%= link_to "Continue", tutorial_page_path(@next_tutorial_name, @next_page), class: "button big-button blue-button f-right submit-btn ml-0" %>
    <% end %>
  <% end %>
</section>