<% f ||= nil %>
<section class="mt-60 bt-gray-light pt-20 mb-10 flex-button">

  <%= link_to 'Back', tutorial_destroy_path, method: :post, class: "big-button outline-button padded f-left" %>
  <%- if @next_tutorial_name == 'confirmation_page' %>
    <%= link_to "Skip", tutorials_confirmation_path, class: "big-button outline-button padded skip-btn" %>
  <%- else %>
    <%= link_to "Skip", tutorial_page_path(@next_tutorial_name, @next_page), class: "big-button outline-button padded skip-btn" %>
  <% end %>
  &nbsp
  <% if f.present? %>
    <%= f.submit "Continue", class: "button big-button blue-button f-right submit-btn" %>
  <% else %>
    <% if @next_tutorial_name == 'confirmation_page' %>
      <%= link_to "Continue", tutorials_confirmation_path, class: "button big-button blue-button f-right submit-btn ml-0" %>
    <% else %>
      <%= link_to "Continue", tutorial_page_path(@next_tutorial_name, @next_page), class: "button big-button blue-button f-right submit-btn ml-0" %>
    <% end %>
  <% end %>
</section>

