<div class="modal-content">
  <div class="pair-section bb-dashed">
    <h2>Category Setup</h2>
    <%= link_to 'Skip Category Setup', root_path, class: 'button secondary-button small-button fixed-width-big' %>
    <p>ZokuVault has categories to help you organize and store your information. Review them below, and determine where you would like to start. We recommend that you either start in the section that matters most to you right now, or the one for which you have the most information prepared to enter.</p>
  </div>
  
  <div class="pair-section bb-dashed">
    <h3>Financial Information</h3>
    <%= link_to 'Financial Information', financial_information_path, class: 'button primary-button small-button fixed-width-big' %>
    <p>Store details on your financial accounts, property, investments and loans, tracking your net worth and where it exists.</p>
  </div>
  
  <div class="pair-section bb-dashed">
    <h3>Wills Trusts & Legal</h3>
    <%= link_to 'Wills Trusts & Legal', estate_planning_path, class: 'button primary-button small-button fixed-width-big' %>
    <p>Store details on your wills, trusts, and powers of attorney and related estate plan documents.</p>
  </div>
  
  <div class="pair-section bb-dashed">
    <h3>Insurance</h3>
    <%= link_to 'Insurance', insurance_path, class: 'button primary-button small-button fixed-width-big' %>
    <p>Store details on your coverage including life, disability, property, casualty and health insurance.</p>
  </div>
  
  <div class="pair-section bb-dashed">
    <h3>Taxes</h3>
    <%= link_to 'Taxes', taxes_path, class: 'button primary-button small-button fixed-width-big' %>
    <p>Store your tax support information and returns, including federal & state income, property and gift and estate taxes.</p>
  </div>
  
  <div class="pair-section">
    <h3>Final Wishes</h3>
    <%= link_to 'Final Wishes', final_wishes_path, class: 'button primary-button small-button fixed-width-big' %>
    <p>Upload details regarding your personal wishes, including end-of-life preferences, veterans information, pet care and more.</p>
  </div>
</div>
