<h1>Guided Tutorial - Getting Started</h1>

<div class="settings-card big-names">
  <div class="settings-header">
    <%= link_to tutorial_primary_contacts_path, class: 'settings-inner-step cp not-link' do %>
      <span id="primary_contacts" class="settings-inner-counter">
        1
      </span>
      <span class="step-name" id="step-1-title">Primary Contact</span>
    <% end %>
    <%= link_to tutorial_trusted_advisors_path, class: 'settings-inner-step cp not-link' do %>
      <span id="trusted_advisors" class="settings-inner-counter">
        2
      </span>
      <span class="step-name" id="step-2-title">Trusted Advisors</span>
    <% end %>
    <%= link_to tutorial_important_documents_path, class: 'settings-inner-step cp not-link' do %>
      <span id="important_documents" class="settings-inner-counter">
        3
      </span>
      <span class="step-name" id="step-3-title">Important Documents</span>
    <% end %>
    <%= link_to tutorial_category_setup_path, class: 'settings-inner-step cp not-link' do %>
      <span id="category_setup" class="settings-inner-counter">
        4
      </span>
      <span class="step-name" id="step-4-title">Category Setup</span>
    <% end %>
    <div class='settings-inner-step'></div>
  </div>
  <%= render partial: yield(:tutorial_step_path) %>
  
  <% next_path = yield(:next_page_path) %>
  <% if next_path.present? %>
    <footer>
      <%= link_to 'Next', next_path, class: 'button secondary-button medium-button' %>
    </footer>
  <% end %>
</div>

<script>
var tableIdToUpdate = '#'

$(document).ready(function(){
  var tabId = (<%= action_name %>).id
  changeTabNames()
  updateHeaderTab(tabId)
});

$(window).resize(function() {
  changeTabNames()
})

var changeTabNames = function() {
  $('#step-1-title').text('Primary Contacts')
  $('#step-2-title').text('Trusted Advisors')
  $('#step-3-title').text('Important Documents')
  $('#step-4-title').text('Category Setup')

  if (window.matchMedia("(max-width: 1090px)").matches) {
    $('#step-1-title').text('Primary')
    $('#step-2-title').text('Advisors')
    $('#step-3-title').text('Documents')
	$('#step-4-title').text('Category')
  } if (window.matchMedia("(max-width: 800px)").matches) {
    $('#step-1-title').text('   ')
    $('#step-2-title').text('   ')
    $('#step-3-title').text('   ')
    $('#step-4-title').text('   ')
  }
}

var updateHeaderTab = function(tabId) {
  $("#" + tabId).removeClass().addClass("settings-inner-counter settings-current-step")
}

</script>