<% description ||= "" %>
<% skip_continue_equal ||= nil %>
<% continue_button_only ||= false %>
<% next_tutorial_path ||= nil %>

<div class="card mb-30 mt-20 max-w-1000-centered">
  <h1><%= title %></h1>
  <p><%= description %></p>

  <div class="">
    <%= render partial: 'tutorials/contact_tutorial_table', locals: { table_title: table[:table_title],
                                                                    contacts: table[:contacts],
                                                                    table_id: table[:table_id] } %>

  <div class="flash-success-static flash add-contactable static small" style="display: none;">
    <%= flash_message %></div>
    <button class="button primary-button big-button" onclick="createContact();"><%= button_text %></button>
  </div>

  <%= render partial: 'tutorials/buttons', locals: { continue_button_only: continue_button_only, next_tutorial_path: next_tutorial_path,
                                                     skip_continue_equal: skip_continue_equal} %>
</div>

<%= render partial: 'contacts/ajax_form', style: 'display: none;' %>
