<div class="card mt-20 mb-30 text-center max-w-1000-centered">
  <h1 class="card-label fn clr-color-primary mb-30">
    <svg class="icon" viewBox="0 0 20 20">
      <use xlink:href="#icon-Safe"></use>
    </svg> Shared With
  </h1>

  <h5 class="mb-20 clr-gray-dark fw-600">
    <%= h5_title %>
  </h5>

  <p class="m-0-auto mb-30"><%= description %></p>

  <section id="yes-no-section">
    <%= render partial: 'tutorials/tutorial_yes_no', locals: { no_path: skip_button_path } %>
  </section>

  <section id="share-section" style="display: none;">
    <%= render partial: 'tutorials/shares/category_share', locals: { category_name: category_name } %>
  </section>
</div>

<%= render partial: 'contacts/ajax_form' %>
<%= render partial: 'layouts/email_preview_javascript' %>

<div id="email-preview-section">
</div>

<script>
  $(document).ready(function() {
    $('.chosen-select').chosen({allow_single_deselect: true});
    setEmailPreview($('#shareable_category_share_with_contact_ids'))
  })
  
  var toggleView = function() {
    $("#share-section").toggle()
    $("#yes-no-section").toggle()
  }
  
  var yesOnclick = function() {
    toggleView()
  }
</script>
