<% description ||= nil %>
<% skip_continue_equal ||= nil %>

<div class="card mb-30 mt-20 max-w-1000-centered">
  <h1 class="mb-20"><%= title %></h1>

  <% if description.present? %>
    <p><%= description %></p>
  <% end %>

  <div class="">
    <%= render partial: 'tutorials/contact_tutorial_table', locals: { table_title: table[:table_title],
                                                                    contacts: table[:contacts],
                                                                    table_id: table[:table_id] } %>

  <div class="flash-success-static flash add-contactable static small" style="display: none;">
    <%= flash_message %></div>
    <button class="button primary-button big-button" onclick="createContact();"><%= button_text %></button>
  </div>

  <%= render partial: 'tutorials/buttons_section', locals: { skip_continue_equal: skip_continue_equal } %>
</div>

<%= render partial: 'contacts/ajax_form', style: 'display: none;' %>
