<div class="max-w-1000-centered">
  <h3 class="clr-gray-dark">Set Up Your Vault</h3>
</div>

<div class="card mb-30 max-w-1000-centered">
  <h2>Upload Important Documents</h2>
  <p>Let's learn how to upload a document. Do you have any documents either in digital format already or that you could easily take a picture of using your phone, that are ready to be uploaded? Examples include:</p>
  <ul>
    <li>Estate Planning Documents (Will, Trust)</li>
    <li>Insurance Information (Health Insurance Card, Policies)</li>
    <li>Identification (Driver's License, Passport)</li>
  </ul>

  <h3 <% if @documents.blank? %> style="display: none;" <% end %> id='important-documents-table-title'>Your Documents</h3>
  <table id="important-documents-table" <% if @documents.blank? %> style="display: none;" <% end %>>
    <thead>
      <tr>
        <th>Name</th>
        <th>Modified</th>
        <th>Category</th>
        <th class="fixed-cell-small">Shared With</th>
        <th class="fixed-cell-small">Notes</th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td>
            <%= render :partial => "layouts/document_links", :locals => {:document => document } %>
          </td>
          <td>
            <%= date_format(document.updated_at) %>
          </td>
          <td>
            <%= render :partial => "layouts/document_tags", :locals => {:document => document} %>
          </td>
          <td>
            <%= render :partial => "layouts/share_with_contacts", :locals => {:shares => document_shares(document)} %>
          </td>
          <td>
            <%= render :partial => "layouts/document_notes", :locals => {:notes => document.description } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="flash-success-static flash important-doc static small" style="display: none;">You added a document! Upload another Document, or click Continue.</div>

  <%= link_to 'Upload a Document', new_document_path(:first_run => true), class: 'button primary-button big-button inline-block' %>

  <%= render partial: 'pages/tutorial_buttons', locals: { tutorial_skip_path: tutorial_video_path,
                                                          tutorial_continue_path: tutorial_video_path,
                                                          tutorial_back_path: tutorial_trusted_advisors_path } %>
</div>

<script>
  $(document).ready(function(){
      $('#important-documents-table').DataTable( {
        paging: false,
        searching: false,
        info: false,
        aaSorting: [[0, 'asc']]
    });

    if ($('.flash-success.flash').text() === 'Document was successfully created.') {
      $('.flash.important-doc').show()
    }
  });
</script>
