<div class="card vault-info mt-20 mb-30 text-center max-w-1000-centered">
  <h1 class="mb-20">Let's get started!</h1>
  
  <h5 class="mb-30 max-w-1000 clr-gray-dark inline-block fw-500">Here's a reminder of three ways you can use ZokuVault.</h5>
  
    <div class="max-w-600 m-0-auto mb-30 pl-15 pr-15">
      <section class="b-gray-med mb-30 card-height-120">
        <%= image_tag "SVG/shield-family.svg", :class => "max-w-80 inline-block tablet-show"%>
        <h5 class="description lh-30 clr-gray-dark-tinted w-80-percent text-aligned fr mt-10 fw-600">Protect My Family</h5>
        <p class="text-left description fr w-80-percent mb-0 pr-5">I want to make sure my family will have everything they need should something happen to me.</p>
        <%= image_tag "SVG/shield-family.svg", :class => "max-w-80 inline-block mt-20 tablet-hide"%>
        <span class="clear"></span>
      </section>
   
     <section class="b-gray-med mb-30 card-height-120">
       <%= image_tag "SVG/consolidate.svg", :class => "max-w-80 inline-block tablet-show"%>
       <h5 class="description lh-30 clr-gray-dark-tinted w-80-percent text-aligned fr mt-10 fw-600">Consolidate My Documents & Information</h5>
       <p class="text-left description fr w-80-percent mb-0 pr-5">I want to be able to access all of my documents and critical information whenever I need them.</p>
       <%= image_tag "SVG/consolidate.svg", :class => "max-w-80 inline-block mt-20 tablet-hide"%>
       <span class="clear"></span>
     </section>
   
   
     <section class="b-gray-med mb-30 card-height-120">
       <%= image_tag "SVG/transfer.svg", :class => "max-w-80 inline-block tablet-show"%>
       <h5 class="description lh-30 clr-gray-dark-tinted w-80-percent text-aligned fr mt-10 fw-600">Securely Transfer Files</h5>
       <p class="text-left description fr w-80-percent mb-0 pr-5">I want to send files to, or request from, a trusted advisor, friend, or family member.</p>
       <%= image_tag "SVG/transfer.svg", :class => "max-w-80 inline-block mt-15 tablet-hide"%>
       <span class="clear"></span>
     </section>

     <%= link_to 'Next', new_tutorial_path, class: 'button big-button-2 blue-button m-0-auto' %>
   </div>
</div>