<div class="max-w-1000-centered">
  <h3 class="clr-gray-dark">Set Up Your Vault</h3>
</div>

<div class="card mb-30 max-w-1000-centered">
  <h2>Add Your Trusted Advisors</h2>
  <p>Want help with your vault? Please add any trusted advisors that may be able to help you. These are your Accountants, Attorneys, Financial Advisors, Brokers and Trustees, etc.</p>

  <h3 <% if @trusted_advisors.blank? %> style="display: none;" <% end %> id='professional-contacts-table-title'>Your Trusted Advisor Contacts</h3>
  <table id="professional-contacts-table" class='table-add-contactable' <% if @trusted_advisors.blank? %> style="display: none;" <% end %>>
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Relationship</th>
      </tr>
    </thead>
    <tbody>
      <% @trusted_advisors.each do |primary_contact| %>
        <tr>
          <td><%= primary_contact.lastname %></td>
          <td><%= primary_contact.firstname %></td>
          <td><%= primary_contact.emailaddress %></td>
          <td><%= primary_contact.relationship %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="flash-success-static flash add-contactable static small" style="display: none;">You added a contact! Add another one of your Trusted Advisors, or click Continue.</div>
  <button class="button primary-button big-button" onclick="createProfessionalContact();">Add Trusted Advisor</button>

  <%= render partial: 'pages/tutorial_buttons', locals: { tutorial_skip_path: tutorial_important_documents_path,
                                                          tutorial_continue_path: tutorial_important_documents_path,
                                                          tutorial_back_path: tutorial_primary_contacts_path} %>
</div>

<%= render partial: 'contacts/ajax_form', style: 'display: none;' %>

<script>
  $(document).ready(function(){
      $('#professional-contacts-table').DataTable( {
        paging: false,
        searching: false,
        info: false,
        aaSorting: [[0, 'asc']]
    });
  });

  var createProfessionalContact = function() {
    window.tableIdToUpdate = '#professional-contacts-table'
    setProfessionalDropdown(['Advisor'])
    contact_type_handle($('#contact_contact_type'), true)
    displayContactFormModal();
  }
</script>
