<section class="hero-01">
  <article>
    <h1 class="hero-text">Secure data and storage and planning for families.</h1>
    <h5 class="hero-text">ZokuVault helps families plan, organize, and share the important details of their lives.</h5>
    <button class="primary-button call-to-action">Sign Up</button>
  </article>
</section>

<section class="hero-01a">
  <article>
    <h1 class="hero-text">Secure data and storage and planning for families.</h1>
    <h5 class="hero-text">ZokuVault helps families plan, organize, and share the important details of their lives.</h5>
    <button class="primary-button call-to-action">Sign Up</button>
  </article>
</section>

<section class="security">
  <article>
    <%= image_tag "marketing/security.svg", :class => "fl" %>
    <h3>Nothing is more important than security.
      <br>Security. Security. Security.
      <br>Learn how we keep your data safe.</h3>
    <button class="primary-button call-to-action">Learn More</button>
  </article>
</section>

<section class="hero-05">
  <article>
    <h1 class="hero-text">ZokuVault is a virtual safety deposit box and estate planning portal.</h1>
    <h5 class="hero-text">ZokuVault storage helps you plan for the future.</h5>
    <button class="primary-button call-to-action">Sign Up</button>
  </article>
</section>

<section class="logo-bg">

  <div class="wrapper">
    <article>
      <h3 class="hero-text">
        Create access points to your important accounts, documents, and contacts ensuring everything is easily available when you need it most.
      </h3>
    </article>
  </div>
  <div class="wrapper flex-boxes mt-100">
    <article class="flex-marketing">
      <svg class="icon home-icon">
        <use xlink:href="#icon-cloud-1"></use>
      </svg>
      <h1 class="hero-text">Accounts</h1>
    </article>
    <article class="flex-marketing">
      <svg class="icon home-icon">
        <use xlink:href="#icon-document-3"></use>
      </svg>
      <h1 class="hero-text">Documents</h1>
    </article>
    <article class="flex-marketing">
      <svg class="icon home-icon">
        <use xlink:href="#icon-user-1"></use>
      </svg>
      <h1 class="hero-text">Contacts</h1>
    </article>
  </div>
  <button class="primary-button call-to-action">Learn More</button>
</section>

<section class="hero-02">
  <article>
    <h1 class="hero-text">Secure data and storage and planning for families.</h1>
    <h3 class="hero-text">Zoku helps families plan, organize, and share the important details of their lives.</h3>
    <button class="primary-button call-to-action">Sign Up</button>
</article>
</section>

<section class="three-up">
  <h1>Secure data and storage and planning for families.</h1>
  <div class="wrapper flex-boxes mt-100">
    <article class="flex-marketing">
      <%= image_tag "marketing/safe.png", :class => "" %>
      <h3>Security</h3>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/rocket.png", :class => "" %>
      <h3>Rocket</h3>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/umbrella.png", :class => "" %>
      <h3>Umbrella</h3>
    </article>
  </div>
  <div class="wrapper flex-boxes">
    <article class="flex-marketing">
      <%= image_tag "marketing/lock.png", :class => "" %>
      <h3>Lock</h3>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/cloud.png", :class => "" %>
      <h3>Cloud</h3>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/pie.png", :class => "" %>
      <h3>Pie</h3>
    </article>
  </div>
</section>

<section class="hero-03">
  <article>
    <h1 class="hero-text-dark">Secure data and storage and planning for families.</h1>
    <h3 class="hero-text-dark">Zoku helps families plan, organize, and share the important details of their lives.</h3>
    <button class="primary-button call-to-action">Sign Up</button>
  </article>
</section>

<section class="screen-text">
  <article>
    <h1>Secure data and storage and planning for families.</h1>
    <h3>Zoku helps families plan, organize, and share the important details of their lives.</h3>
    <button class="primary-button call-to-action">Sign Up</button>
  </article>
</section>

<section class="hero-04">

</section>
