<% if user_signed_in? %>

<h1>Dashboard</h1>
<% if @new_shares.present? %>
  <% # Display first if new shares since user last login %>
  <%= render "shares_card" %>
<% end %>

<% subscription = current_user.current_user_subscription %>
<% if subscription.active_trial? %>
  <%= render partial: 'dashboard_trial_header', locals: { subscription: subscription } %>
<% end %>

<%= render "financial_information_card" %>

<%= render "wills_powers_of_attorney_card" %>

<%= render "trusts_entities_card" %>

<%= render "insurance_card" %>

<%= render "tax_card" %>

<%= render "final_wish_card" %>

<%= render "contact_card" %>

<!--
<%= link_to '', class: "undo-link-style" do %>
  <div class="card  mb-30">
    <h3>
      <svg class="icon nav-icon">
        <use xlink:href="#icon-plus-1"></use>
      </svg>Healthcare Choices
    </h3>
  </div>
<% end %>
-->

<% if @new_shares.blank? %>
  <% # Display at bottom if no new shares %>
  <%= render "shares_card" %>
<% end %>
<!--
<%= link_to '', class: "undo-link-style" do %>
  <div class="card mb-30">
    <h3>
      <svg class="icon nav-icon">
        <use xlink:href="#icon-cloud-1"></use>
      </svg>Web Accounts
    </h3>
  </div>
<% end %>
-->

<% else %>
    <%= render :partial => 'welcome/marketing_home' %>
<% end %>
