<%= render :partial => "layouts/bread_crumbs" %>

<div class="card mb-30">
  <h3 class="card-label">Edit User Details</h3>

  <label>Name</label>
  <p><%= @user.name %></p>

  <label>Email</label>
  <p><%= @user.email %></p>

  <label>User Type</label>
  <p><%= user_type(@user) %></p>

  <label><%= @subscription_info[:label] %></label>
  <p><%= @subscription_info[:text] %></p>
  <% if @subscription_info[:status] == :trial %>
    <div class="mb-20">
      <%= link_to 'Extend Trial Period', admin_extend_trial_path(@user), class: "button secondary-button medium-button"%>
      <% if @subscription_info[:active] %>
        <%= link_to 'End Trial Period', admin_cancel_trial_path(@user), class: "button secondary-button medium-button"%>
      <% end %>
    </div>
  <% elsif @subscription_info[:status] == :unknown %>
    <%= link_to 'Create Trial', admin_create_trial_path(@user), class: "button secondary-button medium-button mb-20"%>
  <% end %>
  
  <%= form_for @user, url: usage_metrics_update_user_path, method: :post do |f| %>
    <%= render partial: 'usage_metrics/tfa_disable_field' %>
    <%= render partial: 'usage_metrics/corporate_profile_edit', locals: { f: f } %>
  <% end %>
</div>

<%= link_to 'Save', 'javascript:submitForm()', class: "button primary-button big-button" %>
<%= link_to 'Cancel', back_path || usage_metrics_path, class: "button secondary-button big-button"%>
<%= link_to 'Delete', @user, method: :delete, data: { confirm: 'are you sure?' }, class: "button secondary-button big-button" %>

<script>
  var submitForm = function() {
    var form_id = "edit_user_" + "<%= @user.id %>"
    $("#" + form_id).submit()
  }
</script>
