<label>Number of Unique Users</label>
<p><%= @uniq_user_count %></p>

<label>Number of Unique Documents</label>
<p><%= @uniq_document_count %></p>

<h3>ZokuVault Users</h3>
<table id="user-statistics-table">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th>User Type</th>
      <th>Invitations Worked</th>
      <th>Documents/User</th>
      <th>Shares/User</th>
      <th>Logins/Current Week</th>
      <th>Logins/Week AVG</th>
      <th>Session Length AVG</th>
      <th>Categories with Information</th>
      <th>Subcategories with Information</th>
      <th>Member Since</th>
      <th>Current Subscription Start Date</th>
      <th>Current Subscription End Date</th>
      <th>Site Completed (%)</th>
      <th class="nosort nosearch">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users && @users.each do |user| %>
      <tr>
        <td>
          <%= user.last_name %>
        </td>
        <td>
          <%= user.first_name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user_type(user) %>
        </td>
        <td>
          <%= user_invitations_count(user) %>
        </td>
        <td>
          <%= documents_per_user(user) %>
        </td>
        <td>
          <%= shares_per_user(user) %>
        </td>
        <td>
          <%= login_count_per_week(user) %>
        </td>
        <td>
          <%= login_count_per_week_avg(user) %>
        </td>
        <td>
          <%= session_length_avg(user) %>
        </td>
        <td>
          <%= categories_with_information_count(user) %>
        </td>
        <td>
          <%= subcategories_with_information_count(user) %>
        </td>
        <td>
          <%= date_format(user.created_at) %>
        </td>
        <td>
          <%= date_format(user.current_user_subscription && 
                          user.current_user_subscription.start_at) || '--' %>
        </td>
        <td>
          <%= date_format(user.current_user_subscription && 
                          user.current_user_subscription.end_at) || '--' %>
        </td>
        <td style="max-width: 400px; overflow: hidden; text-overflow: ellipsis;">
          <%= site_completed(user) %>
        </td>
        <td>
          <%= link_to 'Details', statistic_details_path(user.id), class: "outline-button small-button" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    DatatableUpdate('#user-statistics-table', [ [100, 200, 500], 'data', [[0, 'asc']] ])
    $('#user-statistics-table_wrapper').addClass('scroll')
  });
</script>
