<p id="notice"><%= notice %></p>
<label>Name</label>
<p><%= @interested_user.name %></p>

<label>Phone</label>
<p><%= @interested_user.phone_number %></p>

<label>E-mail</label>
<p><%= @interested_user.email %></p>

<label>Message</label>
<p><%= @interested_user.message %></p>

<label>Date Beta Submitted</label>
<p><%= date_format(@interested_user.created_at) %></p>

<%= link_to 'Back', interested_users_path %>
