<section class="about-header">
  <article>
    <h1 class="hero-text">About ZokuVault</h1>
    <h5 class="hero-text">ZokuVault is your virtual safety deposit box and estate planning portal.</h5>
  </article>
</section>

<section class="generic">
  <article>
    <h1>The ZokuVault Story</h1>
    <p>
      ZokuVault was founded to provide individuals and families with a safe, secure and organized alternative to current estate planning, family organization and risk management solutions.
      <br><br>
      Too often we hear stories of friends and family dealing with personal loss or tragedy, where on top of the bad circumstances, they found themselves unprepared and/or unable to find what they needed, struggling to manage the situation and spinning in circles.
      <br><br>
      We created ZokuVault because we are just like you, in need of a better solution to organize and share the most important information in our lives. Our founding team brings together their work experiences in the realms of family risk management and technology and their personal needs as both parents and adult-aged children in their own growing families.
    </p>
  </article>
</section>

<section class="generic-dark">
  <article>
    <%= image_tag "marketing/about_team.png", :class => "fr mw-20" %>
    <h1>Who Do We Help?</h1>

    <h3>You</h3>
    <p>Access to your mission-critical information, wherever and whenever you need it.</p>

    <h3>Your Family</h3>
    <p>Seamless transfer of critical information into the hands of your designated caregivers and estate managers, aiding the timely security of your family and loved ones.</p>

    <h3>Your Trusted Partners</h3>
    <p>Increase the level of engagement with your most trusted advisors, enhancing transparency, planning depth and data transmission security.</p>
  </article>
</section>


<section class="generic wall">
  <article>
    <div class="cta-outer">
    <%= render :partial => 'pages/cta_tall' %>
  </div>

    <h1>Peace of Mind</h1>
    <p>Knowing that after a User's incapacitation or death, designated contacts will have access to their critical information, organized and in one place.</p>
    <h1>Confidence</h1>
    <p>Trusting that everything you have worked for is identified, with support that is secure and protected from both physical and digital destruction or loss.</p>
    <h1>Convenience</h1>
    <p>Having the information you reference located in one ever-available location, easily accessible, but only by those designated.</p>

  </article>
</section>

<section class="three-up">
  <h1>The ZokuVault Solution</h1>
  <div class="wrapper flex-boxes mt-100">
    <article class="flex-marketing">
      <%= image_tag "marketing/files.png", :class => "" %>
      <h3>Entirety</h3>
      <h5>One easy location to organize and list everything so you and your family are secure.</h5>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/safe.png", :class => "" %>
      <h3>Security</h3>
      <h5>This is your personal stuff. We keep it that way.</h5>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/cloud.png", :class => "" %>
      <h3>Simplicity</h3>
      <h5>Storage only helps if you can find what you are looking for.</h5>
    </article>
  </div>

  <div class="wrapper flex-boxes">
    <article class="flex-marketing">
      <%= image_tag "marketing/airplane.png", :class => "" %>
      <h3>Availability</h3>
      <h5>Access wherever you are. Unfortunately, trouble never seems to find us next to our filing cabinets.</h5>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/map.png", :class => "" %>
      <h3>Existence</h3>
      <h5>We will remember you have it, so that you and yours don't have to.</h5>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/people.png", :class => "" %>
      <h3>Portability</h3>
      <h5>Ability to simply add or remove corporate partners. Freedom from feeling beholden by informational handcuffs.</h5>
    </article>
  </div>

  <div class="wrapper flex-boxes">
    <article class="flex-marketing">
      <%= image_tag "marketing/umbrella.png", :class => "" %>
      <h3>Planning</h3>
      <h5>Remove the fear that your loved ones will not be able to find what you have left for them.</h5>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/settings.png", :class => "" %>
      <h3>Control</h3>
      <h5>Full access management of what is shared with others.</h5>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/lock.png", :class => "" %>
      <h3>Ownership</h3>
      <h5>Its your information, period. Not every company agrees. You should ask them.</h5>
    </article>
  </div>
</section>

<section class="generic paper">
  <article>
    <h1>Our Advice</h1>
    <div class="cta-outer">
      <%= render :partial => 'pages/cta_short' %>
    </div>
    <p>
      Break the inertia!
      <br><br>
      It is difficult to begin getting your personal ducks in a row due to the perception of a daunting project, a perception which grows with every day of inaction. There is a fear of needing to complete your entire estate plan or risk management solution all at once.
      <br><br>
      The key is just to start, so start small. Simply storing a handful of documents and identifying the most important people to contact is 50% of the battle for most families.
      <br><br>
      Get the easy information into ZokuVault now, and chip away at the rest it over time. Before you know it, you will have the easily executable estate plan that you hoped for, and can sleep better at night.
    </p>
  </article>
</section>
