<section class="corporate-1">
  <article>
    <h1 class="hero-text">ZokuVault Enterprise Account</h1>
    <h5 class="hero-text">ZokuVault helps professionals and corporations differentiate themselves by increasing engagment with, and delivering value to, their clients and employees.</h5>
  </article>
</section>

<section class="generic security-2">
  <article>
    <%= image_tag "marketing/people.png", :class => "fr mt-20" %>

    <h1>The right tools for the job</h1>
    <p>ZokuVault provides professionals with easy-to-use tools that strengthen client engagement, increase revenue opportunities and reduce costs, and provides corporations with a gold-standard benefit to offer to their employees.  We are the ideal partner for:
      <ul>
        <li>Trust &amp; Estate Attorneys</li>
        <li>Financial Advisors</li>
        <li>Insurance Brokers</li>
        <li>Tax Accountants</li>
        <li>Real Estate Brokers</li>
        <li>Benefits Consultants </li>
        <li>Human Resources</li>
      </ul>
    <h1>Client Management</h1>
    <p>ZokuVault's administrative console helps professionals manage client accounts.  Whether offering ZokuVault to their clients, or working with clients who already use the platform, professionals can create accounts for your clients, manage their data and documents, and increase engagement and relationship strength.</p>

    <h1>Staff Management</h1>
    <p>With the Enterprise Edition, managers can easily facilitate efficient and effective delivery of service to the client.  Additionally, it allows for simple permission management, maintaining the security of client information.</p>

    <h1>Employee Benefits</h1>
    <p>Offer your employees a gold-standard benefit that provides them with the tools they need to store, share and organize their most important personal information.  With the Enterprise Edition, HR can eaasily manage the delivery of benefit, and your Employees will </p>
  </article>
</section>

<section class="generic-dark">
  <article>
    <div class="cta-outer">
    <%= render :partial => 'pages/cta_short' %>
  </div>
    <h1>"My clients love ZokuVault's easy-to-use features, and it has made our daily operations much more efficient."</h1>
    <p><i>~ Estate Planning Attorney</i></p>
  </article>
</section>

<section class="security-3">

  <article>
    <%= image_tag "marketing/safe.png", :class => "fl" %>
    <h1>Security</h1>
    <p>ZokuVault follows industry best practices regarding safety and security of our clients' data.  We perform regular audits, backups and updates to ensure that all data is secure and available, and have implemented several measures the confirm your or your clients' identity.  Learn more about our <a href="<%= security_path %>">Security Policies</a>.</p>
    <br>
    <h1>Privacy</h1>
    <p>The information is yours, and yours alone. We will not share it with, or sell it to, any third party without your express permission.  Please refer to our <a href="<%= terms_of_service_path %>">Terms of Service</a> and <a href="<%= privacy_policy_path %>"> Privacy Policy</a>.</p>
    <br>
    <h1>Monitoring</h1>
    <p>The ZokuVault team and its partners are actively receiving log data and monitoring for irregular activity, allowing for increased security and effective incident response.</p>
  </article>
</section>
