<h3 class="mt-20 mb-20 max-w-1000-centered">Transfer Files</h3>

<% transfer_files_info = [ { title: "Accountant", rows: ["Tax Documents", "Business Accounting", "", "", "" , ""] },
                           { title: "Financial Advisor", rows: ["Financial Statements", "Investment Statements", "", "", "" , ""] },
                           { title: "Estate Attorney", rows: ["Wills", "Trust Information", "", "", "" , ""] } ] %>

<%= render partial: "one_column_table_info_page", locals: { table_info_collection: transfer_files_info, title: "Transer Files", paragraph: "ZokuVault allows you to invite your family, advisors, attorneys and accountants to upload files directly into your vault." } %>

<h3 class="mt-20 mb-20 max-w-1000-centered">Consolidate My Documents & Information</h3>

<% consolidate_documents_info = [ { title: "Personal Info & Records", rows: ["Birth Certificate", "Driver's License", "Passport", "Social Security Number", "Employer Information", "Health Insurance Card"] },
                              { title: "Debts, Bills & Taxes", rows: ["Credit Cards", "Automotive Loans", "Mortgages", "Utilities", "Subscriptions & Memberships", "Cash Loans", "Taxes"] },
                              { title: "Assets", rows: ["Investments", "Checking & Savings Accounts", "Life Insurance Policies", "Real Estate", "Vehicle", "Valuable Goods"] },
                              { title: "Legal", rows: ["Living Wills", "Last Will & Testament", "Trusts", "Powers of Attorney", "Misc"] },
                              { title: "Logins & Passwords", rows: ["Online Accounts", "Email", "Software Licences", "Device Passcodes"] },
                              { title: "Final Wishes", rows: ["Burial Plans", "Letters to Family & Friends"] } ] %>

<%= render partial: "one_column_table_info_page", locals: { table_info_collection: consolidate_documents_info, title: "Consolidate My Documents & Information", paragraph: "We'll take you through this step-by-step, but generally speaking here are the typical documents you would consolidate for yourself and your family." } %>

<h3 class="mt-20 mb-20 max-w-1000-centered">Protect My Family's Legacy</h3>
<% protect_my_family_info = [ { title: "Personal Info & Records", rows: ["Birth Certificate", "Driver's License", "Passport", "Social Security Number", "Employer Information", "Health Insurance Card"] },
                              { title: "Debts, Bills & Taxes", rows: ["Credit Cards", "Automotive Loans", "Mortgages", "Utilities", "Subscriptions & Memberships", "Cash Loans", "Taxes"] },
                              { title: "Assets", rows: ["Investments", "Checking & Savings Accounts", "Life Insurance Policies", "Real Estate", "Vehicle", "Valuable Goods"] },
                              { title: "Legal", rows: ["Living Wills", "Last Will & Testament", "Trusts", "Powers of Attorney", "Misc"] },
                              { title: "Logins & Passwords", rows: ["Online Accounts", "Email", "Software Licences", "Device Passcodes"] },
                              { title: "Final Wishes", rows: ["Burial Plans", "Letters to Family & Friends"] } ] %>

<%= render partial: "one_column_table_info_page", locals: { table_info_collection: protect_my_family_info, title: "Protect My Family's Legacy", paragraph: "We'll take you through step-by-step, but generally speaking here is what your family would need should something happen to you." } %>

<h3 class="mt-20 mb-20 max-w-1000-centered">Let's get started!</h3>
<div class="card vault-info mb-30 text-center max-w-1000-centered">
  <h1 class="mb-20">Let's get started!</h1>

  <h4 class="mb-30 lh-35 max-w-1000 clr-gray-dark inline-block fw-500">What would you like to do first?</h4>

    <div class="max-w-800 m-0-auto mb-30 pl-15 pr-15">
      <section class="b-gray-med mb-30">
        <%= image_tag "SVG/shield-family.svg", :class => "w-75 inline-block mt-20"%>
        <h4 class="description lh-30 clr-gray-dark-tinted w-80-percent text-aligned fr mt-10"><span class="inline-block mb-10 fw-600">Protect My Family's Legacy</span><br>I want to make sure my family would have everything they need if something happened to me.</h4>
        <span class="clear mb-20"></span>
      </section>

     <section class="b-gray-med mb-30">
       <%= image_tag "SVG/consolidate.svg", :class => "w-120 inline-block mt-20"%>
       <h4 class="description lh-30 clr-gray-dark-tinted w-80-percent text-aligned fr mt-10"><span class="inline-block mb-10 fw-600">Consolidate My Documents & Information</span><br>I want to be able to access all of my documents and critical information whenever I need them.</h4>
       <span class="clear mb-20"></span>
     </section>


     <section class="b-gray-med mb-30">
       <%= image_tag "SVG/transfer.svg", :class => "w-100 inline-block mt-15"%>
       <h4 class="description lh-30 clr-gray-dark-tinted w-80-percent text-aligned fr mt-10"><span class="inline-block mb-10 fw-600">Transfer Files</span><br>I want to send request files from a trusted advisor, friend or family member.</h4>
       <span class="clear mb-20"></span>
     </section>

     <%= link_to 'Next', 'javascript:void(0);', class: 'button big-button-2 blue-button m-0-auto' %>
   </div>
</div>

<h3 class="mt-20 mb-20 max-w-1000-centered">Share Your Vault</h3>
<div class="card vault-info mb-30 text-center max-w-1000-centered">
  <h2 class="card-label fn clr-color-primary mb-30">
    <svg class="icon" viewBox="0 0 20 20">
      <use xlink:href="#icon-Safe"></use>
    </svg> Shared With
  </h2>

  <span class="mb-30 inline-block">ZokuVault lets you securely share your vault with family members and professional advisors.<br>
     Here are some examples of how people share with ZokuVault.
  </span>

   <div class="max-w-600 m-0-auto mb-30">
     <%= image_tag "marketing/lock.png", :class => "w-120 inline-block w-30-percent"%>
     <h4 class="description lh-30 clr-gray-dark-tinted w-70-percent fr mt-10">You can share your entire vault with your spouse/domestic partner.</h4>
     <span class="clear mb-30"></span>

     <%= image_tag "marketing/files.png", :class => "w-120 inline-block w-30-percent"%>
     <h4 class="description lh-30 clr-gray-dark-tinted w-70-percent fr mt-10">You can share documents with your estate planning attorney.</h4>
     <span class="clear mb-30"></span>

     <%= image_tag "marketing/rocket.png", :class => "w-120 inline-block w-30-percent"%>
     <h4 class="description lh-30 clr-gray-dark-tinted w-70-percent fr mt-10">You can share your kids insurance cards with your parents.</h4>
     <span class="clear mb-30"></span>
   </div>

  <section class="mt-30 bt-gray-light pt-20 mb-10 flex-button">
    <a class="big-button outline-button padded f-left">Back</a>
    <a class="big-button outline-button padded">Skip</a>
    <a class="button big-button blue-button f-right">Continue</a>
  </section>
</div>

<h3 class="mt-20 mb-20 max-w-1000-centered">Share Your Vault</h3>
<div class="card mb-30 text-center max-w-1000-centered">
  <h5 class="text-center clr-gray-dark-tinted fw-600 mt-15 mb-30">You added a spouce. Do you want to share your entire vault with them?</h5>
  <section class="max-w-600 inline-block">
    <%= image_tag "marketing/lock.png", :class => "w-120 mb-30" %><br>
    <p class="mb-30">You can share your entire vault with one other person. When you share with this user they will have full access to all of your documents, data and contacts. They are not required to pay any additional freed for this access.</p>
  </section>

  <div class="card shared-with shared-bottom-border b-radius-0 bl-none mb-30">
    <h3 class="card-label fn clr-color-primary mb-30">
      <svg class="icon" viewBox="0 0 20 20">
        <use xlink:href="#icon-Safe"></use>
      </svg>
      Vault Co-Owner
    </h3>
    <%= render partial: 'layouts/static_chosen_select', locals: { field_multiple: true, field_name: 'primary_shared_with', field_id: 'primary_shared_with_id' } %>
  </div>

  <span>When you share with Contact Name, ZokuVault will send a <%= link_to 'message', 'javascript:void(0);', class: 'no-underline-link' %> to let them know.</span>

  <section class="mt-30 bt-gray-light pt-20 mb-10 flex-button">
    <a class="big-button outline-button padded f-left">Back</a>
    <a class="big-button outline-button padded">Skip</a>
    <a class="button big-button blue-button f-right">Continue</a>
  </section>
</div>

<h3 class="mt-20 mb-20 max-w-430 m-0-auto">Email verification sent</h3>
<div class="card centered mb-30 max-w-430 text-center w-80-percent">
  <h5 class="text-center clr-gray-dark-tinted fw-600 mt-15 mb-30">Check your email.</h5>
  <%= image_tag "marketing/airplane.png", :class => "mb-30 w-50-percent" %>
  <p class="text-center mb-10">We sent you a link to verify your identity.</p>
</div>

<h3 class="mt-20 mb-20 max-w-1000-centered">Thanks for Being a Trial Member</h3>
<div class="card mb-30 max-w-1000-centered">
  <h3 class="mb-20">Thanks for Being a Trial Member</h3>
  <p class="mb-20">Please help us by answering a few questions.</p>

  <p>1. Why did you quit your account?</p>
  <ul class="check-list ml-15">
    <li class="check-list">
      <label>
        <input type="checkbox" name="checkbox" value="1" checked> <span></span> Too expensive
      </label>
    </li>
    <li class="check-list">
      <label>
        <input type="checkbox" name="checkbox" value="2"> <span></span> I didn't use the site
      </label>
    </li>
    <li class="check-list">
      <label>
        <input type="checkbox" name="checkbox" value="99"> <span></span> Features did not match my needs
      </label>
    </li>
  </ul>

  <p>2. Do you have feedback you would like to leave our team?</p>
  <%= text_area_tag 'feedback', nil, class: 'max-w-430 h-100' %>

  <section class="mt-20 bt-gray-light pt-20 mb-10 flex-button">
    <a class="big-button outline-button padded f-left">Back</a>
    <a class="big-button outline-button padded">Skip</a>
    <a class="button big-button blue-button f-right">Continue</a>
  </section>
</div>

<h3 class="mt-20 mb-20">Compare ZokuVault Products</h3>
<%= render partial: 'pages/product_comparison' %>

<h3 class="mt-20 mb-20 max-w-1000-centered">Trial Membership Ended</h3>
<div class="card mb-30 max-w-1000-centered">
  <div class="flex-boxes justify-center">
    <div class="flex-trial text-center">
      <%= image_tag "marketing/lock.png", :class => "mb-10 ml-15" %>
    </div>
    <div class="flex-trial text-center">
      <h5 class="text-center clr-gray-dark-tinted fw-600 mt-15 mb-30">Your trial membership has ended!</h5>
      <span class="text-center mb-30">You have started your journey to securing your life's important details.
      <% if account_data_any? %> You have stored: <% end %></span>

      <ul class="membership-stats text-center list-style-type-none">
        <% if (count = family_members_count) > 0 %>
          <li><%= count %> family members</li>
        <% end %>
        <% if (count = financial_properties_count) > 0 %>
          <li><%= count %> pieces of property</li>
        <% end %>
        <% if (count = insurance_vendors_count) > 0 %>
          <li><%= count %> insurance vendors</li>
        <% end %>
        <% if (count = documents_count) > 0 %>
          <li><%= count %> documents</li>
        <% end %>
      </ul>

      <div class="text-center flex-footer">
        <span class="mb-0"><%= link_to 'Continue Subscription', 'javascript:void(0);', class: 'button big-button blue-button mr-0' %></span>
        <span class="mb-30"><%= link_to 'No Thanks', 'javascript:void(0);', class: 'no-underline-link block' %></span>
      </div>
    </div>
  </div>
</div>

<h3 class="mt-20 mb-20 max-w-1000-centered">Set Up Your Vault</h3>
<div class="card mb-30 max-w-1000-centered">
  <h1 class="mb-20">Password Strength</h1>
  <label>Password</label>
  <input type="text">
  <div class="password-validation">
    <span class="conditions-met">
      <svg class="icon mr-10">
        <use xlink:href="#icon-checkmark-1"></use>
      </svg>Has 10 or more characters
    </span><br>
    <span class="conditions-fail">
      <svg class="icon mr-10">
        <use xlink:href="#icon-x-1"></use>
      </svg>Use upper and lower case letters (e.g. Aa)
    </span><br>
    <span class="conditions-fail">
      <svg class="icon mr-10">
        <use xlink:href="#icon-x-1"></use>
      </svg>Use a number (e.g. 1234)
    </span><br>
    <span class="conditions-fail">
      <svg class="icon mr-10">
        <use xlink:href="#icon-x-1"></use>
      </svg>Use a symbol (e.g. !@#$)
    </span>
</div>
  <%= render :partial => 'pages/tutorial_buttons' %>
</div>

<h3 class="mt-20 mb-20 max-w-1000-centered">Checkbox Icon Template</h3>
<div class="card mb-30 max-w-1000-centered">
  <h5 class="tut-top-label mt-10 mb-30">Tell us about yourself so we can help you set up your vault.</h5>

    <ul class="tut-button-wrapper mb-30">
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="1" >
          <span>
            <%= image_tag "marketing/cloud-2.png", :class => "" %><br>
            Someone shared ZokuVault with Me.
          </span>
        </label>
      </li>
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="2">
          <span>
            <%= image_tag "marketing/safe-2.png", :class => "" %><br>
            I am interested in setting up my own ZokuVault.
          </span>
        </label>
      </li>
  </div>

<div class="card mt-50 terms-card">
  <h5 class="tut-top-label mt-10 mb-20">Terms of Service</h5>
    <div class="show-terms">
      <%= render :partial => 'pages/terms_of_service' %>
    </div>
    <ul class="check-list mt-30 mb-30">
      <li class="check-list text-center">
        <label>
          <%= check_box_tag 'user[user_profile_attributes][signed_terms_of_service]',
            1,
            false,
            onclick: "toggleNextOnTos(); return true;"
            %> <span class="fn "></span>I agree to the Terms of Service
        </label>
      </li>
    </ul>
    <a class="button blue-button huge-button mb-20 mt-20">Continue</a>

    <p class="mt-20 mb-0 text-center"><a>Cancel</a></p>
</div>


<h3 class="mt-20 mb-20 max-w-1000-centered">Set Up Your Vault</h3>

<div class="card mb-30 max-w-1000-centered">
  <h1 class="mb-20">Template Title</h1>
  <label>Form Label</label>
  <input type="text">
  <%= render :partial => 'pages/tutorial_buttons' %>
</div>

<h3 class="mt-20 mb-20 max-w-1000-centered">Checkbox Icon Template</h3>
<div class="card mb-30 max-w-1000-centered">
  <h5 class="tut-top-label mt-10 mb-30">Tell us about yourself so we can help you set up your vault.</h5>

    <ul class="tut-button-wrapper">
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="1" checked>
          <span>
            <svg class="tuts-icon">
              <use xlink:href="#icon-activity-monitor-1"></use>
            </svg><br>
            I have insurance.
          </span>
        </label>
      </li>
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="2">
          <span>
            <svg class="tuts-icon">
              <use xlink:href="#icon-activity-monitor-1"></use>
            </svg><br>
            I have a tax accountant.
          </span>
        </label>
      </li>
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="99">
          <span>
            <svg class="tuts-icon">
              <use xlink:href="#icon-activity-monitor-1"></use>
            </svg><br>
            I have financial accounts.</span>
        </label>
      </li>
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="1" checked>
          <span>
            <svg class="tuts-icon">
              <use xlink:href="#icon-activity-monitor-1"></use>
            </svg><br>
            I have insurance.
          </span>
        </label>
      </li>
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="2">
          <span>
            <svg class="tuts-icon">
              <use xlink:href="#icon-activity-monitor-1"></use>
            </svg><br>
            I have a tax accountant.
          </span>
        </label>
      </li>
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="99">
          <span>
            <svg class="tuts-icon">
              <use xlink:href="#icon-activity-monitor-1"></use>
            </svg><br>
            I have financial accounts.</span>
        </label>
      </li>
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="2">
          <span>
            <svg class="tuts-icon">
              <use xlink:href="#icon-activity-monitor-1"></use>
            </svg><br>
            I have a tax accountant.
          </span>
        </label>
      </li>
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="99">
          <span>
            <svg class="tuts-icon">
              <use xlink:href="#icon-activity-monitor-1"></use>
            </svg><br>
            I have financial accounts.</span>
        </label>
      </li>
    </ul>

    <%= render :partial => 'pages/tutorial_buttons' %>
</div>

<h3 class="mt-20 mb-20 max-w-1000-centered">Add Another</h3>
<div class="card mb-30 max-w-1000-centered">
    <h1 class="mb-20">Template Title</h1>
    <p>Here is some paragraph text explaining something about how this is suppose to work.</p>


    <label>Form Label</label>
    <div class="input-pair">
      <input type="text" class="inline-input"><a class="medium-button outline-button inline-button">Remove</a>
    </div>
    <div class="input-pair">
      <input type="text" class="inline-input"><a class="medium-button outline-button inline-button">Remove</a>
    </div>
    <div class="input-pair">
      <input type="text" class="inline-input"><a class="medium-button button primary-button inline-button">Add Another</a>
    </div>

  <%= render :partial => 'pages/tutorial_buttons' %>
</div>

<% @contact = Contact.new %>
<%= render partial: 'contacts/ajax_form' %>
<script>
  $('.chosen-select').chosen({allow_single_deselect: true});
</script>
