<h3 class="mt-20 mb-20">Setup Your Vault</h3>

<div class="card mb-30">
  <h1 class="mb-20">Password Strength</h1>
  <label>Password</label>
  <input type="text">
  <div class="password-validation">
    <span class="conditions-met">
      <svg class="icon mr-10">
        <use xlink:href="#icon-checkmark-1"></use>
      </svg>Has 10 or more characters
    </span><br>
    <span class="conditions-fail">
      <svg class="icon mr-10">
        <use xlink:href="#icon-x-1"></use>
      </svg>Use upper and lower case letters (e.g. Aa)
    </span><br>
    <span class="conditions-fail">
      <svg class="icon mr-10">
        <use xlink:href="#icon-x-1"></use>
      </svg>Use a number (e.g. 1234)
    </span><br>
    <span class="conditions-fail">
      <svg class="icon mr-10">
        <use xlink:href="#icon-x-1"></use>
      </svg>Use a symbol (e.g. !@#$)
    </span>
</div>
  <%= render :partial => 'pages/tutorial_buttons' %>
</div>

<h3 class="mt-20 mb-20">Setup Your Vault</h3>

<div class="card mb-30">
  <h1 class="mb-20">Template Title</h1>
  <label>Form Label</label>
  <input type="text">
  <%= render :partial => 'pages/tutorial_buttons' %>
</div>


<h3 class="mt-20 mb-20">Checkbox Icon Template</h3>
<div class="card mb-30">
  <h5 class="tut-top-label mt-10 mb-30">Tell us about yourself so we can help you set up your vault.</h5>

    <ul class="tut-button-wrapper">
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="1" checked>
          <span>
            <svg class="tuts-icon">
              <use xlink:href="#icon-activity-monitor-1"></use>
            </svg><br>
            I have insurance.
          </span>
        </label>
      </li>
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="2">
          <span>
            <svg class="tuts-icon">
              <use xlink:href="#icon-activity-monitor-1"></use>
            </svg><br>
            I have a tax accountant.
          </span>
        </label>
      </li>
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="99">
          <span>
            <svg class="tuts-icon">
              <use xlink:href="#icon-activity-monitor-1"></use>
            </svg><br>
            I have financial accounts.</span>
        </label>
      </li>
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="1" checked>
          <span>
            <svg class="tuts-icon">
              <use xlink:href="#icon-activity-monitor-1"></use>
            </svg><br>
            I have insurance.
          </span>
        </label>
      </li>
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="2">
          <span>
            <svg class="tuts-icon">
              <use xlink:href="#icon-activity-monitor-1"></use>
            </svg><br>
            I have a tax accountant.
          </span>
        </label>
      </li>
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="99">
          <span>
            <svg class="tuts-icon">
              <use xlink:href="#icon-activity-monitor-1"></use>
            </svg><br>
            I have financial accounts.</span>
        </label>
      </li>
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="2">
          <span>
            <svg class="tuts-icon">
              <use xlink:href="#icon-activity-monitor-1"></use>
            </svg><br>
            I have a tax accountant.
          </span>
        </label>
      </li>
      <li class="icon-box">
        <label>
          <input type="checkbox" name="checkbox" value="99">
          <span>
            <svg class="tuts-icon">
              <use xlink:href="#icon-activity-monitor-1"></use>
            </svg><br>
            I have financial accounts.</span>
        </label>
      </li>
    </ul>

    <%= render :partial => 'pages/tutorial_buttons' %>
</div>


<h3 class="mt-20 mb-20">Add Another</h3>
<div class="card mb-30">
    <h1 class="mb-20">Template Title</h1>
    <p>Here is some paragraph text explaining something about how this is suppose to work.</p>


    <label>Form Label</label>
    <div class="input-pair">
      <input type="text" class="inline-input"><a class="medium-button outline-button inline-button">Remove</a>
    </div>
    <div class="input-pair">
      <input type="text" class="inline-input"><a class="medium-button outline-button inline-button">Remove</a>
    </div>
    <div class="input-pair">
      <input type="text" class="inline-input"><a class="medium-button button primary-button inline-button">Add Another</a>
    </div>

  <%= render :partial => 'pages/tutorial_buttons' %>
</div>

<h3 class="mt-20 mb-20">Add Another</h3>
<div class="card mb-30">
    <h1 class="mb-20">Template Title</h1>
    <p>Here is some paragraph text explaining something about how this is suppose to work.</p>


    <label>Form Label</label>
    <div class="input-pair">
      <input type="text" class="inline-input"><a class="medium-button outline-button inline-button">Remove</a>
    </div>
    <div class="input-pair">
      <input type="text" class="inline-input"><a class="medium-button outline-button inline-button">Remove</a>
    </div>
    <div class="input-pair">
      <input type="text" class="inline-input"><a class="medium-button button primary-button inline-button">Add Another</a>
    </div>

  <%= render :partial => 'pages/tutorial_buttons' %>
</div>
