<section class="hero-01a">
  <article>
    <h1 class="hero-text">Secure storage, sharing and planning for families.</h1>
    <h4 class="hero-text">ZokuVault helps families plan, organize and share the important details of their lives.</h4>
    <br>
    <%= link_to 'Sign Up', mailing_list_page_path, class: "button primary-button call-to-action" %>
  </article>
</section>

<section class="security">
  <article>
    <%= image_tag "marketing/security.svg", :class => "fl" %>
    <h3 class="security-text">Nothing is more important than security.
      <br>Security. Security. Security.
      <br>Learn how we keep your data safe.</h3>
      <br>
      <%= link_to 'Learn More', security_path, class: "button primary-button call-to-action" %>
  </article>
</section>

<section class="hero-05">
  <article>
    <h1 class="hero-text">Your virtual safety deposit box and estate planning portal.</h1>
    <h4 class="hero-text">We help store your documents, relationships and digital assets safely and securely.</h4>
    <br>
    <%= link_to 'Sign Up', mailing_list_page_path, class: "button primary-button call-to-action" %>
  </article>
</section>

<section class="logo-bg">

  <div class="wrapper">
    <article>
      <h3 class="hero-text">
        Ensure your important accounts, documents and contacts are readily available when you need them most.
      </h3>
    </article>
  </div>
  <div class="wrapper flex-boxes">
    <article class="flex-marketing">
      <svg class="icon home-icon">
        <use xlink:href="#icon-cloud-1"></use>
      </svg>
      <h1 class="hero-text">Accounts</h1>
    </article>
    <article class="flex-marketing">
      <svg class="icon home-icon">
        <use xlink:href="#icon-document-3"></use>
      </svg>
      <h1 class="hero-text">Documents</h1>
    </article>
    <article class="flex-marketing">
      <svg class="icon home-icon">
        <use xlink:href="#icon-user-1"></use>
      </svg>
      <h1 class="hero-text">Contacts</h1>
    </article>
  </div>
  <br>
  <%= link_to 'Learn More', setup_path, class: "button primary-button call-to-action" %>
</section>

<section class="hero-02">
  <article>
    <h1 class="hero-text">Your critical information is in too many places.</h1>
    <h4 class="hero-text">ZokuVault helps families find what they need, when they need it.</h4>
    <br>
    <%= link_to 'Sign Up', mailing_list_page_path, class: "button primary-button call-to-action" %>
  </article>
</section>

<section class="three-up">
  <h1>Let ZokuVault help you organize your key details and finances.</h1>
  <div class="wrapper flex-boxes mt-100">
    <article class="flex-marketing">
      <%= image_tag "marketing/safe.png", :class => "" %>
      <h1>Safety & Security</h1>
      <h5>Bank-level security, encrypted and backed up.</h5>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/rocket.png", :class => "" %>
      <h1>Convenience</h1>
      <h5>Access your personal and estate information when you need it.</h5>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/umbrella.png", :class => "" %>
      <h1>Peace of Mind</h1>
      <h5>Be prepared for life’s toughest moments.</h5>
    </article>
  </div>
  <div class="wrapper flex-boxes">
    <article class="flex-marketing">
      <%= image_tag "marketing/files.png", :class => "" %>
      <h1>File Management</h1>
      <h5>A central portal for life's most important information.</h5>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/cloud.png", :class => "" %>
      <h1>Availability</h1>
      <h5>What you need, when you need it.</h5>
    </article>
    <article class="flex-marketing">
      <%= image_tag "marketing/people.png", :class => "" %>
      <h1 class="nowrap">Managed Sharing</h1>
      <h5>Share critical details with trusted relationships.</h5>
    </article>
  </div>
</section>

<section class="hero-03">
  <article>
    <h1 class="hero-text-dark">Do you know where your critical information is in an emergency?
                               <br>Does anyone else?</h1>
    <h4 class="hero-text-dark">Zoku helps families plan, organize and share the important details of their lives.</h4>
    <br>
    <%= link_to 'Learn More', about_path, class: "button primary-button call-to-action" %>
  </article>
</section>

<section class="screen-text">
  <article>
    <h1>ZokuVault software is easy to use.</h1>
    <h4>It only takes a few minutes to organize your life’s key details.</h4>
    <br>
    <%= link_to 'Sign Up', mailing_list_page_path, class: "button primary-button call-to-action" %>
  </article>
</section>

<section class="hero-04">

</section>
