<div class="pt-60">
  <div class="flex-boxes justify-center percent-100 pl-15 pr-15 mb-30">
    <div class="flex-account-setup b-gray-light">
      <section class="ps-relative mb-25 m-0-auto w-250">
        <%= image_tag "marketing/cloud.png", :class => "" %>
        <h4 class="ml-15 bold inline-block">Shared Plan</h4>
      </section>
      <div class="text-center mb-15">
        <%= link_to 'Get Started', sign_up_path, class: 'button big-button primary-button' %>
        <p class="mt-30 pr-10 max-w-100-percent"><b>Free</b></p>
        <p class="max-w-100-percent h-70">If someone has shared information with you, sign up to view with a free account.</p>
      </div>

      <p class="bold">Features</p>
      <ul>
        <li>View all documents and data shared with you</li>
        <li>View information from multiple users</li>
        <li>Two-Factor Authentication</li>
        <li>Data encrypted in transit and at rest</li>
        <li>Access to information from anywhere on any device</li>
      </ul>
    </div>
    <div class="flex-account-setup recommended-setup">
      <section class="ps-relative mb-25 m-0-auto w-200">
        <%= image_tag "marketing/safe.png", :class => "" %>
        <h4 class="ml-15 bold inline-block">Full Vault</h4>
      </section>
      <div class="text-center mb-15">
        <%= link_to 'Start Free Trial', sign_up_path, class: 'button big-button primary-button' %></br>
        <p class="mt-30 max-w-100-percent"><b>$9.99/month</b></p>
        <p class="max-w-100-percent h-70">Organize, store and share your most important information.</p>
      </div>

      <p class="bold">Features</p>
      <ul>
        <li>Everything in the Shared Plan</li>
        <li>Store unlimited documents</li>
        <li>Store unlimited contacts</li>
        <li>Share any and all of your information</li>
        <li>Financial Aggregation</li>
        <li>Two-Factor Authentication</li>
        <li>256 & 128 bit encryption of data</li>
      </ul>
    </div>
    <div class="flex-account-setup b-gray-light">
      <section class="ps-relative mb-25 m-0-auto max-w-300">
        <%= image_tag "marketing/files.png", :class => "" %>
        <h4 class="ml-15 bold inline-block">Corporate Account</h4>
      </section>

      <div class="text-center mb-15">
        <%= link_to 'Contact Us', contact_us_path, class: 'button big-button primary-button' %>
        <p class="mt-30 max-w-100-percent"><b>Contact Us For Pricing</b></p>
        <p class="max-w-100-percent h-70">Offer ZokuVault to your clients or employees.</p>
      </div>

      <p class="bold">Features</p>
      <ul>
        <li>Corporate Dashboard</li>
        <li>Client administration</li>
        <li>Team management</li>
      </ul>
    </div>
  </div>
</div>
