<section class="security-1">
  <article>
    <h1 class="hero-text">Security First.</h1>
    <h5 class="hero-text">ZokuVault helps families plan, organize and share the important details of their lives.</h5>
  </article>
</section>

<section class="generic security-2">
  <article>
    <%= image_tag "marketing/lock.png", :class => "fr mt-20" %>

    <h1>Access Controls</h1>
    <p>We make sure it's you! ZokuVault combines industry-leading, complex password requirements, multi-factor authentication, security question protocols and email verification to ensure that you and only you, can access your account.</p>

    <h1>Encryption</h1>
    <p>Your data is encrypted using 256-bit Advanced Encryption Standard (AES-256), both on the way to and from your Vault as well as when stored in your Vault.</p>

    <h1>Control Who Sees What, and When</h1>
    <p>Only you control who has access to your information. Any user to whom you grant access will follow our standard secure access requirements. We do not have access to your information, period.</p>
  </article>
</section>

<section class="generic-dark">
  <article>
    <h1>Secure Sharing</h1>
    <div class="cta-outer">
    <%= render :partial => 'pages/cta_short' %>
  </div>
    <p>Share your Vault strategically. Once you have information loaded into your Vault, share it securely with those who need to know.</p>
      <ul>
        <li>Family</li>
        <li>Estate Planning Attorney</li>
        <li>Accountant</li>
        <li>Financial Advisor</li>
        <li>Insurance Broker</li>
      </ul>
      <p>We are confident that you have done a great job creating a plan and you can be confident in our ability to keep your data safe.</p>
  </article>
</section>

<section class="security-cta">
  <article>
    <h1 class="hero-text-dark">Your virtual safety deposit box and estate planning portal.</h1>
    <h5 class="hero-text-dark">We help store your digital assets safely and securely.</h5>
    <button class="primary-button call-to-action">Sign Up</button>
  </article>
</section>

<section class="security-3">


  <article>
    <%= image_tag "marketing/safe.png", :class => "fl" %>
    <h1>Privacy</h1>
    <p>Your information is yours, and yours alone. We will not share it with, or sell it to, any third party without your express permission. Please refer to our <a href="<%= terms_of_service_path %>">Terms of Service</a> and <a href="<%= privacy_policy_path %>"> Privacy Policy</a>.</p>
    <br>
    <h1>Monitoring</h1>
    <p>The ZokuVault team and its partners, are actively receiving log data and monitoring for irregular activity, allowing for increased security and more effective incident response.</p>
  </article>
</section>
