<%= form_for(@user_profile, url: user_profile_path, html: {novalidate: true}) do |f| %>

  <% if @user_profile.errors.any? %>
    <% errors = true %>
  <% end %>

  <div class="card mb-30">
    <h3 class="card-label">Personal Information</h3>

    <%= f.label :first_name, 'First Name' %>
    <p><%= f.text_field :first_name, :maxlength => get_max_length(:default) %></p>

    <%= f.label :middle_name, 'Middle Name (optional)' %>
    <p><%= f.text_field :middle_name, :maxlength => get_max_length(:default) %></p>

    <%= f.label :last_name, 'Last Name' %>
    <p><%= f.text_field :last_name, :maxlength => get_max_length(:default) %></p>

    <%= f.label :email, 'Email Address' %>
    <% if errors && @user_profile.errors.messages[:email] %>
      <span class="error-label"> - <%= @user_profile.errors.messages[:email].first %></span>
    <% end %>
    <p><%= f.email_field :email, { class: ("input-error" if @user_profile.errors.messages[:email].present?), :maxlength => get_max_length(:default) } %></p>
    
    <%= f.label :phone_number_mobile, 'Cell Phone Number' %>
    <p><%= f.text_field :phone_number_mobile, class: "form-control phone-number", :data => {:mask => '999-999-9999'} %></p>

    <%= f.label :phone_number, 'Home Phone Number' %>
    <p><%= f.text_field :phone_number, class: "form-control phone-number", :data => {:mask => '999-999-9999'} %></p>

    <%= f.label :date_of_birth, 'Birthdate (mm/dd/yyyy)' %>
    <% if errors && @user_profile.errors.messages[:'Date of Birth'] %>
      <span class="error-label"> - <%= date_of_birth_error_safe(@user_profile) %></span>
    <% end %>
    <p>
      <%= render partial: 'layouts/date_picker', locals: { birth_value: f.object.date_of_birth, error_condition: @user_profile.errors.messages[:'Date of Birth'].present?, f: f, object: :date_of_birth} %>
    </p>


    <%= f.label :street_address_1, 'Street Address' %>
    <p><%= f.text_field :street_address_1, :maxlength => get_max_length(:default) %></p>

    <%= f.label :city %>
    <p><%= f.text_field :city, :maxlength => get_max_length(:default) %></p>

    <span class="state-input">
      <%= f.label :state %>
      <div class="styled-select">
        <%= f.select :state, options_for_select(us_states, f.object.state), :include_blank => "Select..." %>
      </div>
    </span>
    <span class="zip-input">
      <%= f.label :zip, 'Zip Code' %>
      <%= zip_code_form(f, :zip) %>
    </span>

    <%= f.label :notes %>
    <p><%= f.text_area :notes, :maxlength => get_max_length(:notes)  %></p>
  </div>

<!--
<div class="card mb-30 shared-card">
  <h3 class="card-label">
    <svg class="icon" viewBox="0 0 20 20">
      <use xlink:href="#icon-Safe"></use>
    </svg>
    Primary Shared With
  </h3>
  <p class="shared-description">The contact(s) selected for ‘Primary Shared With has full read and write access to this ZokuVault account and all of its details.    </p>
    <label>Primary Shared With</label>
    <div class="chosen-styled-select">
      <%= f.collection_select :share_ids, 
        @contacts_shareable, :id, :name, {}, 
        { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: true }
      %>
  </div>
</div>
-->

  <%= f.fields_for :employers do |ff| %>
    <div class="card mb-30">
      <h3 class="card-label">Employer Information</h3>

      <%= ff.label :name, 'Business Name' %>
      <p><%= ff.text_field :name, :maxlength => get_max_length(:default) %></p>

      <%= ff.label :web_address, 'Business Web Address' %>
      <p><%= ff.text_field :web_address, type: "url", onblur: "checkURL(this)", onsubmit: "checkURL(this)", :maxlength => get_max_length(:web) %></p>

      <%= ff.label :street_address_1, 'Street Address' %>
      <p><%= ff.text_field :street_address_1, :maxlength => get_max_length(:default) %></p>

      <%= ff.label :city %>
      <p><%= ff.text_field :city, :maxlength => get_max_length(:default) %></p>

      <span class="state-input">
        <%= ff.label :state %>
        <div class="styled-select">
          <%= ff.select :state, options_for_select(us_states, ff.object.state), :include_blank => "Select..." %>
        </div>
      </span>
      <span class="zip-input">
        <%= ff.label :zip, 'Zip Code' %>
        <%= zip_code_form(ff, :zip) %>
      </span>

      <%= ff.label :phone_number_office, 'Business Phone Number' %>
      <p><%= ff.text_field :phone_number_office, class: "form-control", :data => {:mask => '999-999-9999'} %></p>

      <%= ff.label :phone_number_fax, 'Business Fax Number' %>
      <p><%= ff.text_field :phone_number_fax, class: "form-control", :data => {:mask => '999-999-9999'} %></p>

    </div>
  <% end %>

  <%= f.submit "Save", class: "button primary-button big-button" %>
  <%= link_to 'Cancel', user_profile_path, {class: "button secondary-button big-button"}%>
<% end %>
<script>$('.chosen-select').chosen();</script>
