<%= form_for(@user_profile, url: user_profile_path) do |f| %>

  <% if @user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_profile.errors.count, "error") %> prohibited this from being saved:</h2>

      <ul>
        <% @user_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="my-profile-content-card mb-30">
  <div class="field">
    <h2 class="personal-form-title">Personal Information</h2>
    <label>First Name</label>
    <div class="styled-text-input">
      <p><%= f.text_field :first_name %></p>
    </div>
  </div>
  <div class="field">
    <label>Middle Name (optional)</label>
    <div class="styled-text-input">
      <p><%= f.text_field :middle_name %></p>
    </div>
  </div>
  <div class="field">
    <label>Last Name</label>
    <div class="styled-text-input">
      <p><%= f.text_field :last_name %></p>
    </div>
  </div>
  <div class="field">
    <label>Email Address</label>
    <div class="styled-text-input">
      <p><%= f.text_field :email %></p>
    </div>
  </div>
  <div class="field">
    <label>Cell Phone Number</label>
    <div class="styled-text-input phone-number">
      <p><%= f.text_field :phone_number_mobile, class: "form-control phone-number", :data => {:mask => '999-999-9999'} %></p>
    </div>
  </div>
  <div class="field">
    <label>Home Phone Number</label>
    <div class="styled-text-input phone-number">
      <p><%= f.text_field :phone_number, class: "form-control", :data => {:mask => '999-999-9999'} %></p>
    </div>
  </div>
  <div class="field">
    <label>Birthdate (mm/dd/yyyy)</label>
    <div class="styled-text-input birthday-field">
      <p><%= f.date_field :date_of_birth %></p>
    </div>
  </div>
  <div class="field">
    <label>Street Address</label>
    <div class="styled-text-input">
      <p><%= f.text_field :street_address_1 %></p>
    </div>
  </div>
  <div class="field">
    <label>City</label>
    <div class="styled-text-input">
      <p><%= f.text_field :city %></p>
    </div>
  </div>
  <div class="field address-field">
    <div class="zipcode-field">
      <label>Zip Code </label>
      <div class="zipcode-text styled-input-text">
        <div class="zipcode">
          <p><%= f.text_field :zip %></p>
        </div>
      </div>
    </div>
    <div class="state-select">
      <label>State </label>
      <div class="styled-select state">
        <p><%= f.select :state, options_for_select(us_states, f.object.state), :include_blank => "Select..."  %></p>
      </div>
    </div>
  </div>
  <div class="field notes-field bottom-field">
    <label>Notes</label>
    <p><%= f.text_area :notes  %></p>
</div>

<div class="card mb-30 shared-card">
  <h3 class="card-label">
    <svg class="icon" viewBox="0 0 20 20">
      <use xlink:href="#icon-Safe"></use>
    </svg>
    Primary Shared With
  </h3>
  <p class="shared-description">The contact(s) selected for ‘Primary Shared With has full read and write access to this ZokuVault account and all of its details.    </p>
    <label>Primary Shared With</label>
    <div class="chosen-styled-select">
      <%= f.collection_select :share_ids, 
        @contacts_shareable, :id, :name, {}, 
        { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: true }
      %>
  </div>
</div>


<!--
<div class="card mb-30 shared-card">
  <h3 class="card-label">
    <svg class="icon" viewBox="0 0 20 20">
      <use xlink:href="#icon-Safe"></use>
    </svg>
    Primary Shared With
  </h3>
  <p class="shared-description">The contact(s) selected for ‘Primary Shared With has full read and write access to this ZokuVault account and all of its details.    </p>
    <label>Primary Shared With</label>
    <div class="chosen-styled-select">
      <%= f.collection_select :share_ids, 
        @contacts_shareable, :id, :name, {}, 
        { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: true }
      %>
  </div>
</div>
-->


<!--
<div class="card mb-30 shared-card">
  <h3 class="card-label">
    <svg class="icon" viewBox="0 0 20 20">
      <use xlink:href="#icon-Safe"></use>
    </svg>
    Primary Shared With
  </h3>
  <p class="shared-description">The contact(s) selected for ‘Primary Shared With has full read and write access to this ZokuVault account and all of its details.    </p>
    <label>Primary Shared With</label>
    <div class="chosen-styled-select">
      <%= f.collection_select :share_ids, 
        @contacts_shareable, :id, :name, {}, 
        { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: true }
      %>
  </div>
</div>
-->


<!--
<div class="card mb-30 shared-card">
  <h3 class="card-label">
    <svg class="icon" viewBox="0 0 20 20">
      <use xlink:href="#icon-Safe"></use>
    </svg>
    Primary Shared With
  </h3>
  <p class="shared-description">The contact(s) selected for ‘Primary Shared With has full read and write access to this ZokuVault account and all of its details.    </p>
    <label>Primary Shared With</label>
    <div class="chosen-styled-select">
      <%= f.collection_select :share_ids, 
        @contacts_shareable, :id, :name, {}, 
        { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: true }
      %>
  </div>
</div>
-->


<!--
<div class="card mb-30 shared-card">
  <h3 class="card-label">
    <svg class="icon" viewBox="0 0 20 20">
      <use xlink:href="#icon-Safe"></use>
    </svg>
    Primary Shared With
  </h3>
  <p class="shared-description">The contact(s) selected for ‘Primary Shared With has full read and write access to this ZokuVault account and all of its details.    </p>
    <label>Primary Shared With</label>
    <div class="chosen-styled-select">
      <%= f.collection_select :share_ids, 
        @contacts_shareable, :id, :name, {}, 
        { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: true }
      %>
  </div>
</div>
-->

<%= f.fields_for :employers do |ff| %>
  <div class="my-profile-content-card mb-30">
    <div class="field">
      <h2 class="employer-form-title">Employer Information</h2>
      <label>Business Name</label>
      <div class="styled-text-input">
        <p><%= ff.text_field :name %></p>
      </div>
    </div>
    <div class="field">
      <label>Business Web Address</label>
      <div class="styled-text-input input-prefix-web">
        <p><%= ff.text_field :web_address %></p>
      </div>
    </div>
    <div class="field">
      <label>Street Address</label>
      <div class="styled-text-input">
        <p><%= ff.text_field :street_address_1 %></p>
      </div>
    </div>
    <div class="field">
      <label>City</label>
      <div class="styled-text-input">
        <p><%= ff.text_field :city %></p>
      </div>
    </div>
    <div class="field address-field">
      <div class="zipcode-field">
        <label>Zip Code </label>
        <div class="zipcode-text styled-input-text">
          <div class="zipcode">
            <p><%= ff.text_field :zip %></p>
          </div>
        </div>
      </div>
      <div class="state-select">
        <label>State </label>
        <div class="styled-select state">
          <p><%= ff.select :state, options_for_select(us_states, ff.object.state), :include_blank => "Select..."  %></p>
        </div>
      </div>
    </div>
    <div class="field bottom-field">
      <label>Business Phone Number</label>
      <div class="styled-text-input">
        <p><%= ff.text_field :phone_number_office, class: "form-control", :data => {:mask => '999-999-9999'} %></p>
      </div>
    </div>
    <div class="field">
      <label>Business Fax Number</label>
      <div class="styled-text-input">
        <p><%= ff.text_field :phone_number_fax, class: "form-control", :data => {:mask => '999-999-9999'} %></p>
      </div>
    </div>
  </div>
<% end %>

  <%= f.submit "Save", class: "button primary-button big-button" %>
  <%= link_to 'Cancel', user_profile_path, {class: "button secondary-button big-button"}%>
<% end %>
<script>$('.chosen-select').chosen();</script>
