<%= form_for(@user_profile, url: user_profile_path(@user_profile), html: {novalidate: true}) do |f| %>

  <% if @user_profile.errors.any? %>
    <% errors = true %>
  <% end %>

  <div class="card mb-30">
    <h3 class="card-label">Personal Information</h3>

    <%= f.label :first_name, 'First Name' %>
    <% if errors && @user_profile.errors.messages[:first_name].first %>
      <span class="error-label"> - <%= @user_profile.errors.messages[:first_name].first %></span>
    <% end %>
    <p><%= f.text_field :first_name, { class: ("input-error" if @user_profile.errors.messages[:first_name].present?), :maxlength => get_max_length(:default) } %></p>

    <%= f.label :middle_name, 'Middle Name (optional)' %>
    <p><%= f.text_field :middle_name, :maxlength => get_max_length(:default) %></p>

    <%= f.label :last_name, 'Last Name' %>
    <% if errors && @user_profile.errors.messages[:last_name].first %>
      <span class="error-label"> - <%= @user_profile.errors.messages[:last_name].first %></span>
    <% end %>
    <p><%= f.text_field :last_name, { class: ("input-error" if @user_profile.errors.messages[:last_name].present?), :maxlength => get_max_length(:default) } %></p>

    <%= f.label :email, 'Email Address' %>
    <p><%= f.email_field :email, :maxlength => get_max_length(:default) %></p>

    <%= f.label :phone_number_mobile, 'Cell Phone Number' %>

    <p><%= render partial: 'layouts/phone_number', locals: { f: f, phone: :phone_number_mobile, phone_additional_classes: 'phone-number' } %></p>

    <%= f.label :phone_number, 'Home Phone Number' %>
    <p><%= render partial: 'layouts/phone_number', locals: { f: f, phone: :phone_number, phone_additional_classes: 'phone-number' } %></p>

    <%= f.label :date_of_birth, 'Birthdate (mm/dd/yyyy)' %>
    <% if errors && @user_profile.errors.messages[:'Date of Birth'] %>
      <span class="error-label"> - <%= date_of_birth_error_safe(@user_profile) %></span>
    <% end %>
    <p>
      <%= render partial: 'layouts/date_picker', locals: { birth_value: f.object.date_of_birth, error_condition: @user_profile.errors.messages[:'Date of Birth'].present?, f: f, object: :date_of_birth} %>
    </p>


    <%= f.label :street_address_1, 'Street Address' %>
    <p><%= f.text_field :street_address_1, :maxlength => get_max_length(:default) %></p>

    <%= f.label :city %>
    <p><%= f.text_field :city, :maxlength => get_max_length(:default) %></p>

    <span class="state-input">
      <%= f.label :state %>
      <div class="styled-select">
        <%= f.select :state, options_for_select(us_states, f.object.state), :include_blank => "Select..." %>
      </div>
    </span>
    <span class="zip-input">
      <%= f.label :zip, 'Zip Code' %>
      <%= render partial: 'layouts/zip_code', locals: { f: f, zip: :zip } %>
    </span>

    <%= f.label :notes %>
    <p><%= f.text_area :notes, :maxlength => get_max_length(:notes)  %></p>

    <%= f.label :photo_url, 'Avatar' %><br>
    <%= render :partial => "avatar_upload" %>

    <%= f.text_field :photourl, id: "photo_url_account", style: "display: none;" %>
  </div>

  <%= f.fields_for :employers do |ff| %>
    <div class="card mb-30">
      <h3 class="card-label">Employer Information</h3>

      <%= ff.label :name, 'Business Name' %>
      <p><%= ff.text_field :name, :maxlength => get_max_length(:default) %></p>

      <%= ff.label :web_address, 'Business Web Address' %>
      <% if errors && @user_profile.errors.messages[:"employers.web_address"] %>
        <span class="error-label"> - <%= @user_profile.errors.messages[:"employers.web_address"].first %></span>
      <% end %>
      <p><%= ff.text_field :web_address, { class: ("input-error" if @user_profile.errors.messages[:"employers.web_address"].present?), type: "url", onblur: "checkURL(this)", onsubmit: "checkURL(this)", :maxlength => get_max_length(:web) } %></p>

      <%= ff.label :street_address_1, 'Street Address' %>
      <p><%= ff.text_field :street_address_1, :maxlength => get_max_length(:default) %></p>

      <%= ff.label :city %>
      <p><%= ff.text_field :city, :maxlength => get_max_length(:default) %></p>

      <span class="state-input">
        <%= ff.label :state %>
        <div class="styled-select">
          <%= ff.select :state, options_for_select(us_states, ff.object.state), :include_blank => "Select..." %>
        </div>
      </span>
      <span class="zip-input">
        <%= ff.label :zip, 'Zip Code' %>
        <%= render partial: 'layouts/zip_code', locals: { f: ff, zip: :zip } %>
      </span>

      <%= ff.label :phone_number_office, 'Business Phone Number' %>
      <p><%= render partial: 'layouts/phone_number', locals: { f: ff, phone: :phone_number_office } %></p>

      <%= ff.label :phone_number_fax, 'Business Fax Number' %>
      <p><%= render partial: 'layouts/phone_number', locals: { f: ff, phone: :phone_number_fax } %></p>

    </div>
  <% end %>

  <%= f.submit "Save", class: "button primary-button big-button" %>
  <%= link_to 'Cancel', user_profiles_path, {class: "button secondary-button big-button", id: "submit-button"} %>
<% end %>

<%= javascript_include_tag 'url_validation' %>
<script>
  $('.chosen-select').chosen();
</script>
