<div class="contact-element-title">
  <a class="edit-link" href=<%=edit_user_profile_path%>>
    <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-pencil-1"></use>
    </svg>
    </span>Edit Profile
  </a>
  <h1>My Profile</h1>
</div>

<div class="card mb-30 my_profile_info">
  <h3 class="card-label">Personal Information</h3>

  <% if !@user_profile.name.blank? %>
    <label>Name</label>
    <p><%= @user_profile.name %></p>
  <% end %>

  <label>Email Address</label>
  <p><%= @user_profile.email %></p>

  <% if !@user_profile.phone_number.blank? || !@user_profile.phone_number_mobile.blank?%>
    <label>Phone</label>
    <% if !@user_profile.phone_number_mobile.blank? %>
      <span class="field-block"><%= @user_profile.phone_number_mobile %><span class="phone-type">cell</span>
    <% end %>
    <% if !@user_profile.phone_number.blank? %>
      <span class="field-block"><%= @user_profile.phone_number %><span class="phone-type">home</span>
    <% end %>
    <br></p>
  <% end %>

  <% if @user_profile.ssn %>
    <label>Social Security Number</label>
    <p>****-**-<%= @user_profile.ssn.try(:last, 4) %></p>
  <% end %>

  <% if @user_profile.date_of_birth %>
    <label>Date of Birth</label>
    <p><%= @user_profile.date_of_birth.try(:strftime, '%m/%d/%Y') %></p>
  <% end %>

  <% if show_street?(@user_profile) %>
    <label>Address</label>
    <p>
      <%= @user_profile.address_parts.join('<br/>').html_safe %>
    </p>
  <% end %>

  <% if @user_profile.notes %>
    <label>Notes</label>
    <p>
      <%= @user_profile.notes %>
    </p>
  <% end %>
</div>

<% employer = @user_profile.employers.first || @user_profile.employers.build %>
<div class="card mb-30 my_profile_info">
  <h3 class="card-label">Employer Information</h3>

  <label>Business Information</label>
  <p>
    <span class="field-block"><%= employer.name %></span>
    <% if !employer.web_address.blank? %>
      <span class="field-block"><%= link_to show_web_address(employer.web_address), employer.web_address %><br></span>
    <% end %>
  </p>

  <label>Business Address</label>
  <p>
    <% if show_street?(employer) %>
      <span class="field-block"><%= employer.address_parts.join('<br/>').html_safe %></span>
    <% end %>
  </p>

  <% if !employer.phone_number_office.blank? || !employer.phone_number_fax.blank?%>
    <label>Phone</label>
    <% if !employer.phone_number_office.blank? %>
      <span class="field-block"><%= employer.phone_number_office %><span class="phone-type">business</span>
    <% end %>
    <% if !employer.phone_number_fax.blank? %>
      <span class="field-block"><%= employer.phone_number_fax %><span class="phone-type">fax</span>
    <% end %>
    <br></p>
  <% end %>
</div>


<div>
  <a class="add-link fr" href="<%= new_document_path(:category => @category) %>">
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-plus-1"></use>
      </svg>
    </span>Add Document
  </a>
  <h2><%= @user_profile.name %> Documents</h2>
</div>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @my_profile_documents} %>
