<h1>My Profile</h1>

<%= link_to "Edit Profile", edit_user_profile_path %>

<div class="card mb-30">
  <h3 class="card-label">Personal Information</h3>

  <label>Name</label>
  <p><%= @user_profile.name %></p>

  <label>Email Address</label>
  <p><%= @user_profile.email %></p>

  <label>Phone</label>
  <p><%= @user_profile.phone_number %><span class="phone-type">home</span><br>
  <%= @user_profile.phone_number_mobile %><span class="phone-type">cell</span><br></p>

  <label>Social Security Number</label>
  <p>****-**-<%= @user_profile.ssn.try(:last, 4) %></p>

  <% if @user_profile.date_of_birth %>
    <label>Date of Birth</label>
    <p><%= @user_profile.date_of_birth.try(:strftim, '%m/%d/%Y') %></p>
  <% end %>

  <label>Address</label>
  <p>
    <%= @user_profile.address_parts.join('<br/>').html_safe %>
  </p>
</div>


<div class="card mb-30 shared-card">
  <h3 class="card-label">
    <svg class="icon" viewBox="0 0 20 20">
      <use xlink:href="#icon-Safe"></use>
    </svg>
    Primary Shared With
  </h3>
  <p class="shared-description">The contact(s) selected for ‘Primary Shared With has full read and write access to this ZokuVault account and all of its details.    </p>
    <label>Primary Shared With</label>
    <section class="shared-list">
      <p><span class="user-circle">BM</span>&nbsp;Bruna Mars</p>
    </section>
</div>


<% employer = @user_profile.employers.first || @user_profile.employers.build %>
<div class="card mb-30">
  <h3 class="card-label">Employer Information</h3>

  <label>Business Information</label>
  <p>
    <%= employer.name %><br>
    <%= link_to employer.web_address, employer.web_address %><br>
  </p>
  
  <label>Business Address</label>
  <p>
    <%= employer.address_parts.join('<br/>').html_safe %>
  </p>

   <label>Phone</label>
   <p>
     <%= employer.phone_number_office %><span class="phone-type">office</span><br>
     <%= employer.phone_number_fax %><span class="phone-type">fax</span>
   </p>

</div>


<h2><%= @user_profile.name %> Documents</h2>
<table>
    <tr>
      <th>Name</th>
      <th>Modified</th>
      <th>Tags</th>
      <th>Shared With</th>
      <th>Actions</th>
    </tr>

    <tr>
      <td>
        <a>DocumentName.pdf</a>
      </td>
      <td>07/31/2016</td>
      <td>
        <span class="doc-tag">Insurance</span>
        <span class="doc-tag secondary-tag">Car</span>
      </td>
      <td>
        <span class="user-circle">AK</span>
        <span class="user-circle">BM</span>
        <span class="user-circle">MB</span>
      </td>
      <td>
          <button class="outline-button small-button">
            Edit
          </button>
      </td>
    </tr>
</table>
