<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
<button class="primary-button big-button hidden" data-modal-id="wizard-modal" id="show-modal-button">
  Wizard Modal
</button>
<div id="wizard-modal" class="modal wizard-modal modal-no-js">
  <div class="step-wizard">
    <div class="inner-step contact-modal" onclick="wizNav(1)">
      <span id="step-1" class="inner-counter">
        1
      </span>
      <span class="modal-step-title">Details</span>
    </div>
    <div class="inner-step contact-modal" onclick="wizNav(2)">
      <span id="step-2" class="inner-counter">
        2
      </span>
      <span class="modal-step-title">Relationship</span>
    </div>
    <div class="inner-step contact-modal" onclick="wizNav(3)">
      <span id="step-3" class="inner-counter">
        3
      </span>
      <span class="modal-step-title">Avatar</span>
    </div>
  </div>
  <div class="modal-header">
    <h2><%= @contact.new_record? ? 'Add' : 'Edit' %> Contact</h2>
  </div>
  <div class="modal-content">
    <%= form_for @contact, remote: true, :html => {:id => "contact-form"} do |f| %>
      <div id="error_explanation">
        <ul>
        </ul>
      </div>
      <% errors = @contact.errors.any? %>
      <%= render :partial => '/contacts/form_content', locals: { f: f, errors: errors } %>
    <% end %>
  </div>
  <footer class="modal-footer">
    <a href="javascript:;" id='next-step' class=" button secondary-button big-button"
    onclick="wizNav(currentStep+1); return false;">Next</a>
    <button id="save-btn" class="js-modal-close secondary-button big-button" onclick="$('#contact-form').submit();">Save</button>
    <%= link_to 'Cancel', "javascript:void(0)", class: "js-modal-close button secondary-button big-button", id: 'close-form-link' %>
    <span class='footer_right'>
      <% if @contact.persisted? %>
        <%= link_to 'Delete', contact_path(@contact), method: :delete, data: { confirm: 'Are you sure?' }, class: "js-modal-close button secondary-button big-button" %>
      <% end %>
    </span>
  </footer>
</div>


<%#= link_to 'Back', contacts_path #%>
<script>

var currentSelectInput = ''; // XXX: This stores which input is selected

var currentStep = 1;

var displayContactFormModal = function() {
  $("body").append("<div class='modal-overlay js-modal-close'></div>");
  $(".modal-overlay").fadeTo(500, 0.8);
  $(".js-modalbox").fadeIn(500);
  canvasEl = $('button[data-modal-id]');
  var modalBox = $(canvasEl).attr('data-modal-id');
  $('#' + modalBox).fadeIn($(canvasEl).data());
  wizNav(1);
}

var handleSelectOnChange = function(selectInput) {
  var selectedOption = $('option:selected:first', selectInput);
  if (selectedOption.val() === 'create_new_contact') {
    currentSelectedInput = $(selectInput);
    // remove 'create_new_contact from select box
    selectedOption.removeAttr('selected');
    $(selectInput).trigger("chosen:updated");

    displayContactFormModal();
  }
}

var closeContactFormModal = function() {
  $(".modal, .modal-overlay").fadeOut(500, function() {
    cleanErrorMessages();
    removePhoto();
    $("#contact-form").trigger("reset");
    $("#error_explanation ul").empty();
    $(".modal-overlay").remove();
  });
}

var addContactAndCloseModal = function(json) {

  $('.add-new-contactable').each(function(i, obj) {
    position_to_insert_after = json['position'];
    ($('<option>', {
      value: json['id'],
      text: json['firstname'] + ' ' + json['lastname']
    })).insertAfter($(this).children('option')[position_to_insert_after]);

    // XXX: This is a hack to select the new value
    if (!!currentSelectedInput) {
      currentSelectedInput.find("[value='"+json['id']+"']").prop('selected', true);
    }
    $(this).trigger("chosen:updated");
  })

  closeContactFormModal();
}

var addErrorMessage = function(selector, error_message) {
  $(selector).addClass('input-error');
  $('<span class="error-label"> - ' + error_message + '</span>').insertBefore($(selector));
}

var cleanErrorMessages = function() {
  $('#contact_emailaddress').removeClass('input-error');
  $('#contact_firstname').removeClass('input-error');
  $('.error-label').remove();
}

$(function(){

  $("#contact-form")
    .on("ajax:success", function(e, data, status, xhr) {
      // XXX: This isn't triggering for some reason
        var newContact = JSON.parse(xhr.responseText);
        return addContactAndCloseModal(newContact);
    })
    .on("ajax:error", function(e, xhr, status, error) {
      var contactErrors = JSON.parse(xhr.responseText);

      // XXX: THIS IS A HUGE HACK
      if (!!contactErrors['id']) {
        return addContactAndCloseModal(contactErrors)
      }
      wizNav(1);
      cleanErrorMessages()
      for (var key in contactErrors) {
        if (key === "emailaddress") {
          addErrorMessage('#contact_emailaddress', contactErrors[key][0])
        }
        if (key === "firstname") {
          addErrorMessage('#contact_firstname', contactErrors[key][0])
        }
      }
    });

  $("#close-form-link").click(function() { closeContactFormModal(); });
  //ESPECIALLY THIS GARBAGE
  ['.small-modal', '.medium-modal', '.large-modal'].forEach(function(modalClass) {
    $(window).resize(function() {
      $(modalClass).css({
        top: ($(window).height() - $(".modal").outerHeight()) / 2,
        left: ($(window).width() - $(modalClass).outerWidth()) / 2,
      });
    });
  });
  $(window).resize();
});
</script>