<%= render :partial => "layouts/add_document_button", :locals => {documents_path: new_documents_path(:category => @category, :group => @contact.id, :shared_user_id => @shared_user.present? ? @shared_user.id : ""), documents_title: 'Contact Documents'} %>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @contact_documents} %>

<div class="contact-element-title">
  <h3 class="contact-user-name">Shared With Contact</h3>
</div>

<table id="share-with-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Share Type</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'contacts/contingent_owner_shared_with_row' %>
    <% @contact_shares && @contact_shares.each do |share| %>
      <tr>
        <td class="document-name-big">
          <%= render :partial => "layouts/resource_links", :locals => {:share => share} %>
        </td>
        <td>
          <%= asset_type(share) %>
        </td>
        <td class="contact-tag-right">
          <%= render :partial => "layouts/document_tags", :locals => {:document => share} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    DatatableUpdate('#share-with-table', [ [25, 50, 100], 'shares', [[0, 'asc']] ])
  });
</script>
