<div class="contact-element-title">
  <h3 class="contact-user-name">Contact Documents</h3>
  <a class="add-link fr" href="<%= new_document_path(:category => @category, :group => @contact.id) %>">
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-plus-1"></use>
      </svg>
    </span>Add Document
  </a>
</div>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @contact_documents} %>

<div class="contact-element-title">
  <h3 class="contact-user-name">Shared With Contact</h3>
</div>

<table id="share-with-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Share Type</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    <% if @shares && @shares.empty? %>
      <td style="display: none"></td>
      <td style="display: none"></td>
      <td style="display: none"></td>
    <% end %>
    <% @shares && @shares.each do |share| %>
      <tr>
        <td class="document-name-big">
          <%= render :partial => "layouts/resource_links", :locals => {:share => share} %>
        </td>
        <td>
          <%= asset_type(share) %>
        </td>
        <td class="contact-tag-right">
          <%= render :partial => "layouts/document_tags", :locals => {:document => share} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
      $('#share-with-table').DataTable({
        paging: false,
        searching: false,
        info: false,
        aaSorting: [[0, 'asc']],
      });
  });
</script>
