<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
<button class="primary-button big-button hidden" data-modal-id="wizard-modal" id="show-modal-button">
  Wizard Modal
</button>
<div id="wizard-modal" class="modal wizard-modal modal-no-js">
  <div class="step-wizard">
    <div class="inner-step" onclick="wizNav(1)">
      <span id="step-1" class="inner-counter">
        1
      </span>
      <span class="modal-step-title">Details</span>
    </div>
    <div class="inner-step" onclick="wizNav(2)">
      <span id="step-2" class="inner-counter">
        2
      </span>
      <span class="modal-step-title">Relationship</span>
    </div>
    <div class="inner-step" onclick="wizNav(3)">
      <span id="step-3" class="inner-counter">
        3
      </span>
      <span class="modal-step-title">Avatar</span>
    </div>
  </div>
  <div class="modal-header">
    <h2><%= @contact.new_record? ? 'Add' : 'Edit' %> Contact</h2>
  </div>
  <div class="modal-content">
    <%= form_for @contact, :html => {:id => "contact-form"} do |f| %>
      <% errors = @contact.errors.any? %>
      <%= render :partial => '/contacts/form_content', locals: {f: f, errors: errors } %>
    <% end %>
  </div>
  <footer class="modal-footer">
    <a href="javascript:;" id='next-step' class=" button secondary-button big-button"
    onclick="wizNav(currentStep+1); return false;">Next</a>
    <button id="save-btn" class="js-modal-close secondary-button big-button" onclick="submitContact(event)">Save</button>
    <%= link_to 'Cancel', session[:ret_url] || contacts_path, class: "js-modal-close button secondary-button big-button", method: :get %>
    <span class='footer_right'>
      <% if @contact.persisted? && @contact != current_user.user_profile.contact %>
        <%= link_to 'Delete', contact_path(@contact), method: :delete, data: { confirm: 'Are you sure?' }, class: "button secondary-button big-button" %>
      <% end %>
    </span>
  </footer>
</div>


<%#= link_to 'Back', contacts_path #%>

<script>

var currentStep = 1;

var submitContact = function(){
  var contactForm = document.getElementById("contact-form");
  contactForm.submit();
}
var displayContactFormModal = function(){

  //SOMEONE PLEASE FIX THIS GARBAGE
  var appendthis =  ("<div class='modal-overlay js-modal-close'></div>");
  $(document).ready(function(){
    $('button[data-modal-id]').click();

    wizNav(1);
  });
  $('button[data-modal-id]').click(function(e) {
    e.preventDefault();
    $("body").append(appendthis);
    $(".modal-overlay").fadeTo(500, 0.8);
    $(".js-modalbox").fadeIn(500);
    var modalBox = $(this).attr('data-modal-id');
    $('#'+modalBox).fadeIn($(this).data());
  });


  $(".js-modal-close, .modal-overlay").click(function() {
    $(".modal, .modal-overlay").fadeOut(500, function() {
      $(".modal-overlay").remove();
    });

  });

  //ESPECIALLY THIS GARBAGE
  $(window).resize(function() {
    $(".large-modal").css({
      top: ($(window).height() - $(".modal").outerHeight()) / 2,
      left: ($(window).width() - $(".large-modal").outerWidth()) / 2,
    });
  });
  $(window).resize(function() {
    $(".medium-modal").css({
      top: ($(window).height() - $(".modal").outerHeight()) / 2,
      left: ($(window).width() - $(".medium-modal").outerWidth()) / 2,
    });
  });
  $(window).resize(function() {
    $(".small-modal").css({
      top: ($(window).height() - $(".modal").outerHeight()) / 2,
      left: ($(window).width() - $(".small-modal").outerWidth()) / 2,
    });
  });
  $(window).resize();
}
</script>