<div id="detail-form">
  <%= f.label :firstname, 'First Name' %>
  <%= f.text_field :firstname %>

  <%= f.label :lastname, 'Last Name' %>
  <%= f.text_field :lastname %>

  <%= f.label :emailaddress, 'Email Address' %>
  <%= f.email_field :emailaddress %>

  <%= f.label :phone %>
  <%= f.text_field :phone, class: "form-control", :data => {:mask => '999-999-9999'} %>

  <%= f.label :contact_type, 'Contact Type' %>
  <div class="styled-select">
    <%= f.select :contact_type, options_for_select(Contact::CONTACT_TYPES.keys, @contact.contact_type) %>
  </div>
</div>

<div id="category-form" class="contact-profile">
  <div id="personal_relationship">
    <%= f.label :relationship %>
    <div class="styled-select">
      <%= f.select :relationship,
        options_for_select(Contact::RELATIONSHIP_TYPES[:personal], @contact.relationship),
        {}, id: :personal_relationships_select %>
    </div>

    <%= f.label :beneficiarytype, 'Beneficiary Type' %>
    <%= f.text_field :beneficiarytype %>

    <%= f.label :birthdate %>
    <p><%= f.date_field :birthdate %></p>

    <%= f.label :address, 'Street Address' %>
    <%= f.text_field :address %>
  </div>

  <div id="professional_relationship">
    <%= f.label :relationship %><br>
    <div id="common_professional">
      <div class="styled-select">
        <%= f.select :relationship,
          options_for_select(Contact::RELATIONSHIP_TYPES[:professional], @contact.relationship),
          {}, id: :common_professional_select %>
      </div>
    </div>
    <div id="medical_professional">
      <div class="styled-select">
        <%= f.select :relationship,
          options_for_select(Contact::RELATIONSHIP_TYPES[:medical_professional], @contact.relationship),
          {}, id: :medical_professional_select %>
      </div>
    </div>

    <%= f.label :businessname, 'Business Name' %>
    <%= f.text_field :businessname %>

    <%= f.label :businesswebaddress, 'Business Web Address' %>
    <%= f.text_field :businesswebaddress, type: "url", onblur: "checkURL(this)", onsubmit: "checkURL(this)" %>

    <%= f.label :businessphone, 'Business Phone' %>
    <%= f.text_field :businessphone, class: "form-control", :data => {:mask => '999-999-9999'}  %>

    <%= f.label :businessfax, 'Business Fax' %>
    <%= f.text_field :businessfax, class: "form-control", :data => {:mask => '999-999-9999'}  %>

    <%= f.label :business_street_address, 'Street Address' %>
    <%= f.text_field :business_street_address_1 %>
  </div>

  <%= f.label :city %><br>
  <%= f.text_field :city %>

  <span class="state-input">
    <%= f.label :state %>
    <div class="styled-select">
      <%= f.select :state, options_for_select(us_states, f.object.state), :include_blank => "Select..." %>
    </div>
  </span>
  <span class="zip-input">
    <%= f.label :zip, 'Zip Code' %>
    <%= zip_code_form(f, :zipcode) %>
  </span>

  <%= f.label :notes %><br>
  <%= f.text_area :notes %>
</div>

<div id="avatar-form">
  <div id="choose-avatar-section" <% if !f.object.photourl.blank? && !@contact.new_record? %> style="display: none;" <% end %> >
    <p>Upload Photo</p>
    <a onclick="saveFileUrl()" class="no-underline-link">Choose file ...</a>
  </div>
  <div id="preview-avatar-section">
    <p>
      <% if f.object.photourl.present? %>
        <%= image_tag(get_file_url(f.object.photourl), :id => "image_view", class: 'avatar-small') %>
        <%= link_to 'Remove photo', 'javascript:removePhoto()', class: 'no-underline-link', id: "action-avatar-link" %>
      <% else %>
        <div id="new-avatar" style="display: none;">
          <%= image_tag('', :id => "image_preview", class: 'avatar-small') %>
          <%= link_to 'Remove photo', 'javascript:removePhoto();', class: 'no-underline-link', id: "action-avatar-link" %>
        </div>
      <% end %>
    </p>
  </div>
  <%= f.text_field :photourl, id: "photo_url", style: "display: none;" %>
</div>

<script>
var wizNav = function(step){
  currentStep = step;
  if(step===1){
    $("#next-step").show();
    $("#save-btn").hide();
    $("#detail-form").show();
    $("#avatar-form").hide();
    $("#category-form").hide();
    $("#step-1").removeClass().addClass("inner-counter current-step");
    $("#step-1").html('1');
    $("#step-2").removeClass().addClass("inner-counter");
    $("#step-2").html('2');
    $("#step-3").removeClass().addClass("inner-counter");
    $("#step-3").html('3');
    $(".footer_right > a").css("float", "");
  }
  else if(step===2){
    $("#next-step").show();
    $("#save-btn").hide();
    $("#detail-form").hide();
    $("#category-form").show();
    $("#avatar-form").hide();
    $("#step-1").removeClass().addClass("inner-counter completed-step");
    $("#step-1").html('<svg class="icon circle-icon"><use xlink:href="#icon-checkmark-1"> </use></svg>');
    $("#step-2").removeClass().addClass("inner-counter current-step");
    $("#step-2").html('2');
    $("#step-3").removeClass().addClass("inner-counter");
    $("#step-3").html('3');
    $(".footer_right > a").css("float", "");
  }
  else if(step===3){
    $("#next-step").hide();
    $("#save-btn").show();
    $("#detail-form").hide();
    $("#category-form").hide();
    $("#avatar-form").show();
    $("#step-1").removeClass().addClass("inner-counter completed-step");
    $("#step-1").html('<svg class="icon circle-icon"><use xlink:href="#icon-checkmark-1"> </use></svg>');
    $("#step-2").removeClass().addClass("inner-counter completed-step");
    $("#step-2").html('<svg class="icon circle-icon"><use xlink:href="#icon-checkmark-1"> </use></svg>');
    $("#step-3").removeClass().addClass("inner-counter current-step");
    $("#step-3").html('3');
    $(".footer_right > a").css("float", "right");
  }

  if ($("#contact_contact_type").val() === "Family & Beneficiaries") {
    $('#personal_relationship').show();
    $('#personal_relationships_select').removeAttr("disabled");
    $('#professional_relationship').hide();
    $('#professional_relationships_select').prop('disabled', 'disabled');
    $('#medical_professional_select').prop('disabled', 'disabled');
    $('#common_professional_select').prop('disabled', 'disabled');
  }
  else {
    $('#personal_relationship').hide();
    $('#personal_relationships_select').prop('disabled', 'disabled');
    if ($("#contact_contact_type").val() === "Medical Professional") {
      $('#professional_relationship').show();
      $('#professional_relationships_select').removeAttr("disabled");
      $('#medical_professional').show();
      $('#medical_professional_select').removeAttr("disabled");
      $('#common_professional').hide();
      $('#common_professional_select').prop('disabled', 'disabled');
    }
    else {
      $('#professional_relationship').show();
      $('#professional_relationships_select').removeAttr("disabled");
      $('#medical_professional').hide();
      $('#medical_professional_select').prop('disabled', 'disabled');
      $('#common_professional').show();
      $('#common_professional_select').removeAttr("disabled");
    }
  }
}
</script>
