<%= hidden_field_tag :shared_user_id, params[:shared_user_id] %>

<div id="detail-form">
  <%= f.label :firstname, 'First Name' %>
  <%= render partial: 'layouts/error_message', locals: { errors: errors, error: @contact.errors.messages[:firstname] } %>
  <%= f.text_field :firstname, { class: ("input-error" if @contact.errors.messages[:firstname].present?), :maxlength => get_max_length(:default) } %>

  <%= f.label :lastname, 'Last Name' %>
  <%= f.text_field :lastname, :maxlength => get_max_length(:default) %>

  <%= f.label :emailaddress, 'Email Address' %>
  <%= render partial: 'layouts/error_message', locals: { errors: errors, error: @contact.errors.messages[:emailaddress] } %>
  <%= f.email_field :emailaddress, { class: ("input-error" if @contact.errors.messages[:emailaddress].present?), :maxlength => get_max_length(:default) } %>

  <%= f.label :phone %>
  <%= f.text_field :phone, class: "form-control", :data => {:mask => '999-999-9999'} %>

  <%= f.label :contact_type, 'Contact Type' %>
  <div class="styled-select">
    <%= f.select :contact_type, options_for_select(Contact::CONTACT_TYPES.keys, @contact.contact_type), {}, onchange: 'contact_type_handle(this)' %>
  </div>
  
  <%= f.label :relationship %>
    <div class="styled-select">
      <%= f.select :relationship,
        options_for_select(Contact::RELATIONSHIP_TYPES[:personal], @contact.relationship),
        {}, id: :relationships_select %>
    </div>
</div>

<div id="category-form" class="contact-profile">
  <div id="personal_relationship">
    <%= f.label :birthdate %>
    <p>
      <%= render partial: 'layouts/date_picker', locals: { birth_value: f.object.birthdate, error_condition: false, f: f, object: :birthdate} %>
    </p>

    <%= f.label :address, 'Street Address' %>
    <%= f.text_field :address, :maxlength => get_max_length(:default) %>
  </div>

  <div id="professional_relationship">
    <%= f.label :businessname, 'Business Name' %>

    <%= f.text_field :businessname, :maxlength => get_max_length(:default) %>

    <%= f.label :businesswebaddress, 'Business Web Address' %>
    <%= f.text_field :businesswebaddress, type: "url", onblur: "checkURL(this)", onsubmit: "checkURL(this)", :maxlength => get_max_length(:web) %>

    <%= f.label :businessphone, 'Business Phone' %>
    <%= f.text_field :businessphone, class: "form-control", :data => {:mask => '999-999-9999'}  %>

    <%= f.label :businessfax, 'Business Fax' %>
    <%= f.text_field :businessfax, class: "form-control", :data => {:mask => '999-999-9999'}  %>

    <%= f.label :business_street_address, 'Street Address' %>
    <%= f.text_field :business_street_address_1, :maxlength => get_max_length(:default) %>
  </div>

  <%= f.label :city %><br>
  <%= f.text_field :city, :maxlength => get_max_length(:default) %>

  <span class="state-input">
    <%= f.label :state %>
    <div class="styled-select">
      <%= f.select :state, options_for_select(us_states, f.object.state), :include_blank => "Select..." %>
    </div>
  </span>
  <span class="clear"></span>
  <span class="zip-input">
    <%= f.label :zip, 'Zip Code' %>
    <%= zip_code_form(f, :zipcode) %>
  </span>

  <%= f.label :notes %><br>
  <%= f.text_area :notes, :maxlength => get_max_length(:notes) %>
</div>

<div id="avatar-form">
  <div id="choose-avatar-section" <% if !f.object.photourl.blank? && !@contact.new_record? %> style="display: none;" <% end %> >
    <p>Upload Photo</p>
    <a onclick="saveFileUrl('', '<%= file_picker_api_key %>')" class="no-underline-link">Choose file ...</a>
  </div>
  <div id="preview-avatar-section">
    <p>
      <% if f.object.photourl.present? %>
        <%= image_tag(get_file_url(f.object.photourl), :id => "image_view", class: 'avatar-small') %>
        <%= link_to 'Remove photo', 'javascript:removePhoto()', class: 'no-underline-link', id: "action-avatar-link" %>
      <% else %>
        <div id="new-avatar" style="display: none;">
          <%= image_tag('', :id => "image_preview", class: 'avatar-small') %>
          <%= link_to 'Remove photo', 'javascript:removePhoto();', class: 'no-underline-link', id: "action-avatar-link" %>
        </div>
      <% end %>
    </p>
  </div>
  <%= f.text_field :photourl, id: "photo_url", style: "display: none;" %>
</div>

<script>
  $(document).ready(function() {
    contact_type_handle($('#contact_contact_type'), true)
  })
  var setProfessionalDropdown = function(selectedOptions) {
    contact_type_dropdown = $('#contact_contact_type');
    contact_type_dropdown.empty();
    selectedOptions.forEach(function(option){
      contact_type_dropdown.append("<option value='" + option + "'>" + option + "</option>");
    });
  }
  
  var contact_type_handle = function(selectInput, first_time) {
    var selectedOption = $('option:selected:first', selectInput).val();

    var url = '/contacts/relationship_values/' + selectedOption
    $.get(url, function(data) {
      relationship_dropdown = $('#relationships_select');
      relationship_dropdown.empty();
      data.forEach(function(relationship_type){
        relationship_dropdown.append("<option value='" + relationship_type + "'>" + relationship_type + "</option>");
      });

      if (first_time === true) {
        var relationship = '<%= @contact_relationship %>'
        $('#relationships_select').find("option[value=\'" + relationship + "\']").prop('selected', true)
      }
    });
  }

var wizNav = function(step){
  currentStep = step;
  if(step===1){
    $("#next-step").text('Add more details')
    $("#next-step").show();
    $("#detail-form").show();
    $("#avatar-form").hide();
    $("#category-form").hide();
    $("#step-1").removeClass().addClass("inner-counter current-step");
    $("#step-1").html('1');
    $("#step-2").removeClass().addClass("inner-counter");
    $("#step-2").html('2');
    $("#step-3").removeClass().addClass("inner-counter");
    $("#step-3").html('3');
    $(".footer_right > a").css("float", "");
  }
  else if(step===2){
    $("#next-step").text('Add avatar')
    $("#next-step").show();
    $("#detail-form").hide();
    $("#category-form").show();
    $("#avatar-form").hide();
    $("#step-1").removeClass().addClass("inner-counter completed-step");
    $("#step-1").html('<svg class="icon circle-icon"><use xlink:href="#icon-checkmark-1"> </use></svg>');
    $("#step-2").removeClass().addClass("inner-counter current-step");
    $("#step-2").html('2');
    $("#step-3").removeClass().addClass("inner-counter");
    $("#step-3").html('3');
    $(".footer_right > a").css("float", "");
  }
  else if(step===3){
    $("#next-step").hide();
    $("#detail-form").hide();
    $("#category-form").hide();
    $("#avatar-form").show();
    $("#step-1").removeClass().addClass("inner-counter completed-step");
    $("#step-1").html('<svg class="icon circle-icon"><use xlink:href="#icon-checkmark-1"> </use></svg>');
    $("#step-2").removeClass().addClass("inner-counter completed-step");
    $("#step-2").html('<svg class="icon circle-icon"><use xlink:href="#icon-checkmark-1"> </use></svg>');
    $("#step-3").removeClass().addClass("inner-counter current-step");
    $("#step-3").html('3');
    $(".footer_right > a").css("float", "right");
  }

  if ($("#contact_contact_type").val() === "Family & Beneficiaries") {
    $('#personal_relationship').show();
    $('#professional_relationship').hide();
  }
  else {
    $('#personal_relationship').hide();
    if ($("#contact_contact_type").val() === "Medical Professional") {
      $('#professional_relationship').show();
      $('#common_professional').hide();
    }
    else {
      $('#professional_relationship').show();
      $('#common_professional').show();
    }
  }
}
</script>
