<button class="primary-button big-button hidden" data-modal-id="wizard-modal" id="show-modal-button">
  Wizard Modal
</button>
<div id="wizard-modal" class="modal wizard-modal modal-no-js">
  <div class="step-wizard">
    <div class="inner-step" onclick="wizNav(1)">
      <span id="step-1" class="inner-counter">
        1
      </span>
      Details
    </div>
    <div class="inner-step" onclick="wizNav(2)">
      <span id="step-2" class="inner-counter">
        2
      </span>
      Relationship
    </div>
    <div class="inner-step" onclick="wizNav(3)">
      <span id="step-3" class="inner-counter">
        3
      </span>Avatar
    </div>
  </div>
  <div class="modal-header">
    <h2><%= @contact.new_record? ? 'Add' : 'Edit' %> Contact</h2>
  </div>
  <div class="modal-content">
    <%= form_for @contact, :html => {:id => "contact-form"} do |f| %>
      <% if @contact.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

          <ul>
          <% @contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div id="detail-form">
        <div class="field">
          <%= f.label :firstname, 'First Name' %><br>
          <%= f.text_field :firstname %>
        </div>
        <div class="field">
          <%= f.label :lastname, 'Last Name' %><br>
          <%= f.text_field :lastname %>
        </div>
        <div class="field">
          <%= f.label :emailaddress, 'Email Address' %><br>
          <%= f.text_field :emailaddress %>
        </div>
        <div class="field">
          <%= f.label :phone %><br>
          <%= f.text_field :phone %>
        </div>

        <div class="field">
          <%= f.label :contact_type, 'Contact Type' %><br>
          <div class="styled-select">
            <%= f.select :contact_type, options_for_select(Contact::CONTACT_TYPES.keys, @contact.contact_type) %>
          </div>
        </div>

      </div>
      <div id="category-form">
        <div id="personal_relationship">
          <div class="field">
            <%= f.label :relationship %><br>
            <div class="styled-select">
              <%= f.select :relationship, 
                options_for_select(Contact::RELATIONSHIP_TYPES[:personal], @contact.relationship),
                {}, id: :personal_relationships_select %>
            </div>
          </div>

          <div class="field">
            <%= f.label :beneficiarytype, 'Beneficiary Type' %><br>
            <%= f.text_field :beneficiarytype %>
          </div>
          <div class="field">
            <%= f.label :ssn, 'SSN' %><br>
            <%= f.text_field :ssn %>
          </div>
          <div class="field">
            <%= f.label :birthdate %><br>
            <%= f.date_select :birthdate, 
              use_two_digit_numbers: true,
              selected: 40.years.ago,
              start_year: Date.today.year - 80,
              end_year: Date.today.year,
              order: [:month, :day, :year]
            %>
          </div>
          <div class="field">
            <%= f.label :address %><br>
            <%= f.text_field :address %>
          </div>
        </div>
        <div id="professional_relationship">
          <div class="field">
            <%= f.label :relationship %><br>
            <div class="styled-select">
              <%= f.select :relationship, 
                options_for_select(Contact::RELATIONSHIP_TYPES[:professional], @contact.relationship), 
                {}, id: :professional_relationships_select %>
            </div>
          </div>

          <div class="field">
            <%= f.label :businessname, 'Business Name' %><br>
            <%= f.text_field :businessname %>
          </div>
          <div class="field">
            <%= f.label :businesswebaddress, 'Business Web Address' %><br>
            <%= f.text_field :businesswebaddress %>
          </div>
          <div class="field">
            <%= f.label :businessphone, 'Business Phone' %><br>
            <%= f.text_field :businessphone %>
          </div>
          <div class="field">
            <%= f.label :businessfax, 'Business Fax' %><br>
            <%= f.text_field :businessfax %>
          </div>
          <div class="field">
            <%= f.label :business_street_address, 'Street Address 1' %><br>
            <%= f.text_field :business_street_address_1 %>
          </div>
          <div class="field">
            <%= f.label :business_street_address, 'Street Address 2' %><br>
            <%= f.text_field :business_street_address_2 %>
          </div>
        </div>
        <div class="field">
          <%= f.label :city, 'City' %><br>
          <%= f.text_field :city %>
        </div>
        <div class="field">
          <%= f.label :state, 'State' %><br>
          <%= f.text_field :state %>
        </div>
        <div class="field">
          <%= f.label :zipcode, 'Zip Code' %><br>
          <%= f.text_field :zipcode %>
        </div>
        <div class="field">
          <%= f.label :notes %><br>
          <%= f.text_area :notes %>
        </div>
      </div>
      
      <div id="avatar-form">
        <div class="field">
          <%= f.label :avatarcolor, 'Avatar Color' %><br>
          <%= f.text_field :avatarcolor %>
        </div>
        <div class="field">
          <%= f.label :photourl, 'Photo Url' %><br>
          <%= f.text_field :photourl %>
        </div>
      </div>
    <% end %>
  </div>
  <footer class="modal-footer">
    <a href="javascript:;" id='next-step' class=" button secondary-button big-button" 
    onclick="wizNav(currentStep+1); return false;">Next</a>
    <button id="save-btn" class="js-modal-close secondary-button big-button" onclick="submitContact(event)">Save</button>
    <%= link_to 'Cancel', session[:ret_url] || contacts_path, class: "js-modal-close button secondary-button big-button" %>
    <span class='footer_right'>
      <% if @contact.persisted? %>
        <%= link_to 'Delete', contact_path(@contact), method: :delete, data: { confirm: 'Are you sure?' }, class: "js-modal-close button secondary-button big-button" %>
      <% end %>
    </span>
  </footer>
</div>


<%#= link_to 'Back', contacts_path #%>
<script>

var currentStep = 1;

var wizNav = function(step){
  currentStep = step;
  console.log("in " + step);
  if(step===1){
    $("#next-step").show();
    $("#save-btn").hide();
    $("#detail-form").show();
    $("#avatar-form").hide();
    $("#category-form").hide();
    $("#step-1").removeClass().addClass("inner-counter current-step");
    $("#step-1").html('1');
    $("#step-2").removeClass().addClass("inner-counter");
    $("#step-2").html('2');
    $("#step-3").removeClass().addClass("inner-counter");
    $("#step-3").html('3');
    $(".footer_right > a").css("float", "");
  }
  else if(step===2){
    $("#next-step").show();
    $("#save-btn").hide();
    $("#detail-form").hide();
    $("#category-form").show();
    $("#avatar-form").hide();
    $("#step-1").removeClass().addClass("inner-counter completed-step");
    $("#step-1").html('<svg class="icon circle-icon"><use xlink:href="#icon-checkmark-1"> </use></svg>');
    $("#step-2").removeClass().addClass("inner-counter current-step");
    $("#step-2").html('2');
    $("#step-3").removeClass().addClass("inner-counter");
    $("#step-3").html('3');
    $(".footer_right > a").css("float", "");
  }
  else if(step===3){
    $("#next-step").hide();
    $("#save-btn").show();
    $("#detail-form").hide();
    $("#category-form").hide();
    $("#avatar-form").show();
    $("#step-1").removeClass().addClass("inner-counter completed-step");
    $("#step-1").html('<svg class="icon circle-icon"><use xlink:href="#icon-checkmark-1"> </use></svg>');
    $("#step-2").removeClass().addClass("inner-counter completed-step");
    $("#step-2").html('<svg class="icon circle-icon"><use xlink:href="#icon-checkmark-1"> </use></svg>');
    $("#step-3").removeClass().addClass("inner-counter current-step");
    $("#step-3").html('3');
    $(".footer_right > a").css("float", "right");
  }

  if ($("#contact_contact_type").val() === "Family & Beneficiaries") {
    $('#personal_relationship').show();
    $('#personal_relationships_select').removeAttr("disabled");
    $('#professional_relationship').hide();
    $('#professional_relationships_select').prop('disabled', 'disabled');
  }
  else {
    $('#personal_relationship').hide();
    $('#personal_relationships_select').prop('disabled', 'disabled');
    $('#professional_relationship').show();
    $('#professional_relationships_select').removeAttr("disabled");
  }
}
var submitContact = function(){
  var contactForm = document.getElementById("contact-form");
  contactForm.submit();
}
$(function(){

  //SOMEONE PLEASE FIX THIS GARBAGE
  var appendthis =  ("<div class='modal-overlay js-modal-close'></div>");
  $(document).ready(function(){
    $('button[data-modal-id]').click();

    wizNav(1);
  });
  $('button[data-modal-id]').click(function(e) {
    e.preventDefault();
    $("body").append(appendthis);
    $(".modal-overlay").fadeTo(500, 0.8);
    $(".js-modalbox").fadeIn(500);
    var modalBox = $(this).attr('data-modal-id');
    $('#'+modalBox).fadeIn($(this).data());
  });


  $(".js-modal-close, .modal-overlay").click(function() {
    $(".modal, .modal-overlay").fadeOut(500, function() {
      $(".modal-overlay").remove();
    });

  });

  //ESPECIALLY THIS GARBAGE
  $(window).resize(function() {
    $(".large-modal").css({
      top: ($(window).height() - $(".modal").outerHeight()) / 2,
      left: ($(window).width() - $(".large-modal").outerWidth()) / 2,
    });
  });
  $(window).resize(function() {
    $(".medium-modal").css({
      top: ($(window).height() - $(".modal").outerHeight()) / 2,
      left: ($(window).width() - $(".medium-modal").outerWidth()) / 2,
    });
  });
  $(window).resize(function() {
    $(".small-modal").css({
      top: ($(window).height() - $(".modal").outerHeight()) / 2,
      left: ($(window).width() - $(".small-modal").outerWidth()) / 2,
    });
  });
  $(window).resize();
});
</script>
