<div class="contact-header-info">
  <div id="left-contact-info">
    <div class="contact-element">
      <label>Category</label>
      <p><%= @contact.contact_type %></p>
    </div>

    <div class="contact-element">
      <label>Relationship</label>
      <p><%= @contact.relationship %></p>
    </div>
    <% if @contact.personal_relationship? %>
      <div class="contact-element">
        <label>Beneficiary Type</label>
        <p><%= @contact.beneficiarytype %></p>
      </div>
      
      <div class="contact-element">
        <label>Social Security Number</label>
        <p><%= @contact.ssn %></p>
      </div>
    
      <div class="contact-element">
        <label>Date of Birth</label>
        <p><%= @contact.birthdate.try(:strftime, '%m/%d/%Y') %></p>
      </div>
    <% end %>
    <% if @contact.professional_relationship? %>
      <div class="contact-element">
        <label>Business Name</label>
        <p><%= @contact.businessname %></p>
      </div>

      <div class="contact-element">
        <label>Business Web Address</label>
        <p><%= @contact.businesswebaddress %></p>
      </div>
      <div class="contact-element">
        <label>Business Phone</label>
        <p><%= @contact.businessphone %></p>
      </div>

      <div class="contact-element">
        <label>Fax</label>
        <p><%= @contact.businessfax %></p>
      </div>
    <% end %>
    <div class="contact-element notes">
      <label>Notes</label>
      <p><%= @contact.notes %></p>
    </div>
  </div>
  
  <div id="right-contact-info">
    <div class="contact-element">
      <label>Email</label>
      <a><p><%= @contact.emailaddress %></p></a>
    </div>

    <div class="contact-element">
      <label>Phone</label>
      <p><%= @contact.phone %></p>
    </div>
    
    <% if @contact.personal_relationship? %>
      <div class="contact-element">
        <label>Street Address</label>
        <p><%= @contact.address %></p>
      </div>
    <% end %>

    <% if @contact.professional_relationship? %>
      <div class="contact-element">
        <label>Business Street Address</label>
        <p><%= @contact.business_street_address_1 %></p>
        <p><%= @contact.business_street_address_2 %></p>
      </div>
    <% end %>
    
    <div class="contact-element">
      <label>City</label>
      <p><%= @contact.city%></p>
    </div>
      
    <div class="contact-element">
      <label>State</label>
      <p><%= @contact.state%></p>
    </div>
      
    <div class="contact-element">
      <label>Zip</label>
      <p><%= @contact.zipcode%></p>
    </div>
    
    <div class="contact-element">
      <label>Avatar color</label>
      <p><%= @contact.avatarcolor%></p>
    </div>
    
    <div class="contact-element">
      <label>Photo url</label>
      <p><%= @contact.photourl%></p>
    </div>
  </div>
</div>