<div class="contact-header-info">
    <% if @contact.emailaddress.present? %>
      <label>Email</label>
      <p><%= mail_to @contact.emailaddress, @contact.emailaddress, class: "no-underline-link" %></p>
    <% end %>

    <% if @contact.phone.present? %>
      <label>Phone</label>
      <p><%= @contact.phone %></p>
    <% end %>

    <% if @contact.personal_relationship? %>
      <% if show_street_contact?(@contact) %>
        <label>Address</label>
        <p>
          <%= @contact.address %><br>
          <%= @contact.city%>,
          <%= @contact.state%>
          <%= @contact.zipcode%>
        </p>
      <% end %>
    <% end %>

    <% if @contact.professional_relationship? || @contact.medical_relationship?  %>
      <% if show_street_contact_business?(@contact) %>
        <label>Business Address</label>
        <p>
          <%= @contact.business_street_address_1 %><br>
          <%= @contact.city%>,
          <%= @contact.state%>
          <%= @contact.zipcode%>
        </p>
      <% end %>
    <% end %>
  
    <% if @contact.contact_type.present? %>
      <label>Contact Type</label>
      <p><%= @contact.contact_type %></p>
    <% end %>

    <% if @contact.relationship.present? %>
      <label>Relationship</label>
      <p><span class="fw-600 clr-color-primary-shaded"><%= contact_status(@contact) %></span> <%= @contact.relationship %></p>
    <% end %>

    <% if @contact.personal_relationship? %>
      <% if @contact.beneficiarytype.present? %>
        <label>Beneficiary Type</label>
        <p><%= @contact.beneficiarytype %></p>
      <% end %>
      
      <% if @contact.birthdate.present? %>
        <label>Date of Birth</label>
        <p><%= @contact.birthdate.try(:strftime, '%m/%d/%Y') %></p>
      <% end %>
    <% end %>
    <% if @contact.professional_relationship? || @contact.medical_relationship? %>
      <% if @contact.businessname.present? %>
        <label>Business Name</label>
        <p><%= @contact.businessname %></p>
      <% end %>
      
      <% if @contact.businesswebaddress.present? %>
        <label>Business Web Address</label>
        <p><%= sanitize link_to @contact.businesswebaddress, @contact.businesswebaddress, class: "no-underline-link", target: "_blank" %></p>
      <% end %>

      <% if @contact.businessphone.present? %>
        <label>Business Phone</label>
        <p><%= @contact.businessphone %></p>
      <% end %>

      <% if @contact.businessfax.present? %>
        <label>Business Fax</label>
        <p><%= @contact.businessfax %></p>
      <% end %>
    <% end %>

    <% if @contact.notes.present? %>
      <label>Notes</label>
      <p><%= @contact.notes %></p>
    <% end %>
    
    <% if resource_owner.corporate_user_by_admin?(User.where('email ILIKE ?', @contact.emailaddress).first) %>
      <p class="mt-30"><%= link_to 'Remove Corporate Access', account_settings_remove_corporate_access_path(@contact), class: 'button primary-button big-button' %></p>
    <% end %>
</div>