<div class="contact-header-info">
  <%= link_to content_tag(:a), edit_contact_path(@contact), class: "whole-card-link", method: :get %>
  <div id="left-contact-info">
    <div class="contact-element">
      <label>Contact Type</label>
      <p><%= @contact.contact_type %></p>
    </div>

    <div class="contact-element">
      <label>Relationship</label>
      <p><%= @contact.relationship %></p>
    </div>
    <% if @contact.personal_relationship? %>
      <div class="contact-element">
        <label>Beneficiary Type</label>
        <p><%= @contact.beneficiarytype %></p>
      </div>

      <div class="contact-element">
        <label>Date of Birth</label>
        <p><%= @contact.birthdate.try(:strftime, '%m/%d/%Y') %></p>
      </div>
    <% end %>
    <% if @contact.professional_relationship? %>
      <div class="contact-element">
        <label>Business Name</label>
        <p><%= @contact.businessname %></p>
      </div>

      <div class="contact-element">
        <label>Business Web Address</label>
        <p><%= show_web_address(@contact.businesswebaddress) %></p>
      </div>
      <div class="contact-element">
        <label>Business Phone</label>
        <p><%= @contact.businessphone %></p>
      </div>

      <div class="contact-element">
        <label>Business Fax</label>
        <p><%= @contact.businessfax %></p>
      </div>
    <% end %>
    <div class="contact-element notes">
      <label>Notes</label>
      <p><%= @contact.notes %></p>
    </div>
  </div>
  
  <div id="right-contact-info">
    <div class="contact-element">
      <label>Email</label>
      <a><p><%= @contact.emailaddress %></p></a>
    </div>

    <div class="contact-element">
      <label>Phone</label>
      <p><%= @contact.phone %></p>
    </div>
    
    <% if @contact.personal_relationship? %>
      <div class="contact-element">
        <label>Address</label>
        <p>
          <%= @contact.address %><br>
          <%= @contact.city%>,
          <%= @contact.state%>
          <%= @contact.zipcode%>
        </p>
      </div>
    <% end %>

    <% if @contact.professional_relationship? %>
      <div class="contact-element">
        <label>Business Address</label>
        <p>
          <%= @contact.business_street_address_1 %><br>
          <%= @contact.city%>,
          <%= @contact.state%>
          <%= @contact.zipcode%>
        </p>
      </div>
    <% end %>
    
    <div class="contact-element">
      <label>Avatar color</label>
      <p><%= @contact.avatarcolor%></p>
    </div>
    
    <div class="contact-element">
      <label>Photo url</label>
      <p><%= @contact.photourl%></p>
    </div>
  </div>
</div>