<div class="contact-header-info">
  <%= link_to content_tag(:a), edit_contact_path(@contact), class: "whole-card-link" %>
  <div id="left-contact-info">
    <% if @contact.contact_type.present? %>
      <label>Contact Type</label>
      <p><%= @contact.contact_type %></p>
    <% end %>

    <% if @contact.relationship.present? %>
      <label>Relationship</label>
      <p><%= @contact.relationship %></p>
    <% end %>

    <% if @contact.personal_relationship? %>
      <% if @contact.beneficiarytype.present? %>
        <label>Beneficiary Type</label>
        <p><%= @contact.beneficiarytype %></p>
      <% end %>
      
      <% if @contact.birthdate.present? %>
        <label>Date of Birth</label>
        <p><%= @contact.birthdate.try(:strftime, '%m/%d/%Y') %></p>
      <% end %>
    <% end %>
    <% if @contact.professional_relationship? || @contact.medical_relationship? %>
      <% if @contact.businessname.present? %>
        <label>Business Name</label>
        <p><%= @contact.businessname %></p>
      <% end %>
      
      <% if @contact.businesswebaddress.present? %>
        <label>Business Web Address</label>
        <p><%= link_to @contact.businesswebaddress, @contact.businesswebaddress, class: "no-underline-link" %></p>
      <% end %>

      <% if @contact.businessphone.present? %>
        <label>Business Phone</label>
        <p><%= @contact.businessphone %></p>
      <% end %>

      <% if @contact.businessfax.present? %>
        <label>Business Fax</label>
        <p><%= @contact.businessfax %></p>
      <% end %>
    <% end %>

    <% if @contact.notes.present? %>
      <label>Notes</label>
      <p><%= @contact.notes %></p>
    <% end %>
  </div>
  
  <div id="right-contact-info">
    <% if @contact.emailaddress.present? %>
      <label>Email</label>
      <p><%= mail_to @contact.emailaddress, @contact.emailaddress, class: "no-underline-link" %></p>
    <% end %>

    <% if @contact.phone.present? %>
      <label>Phone</label>
      <p><%= @contact.phone %></p>
    <% end %>
    
    <% if @contact.personal_relationship? && show_street_contact?(@contact) %>
      <label>Address</label>
      <p>
        <%= @contact.address %><br>
        <%= @contact.city%>,
        <%= @contact.state%>
        <%= @contact.zipcode%>
      </p>
    <% end %>

    <% if (@contact.professional_relationship? || @contact.medical_relationship?) && show_street_contact_business?(@contact) %>
      <label>Business Address</label>
      <p>
        <%= @contact.business_street_address_1 %><br>
        <%= @contact.city%>,
        <%= @contact.state%>
        <%= @contact.zipcode%>
      </p>
    <% end %>
    
    <% if @contact.photourl.present? %>
      <div class="contact-element">
        <label>Photo</label>
        <p><%= image_tag(get_file_url(@contact.photourl), class: 'avatar-small') %></p>
      </div>
    <% end %>
  </div>
</div>