<div class="contact-header-info">
  <%= link_to content_tag(:a), edit_contact_path(@contact), class: "whole-card-link" %>
  <div id="left-contact-info">
    <label>Contact Type</label>
    <p><%= @contact.contact_type %></p>

    <label>Relationship</label>
    <p><%= @contact.relationship %></p>

    <% if @contact.personal_relationship? %>
      <label>Beneficiary Type</label>
      <p><%= @contact.beneficiarytype %></p>

      <label>Date of Birth</label>
      <p><%= @contact.birthdate.try(:strftime, '%m/%d/%Y') %></p>
    <% end %>
    <% if @contact.professional_relationship? || @contact.medical_relationship? %>
      <label>Business Name</label>
      <p><%= @contact.businessname %></p>

      <label>Business Web Address</label>
      <p><%= link_to @contact.businesswebaddress, @contact.businesswebaddress, class: "no-underline-link" %></p>

      <label>Business Phone</label>
      <p><%= @contact.businessphone %></p>


      <label>Business Fax</label>
      <p><%= @contact.businessfax %></p>
    <% end %>

    <label>Notes</label>
    <p><%= @contact.notes %></p>
  </div>
  
  <div id="right-contact-info">
    <label>Email</label>
    <p><%= mail_to @contact.emailaddress, @contact.emailaddress, class: "no-underline-link" %></p>

    <label>Phone</label>
    <p><%= @contact.phone %></p>
    
    <% if @contact.personal_relationship? %>
      <label>Address</label>
      <p>
        <%= @contact.address %><br>
        <%= @contact.city%>,
        <%= @contact.state%>
        <%= @contact.zipcode%>
      </p>
    <% end %>

    <% if @contact.professional_relationship? || @contact.medical_relationship?  %>
      <label>Business Address</label>
      <p>
        <%= @contact.business_street_address_1 %><br>
        <%= @contact.city%>,
        <%= @contact.state%>
        <%= @contact.zipcode%>
      </p>
    <% end %>
    
    <% if @contact.avatarcolor.present? %>
      <label>Avatar color</label>
      <p><%= @contact.avatarcolor %></p>
    <% end %>
    
    <% if @contact.photourl.present? %>
      <div class="contact-element">
        <label>Photo</label>
        <p><%= image_tag(get_file_url(@contact.photourl), class: 'avatar-small') %></p>
      </div>
    <% end %>
  </div>
</div>