<h1>Contacts and Permissions</h1>

<a class="add-link fr" href="/contacts/new">
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>
  </span>Add Contact
</a>

<table id="contacts-table">
  <thead>
    <tr>
      <th class="nosort">Avatar</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th>Relationship</th>
      <th class="nosort nosearch">Details</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td>
          <%= render partial: "layouts/avatar_circle", locals: { :with_name => false, :contact => contact } %>
        </td>
        <td><%= contact.lastname %></td>
        <td><%= contact.firstname %></td>
        <td><%= contact.emailaddress %></td>
        <td><%= contact.relationship %></td>
        <td class="details-col"><%= link_to 'Details', contact, class: "outline-button small-button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    DatatableUpdate('#contacts-table', [ [25, 50, 100], 'contacts', [[1, 'asc']] ])
  });
</script>
