<p id="notice"><%= notice %></p>

<a class="add-link fr" href="/contacts/new">
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>
  </span>Add Contact
</a>


<h1>Contacts and Permissions</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Relationship</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td class="contact-avatar-td">
          <%if contact.photourl? %>
            <div class="contact-avatar-wrapper-size">
              <%= image_tag(contact.photourl, :alt => "#{contact.firstname}-#{contact.lastname}-avatar") %>
            </div>
          <% end %>
        </td>
        <td style="width: 23%;">
          <%= link_to "#{contact.firstname}#{contact.lastname}", contact, class: 'text-vertical-center' %>
        </td>
        <td style="width: 38%;"><%= contact.emailaddress %></td>
        <td style="width: 38%;"><%= contact.relationship %></td>
        <td style="width: 1%;"><%= link_to 'Details', contact %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
