<%= render :partial => "layouts/bread_crumbs" %>

<div class="contact-element-title">
  <%= link_to edit_contact_path(@contact), class: "edit-link" do %>
    <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-pencil-1"></use>
    </svg>
    </span>Edit Contact
  <% end %>
  <h1>
    <% if @contact && @contact.photourl.present? %>
      <% avatar = true %>
      <%= render :partial => "layouts/user_profile_avatar", locals: { user: @contact, :avatar_size => 'medium' } %>
    <% end %>
    <span <% if avatar %> class="avatar-name" <% end %>><%=@contact.firstname%> <%=@contact.lastname%></span>
  </h1>
</div>

<%= render 'header_details_info' %>
<%= render 'documents_details' %>