<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name(:biblio) %>
</p>


<p>
  <strong>Emailaddress:</strong>
  <%= @contact.emailaddress %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Contact Type:</strong>
  <%= @contact.contact_type %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @contact.relationship %>
</p>

<% if @contact.personal_relationship? %>
  <p>
    <strong>Beneficiarytype:</strong>
    <%= @contact.beneficiarytype %>
  </p>

  <p>
    <strong>Ssn:</strong>
    <%= @contact.ssn %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= @contact.birthdate.try(:strftime, '%B %d, %Y') %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @contact.address %><br/>
    <%= @contact.city%>, <%= @contact.state %> <%= @contact.zipcode %>
  </p>
<% end %>

<% if @contact.professional_relationship? %>
  <p>
    <strong>Business Name:</strong>
    <%= @contact.businessname %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= @contact.businesswebaddress %>
  </p>

  <p>
    <strong>Address:</strong><br>
    <span>Street address 1:</span>
    <%= @contact.business_street_address_1 %><br>
    <span>Street address 2:</span>
    <%= @contact.business_street_address_2 %><br>
    <%= @contact.city%>, <%= @contact.state %> <%= @contact.zipcode %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @contact.businessphone %>
  </p>

  <p>
    <strong>Fax:</strong>
    <%= @contact.businessfax %>
  </p>
<% end %>

<p>
  <strong>Notes:</strong>
  <%= @contact.notes %>
</p>

<p>
  <strong>Avatarcolor:</strong>
  <%= @contact.avatarcolor %>
</p>

<p>
  <strong>Photourl:</strong>
  <%= @contact.photourl %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact), class: "button secondary-button big-button" %>
<%= link_to 'Back', contacts_path, class: "button secondary-button big-button" %>
