<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @contact.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @contact.lastname %>
</p>

<p>
  <strong>Emailaddress:</strong>
  <%= @contact.emailaddress %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Category:</strong>
  <%= @contact.category %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @contact.relationship %>
</p>

<p>
  <strong>Beneficiarytype:</strong>
  <%= @contact.beneficiarytype %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @contact.ssn %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @contact.birthdate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @contact.zipcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact.state %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @contact.notes %>
</p>

<p>
  <strong>Avatarcolor:</strong>
  <%= @contact.avatarcolor %>
</p>

<p>
  <strong>Photourl:</strong>
  <%= @contact.photourl %>
</p>

<p>
  <strong>Businessname:</strong>
  <%= @contact.businessname %>
</p>

<p>
  <strong>Businesswebaddress:</strong>
  <%= @contact.businesswebaddress %>
</p>

<p>
  <strong>Businessphone:</strong>
  <%= @contact.businessphone %>
</p>

<p>
  <strong>Businessfax:</strong>
  <%= @contact.businessfax %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
