<p id="notice"><%= notice %></p>

<div class="contact-element-title">
  <h1 class="contact-user-name"><%=@contact.firstname%> <%=@contact.lastname%></h1>
  <%= link_to edit_contact_path(@contact), class: "edit-link" do %>
    <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-pencil-1"></use>
    </svg>
    </span>Edit Contact
  <% end %>
</div>
<%= render 'header_details_info' %>
<%= render 'documents_details' %>