<div id="large-modal" class="modal large-modal" style="display:block !important;">
  <div class="modal-header bb-gray-light">
    <a href="<%= document_path(@document) %>" class="js-modal-close modal-close">
      <svg class="icon">
        <use xlink:href="#icon-x-2"></use>
      </svg>
    </a>
    <h2>Edit Document</h2>
  </div>

  <%= form_for (@document), :html => {:id => "doc-form"} do |f| %>

    <div class="modal-content flex-boxes">

      <div class="flex-box br-gray-light">

        <% if @document.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

            <ul>
            <% @document.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.hidden_field :folder_id %>


        <label>Document Name</label><br>
        <%= f.text_field :name %>

        <label>Category</label><br>
        <div class="styled-select ">
          <% options = [
                ["Select...", ""],
                "Contact",
                "Financial Information",
                "Estate Planning",
                "Insurance",
                "Taxes",
                "Healthcare Choices",
                "Final Wishes",
                "Web Accounts"] %>
          <%= f.select :category, options_for_select(options, @document.category) %>
        </div><br>

        <label class="form-disabled">Card</label><br>
        <% options= [['Select...',""], 'My Profile', 'Contacts & Permissions', 'Financial Information','Estate Planning', 'Insurance', 'Taxes', 'Final Wishes', 'Web Accounts'] %>
        <div class="styled-select form-disabled">
          <%= select_tag :folder, options_for_select(options, @document.folder), :disabled =>true %><br />
        </div>

        <div class="flex-box">
        <label>Notes
        <%= f.text_area :description %>
        </label><br>
        </div>

      </div>

      <div class="flex-box">
        <table>
          <th>
            Shared With
          </th>
          <th>
            Permissions
          </th>
          <% @shares.each do |share| %>
            <tr>
              <td>
                <%= share.contact.firstname %> <%= share.contact.lastname %>
              </td>
              <td>
                <%= share.permission %>
              </td>
            </tr>
          <% end %>
        </table>

        <a class="add-link" href="">
          <span class="circle-button small">
            <svg class="icon circle-icon">
              <use xlink:href="#icon-plus-1"></use>
            </svg>
          </span>Add Shared With
        </a>

      </div>

    </div>

    <div class="modal-footer bt-gray-light bottom-fixed">
        <button
          class="js-modal-close
                 primary-button
                 big-button"
          onclick="submitForm(event)" >
          Save</button>
        <%= link_to "Cancel", @document, 
          class: "js-modal-close button secondary-button big-button" %>
        <% if @document.persisted? %>
          <span class='footer_right'>
            <span>Created: </span><%= @document.created_at.strftime("%M/%d/%Y") %>
            <span>Updated: </span><%= @document.updated_at.strftime("%M/%d/%Y") %>
            <%= link_to 'Delete', document_path(@document), method: :delete, data: { confirm: 'Are you sure?' } %>
          </span>
        <% end %>
    </div>
  <% end %>
</div>

<script>
  var submitForm = function (e) {
    var docForm = document.getElementById("doc-form ");
    docForm.submit();
  }
</script>
