<div id="large-modal" class="modal large-modal" style="display:block !important;">
  <div class="modal-header bb-gray-light">
    <a href="<%= session[:ret_url] || :back %>" class="js-modal-close modal-close">
      <svg class="icon">
        <use xlink:href="#icon-x-2"></use>
      </svg>
    </a>
    <h2>Edit Document</h2>
  </div>

  <%= form_for (@document), :html => {:id => "doc-form"} do |f| %>

    <div class="modal-content edit-flex-boxes flex-boxes">

      <div class="flex-box br-gray-light">

        <% if @document.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

            <ul>
            <% @document.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.hidden_field :folder_id %>

        <div class="edit-document-field">
          <label>Document Name</label><br>
          <%= f.text_field :name, class: "document-text-field" %>
        </div>

        <div class="edit-document-field">
          <label>Category</label><br>
          <div class="styled-select">
            <% options = [
                  ["Select...", ""],
                  "Contact",
                  "Financial Information",
                  "Wills - Trusts - Legal",
                  ["Insurance", "insurance"],
                  "Taxes",
                  "Healthcare Choices",
                  "Final Wishes",
                  "Web Accounts"] %>
            <%= f.select :category, options_for_select(options, @document.category) %>
          </div>
        </div>

        <div class="edit-document-field">
          <label class="form-disabled">Card</label><br>
          <div class="styled-select">
            <% options = [['Select...',""], 'My Profile', 'Contacts & Permissions', 'Financial Information','Estate Planning', 'Insurance', 'Taxes', 'Final Wishes', 'Web Accounts'] %>
          </div>
        </div>
        
        <div class="edit-document-field">
          <div class="flex-box">
            <label>Notes
              <%= f.text_area :description %>
            </label>
          </div>
        </div>

      </div>

      <div class="flex-box">
        <div class="edit-document-field">
          <div id='shared-with-inputs'>
            <label>Add Contact(s)</label>
          </div>
          <a class="add-link" href="" onclick="addContact(); return false;">
            <svg class="icon add-icon">
              <use xlink:href="#icon-add-1"></use>
            </svg> Add Additional Contact<br>
            </span>
          </a>
        </div>

        <table class="edit-shared-with-table">
          <th>
            Shared With
          </th>
          <th>
            Permissions
          </th>
          <% @document.shares.each do |share| %>
            <tr>
              <td>
                <%= share.contact.name %>
              </td>
              <td>
                <%= share.permission %>
              </td>
            </tr>
          <% end %>
        </table>

      </div>

    </div>

    <div class="modal-footer bt-gray-light bottom-fixed edit-document-footer">
      <div class="edit_document_footer_buttons">
          <button
            class="js-modal-close
                   primary-button
                   big-button"
            onclick="submitForm(event)" >
            Save</button>
          <%= link_to "Cancel", session[:ret_url],
            class: "js-modal-close button secondary-button big-button" %>
          <%= link_to 'Delete', document_path(@document), method: :delete, data: { confirm: 'Are you sure?' },
            class: "js-modal-close button secondary-button big-button"%>
      </div>
      <% if @document.persisted? %>
        <span class='footer_right edit_document_footer_info'>
          <span class="edit-data-label">Created: </span><%= @document.created_at.strftime("%M/%d/%Y") %>
          <span class="edit-data-label">Modified: </span><%= @document.updated_at.strftime("%M/%d/%Y") %>
        </span>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  var submitForm = function (e) {
    var docForm = document.getElementById("doc-form ");
    docForm.submit();
  }

  // Keep a count of contact select boxes for indexing name
  var newContactsCount = 0;

  // Keep the contacts in json form
  var contactsJson = <%=  Contact.for_user(current_user).map { |c| c.slice(:id, :name) }.to_json.html_safe %>;
  
  //id of 'create new contact' field to handle selection of it
  var createNewContactId = 'create_new_contact';
  
  // Dynamically add hidden field with user id and select box of contacts
  // to contact area
  var addContact = function() {

    var createNewContactLabel = 'Create New Contact';
    // Create new styled div
    var divEl = $('<div>').attr({ class: 'styled-select edit-document-field'});

    //Hidden field, create and appendTo new div element
    $('<input>').attr({
      type: 'hidden',
      id: "document_shares_attributes_" + newContactsCount + "_user_id",
      name: "document[shares_attributes]["+ newContactsCount +"][user_id]",
      value: "<%= current_user.id %>"
    }).appendTo(divEl)
    //drop down;
    var name = "document[shares_attributes]["+ newContactsCount +"][contact_id]";
    var combo = $("<select></select>")
      .attr({
        id: "document_shares_attributes_" + newContactsCount + "_contact_id",
        name: "document[shares_attributes]["+ newContactsCount +"][contact_id]"
      });

    // Add the options
    combo.append("<option disabled selected value>Choose Contacts...</option>");
    $.each(contactsJson, function (i, el) {
        combo.append("<option value='" + el.id + "'>" + el.name + "</option>");
    });
    
    //Add 'create new contact' option
    combo.append("<option id=" + createNewContactId + " value='<%= new_contact_path %>'>" + createNewContactLabel + "</option>");
        
    // Append combo to new div el
    $(combo).appendTo(divEl);
    
    //Add listener for combo
    $(combo).change(listenForCreateNewUser);
    
    // Append div select to shared div
    $(divEl).appendTo('#shared-with-inputs');

    // Increment
    newContactsCount += 1;
  }
  addContact();
  
  var listenForCreateNewUser = function(){
    var docForm = $('#doc-form');
    var selectedId = $(this).children(':selected').attr('id');
    //submit form for saving all data
    if(selectedId === createNewContactId){
      docForm.submit();
    }
  }
  //Listen for change event on select box to handle 'create new contact' correctly
  $('[id^="document_shares_attributes_"]').change(listenForCreateNewUser);
</script>
