<div id="large-modal" class="modal large-modal" style="display:block !important;">
  <div class="modal-header bb-gray-light">
    <a href="<%= document_path(@document) %>" class="js-modal-close modal-close">
      <svg class="icon">
        <use xlink:href="#icon-x-2"></use>
      </svg>
    </a>
    <h2>Edit Document</h2>
  </div>

  <%= form_for (@document), :html => {:id => "doc-form"} do |f| %>

    <div class="modal-content flex-boxes">

      <div class="flex-box br-gray-light">

        <% if @document.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

            <ul>
            <% @document.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.hidden_field :folder_id %>


        <label>Document Name</label><br>
        <%= f.text_field :name %>

        <label>Category</label><br>
        <div class="styled-select ">
          <% options = [
                ["Select...", ""],
                "Contact",
                "Financial Information",
                "Estate Planning",
                ["Insurance", "insurance"],
                "Taxes",
                "Healthcare Choices",
                "Final Wishes",
                "Web Accounts"] %>
          <%= f.select :category, options_for_select(options, @document.category) %>
        </div><br>

        <label class="form-disabled">Card</label><br>
        <% options= [['Select...',""], 'My Profile', 'Contacts & Permissions', 'Financial Information','Estate Planning', 'Insurance', 'Taxes', 'Final Wishes', 'Web Accounts'] %>
        <div class="flex-box">
        <label>Notes
        <%= f.text_area :description %>
        </label><br>
        </div>

      </div>

      <div class="flex-box">
        <div id='shared-with-inputs'>
          <label>Shared With</label>
        </div>
        <a class="add-link" href="" onclick="addContact(); return false;">
          <span class="circle-button small">
            <svg class="icon circle-icon">
              <use xlink:href="#icon-plus-1"></use>
            </svg>
          </span>
        </a>

        <table>
          <th>
            Shared With
          </th>
          <th>
            Permissions
          </th>
          <% @document.shares.each do |share| %>
            <tr>
              <td>
                <%= share.contact.name %>
              </td>
              <td>
                <%= share.permission %>
              </td>
            </tr>
          <% end %>
        </table>

      </div>

    </div>

    <div class="modal-footer bt-gray-light bottom-fixed">
        <button
          class="js-modal-close
                 primary-button
                 big-button"
          onclick="submitForm(event)" >
          Save</button>
        <%= link_to "Cancel", @document, 
          class: "js-modal-close button secondary-button big-button" %>
        <% if @document.persisted? %>
          <span class='footer_right'>
            <span>Created: </span><%= @document.created_at.strftime("%M/%d/%Y") %>
            <span>Updated: </span><%= @document.updated_at.strftime("%M/%d/%Y") %>
            <%= link_to 'Delete', document_path(@document), method: :delete, data: { confirm: 'Are you sure?' } %>
          </span>
        <% end %>
    </div>
  <% end %>
</div>

<script>
  var submitForm = function (e) {
    var docForm = document.getElementById("doc-form ");
    docForm.submit();
  }

  // Keep a count of contact select boxes for indexing name
  var newContactsCount = 0;

  // Keep the contacts in json form
  var contactsJson = <%=  Contact.for_user(current_user).map { |c| c.slice(:id, :name) }.to_json.html_safe %>;

  // Dynamically add hidden field with user id and select box of contacts
  // to contact area
  var addContact = function() {

    // Create new styled div
    var divEl = $('<div>').attr({ class: 'styled-select'});

    //Hidden field, create and appendTo new div element
    $('<input>').attr({
      type: 'hidden',
      id: "document_shares_attributes_" + newContactsCount + "_user_id",
      name: "document[shares_attributes]["+ newContactsCount +"][user_id]",
      value: "<%= current_user.id %>"
    }).appendTo(divEl)
    //drop down;
    var name = "document[shares_attributes]["+ newContactsCount +"][contact_id]";
    var combo = $("<select></select>")
      .attr({ 
        id: "document_shares_attributes_" + newContactsCount + "_contact_id",
        name: "document[shares_attributes]["+ newContactsCount +"][contact_id]"
      });

    // Add the options
    combo.append("<option disabled selected value>Add contact...</option>");
    $.each(contactsJson, function (i, el) {
        combo.append("<option value='" + el.id + "'>" + el.name + "</option>");
    });

    // Append combo to new div el
    $(combo).appendTo(divEl);
    
    // Append div select to shared div
    $(divEl).appendTo('#shared-with-inputs');

    // Increment
    newContactsCount += 1;
  }
  addContact();
      

</script>
