<%= hidden_field_tag :shared_user_id, @shared_user.try(:id) %>
<%= render :partial => "layouts/add_document_button", :locals => {documents_path: new_documents_path(:shared_user_id => @shared_user.present? ? @shared_user.id : ""), documents_title: "Documents", :title => true } %>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @documents} %>

<%= render :partial => "documents/mass_document_upload_button" %>

<div class="mt-30">
  <%= render :partial => "layouts/shared_category", :locals => { :category => Rails.application.config.x.DocumentsCategory.downcase,
                                                               :title => 'Document Upload Access',
                                                               :shared_with_title => 'Upload Shared With',
                                                               :description => 'Allow users to upload documents into your vault. They will only be able to see documents they upload.'} %>
</div>
