<h1>Documents</h1>

<table>
    <tr>
      <th>Name</th>
      <th>Modified</th>
      <th>Tags</th>
      <th>Shared With</th>
      <th>Actions</th>
    </tr>
    <% @documents.each do |document| %>
    <tr>
      <td>
        <a><%= link_to document.name, folder_document_path(document.folder,document) %></a>
      </td>
      <td><%=document.updated_at%></td>
      <td>
        <span class="doc-tag"><%=document.folder.parent.name%></span>
        <span class="doc-tag secondary-tag"><%=document.folder.name%></span>
      </td>
      <td>
        <span class="user-circle">AK</span>
        <span class="user-circle">BM</span>
        <span class="user-circle">MB</span>
      </td>
      <td>
        <button class="outline-button small-button">
          <%= link_to 'Edit', edit_folder_document_path(document.folder,document) %>
        </button>
        <button class="outline-button small-button">
          <%= link_to 'Destroy', folder_document_path(document.folder,document), method: :delete, data: { confirm: 'Are you sure?' } %>
        </button>
      </td>
    </tr>
    <%end%>
</table>
