<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
<script>
  var fileToPage = function(evt){
    filepicker.setKey("AU8hye5meSjiQ6l5oOxKFz");
    var infoDiv = document.getElementById("file-info");
    infoDiv.innerText=JSON.stringify(evt.fpfile,null,2);
    var nameField = document.getElementById("file-name");
    var locationField = document.getElementById("file-location");
    var typeField = document.getElementById("file-type");
    var uploadForm = document.getElementById("upload-form");
    nameField.value = evt.fpfile.filename;
    locationField.value = evt.fpfile.url;
    typeField.value = evt.fpfile.mimetype;
    uploadForm.submit();
  }
</script>

<h1>New Document Upload</h1>

<input type="filepicker" data-fp-apikey="AU8hye5meSjiQ6l5oOxKFz" data-fp-store-location="S3"
  data-fp-store-container="zoku-stage" onchange="fileToPage(event)"/>

<div id="file-info" style="display: none;"></div>

<%= form_for [@folder,@document], :html => {:id => "upload-form", :class => "form-hidden"} do |f| %>
  <div>
    <%= f.text_field :name, :id => "file-name" %><br>
    <%= f.text_field :url, :id =>"file-location" %>
    <%= f.text_field :description, :id =>"file-type" %>
    <%# f.type_field :type, :id =>"file-type" %>
    <<div class="field">
      <%= f.hidden_field :category %>
    </div>
    <div class="field">
      <%= f.hidden_field :group %>
    </div>
  </div>
<% end %>
<br>
<%= link_to 'Back', session[:ret_url] %>
