<%= render :partial => "layouts/bread_crumbs" %>

<h1>Alternative - Setup</h1>

<%= form_for @financial_provider, url: url_for(action: yield(:action), controller: :financial_alternative) do |f| %>
<%= hidden_field_tag :shared_user_id, params[:shared_user_id] %>
<%= f.hidden_field :category_id, :value => @financial_provider.category_id %>
<div class="card mb-30">
  <h3 class="card-label">Manager Details</h3>

  <%= f.label :name, 'Investment Manager Name' %>
  <%= render partial: 'layouts/error_message', locals: { errors: @financial_provider.errors, error: @financial_provider.errors.messages[:name] } %>
  <%= f.text_field :name, { class: ("input-error" if @financial_provider.errors.messages[:name].present?), :maxlength => get_max_length(:default) } %>

  <%= f.label :web_address, 'Web Address' %>
  <%= render partial: 'layouts/error_message', locals: { errors: @financial_provider.errors, error: @financial_provider.errors.messages[:web_address] } %>
  <%= f.text_field :web_address, { class: ("input-error" if @financial_provider.errors.messages[:web_address].present?), type: "url", onblur: "checkURL(this)", onsubmit: "checkURL(this)", :maxlength => get_max_length(:web) } %>

  <%= f.label :primary_contact_id, 'Primary Contact' %>
  <div class="chosen-styled-select">
    <%= contact_select_with_create_new(f, :primary_contact_id, @contacts, multiple: false) %>
  </div>

  <%= render partial: 'layouts/address_phone_toggle_button', locals: { provider: @financial_provider } %>

  <section id="address_phone_details" <% if !edit?(@financial_provider) %> style="display: none;" <% end %>>
    <%= f.label :street_address, 'Street Address' %>
    <%= f.text_field :street_address, :maxlength => get_max_length(:default) %>

    <%= f.label :city %>
    <%= f.text_field :city, :maxlength => get_max_length(:default) %>

    <span class="state-input">
      <label>State</label>
      <div class="styled-select">
        <%= f.select :state, options_for_select(us_states, f.object.state), :include_blank => "Select..." %>
      </div>
    </span>
    <span class="zip-input">
      <%= f.label :zip, 'Zip Code' %>
      <%= render partial: 'layouts/zip_code', locals: { f: f, zip: :zip } %>
    </span>

    <%= f.label :phone_number, 'Phone Number' %>
    <%= render partial: 'layouts/phone_number', locals: { f: f, phone: :phone_number } %>

    <%= f.label :fax_number %>
    <%= render partial: 'layouts/phone_number', locals: { f: f, phone: :fax_number } %>
  </section>

  <%= render partial: 'layouts/shared_with_email_preview_section', locals: { f: f, shared_with_field_symbol: :share_with_contact_ids,
                                                                             shared_with_dropdown_id: "financial_provider_share_with_contact_ids" } %>

  <% if params[:id] && policy(@financial_provider).destroy? %>
    <%= link_to 'Delete this Manager', financial_alternative_provider_path(params[:id]), method: :delete,
      data: { confirm: "Deleting this manager will permanently remove it from ZokuVault." },
      class: 'button small-button secondary-button', id: 'delete-provider' %>
  <% end %>
</div>

  <% @financial_provider.alternatives.each_with_index do |data, index| %>

    <div class="card cg-3 mb-30 add-another">

      <%= f.fields_for "alternative_#{index}", data do |ff| %>
        <%= render 'alternative_details_form', ff: ff, index: index, data: data %>
      <% end %>

      <% if data.id && policy(@financial_provider).destroy? %>
        <span class="mt-30 mb-30">
          <%= link_to 'Delete this investment', financial_alternative_url(data.id), method: :delete,
              data: { confirm: "Deleting this investment will permanently remove it from ZokuVault." },
              class: 'button small-button secondary-button', id: 'delete-investment' %>
        </span>
      <% end %>

    </div>
  <% end %>

  <% if @financial_provider.alternatives.empty? %>
    <% index = 0 %>
    <div class="card cg-3 mb-30 add-another">
      <%= f.fields_for "alternative_#{index}" do |ff| %>
        <%= render 'alternative_details_form', ff: ff, index: index, data: nil %>
      <% end %>
    </div>
  <% end %>

<div class="add-new-button" href="" onclick="javascript:cloneForm(0)">
  <svg class="icon add-icon">
    <use xlink:href="#icon-add-1"></use>
  </svg>
  Add another Investment<br>
</div>

<%= render partial: 'layouts/save_cancel_buttons', locals: { previous_path: financial_information_path, f: f } %>

<% end %>

<%= javascript_include_tag "phone_address_toggle" %>
<%= javascript_include_tag 'url_validation' %>
<script>
  $(document).ready(function(){
    clearFormFields = function(form){
      form.find(':text').val("");
      form.find('textarea').val("");
      form.find(':checked').prop('checked', false);
    }

    cloneForm = function() {
      var $form = $('div[class^="card cg-3 mb-30"]:last');
      old_id_number = parseInt($form.find("input[type=hidden]").attr("id").split('_').last());
      new_id_number = old_id_number + 1;
      var $newForm = $form.clone();
      clearForm($newForm, old_id_number, new_id_number);
      clearFormFields($newForm);
      $('.chosen-container',$newForm).remove();
      $newForm.find("#delete-investment").remove()
      $newForm.insertAfter('.card.mb-30:last');
      $('.chosen-select').chosen({allow_single_deselect: true});
      $('.chosen-container').css({"width": ""});//enforces > 0 width when adding policy in mobile view
      $(document).trigger('refresh_autonumeric')
    }

    var alternativeCount = <%= @financial_provider.alternatives.count %>
    for(var i = 0; i < alternativeCount; i++ ) {
      setValue($('#alternative_commitment_' + i), $('#alternative_commitment_' + i).val(), true)
      setValue($('#alternative_total_calls_' + i), $('#alternative_total_calls_' + i).val())
      setValue($('#alternative_distributions_' + i), $('#alternative_distributions_' + i).val())
      setValue($('#alternative_current_value_' + i), $('#alternative_current_value_' + i).val())
    }
  });

  $('.chosen-select').chosen({allow_single_deselect: true});
</script>
