<%= render :partial => "layouts/bread_crumbs" %>

<h1 class="card-title-260"><%= @financial_provider.name %></h1>
<%= link_to edit_financial_alternative_url(@financial_provider, @shared_user), class: "edit-link mrg-top" do%>
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-pencil-1"></use>
    </svg>
  </span>Edit Alternative Investment
<% end %>

<div class="card cg-3">
  <h3 class="card-label">Account Provider Details</h3>
  <% if !financial_provider_present?(@financial_provider) %>
    <label>There is no information about Provider</label>
  <% end %>

  <% if @financial_provider.web_address.present? %>
    <label>Web Address</label>
    <p><%= sanitize link_to @financial_provider.web_address, @financial_provider.web_address, target: "_blank" %></p>
  <% end %>

  <% if show_financial_provider_address?(@financial_provider) %>
    <label>Address</label>
    <p><%= @financial_provider.street_address %><br>
       <%= @financial_provider.city %>,
       <%= @financial_provider.state %>
       <%= @financial_provider.zip %>
    </p>
  <% end %>

  <% if @financial_provider.phone_number.present? || @financial_provider.fax_number.present? %>
    <label>Phone</label>
    <% if @financial_provider.phone_number.present? %>
      <span class="field-block"><%= @financial_provider.phone_number %>
    <% end %>
    <% if @financial_provider.fax_number.present? %>
      <span class="field-block"><%= @financial_provider.fax_number %><span class="phone-type">fax</span>
    <% end %>
    <br></p>
  <% end %>

  <% if @financial_provider.primary_contact.present? %>
    <label>Primary Contact</label>
    <% primary = @financial_provider.primary_contact %>
    <% if primary.present? %>
      <p><%= primary.name %><br>
         <%= mail_to primary.emailaddress, primary.emailaddress %><br>
         <%= primary.phone %>
      </p>
    <% end %>
  <% end %>
  
  <span class="clear"></span>

  <% if category_subcategory_shares(@financial_provider, resource_owner).present? %>
    <section class="shared-with">
      <h3 class="card-label shared-label">
        <svg class="icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg>
        Shared With
      </h3>

      <label>Shared With</label><br>
      <%= render :partial => "layouts/subcategory_share", :locals => { :shares => category_subcategory_shares(@financial_provider, resource_owner) } %>
    </section>
  <% end %>

</div>

<% @financial_provider.alternatives.each do |alternative| %>
  
  <div class="card cg-3 mt-20">
    <h3 class="card-label"><%= alternative.name %></h3>
    <% if alternative.alternative_type.present? %>
      <label>Type</label>
      <p><%= alternative.alternative_type %></p>
    <% end %>
    
    <% if !financial_alternative_present?(alternative) %>
      <label>There is no information about Alternative Investment</label>
    <% end %>

    <% if alternative.account_owners.any? %>
      <label>Account Owners</label>
      <p>
        <% alternative.account_owners.each do |owner| %>
          <%= owner.name %><br>
        <% end %>
      </p>
    <% end %>

    <% if alternative.total_calls.present? %>
      <label>Calls</label>
      <p><%= render partial: "financial_information/value_show",
        locals: { value: alternative.total_calls, type: alternative.alternative_type } %></p>
    <% end %>
    
    <% if alternative.total_distributions.present? %>
      <label>Distributions</label>
      <p><%= render partial: "financial_information/value_show",
        locals: { value: alternative.total_distributions, type: alternative.alternative_type } %></p>
    <% end %>
    
    <% if alternative.current_value.present? %>
      <label>Current Value</label>
      <p>
        <%= render partial: "financial_information/value_show", locals: { value: alternative.current_value, type: alternative.alternative_type } %>
        <span class="value-as-of"><%= "value as of #{date_format(alternative.updated_at)}" %></span>
      </p>
    <% end %>
    
    <% if alternative.commitment.present? %>
      <label>Commitment</label>
      <p><%= render partial: "financial_information/value",
        locals: { value: -alternative.commitment, type: alternative.alternative_type } %></p>
    <% end %>

    <% if alternative.primary_contact.present? %>
      <label>Primary Contact</label>
      <p>
        <%= alternative.primary_contact.name %><br>
        <%= mail_to alternative.primary_contact.emailaddress, alternative.primary_contact.emailaddress %><br>
        <%= alternative.primary_contact.phone %>
      </p>
    <% end %>
    
    <% if alternative.notes.present? %>
      <label class="title">Notes</label>
      <p><%= alternative.notes %></p>
    <% end %>
    <span class="clear"></span>
  </div>
<% end %>

<%= render :partial => "layouts/add_document_button", :locals => {documents_path: new_document_path(:shared_user_id => @shared_user.present? ? @shared_user.id : "", :category => @category, :financial_information_id => @financial_provider.id), 
  documents_title: 'Alternative Documents'} %>


<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @documents} %>
