<% new_link_paths = {
  "life" => new_life_path,
  "property" => shared_new_property_path,
  "health" => new_health_path,
  } %>
  
<% if group['value'] == 'life' && @insurance_vendors.select { |v| v["group"]=="life" }.any? %>
  <%= render :partial => "layouts/documents_count_icon", :locals => {:count => document_count(@shared_user, group['label'], @category.name) } %>
  <h3 class="mb-20"><%= group["label"] %></h3>
  <%= link_to 'Add Insurance', new_link_paths[group['value']], class: "small-button outline-button " %>
<% elsif group['value'] == 'property' && @insurance_vendors.select { |v| v["group"]=="property" }.any? %>
  <%= render :partial => "layouts/documents_count_icon", :locals => {:count => document_count(@shared_user, group['label'], @category.name) } %>
  <h3 class="mb-20"><%= group["label"] %></h3>
  <%= link_to 'Add Insurance', new_link_paths[group['value']], class: "small-button outline-button " %>
<% elsif group['value'] == 'health' && @insurance_vendors.select { |v| v["group"]=="health" }.any? %>
  <%= render :partial => "layouts/documents_count_icon", :locals => {:count => document_count(@shared_user, group['label'], @category.name) } %>
  <h3 class="mb-20"><%= group["label"] %></h3>
  <%= link_to 'Add Insurance', new_link_paths[group['value']], class: "small-button outline-button " %>
<% else %>
  <h3 class="mb-20"><%= group["label"] %></h3>
  <p>No shared items.</p>
<% end %>
