<h1>Dashboard</h1>
<table class="shared-view-dashboard">
  <tr>
    <td>
      <svg class="icon dashboard-icon">
        <use xlink:href="#icon-document-3"></use>
      </svg>
      <h5 class="category-title">Wills - Trusts - Legal</h5>
      <%= link_to 'View Category', shared_view_estate_planning_path(@shared_user), class: 'view-category' %>
    </td>
  </tr>
  <% @other_shareables.each do |shareable| %>
    <tr>
      <td>
        <span><%= shareable.class %></span>
      </td>
    </tr>
  <% end %>
</table>


<h3>Documents</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Modified</th>
    <th>Tags</th>
  </tr>
  <% @document_shareables.each do |shareable| %>
    <tr>
      <td>
        <a><%= link_to shareable.name, shareable %></a>
      </td>
      <td><%= shareable.updated_at.strftime("%m/%d/%Y") %>
      <td>
        <%= render :partial => "layouts/document_tags", :locals => {:document => shareable } %>
      </td>
    </tr>
  <% end %>
</table>
