<h1>Dashboard</h1>
<%= hidden_field_tag :shared_user_id, @shared_user.try(:id) %>
<% if (@shared_category_names_full - [Rails.application.config.x.OnlineAccountCategory]).any? %>
  <div class="card mb-30">
    <% (Rails.application.config.x.ShareCategories - 
        [Rails.application.config.x.OnlineAccountCategory]).each do |category| %>
      <% if show_navigation_link?(category) %>
        <% category_instance = Category.fetch(category.downcase) %>
        <%= render partial: 'shared_view/dashboard_stripe_element.html', locals: { category_icons_locals: { category: category_instance },
                                                                                   stripe_element_title: category_name(category),
                                                                                   view_categorty_path: category_view_path(category_instance, @shared_user) } %>
      <% end %>
    <% end %>
    <% if current_user.contingent_owner_for?(@shared_user) %>
      <%= render partial: 'shared_view/dashboard_stripe_element.html', locals: { category_icons_locals: { page_name: 'Contingent Owner' },
                                                                                 stripe_element_title: "Contingent Owner",
                                                                                 view_categorty_path: contingent_owner_shared_view_path(@shared_user) } %>
    <% end %>
  </div>
<% end %>

<% if can_add_document? %>
  <% upload_args = "'#{file_picker_api_key}', #{FilepickerService.fetch_policy(:document)}, #{FilepickerService.multiple_document_upload_limit}, massUploadFilesToPage" %>
  <a class="add-link fr", onclick = "uploadMultipleDocumentsWithFilestack(<%= upload_args %>);">
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-plus-1"></use>
      </svg>
    </span>Add Document
  </a>
<% else %>
  <h3>Documents</h3>
<% end %>
<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @document_shareables, :shareable => true} %>

<%= javascript_include_tag 'mass_upload_document' %>
