<h1>Wills - Trusts - Legal</h1>

<section class="flex-boxes">
  <div class="flex-column">
    <div class="card cg-1 column-card">

      <span class="fa-stack fa-1x icon-section fr">
        <span class="fa-stack-1x document-number">7</span>
        <svg class="icon icon-document-2">
          <use xlink:href="#icon-document-2">
          </use>
        </svg>
      </span>
      <h3>Wills</h3>

      <ul class="data-list mb-20">
        <li class="data-pair">
          <span class="pair-name">Bruna Mars</span>
          <span class="data-right">
            Primary
          </span>
        </li>

        <li class="data-pair">
          <span class="pair-name">BJ Mars</span>
          <span class="data-right">
            Secondary
           </span>
        </li>
      </ul>

      <label>Advisor</label>
      <ul class="data-list">
        <li class="contact-pair">
          Bruna Mars <br>
          <a href="mailto:brunamars@mail.com">brunamars@mail.com</a><br>
          777-777-7777
        </li>
      </ul>

      <label>Shared With</label>
      <section class="shared-list">
        <span class="user-circle">BM</span>
        <span class="user-circle">TA</span>
      </section>
    </div>
  </div>

  <div class="flex-column">
    <div class="card cg-2 column-card">

      <span class="fa-stack fa-1x icon-section fr">
        <span class="fa-stack-1x document-number">3</span>
        <svg class="icon icon-document-2">
          <use xlink:href="#icon-document-2">
          </use>
        </svg>
      </span>

      <h3>Trusts</h3>

      <section class="mb-20">
        <label>Name 1</label><br>
        <label>Name 2</label><br>
        <label>Name 3</label><br>
      </section>

      <label>Advisor</label>
      <ul class="data-list">
        <li class="contact-pair">
          Bruna Mars<br>
          <a href="mailto:brunamars@mail.com">brunamars@mail.com</a><br>
          777-777-7777
        </li>
      </ul>

      <label>Shared With</label>
      <section class="shared-list">
        <span class="user-circle">BM</span>
        <span class="user-circle">TA</span>
      </section>
    </div>
  </div>


  <div class="flex-column">
    <div class="card cg-3 column-card">
      <span class="fa-stack fa-1x icon-section fr">
        <span class="fa-stack-1x document-number">7</span>
        <svg class="icon icon-document-2">
          <use xlink:href="#icon-document-2">
          </use>
        </svg>
      </span>

      <h3>Powers of Attorney</h3>

      <ul class="data-list mb-20">
        <li class="data-pair">
          <label>
            Bruna Mars
          </label>
          <span class="data-right">
            Primary
          </span>
        </li>
      </ul>

      <label>Shared With</label>
      <section class="shared-list">
        <span class="user-circle">BM</span>
        <span class="user-circle">TA</span>
      </section>
    </div>
  </div>
</section>

<% documents = [
  {name: 'Bruno & Bruna Mars Living Will.pdf', modified: '8/25/2016', tags: ['W-T-L', 'Wills & Gifts']},
  {name: 'Gift Distributions.pdf', modified: '8/25/2016', tags: ['W-T-L', 'Wills & Gifts']},
  {name: 'Bruno Mars Power of Attorney.pdf', modified: '7/12/2016', tags: ['W-T-L', 'Power of Attorney']},
  {name: 'Scottrade.pdf', modified: '5/02/2016', tags: ['W-T-L', 'Trusts']}
  ]
  %>

<h1>Dashboard</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Modified</th>
    <th>Tags</th>
    <th>Actions</th>
  </tr>
  <% documents.each do |document| %>
    <tr>
      <td>
        <a><%= link_to document[:name], '' %></a>
      </td>
      <td><%= document[:modified] %></td>
      <td>
        <span class="doc-tag"><%= document[:tags][0] %></span>
        <span class="doc-tag secondary-tag"><%= document[:tags][1] %></span>
      </td>
      <td>
        <%= link_to 'Edit', '', class: "outline-button small-button" %>
      </td>
    </tr>
  <% end %>
</table>
