<%= render :partial => "layouts/bread_crumbs" %>

<h1>Financial Info - Add Property</h1>

<%= form_for @financial_property, url: url_for(action: yield(:action), controller: :financial_property) do |f| %>
<%= hidden_field_tag :shared_user_id, params[:shared_user_id] %>
<%= f.hidden_field :category_id, :value => @financial_property.category_id %>
<div class="card mb-30">
  <% if @financial_property.errors.any? %>
    <% errors = true %>
  <% end %>
  
  <h3 class="card-label">Property Details</h3>
  
  <%= f.label :name, 'Property Name' %><span class="required">Required</span>
  <%= render partial: 'layouts/error_message', locals: { errors: errors, error: @financial_property.errors.messages[:name] } %>
  <%= f.text_field :name, { class: ("input-error" if @financial_property.errors.messages[:name].present?), :maxlength => get_max_length(:default) } %>
  
  <%= f.label :property_type, 'Property Type' %>
  <div class="styled-select">
    <%= f.select :property_type, FinancialProperty::property_types.keys, {}, onchange: "financialValueSignUpdate($('#financial_property_property_type'), 
    $('#financial_property_value'))" %>
  </div>
  
  <%= f.label :property_owner_ids, 'Property Owners' %>
  <div class="chosen-styled-select">
    <%= contact_select_with_create_new(f, :property_owner_ids, @contacts) %>
  </div>
  
  <%= f.label :value, 'Property Value' %>
  <%= f.text_field :value, maxLength: 9, :data => {autonumeric: {vMin: '0', vMax: '999999999', aSign: "$"} },
  :value => f.object && number_to_currency(f.object.value, precision: 0, unit: "$") %>
  
  <%= f.label :address, 'Property Address or Location' %>
  <%= f.text_field :address, :maxlength => get_max_length(:default) %>
    
  <%= f.label :city %>
  <%= f.text_field :city, :maxlength => get_max_length(:default) %>
  
  <span class="state-input">
    <label>State</label>
    <div class="styled-select">
      <%= f.select :state, options_for_select(us_states, f.object.state), :include_blank => "Select..." %>
    </div>
  </span>
  <span class="zip-input">
    <%= f.label :zip, 'Zip Code' %>
    <%= zip_code_form(f, :zip) %>
  </span>
  
  <%= f.label :primary_contact_id, 'Primary Contact' %>
  <div class="chosen-styled-select">
    <%= contact_select_with_create_new(f, :primary_contact_id, @contacts, multiple: false) %>
  </div>
  
  <%= f.label :notes, 'Notes' %>
  <%= f.text_area :notes, :maxlength => get_max_length(:notes) %>
  
  <section class="shared-with edit-shared">
    <h3 class="card-label shared-label">
      <svg class="icon" viewBox="0 0 20 20">
        <use xlink:href="#icon-Safe"></use>
      </svg> Shared With
    </h3>
    <label>Shared With</label><br>
    <div class="chosen-styled-select">
      <%= contact_select_with_create_new(f, :share_with_contact_ids, @contacts_shareable) %>
    </div>
  </section>
  
  <% if params[:id] && policy(@financial_property).destroy? %>
    <%= link_to 'Delete this Property', delete_property_url(params[:id]), method: :delete,
      data: { confirm: "Deleting this property will permanently remove it from ZokuVault." },
      class: 'button small-button secondary-button', id: 'delete-insurance' %>
  <% end %>
</div>

<%= f.submit 'Save', class: "button primary-button big-button" %>
<%= link_to 'Cancel', back_path || financial_information_path, class: "button secondary-button big-button"%>

<% end %>

<script>
  $(document).ready(function(){
    setValue($('#financial_property_value'), $('#financial_property_value').val())
    updateValues($('#financial_property_property_type'), 
      $('#financial_property_value'))
    $('.chosen-select').chosen({allow_single_deselect: true});
  });
</script>