<%= form_for(@vendor) do |f| %>
  <%= hidden_field_tag 'return', params[:return] %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :category %>
  </div>
  <div class="field">
    <%= f.hidden_field :group %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
   <div class="field">
     <%= f.label :webaddress, 'Web Address' %><br>
    <%= f.text_field :webaddress %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>

    <%= f.fields_for :vendor_accounts do |vendor_account| %>
        <div class="field">
          <%= vendor_account.label :account_name, 'Account Name' %><br>
          <%= vendor_account.text_field :name %>
        </div>
    <% end %>

  <div class="field">
    <%= f.label :contact_id, "Primary Contact"%>
    <div class="styled-select">
      <%= f.select :contact_id, options_for_select(Contact.for_user(current_user).map{|c|[c.name, c.id]}) %>
    </div>
  </div>

  <div class="actions vendor-update-button">
    <%= f.button (f.object.new_record? ? "Create Vendor" : "Update Vendor"), class: 'primary-button big-button' %>
  </div>
<% end %>
