<% if @trusts %>
  <% @trusts.each_with_index do |trust, index| %>
    <div class="wtl-body-content">
      <div class="field">
        <label>Trust Name<span class="wtl-required-field"> Required</span></label>
        <div class="styled-text-input">
          <%= f.text_field :name, value: trust.name %>
        </div>
      </div>
      <div class="field">
        <label>Attorney, Accountant or Advisor(s)</label>
        <div class="chosen-styled-select">
          <%= f.collection_select :agent_ids, 
            @contacts, :id, :name, {}, 
            { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: true, id: "trust_agent_id_#{index}" }
          %>
        </div>
      </div>
      <div class="field">
        <label>Trustee(s)</label>
        <div class="chosen-styled-select">
          <%= f.collection_select :trustee_ids, 
            @contacts, :id, :name, {}, 
            { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: true, id: "trust_trustee_id_#{index}" }
          %>
        </div>
      </div>
      <div class="field">
        <label>Successor Trustee(s)</label>
        <div class="chosen-styled-select">
          <%= f.collection_select :successor_trustee_ids, 
            @contacts, :id, :name, {}, 
            { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: true, id: "trust_successor_id_#{index}"  }
          %>
        </div>
      </div>
      <div class="field shared-field bt-gray-light bb-gray-light wtl-shared-with">
        <label>Shared With</label>
        <span class="shared-with-block">
          <h2 class="shared-with-title">Shared With</h2>
          <svg class="icon icon-Safe share-with-icon" viewBox="0 0 20 20">
            <use xlink:href="#icon-Safe"></use>
          </svg>
        </span>
        <div class="chosen-styled-select">
          <%= f.collection_select :share_ids, 
            @contacts, :id, :name, {}, 
            { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: true, id: "trust_share_id_#{index}"  }
          %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if @trusts.empty? %>
  <div class="wtl-body-content">
    <div class="field">
      <label>Trust Name<span class="wtl-required-field"> Required</span></label>
      <div class="styled-text-input">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="field">
      <label>Attorney, Accountant or Advisor(s)</label>
      <div class="chosen-styled-select">
        <%= f.collection_select :agent_ids, 
          @contacts, :id, :name, {}, 
          { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: false }
        %>
      </div>
    </div>
    <div class="field">
      <label>Trustee(s)</label>
      <div class="chosen-styled-select">
        <%= f.collection_select :trustee_ids, 
          @contacts, :id, :name, {}, 
          { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: true }
        %>
      </div>
    </div>
    <div class="field">
      <label>Successor Trustee(s)</label>
      <div class="chosen-styled-select">
        <%= f.collection_select :successor_trustee_ids, 
          @contacts, :id, :name, {}, 
          { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: true }
        %>
      </div>
    </div>
    <div class="field shared-field bt-gray-light bb-gray-light wtl-shared-with">
      <label>Shared With</label>
      <span class="shared-with-block">
        <h2 class="shared-with-title">Shared With</h2>
        <svg class="icon icon-Safe share-with-icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg>
      </span>
      <div class="chosen-styled-select">
        <%= f.collection_select :share_ids, 
          @contacts, :id, :name, {}, 
          { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: true }
        %>
      </div>
    </div>
  </div>
<% end %>


<script>
$(document).ready(function(){
  url = "new/get_trusts_details";
  $.get(url, function(data) {
    data.forEach(function(form_values, index){
      $("#trust_agent_id_" + index).val(form_values[0]).trigger("chosen:updated");
      $("#trust_trustee_id_" + index).val(form_values[1]).trigger("chosen:updated");
      $("#trust_successor_id_" + index).val(form_values[2]).trigger("chosen:updated");
      $("#trust_share_id_" + index).val(form_values[3]).trigger("chosen:updated");
    });
  });
});
</script>