<%= render :partial => "layouts/bread_crumbs" %>

<h1><%= yield(:title) + ' - Setup' %></h1>
  <%= form_for @vault_entry do |f| %>
  <%= hidden_field_tag :shared_user_id, params[:shared_user_id] %>
  <div id="wtl-forms">
    <div id="wtl-form-1">
      <% @vault_entries.each_with_index do |data, index| %>
        <%= fields_for "vault_entry_#{index}", data do |builder| %>
          <%= render yield(:partial_path), f: builder, index: index, data: data %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render partial: 'layouts/save_cancel_buttons', locals: { previous_path: trusts_entities_path, f: f } %>
<% end %>

<script>
  $('.chosen-select').chosen({allow_single_deselect: true});
</script>
