<% @trusts.each do |trust| %>
  <div class="card trusts mb-30">

    <h3 class="card-label"><%= trust.name %></h3>

    <label class="title">Trustees</label>
    <p>
      <% trust.trustees && trust.trustees.each do |trustee| %>
        <%= trustee.name %><br>
      <% end %>
    </p>

    <label class="title">Successor Trustees</label>
    <p>
      <% trust.successor_trustees && trust.successor_trustees.each do |trustee| %>
        <%= trustee.name %><br>
      <% end %>
    </p>

    <% trust.agents.each_with_index do |advisor, index| %>
        <% if index == 0 %>
          <label class="title">Trust Advisor</label>
        <% end %>
        <% if advisor %>
          <p>
            <%= advisor.name %><br>
            <a href="mailto:<%= advisor.emailaddress %>">
              <%= advisor.emailaddress %>
            </a><br>
            <%= advisor.phone %>
          </p>
        <% end %>
    <% end %>

    <label>Notes</label>
    <p>
      <%= trust.notes %>
    </p>

    <section class="shared-with">
      <h3 class="card-label shared-label">
        <svg class="icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg> Shared With
      </h3>

      <label>Shared With</label>
      <div>
        <% trust.shares && trust.shares.each do |share| %>
          <% if share.contact.present? %>
            <span class="user-circle"><%= share.contact.initials %></span>
          <% end %>
        <% end %>
      </div>
    </section>

  </div>
<% end %>
