<%= render :partial => "layouts/bread_crumbs" %>

<%= link_to edit_trust_path(@trust, @shared_user), class: "edit-link mrg-top" do%>
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-pencil-1"></use>
    </svg>
  </span>Edit Trust
<% end %>
<h1><%= @trust.name %></h1>

<div class="card trusts mb-20">
  <h3 class="card-label">Trust Details</h3>
  
  <% if !trust_present?(@trust) %>
    <label>There is no information about this Trust</label>
  <% end %>
  
  <% if @trust.trustees.any? %>
    <label class="title">Trustees</label>
    <p>
      <% @trust.trustees.each do |trustee| %>
        <%= trustee.name %><br>
      <% end %>
    </p>
  <% end %>
  
  <% if @trust.successor_trustees.any? %>
    <label class="title">Successor Trustees</label>
    <p>
      <% @trust.successor_trustees.each do |trustee| %>
        <%= trustee.name %><br>
      <% end %>
    </p>
  <% end %>

  <% if @trust.agents.any? %>
    <label class="title">Trust Advisors</label>
    <p>
      <% @trust.agents.each do |agent| %>
        <%= agent.name %><br>
      <% end %>
    </p>
  <% end %>

  <% if @trust.notes.present? %>
    <label>Notes</label>
    <p><%= @trust.notes %></p>
  <% end %>
  <span class="clear"></span>
  
  <% if category_subcategory_shares(@trust, resource_owner).present? %>
    <section class="shared-with">
      <h3 class="card-label shared-label">
        <svg class="icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg> Shared With
      </h3>

      <label>Shared With</label>
      <div>
        <%= render :partial => "layouts/subcategory_share", :locals => { :shares => category_subcategory_shares(@trust, resource_owner) } %>
      </div>

    </section>
  <% end %>
</div>

<h3>Documents</h3>
<a class="add-link fr" href="<%= new_documents_path(:category => @trust.category.name, :card_document_id => CardDocument.trust(@trust.id).id,
  :shared_user_id => @shared_user.present? ? @shared_user.id : "") %>">
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>
  </span>Add Document
</a>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @group_documents } %>