<%= render :partial => "layouts/bread_crumbs" %>

<h1><%= @tax_year.year %> Taxes Setup</h1>
<%= form_for(@tax_year, url: "#{yield(:url_path)}") do |f| %>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :year %>
  <%= hidden_field_tag :shared_user_id, params[:shared_user_id] %>
  <% if @tax_year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tax_year.errors.count, "error") %> prohibited this taxes efrom being saved:</h2>
      <ul>
      <% @tax_year.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @taxes.each_with_index do |data, index| %>
    <%= f.fields_for "tax_#{index}", data do |ff| %>
      <div class="body-content">
        <%= render 'form', ff: ff, index: index, data: data %>
      </div>
    <% end %>
  <% end %>
  <% if @taxes.empty? %>
    <% index = 0 %>
    <%= f.fields_for "tax_#{index}" do |ff| %>
      <div class="body-content">
        <%= render 'form', ff: ff, index: index, data: nil %>
      </div>
    <% end %>
  <% end %>

  <div class="add-new-button" href="" onclick="addNewField();">
    <svg class="icon add-icon">
      <use xlink:href="#icon-add-1"></use>
    </svg>
    Add another Tax<br>
  </div>

  <%= f.submit 'Save', class: "button primary-button big-button" %>
  <%= link_to 'Cancel', back_path || taxes_path, class: "button secondary-button big-button" %>
<% end %>

<script>
  clearFormFields = function(form){
    form.find(':text').val("");
    form.find('textarea').val("");
    form.find(':checked').prop('checked', false);
  }
  
  addNewField = function(){
    var $form = $('div[class^="body-content"]:last');
    var $newForm = $form.clone();
    old_id_number = parseInt($form.find("input[type=hidden]").attr("id").split('_').last());
    new_id_number = old_id_number + 1;
    clearForm($newForm, old_id_number, new_id_number);
    clearFormFields($newForm);
    $('.chosen-container',$newForm).remove();
    $newForm.insertAfter('.body-content:last');
    $('.chosen-select').chosen({allow_single_deselect: true});
	$('.chosen-container').css({"width": ""});//enforces > 0 width when adding policy in mobile view
  };
  $('.chosen-select').chosen({allow_single_deselect: true});

</script>
