<%= ff.hidden_field :id, id: "tax_id_#{index}" %>
<div class="card cg-<%= @tax_year.year %> mb-30">
  <label>Tax Preparer</label>
  <div class="chosen-styled-select">
    <%= contact_select_with_create_new(ff, :tax_preparer_id, @contacts, id: "tax_preparer_id_#{index}", multiple: false) %>
  </div>

  <label>Notes</label>
  <p><%= ff.text_area :notes, id: "tax_notes_id_#{index}", :maxlength => get_max_length(:notes) %></p>
  <%= render partial: 'layouts/shared_with_email_preview_section', locals: { f: ff, shared_with_field_symbol: :share_with_contact_ids,
                                                                             shared_with_dropdown_id: "tax_share_id_#{index}",
                                                                             additional_params: { id: "tax_share_id_#{index}" }} %>

  <% if data && data.id && policy(data).destroy? %>
    <%= link_to 'Delete', "#{taxes_path}/#{data.id}", method: :delete,
        data: { confirm: "Deleting this tax will permanently remove it from ZokuVault." },
        class: 'button small-button secondary-button', id: 'delete-tax' %>
  <% end %>
</div>

<script>
  clearForm = function($newWtlForm, old_id, new_id) {
    new_tax_name = "tax_year_info[tax_" + new_id + "]";
    changeIdAndName($newWtlForm, "tax_id_" + old_id,
      "tax_id_" + new_id, new_tax_name + "[id]")
    changeIdAndName($newWtlForm, "tax_preparer_id_" + old_id,
      "tax_preparer_id_" + new_id, new_tax_name + "[tax_preparer_id]")
    changeIdAndName($newWtlForm, "tax_notes_id_" + old_id,
      "tax_notes_id_" + new_id, new_tax_name + "[notes]")
    changeIdAndName($newWtlForm, "tax_share_id_" + old_id,
      "tax_share_id_" + new_id, new_tax_name + "[share_with_contact_ids][]")
      
    changeHiddenMultipleSelect($newWtlForm, "tax_year_info[tax_" + old_id + "][share_with_contact_ids][]",
      "tax_year_info[tax_" + new_id + "][share_with_contact_ids][]")

    $newWtlForm.find("#delete-tax").remove();
  }
</script>