<div class="card cg-<%=year%> column-card">
  <%= link_to content_tag(:a), link_to_details(year), class: "whole-card-link" %>
  <div class = "info-wrapper">
    <div class="section header">
      <% if year_exist?(@taxes, year) %>
        <%= render :partial => "layouts/documents_count_icon", :locals => {:user => current_user, :group => "Taxes"} %>
      <% end %>
      <h3><%= year %> Taxes</h3>
    </div>
    <% if year_exist?(@taxes, year) %>
      <% tax = tax_by_year(year) %>
      <% if tax && tax.tax_preparer.present? %>
        <div class="section">
          <div class="left-side">
              <span class="field"><%= tax.tax_preparer.name %></span><br>
              <a class="field"><%= tax.tax_preparer.emailaddress %></a><br>
              <span class="field"><%= tax.tax_preparer.phone %></span>
            </div>
          <div class="right-side">
            <span class="user-circle field"><%= tax.tax_preparer.initials %></span>
          </div>
        </div>
        <span class="clear"></span>
        <div class="section bottom">
          <% tax.share_with_contacts.each do |contact| %>
            <span class="user-circle"><%= contact.initials %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <%= link_to 'Add Details', link_to_add_details(year), class: "add-details-link" %>
    <span class="clear"></span>
  </div>
</div>
