<div class="card cg-<%=year%> column-card mb-30">
    <% if year_exist?(@taxes, year) %>
      <%#= link_to content_tag(:a), link_to_details(year), class: "whole-card-link" %>
      <%= render :partial => "layouts/documents_count_icon", :locals => {:user => current_user, :group => year, category: @category} %>
    <% end %>
    <h3><%= year %> Taxes</h3>

    <% if year_exist?(@taxes, year) %>
      <% tax = tax_by_year(year) %>
      <% if tax && tax.tax_preparer.present? %>

      <label>Tax Preparer</label>
      <ul class="data-list">
          <li class="contact-pair">
            <%= tax.tax_preparer.name %><br>
            <%= mail_to tax.tax_preparer.emailaddress, tax.tax_preparer.emailaddress, class:"link-on-top" %><br>
            <%= tax.tax_preparer.phone %>
          </li>
      </ul>

      <label>Shared With</label>
      <section class="shared-list mb-20">
        <% tax.share_with_contacts.each do |contact| %>
          <%= render partial: "layouts/avatar_circle", locals: { :contact => contact } %>
        <% end %>
      </section>

    <% end %>
  <% end %>

  <% if year_exist?(@taxes, year) %>
    <%= link_to 'View Details', link_to_details(year), class: "small-button outline-button mt-20" %>
  <% else %>
    <%= link_to 'Add Details', link_to_add_details(year), class: "small-button outline-button mt-20" %>
  <% end %>
</div>
