<div class="card cg-<%=year%> column-card mb-30">
  <% if year_exist?(@taxes, year) %>
    <%= render :partial => "layouts/documents_count_icon", :locals => { :count => document_count(resource_owner, year.to_s, @category.name) } %>
  <% end %>
  <h3><%= year %> Taxes</h3>

  <% if year_exist?(@taxes, year) %>
    <% tax = tax_by_year(year) %>
    <% tax_year_info = tax_year_info(year) %>
    
    <% if tax && tax.tax_preparer.present? %>
      <label>Tax Preparer</label>
      <ul class="data-list">
        <li class="contact-pair">
          <%= tax.tax_preparer.name %><br>
          <%= mail_to tax.tax_preparer.emailaddress, tax.tax_preparer.emailaddress, class:"link-on-top" %><br>
          <%= tax.tax_preparer.phone %>
        </li>
      </ul>
    <% end %>

    <% if category_subcategory_shares(tax_year_info.taxes, resource_owner).present? %>
      <label>Shared With</label>
      <section class="shared-list mb-20">
        <%= render :partial => "layouts/subcategory_share", :locals => { :shares => category_subcategory_shares(tax_year_info.taxes, resource_owner) } %>
      </section>
    <% end %>
  <% end %>

  <% if @category_shared || show_add_link?(@shared_user, current_user, 'Taxes', year.to_s) %>
    <% if year_exist?(@taxes, year) %>
      <%= link_to 'View Details', link_to_details(year), class: "small-button outline-button mt-20" %>
    <% else %>
      <%= link_to 'Add Details', link_to_add_details(year), class: "small-button outline-button mt-20" %>
    <% end %>
  <% else %>
    <p>No shared items</p>
  <% end %>
</div>
