<h1>Taxes</h1>
<section class="flex-boxes">
  <% TaxesLimits::YEARS[:max].downto(TaxesLimits::YEARS[:min]) do |year| %>
    <div class="flex-column">
      <%= render :partial => 'tax_card', :locals => {:year => year} %>
    </div>
  <% end %>
</section>

<%= render :partial => "layouts/add_document_button", :locals => {documents_path: new_document_path(:category => @category.name), 
  documents_title: "Tax Documents"} %>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @documents} %>

<%= render :partial => "layouts/shared_category", :locals => { :category => Rails.application.config.x.TaxCategory.downcase } %>

<%= javascript_include_tag 'flex_boxes' %>
<script>
var is_safari = navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1;
if(!is_safari){
  $(function(){
    $('.flex-boxes').masonry({
      columnWidth: '.flex-column',
      gutter: 20,
      percentPosition: true,
      itemSelector: '.flex-column'
    });
  });
}
</script>
