<h1>Taxes</h1>
<section class="flex-boxes">
<<<<<<< HEAD
  <% 2016.downto(2010) do |year| %>
    <div class="flex-column">
      <%= render :partial => 'tax_card', :locals => {:year => year} %>
    </div>
  <% end %>
</section>

<a class="add-link fr" href="<%= new_document_path(:category => @category) %>">
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>
  </span>Add Document
</a>
<h2>Tax Documents</h2>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @documents} %>
=======

  <div class="flex-column">
    <%= link_to content_tag(:a), "#{taxes_path}/1", class: "whole-card-link" %>
    <div class="card cg-1 column-card">
      <h3>2016 Taxes</h3>
      <a>View<a>
    </div>

  </div>
  <div class="flex-column">
    <%= link_to content_tag(:a), "#{taxes_path}/1", class: "whole-card-link" %>
    <div class="card cg-2 column-card">
      <h3>2015 Taxes</h3>
      <a>View<a>
    </div>

  </div>
  <div class="flex-column">
    <%= link_to content_tag(:a), "#{taxes_path}/1", class: "whole-card-link" %>
    <div class="card cg-3 column-card">
      <h3>2014 Taxes</h3>
      <a>View<a>
    </div>

  </div>
  <div class="flex-column">
    <%= link_to content_tag(:a), "#{taxes_path}/1", class: "whole-card-link" %>
    <div class="card cg-4 column-card">
      <h3>2013 Taxes</h3>
      <a>View<a>
    </div>

  </div>
  <div class="flex-column">
    <%= link_to content_tag(:a), "#{taxes_path}/1", class: "whole-card-link" %>
    <div class="card cg-5 column-card">
      <h3>2012 Taxes</h3>
      <a>View<a>
    </div>

  </div>
  <div class="flex-column">
    <%= link_to content_tag(:a), "#{taxes_path}/1", class: "whole-card-link" %>
    <div class="card cg-6 column-card">
      <h3>2011 Taxes</h3>
      <a>View<a>
    </div>

  </div>
  <div class="flex-column">
    <%= link_to content_tag(:a), "#{taxes_path}/1", class: "whole-card-link" %>
    <div class="card cg-7 column-card">
      <h3>2010 Taxes</h3>
      <a>View<a>
    </div>

  </div>

</section>

<h2>Tax Documents</h2>
<table>
    <tr>
      <th>Name</th>
      <th>Modified</th>
      <th>Tags</th>
      <th>Shared With</th>
      <th>Actions</th>
    </tr>

    <tr>
      <td>
        <a>DocumentName.pdf</a>
      </td>
      <td>07/31/2016</td>
      <td>
        <span class="doc-tag">Insurance</span>
        <span class="doc-tag secondary-tag">Car</span>
      </td>
      <td>
        <span class="user-circle">AK</span>
        <span class="user-circle">BM</span>
        <span class="user-circle">MB</span>
      </td>
      <td>
          <button class="outline-button small-button">
            Edit
          </button>
      </td>
    </tr>
</table>
>>>>>>> 6fabdac... Ad-379 - details tax card

<script>

$(function() {
<<<<<<< HEAD
=======

>>>>>>> 6fabdac... Ad-379 - details tax card
  $('.flex-boxes').masonry({
    columnWidth: '.flex-column',
    gutter: 20,
    percentPosition: true,
    itemSelector: '.flex-column'
  });

});

<<<<<<< HEAD
=======

>>>>>>> 6fabdac... Ad-379 - details tax card
</script>
