<h1>Taxes Setup</h1>

<body>
  <% if @tax.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tax.errors.count, "error") %> prohibited this tax from being saved:</h2>
      <ul>
      <% @tax.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @tax, :remote => true do |f| %>
    <div id="taxes-forms">
      <div id="taxes-form-1">
        <% @taxes.each_with_index do |data, index| %>
          <%= fields_for "tax_#{index}", data do |builder| %>
            <% if data.id %>
              <%= link_to 'Delete', "#{yield(:delete_path)}#{data.id}", method: :delete,
                  data: { confirm: "Deleting this '#{yield(:question_title)}' will permanently remove it from ZokuVault." }, class: 'right-align-delete-link' %>
              <% end %>
            <%= render 'form', f: builder, index: index, data: data %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="wtl-footer-content">
      <div class="add-new-field" href="" onclick="addNewField();">
        <svg class="icon add-icon">
          <use xlink:href="#icon-add-1"></use>
        </svg>
        Add another Tax<br>
      </div>
    </div>

    <button class = "button primary-button big-button">Save</button>
    <%= link_to 'Cancel', :back || taxes_path, {class: "button secondary-button big-button", method: :get}%>
  <% end %>
</body>

<script>
  clearForm = function($newWtlForm, old_id, new_id){
    new_vault_entry_id = "tax_" + new_id;
    $newWtlForm.find("[id^='tax_id_']").attr({
      id: "tax_id_" + new_id,
      value: ""
    });
    $newWtlForm.find("[id^='tax_id_']").attr("name", new_vault_entry_id + "[id]");

    $newWtlForm.find("#tax_preparer_id_" + old_id).attr({
      name: new_vault_entry_id +"[tax_preparer_id]",
      id: "tax_preparer_id_" + new_id
    });
    $newWtlForm.find("#tax_preparer_id_" + new_id + " option").prop("selected", false);

    $newWtlForm.find("#tax_notes_id_" + old_id).attr({
      name: new_vault_entry_id +"[notes]",
      id: "tax_notes_id_" + new_id
    });

    $newWtlForm.find("#tax_share_id_" + old_id).attr({
      name: new_vault_entry_id +"[share_with_contact_ids][]",
      id: "tax_share_id_" + new_id
    });
    $newWtlForm.find("#tax_share_id_s" + new_id + " option").prop("selected", false);
  }
  addNewField = function(){
    var $form = $('div[class^="body-content"]:last');
    var $newForm = $form.clone();
    old_id_number = parseInt($form.find("input[type=hidden]").attr("id").split('_').last());
    new_id_number = old_id_number + 1;
    clearForm($newForm, old_id_number, new_id_number);

    $('.chosen-container',$newForm).remove();
    $newForm.find(':text').val("");
    $newForm.appendTo('#taxes-form-1');
    $('.chosen-select').chosen();
  };
  $('.chosen-select').chosen();
</script>
