<h1><%= yield(:action) %> Employee Account</h1>

  <%= form_for @user_account, url: yield(:save_update_url), method: yield(:method) do |f| %>
    <%= hidden_field_tag :id, @user_account.user_profile.try(:id) %>
    <% if @user_account.errors.any? %>
      <% errors = @user_account.errors %>
    <% else %>
      <% errors = nil %>
    <% end %>

    <div class="card mb-30">
      <h3 class="card-label">Employee Information</h3>

      <%= f.fields_for :user_profile do |user_profile_form| %>
        <%= user_profile_form.label :first_name, 'First Name' %><span class="required">Required</span>
        <% if errors && errors.messages[:"user_profile.first_name"] %>
          <span class="error-label"> - <%= errors.messages[:"user_profile.first_name"].first %></span>
        <% end %>
        <%= user_profile_form.text_field :first_name, { class: ("input-error" if errors && errors.messages[:"user_profile.first_name"].present?), :maxlength => get_max_length(:default) } %>
        <%= user_profile_form.label :last_name, 'Last Name' %><span class="required">Required</span>
        <% if errors && errors.messages[:"user_profile.last_name"] %>
          <span class="error-label"> - <%= errors.messages[:"user_profile.last_name"].first %></span>
        <% end %>
        <%= user_profile_form.text_field :last_name, { class: ("input-error" if errors && errors.messages[:"user_profile.last_name"].present?), :maxlength => get_max_length(:default) } %>
      <% end %>

      <%= f.label :email, 'Email Address' %><span class="required">Required</span>
      <% if errors && errors.messages[:email].first %>
        <span class="error-label"> - <%= errors.messages[:email].first %></span>
      <% end %>
      <%= f.email_field :email, { class: ("input-error" if errors && errors.messages[:email].present?), :maxlength => get_max_length(:default) } %>
      
      <% if @user_account.confirm_email %>
        <%= f.label :email, 'Verify Email Address' %><span class="required">Required</span>
        <% if errors && errors.messages[:email_confirmation] %>
          <span class="error-label"> - <%= errors.messages[:email_confirmation].first %></span>
        <% end %>
        <%= f.email_field :email_confirmation, { class: ("input-error" if errors && errors.messages[:email_confirmation].present?), :maxlength => get_max_length(:default) } %>
      <% end %>
    </div>
    
    <h1>Accounts Managed By User</h1>
    <table>
      <tr>
        <th class="w-10"></th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email</th>
      </tr>
      <% @corporate_contacts.each do |contact| %>
        <tr>
          <td class="w-10">
            <ul class="check-list">
              <li class="check-list">
                <label>
                  <%= check_box_tag "corporate_employee[user_accounts][#{contact.emailaddress}]",
                    contact.emailaddress,
                    @employee_account_user_emails.include?(contact.emailaddress.downcase), {}
                  %>
                <span class="mb-10"></span>
              </label>
              </li>
            </ul>
          </td>
          <td><%= contact.firstname %></td>
          <td><%= contact.lastname %></td>
          <td><%= mail_to contact.emailaddress, contact.emailaddress, class: 'no-underline-link' %></td>
        </tr>
      <% end %>
    </table>
    
    <%= render partial: 'layouts/save_cancel_buttons', locals: { previous_path: back_path || corporate_employees_path, f: f } %>
<% end %>
