<h1>Wills - Trusts - Legal</h1>

<section class="flex-boxes">
  <div class="flex-column">
    <div class="card cg-1 column-card">
      <% if @wills.any? %>
      
        <%= render :partial => "layouts/documents_count_icon", :locals => { :count => document_count(current_user, @wills.name, @category) } %>
        <h3>Wills</h3>

        <% @wills.each_with_index do |will, index| %>
          <div <% if index != 0 %> class="data-border" <% end %>></div>
          <%= link_to content_tag(:a), wills_path, class: "whole-card-link" %>

            <label><%= will.title %></label>
            <% if !will_present?(will) %>
              <p>There is no information about this Will</p>
            <% end %>
            <ul class="data-list mb-20">
              <% if will.primary_beneficiaries.present? %>
                <% will.primary_beneficiaries.each do |primary| %>
                  <li class="data-pair">
                    <span class="pair-name"><%= primary.name %></span>
                    <span class="data-right">
                      Primary
                    </span>
                  </li>
                <% end %>
              <% end %>

              <% if will.secondary_beneficiaries.present? %>
                <% will.secondary_beneficiaries.each do |secondary| %>
                  <li class="data-pair">
                    <span class="pair-name"><%= secondary.name %></span>
                    <span class="data-right">
                      Secondary
                    </span>
                  </li>
                <% end %>
              <% end %>
            </ul>

            <% if will.agents.present? %>
              <label>Advisor</label>
              <ul class="data-list">
                <% will.agents && will.agents.each do |advisor| %>
                  <li class="contact-pair">
                    <%= advisor.name %><br>
                    <a href="mailto:<%= advisor.emailaddress %>"><%= advisor.emailaddress %></a><br>
                    <%= advisor.phone %>
                  </li>
                <% end %>
              </ul>
            <% end %>

          <% if will.share_with_contacts.present? %>
            <label>Shared With</label>
            <section class="shared-list">
              <% will.share_with_contacts.each do |share| %>
                <% if share.present? %>
                  <%= render partial: "layouts/avatar_circle", locals: { :contact => share } %>
                <% end %>
              <% end %>
            </section>
          <% end %>
        <% end %>
      
      <% else %>
        <h3>Wills</h3>
        <p>Add your details here.</p>
        <%= link_to 'Add Wills', new_will_path, class: "small-button outline-button" %>
      <% end %>
    </div>
  </div>

  <div class="flex-column">
    <div class="card cg-2 column-card">
      <% if @trusts.any? %>
        <%= link_to content_tag(:a), trusts_path, class: "whole-card-link" %>

          <%= render :partial => "layouts/documents_count_icon", :locals => { :count => document_count(current_user, @trusts.name, @category) } %>
          <h3>Trusts</h3>
          <section class="mb-20">
            <% @trusts.each do |trust| %>
              <label><%= trust.name %></label><br>
            <% end %>
          </section>

          <% if get_agents_uniq(@trusts).any? %>
            <label>Advisor</label>
          <% end %>
          <ul class="data-list">
            <% get_agents_uniq(@trusts) && get_agents_uniq(@trusts).each do |agent| %>
              <li class="contact-pair">
                <%= agent.name %><br>
                <a href="mailto:<%= agent.emailaddress %>"><%= agent.emailaddress %></a><br>
                <%= agent.phone %>
              </li>
            <% end %>
          </ul>

          <% if get_shares_uniq(@trusts).present? %>
            <label>Shared With</label>
            <section class="shared-list">
              <% get_shares_uniq(@trusts).each do |share| %>
                <% if share.present? %>
                  <%= render partial: "layouts/avatar_circle", locals: { :contact => share } %>
                <% end %>
              <% end %>
            </section>
          <% end %>
      <% else %>

        <h3>Trusts</h3>
        <p>Add your details here.</p>
        <%= link_to 'Add Trusts', new_trust_path, class: "small-button outline-button" %>

      <% end %>
    </div>
  </div>


  <div class="flex-column">
    <div class="card cg-3 column-card">
      <% if @power_of_attorneys.any? %>
        <%= link_to content_tag(:a), power_of_attorneys_path, class: "whole-card-link" %>

          <%= render :partial => "layouts/documents_count_icon", :locals => { :count => document_count(current_user, 'Legal', @category) } %>
          <h3>Powers of Attorney</h3>

          <ul class="data-list mb-20">
            <% @power_of_attorneys.each do |power_of_attorney| %>
              <% if attorney_present?(power_of_attorney) %>
                <li class="data-pair">
                  <label>
                    <%= power_of_attorney.agents && power_of_attorney.agents.map(&:name).join(", ") %>
                  </label>
                  <span class="data-right">
                  <% if power_of_attorney.powers.present? %>
                    <% power_of_attorney.powers.keys.each do |agent_power| %>
                      <%= agent_power %><br>
                    <% end %>
                  <% end %>
                  </span>
                </li>
              <% end %>
            <% end %>
          </ul>

        <% if get_shares_uniq(@power_of_attorneys).present? %>
          <label>Shared With</label>
          <section class="shared-list">
            <% get_shares_uniq(@power_of_attorneys).each do |share| %>
              <% if share.present? %>
                <%= render partial: "layouts/avatar_circle", locals: { :contact => share } %>
              <% end %>
            <% end %>
          </section>
        <% end %>

      <% else %>
        <h3>Power of Attorney</h3>
        <p>Add your details here.</p>
        <%= link_to 'Add Details', new_power_of_attorney_path, class: "small-button outline-button" %>
      <% end %>
    </div>
  </div>
</section>

<a class="add-link fr" href="<%= new_document_path(:category => @category, :return => "estate_planning") %>">
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>
  </span>Add Document
</a>
<h3>Wills - Trusts - Legal Documents</h3>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @wtl_documents} %>
<%= javascript_include_tag 'flex_boxes' %>
<script>
var is_safari = navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1;
if(!is_safari){
  $(function(){
    $('.flex-boxes').masonry({
      columnWidth: '.flex-column',
      gutter: 20,
      percentPosition: true,
      itemSelector: '.flex-column'
    });
  });
}
</script>
