<div>
	<a class="edit-link-wtl" href='#'>
        <span class="circle-button">
			<svg class="icon circle-icon">
				<use xlink:href="#icon-pencil-1"></use>
			</svg>
        </span>Edit
    </a>
	<h1>Wills - Trusts - Legal</h1>
</div>
<div class="flex-boxes">
	<div class="flex-33">
    	<div class="card wills">
          <h3>Wills</h3>
		  <p class="wtl-card-info">
		  	<span class="percent-complete">0% Complete</span>
			<span class="wtl-start-button"><%= link_to 'Start', '#' %></span>
		  </p>
		</div>
	</div>

  <div class="flex-33">
    <div class="card trusts">
      <h3>Trusts</h3>
      <p class="wtl-card-info">
        <span class="percent-complete">0% Complete</span>
        <span class="wtl-start-button"><%= link_to 'Start', new_trust_path %></span>
      </p>
    </div>
    
    <%= link_to details_trust_path(1), :class => "undo-link-style" do %>
      <div class="card trusts">
        <h3>Details For Trust</h3>
        <p class="wtl-card-info">
          <span class="percent-complete">100% Complete</span>
        </p>
      </div>
    <% end %>
  </div>

  <div class="flex-33">
    <div class="card attorney">
      <h3>Power of Attorney</h3>
      <p class="wtl-card-info">
        <span class="percent-complete">0% Complete</span>
        <span class="wtl-start-button"><%= link_to 'Start', new_attorney_path %></span>
      </p>
    </div>
    
    <%= link_to details_attorney_path(1), :class => "undo-link-style" do %>
      <div class="card attorney">
        <h3>Details For Legal</h3>
        <p class="wtl-card-info">
          <span class="percent-complete">100% Complete</span>
        </p>
      </div>
    <% end %>
  </div>
</div>

<div>
	<a class="add-link fr" href="<%= new_document_path(:category => @category, :return => "estate_planning") %>">
	  <span class="circle-button">
		<svg class="icon circle-icon">
		  <use xlink:href="#icon-plus-1"></use>
		</svg>
	  </span>Add Document
	</a>
	<h1>Wills - Trusts - Legal Documents</h1>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Modified</th>
    <th>Tags</th>
    <th>Shared With</th>
    <th>Actions</th>
  </tr>
  <% @wtl_documents.each do |document| %>
      <tr>
        <td>
          <a><%= link_to document.name, document.url %></a>
        </td>
        <td><%= document.updated_at %></td>
        <td>tags</td>
        <td>
          <span class="user-circle">AK</span>
          <span class="user-circle">BM</span>
          <span class="user-circle">MB</span>
        </td>
        <td>
          <%= link_to 'Edit', edit_document_path(document), class: "outline-button small-button" %>
          <%= link_to 'Delete', document_path(document), method: :delete, data: {confirm: 'Are you sure?'}, class: "outline-button small-button" %>
        </td>
      </tr>
  <% end %>
</table>
