<div>
  <a class="edit-link" href='#'>
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-pencil-1"></use>
      </svg>
    </span>Edit
  </a>
  <h1>Wills - Trusts - Legal</h1>
</div>

<section class="flex-boxes">
  <div class="flex-column">
    <div class="card cg-1 column-card">
      <h3>Wills</h3>
      <span class="percent-complete">0% Complete</span>
      <%= link_to 'Add Details', new_will_path, class: "add-details-link" %>
      <span class="clear"></span>
    </div>

    <%= link_to details_will_path(1), :class => "undo-link-style" do %>
      <div class="card cg-1 column-card">
        <h3>Details For Will</h3>
        <span class="percent-complete">100% Complete</span>
      </div>
    <% end %>
  </div>

  <div class="flex-column">
    <div class="card cg-2 column-card">
      <h3>Trusts</h3>
      <span class="percent-complete">0% Complete</span>
      <%= link_to 'Add Details', new_trust_path, class: "add-details-link" %>
    </div>
    <%= link_to details_trust_path(1), :class => "undo-link-style" do %>
      <div class="card cg-2 column-card">
        <h3>Details For Trust</h3>
        <span class="percent-complete">100% Complete</span>
      </div>
    <% end %>
  </div>

  <div class="flex-column">
    <div class="card cg-3 column-card">
      <h3>Power of Attorney</h3>
      <span class="percent-complete">0% Complete</span>
      <%= link_to 'Add Details', new_attorney_path, class: "add-details-link" %>
    </div>

    <%= link_to details_attorney_path(1), :class => "undo-link-style" do %>
      <div class="card cg-3 column-card">
        <h3>Details For Legal</h3>
        <span class="percent-complete">100% Complete</span>
      </div>
    <% end %>
  </div>

</section>


<div>
  <a class="add-link fr" href="<%= new_document_path(:category => @category, :return => "estate_planning") %>">
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-plus-1"></use>
      </svg>
    </span>Add Document
  </a>
  <h1>Wills - Trusts - Legal Documents</h1>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Modified</th>
    <th>Tags</th>
    <th>Shared With</th>
    <th>Actions</th>
  </tr>
  <% @vault_entries.each do |vault_entry| %>
    <% next unless (document = vault_entry.document) %>
      <tr>
        <td>
          <a><%= link_to document.name, document_path(document) %></a>
        </td>
        <td><%= document.updated_at %></td>
        <td>tags</td>
        <td>
          <% vault_entry.share_with_contacts.each do |contact| %>
            <span class="user-circle"><%= contact.initials %></span>
          <% end %>
        </td>
        <td>
          <%= link_to 'Edit', edit_document_path(document), class: "outline-button small-button" %>
          <%= link_to 'Delete', document_path(document), method: :delete, data: {confirm: 'Are you sure?'}, class: "outline-button small-button" %>
        </td>
      </tr>
  <% end %>
  <% @wtl_documents.each do |wtl_doc| %>
    <tr>
      <td>
        <a><%= link_to wtl_doc.name, document_path(wtl_doc) %></a>
      </td>
      <td><%= wtl_doc.updated_at %></td>
      <td>tags</td>
      <td>
        <% wtl_doc.shares.each do |share| %>
          <% if !share.contact.nil? %>
            <span class="user-circle"><%= share.contact.initials %></span>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Edit', edit_document_path(wtl_doc), class: "outline-button small-button" %>
        <%= link_to 'Delete', document_path(wtl_doc), method: :delete, data: {confirm: 'Are you sure?'}, class: "outline-button small-button" %>
      </td>
    </tr>
  <% end %>
</table>

<script>

$(function() {

  $('.flex-boxes').masonry({
    columnWidth: '.flex-column',
    gutter: 20,
    percentPosition: true,
    itemSelector: '.flex-column'
  });

});


</script>
