<h1>Insurance</h1>

<section class="flex-boxes">
  <% new_link_paths = {
  "life" => new_life_path,
  "property" => new_property_path,
  "health" => new_health_path,
  } %>

  <% @groups.each do |group| %>
    <div class="flex-column">
       <div class="card <%= group['value'] %> column-card section-header">
        <div class="section header">
          <%= render :partial => "layouts/documents_count_icon", :locals => {:user => current_user, :group => group['label'], :category => @category} %>
          <h3><%= group["label"] %></h3>
        </div>
        <%= link_to 'Add Details', new_link_paths[group['value']], class: "add-details-link" %>
        <span class="clear"></span>
      </div>

      <% if group['value']=="life" %>
        <% @insurance_vendors.select { |v| v["group"]=="life" }.each do |vendor| %>
          <div class="card <%= group['value'] %> column-card info-wrapper">
            <%= link_to content_tag(:a), life_path(vendor), class: "whole-card-link" %>
            <h3><%= vendor.name %></h3>
            <div class="section">
              <% vendor.policy && vendor.policy.each do |policy| %>
                <span class="wtl-left-side field"><%= "#{policy.policy_type}: #{policy.policy_holder && policy.policy_holder.name}" %></span>
                <span class="wtl-right-side field"><%= policy.coverage_amount && number_to_currency(policy.coverage_amount, unit: "$", precision: 0) %></span>
              <% end %>
            </div>
            <span class="clear"></span>
            <div class="section">
              <a class="field field-block"><%= vendor.webaddress %></a>
              <span class="field field-block"><%= vendor.phone %></span>
            </div>
            <span class="clear"></span>
            <div class="section bottom">
              <% vendor.shares && vendor.shares.each do |share| %>
                <% if share.contact.present? %>
                  <span class="user-circle"><%= share.contact.initials %></span>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if group['value']=="property" %>
        <% @insurance_vendors.select { |v| v["group"]=="property" }.each do |vendor| %>
          <div class="card <%= group['value'] %> column-card info-wrapper">
            <%= link_to content_tag(:a), property_path(vendor), class: "whole-card-link" %>
            <h3><%= vendor.name %></h3>
            <div class="section">
              <% vendor.policy && vendor.policy.each do |policy| %>
                <span class="wtl-left-side field"><%= policy.insured_property %></span>
                <span class="wtl-right-side field"><%= policy.policy_type %></span><br>
              <% end %>
            </div>
            <span class="clear"></span>
            <div class="section">
              <a class="field field-block"><%= vendor.webaddress %></a>
              <span class="field field-block"><%= vendor.phone %></span>
            </div>
            <span class="clear"></span>
            <div class="section bottom">
              <% vendor.shares && vendor.shares.each do |share| %>
                <% if share.contact.present? %>
                  <span class="user-circle"><%= share.contact.initials %></span>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if group['value']=="health" %>
        <% @insurance_vendors.select { |v| v["group"]=="health" }.each do |vendor| %>
          <div class="card <%= group['value'] %> column-card info-wrapper">
            <%= link_to content_tag(:a), health_path(vendor), class: "whole-card-link" %>
            <h3><%= vendor.name %></h3>
            <div class="section">
              <% vendor.policy && vendor.policy.each do |policy| %>
                <div class="health-block">
                  <span class="wtl-left-side field"><%= policy.policy_holder && policy.policy_holder.name %></span>
                  <span class="wtl-right-side field"><%= policy_type_abbreviate(policy.policy_type) %></span>
                </div>
                <span class="clear"></span>
              <% end %>
            </div>
            <span class="clear"></span>
            <div class="section">
              <a class="field field-block"><%= vendor.webaddress %></a>
              <span class="field field-block"><%= vendor.phone %></span>
            </div>
            <span class="clear"></span>
            <div class="section bottom">
              <% vendor.shares && vendor.shares.each do |share| %>
                <% if share.contact.present? %>
                  <span class="user-circle"><%= share.contact.initials %></span>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>

<a class="add-link fr" href="<%= new_document_path(:category => @category) %>">
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>
  </span>Add Document
</a>
<h1>Insurance Documents</h1>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @insurance_documents} %>
<%= javascript_include_tag 'flex_boxes' %>
