<h1>Insurance</h1>

<section class="flex-boxes">
  <% new_link_paths = {
  "life" => new_life_path,
  "property" => new_property_path,
  "health" => new_health_path,
  } %>

  <% @groups.each do |group| %>
    <div class="flex-column">
       <div class="card <%= group['value'] %> column-card section-header">

          <%= render :partial => "layouts/documents_count_icon", :locals => {:user => current_user, :group => group['label'], :category => @category} %>
          <h3 class="mb-20"><%= group["label"] %></h3>

        <%= link_to 'Add Insurance', new_link_paths[group['value']], class: "small-button outline-button " %>
        <span class="clear"></span>
      </div>

      <% if group['value']=="life" %>
        <% @insurance_vendors.select { |v| v["group"]=="life" }.each do |vendor| %>
          <div class="card <%= group['value'] %> column-card">

            <%= link_to content_tag(:a), life_path(vendor), class: "whole-card-link" %>
            <h3><%= vendor.name %></h3>

            <% vendor.policy && vendor.policy.each do |policy| %>
              <label><%= policy.policy_type %></label>
              <ul class="data-list">
                <li class="data-pair">
                  <span class="pair-name">
                    <%= policy.policy_holder && policy.policy_holder.name %>
                  </span>
                  <span class="data-right">
                    <%= policy.coverage_amount && number_to_currency(policy.coverage_amount, unit: "$", precision: 0) %>
                  </span>
                </li>
              </ul>
            <% end %>


            <label>Provider Details</label>
            <ul class="data-list">
                <li class="contact-pair">
                  <a href="<%= vendor.webaddress %>"><%= vendor.webaddress %></a><br>
                  <%= vendor.phone %>
                </li>
            </ul>

            <label>Shared With</label>
            <section class="shared-list">
              <% vendor.shares && vendor.shares.each do |share| %>
                <% if share.contact.present? %>
                  <span class="user-circle"><%= share.contact.initials %></span>
                <% end %>
              <% end %>
            </section>
          </div>
        <% end %>
      <% end %>

      <% if group['value']=="property" %>
        <% @insurance_vendors.select { |v| v["group"]=="property" }.each do |vendor| %>
          <div class="card <%= group['value'] %> column-card">

            <%= link_to content_tag(:a), property_path(vendor), class: "whole-card-link" %>
            <h3><%= vendor.name %></h3>

            <% vendor.policy && vendor.policy.each do |policy| %>
              <label><%= policy.policy_type %></label>
              <ul class="data-list">
                <li class="data-pair">
                  <span class="pair-name">
                    <%= policy.insured_property %>
                  </span>
                  <span class="data-right">
                    <%= policy.coverage_amount && number_to_currency(policy.coverage_amount, unit: "$", precision: 0) %>
                  </span>
                </li>
              </ul>
            <% end %>

            <label>Provider Details</label>
            <ul class="data-list">
                <li class="contact-pair">
                  <a href="<%= vendor.webaddress %>"><%= vendor.webaddress %></a><br>
                  <%= vendor.phone %>
                </li>
            </ul>

            <label>Shared With</label>
            <section class="shared-list">
              <% vendor.shares && vendor.shares.each do |share| %>
                <% if share.contact.present? %>
                  <span class="user-circle"><%= share.contact.initials %></span>
                <% end %>
              <% end %>
            </section>

          </div>
        <% end %>
      <% end %>

      <% if group['value']=="health" %>
        <% @insurance_vendors.select { |v| v["group"]=="health" }.each do |vendor| %>
          <div class="card <%= group['value'] %> column-card">

            <%= link_to content_tag(:a), health_path(vendor), class: "whole-card-link" %>
            <h3><%= vendor.name %></h3>

              <% vendor.policy && vendor.policy.each do |policy| %>
                <label><%= policy_type_abbreviate(policy.policy_type) %></label>
                <ul class="data-list">
                  <li class="data-pair ">
                    <span class="pair-name"><%= policy.policy_holder && policy.policy_holder.name %></span>
                    <span class="data-right">
                      <%= policy.policy_number %>
                    </span>
                  </li>
                </ul>
              <% end %>

              <label>Provider Details</label>
              <ul class="data-list">
                  <li class="contact-pair">
                    <a href="<%= vendor.webaddress %>"><%= vendor.webaddress %></a><br>
                    <%= vendor.phone %>
                  </li>
              </ul>

              <label>Shared With</label>
              <section class="shared-list">
                <% vendor.shares && vendor.shares.each do |share| %>
                  <% if share.contact.present? %>
                    <%= render partial: "layouts/avatar_circle", locals: { :contact => share.contact } %>
                  <% end %>
                <% end %>
              </section>

          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>

<a class="add-link fr" href="<%= new_document_path(:category => @category) %>">
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>
  </span>Add Document
</a>
<h3>Insurance Documents</h3>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @insurance_documents} %>
<%= javascript_include_tag 'flex_boxes' %>
<script>
var is_safari = navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1;
if(!is_safari){
  $(function(){
    $('.flex-boxes').masonry({
      columnWidth: '.flex-column',
      gutter: 20,
      percentPosition: true,
      itemSelector: '.flex-column'
    });
  });
}
</script>
