<div>
  <a class="edit-link" href="#">
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-pencil-1"></use>
      </svg>
    </span>Edit
  </a>
  <h1>Insurance</h1>
</div>
<div class="flex-boxes">
  <% @groups.each do |group| %>
      <div class="flex-33">
        <div class="card <%= group['value'] %>">
          <h3><%= group["label"] %></h3>
          <%= link_to 'Add Details', new_account_category_path(:category => @category, :group => group["value"], :return => "insurance"), class: "add-details-link"%>
          <span class="clear"></span>
        </div>
      </div>
  <% end %>
</div>

<div class="flex-boxes">
  <div class="flex-33">
    <%= link_to details_account_category_path(:category => @category, :group => 'life', :name => 'Met Life', :return => "insurance"), :class => "undo-link-style" do %>
      <div class="card life">
        <h3>Met Life</h3>
        <p>John Ponzleford</p>
        <p>j.ponzleford@allstate.com</p>
        <p>555-231-6754</p>
      </div>
    <% end %>
    <% @insurance_vendors.select { |v| v["group"]=="life" }.each do |vendor| %>
      <%= link_to details_account_category_path(:category => @category, :group => vendor["group"], :name => 'Met Life', :return => "insurance"), :class => "undo-link-style" do %>
          <div class="card life">
            <h3><%= vendor.name %></h3>
            <p><%= vendor.contact.firstname + " " + vendor.contact.lastname %></p>
            <p><%= vendor.webaddress %></p>
            <p><%= vendor.phone %></p>
          </div>
      <% end %>
    <% end %>
  </div>

  <div class="flex-33">
    <%= link_to details_account_category_path(:category => @category, :group => 'property', :name => 'All State', :return => "insurance"), :class => "undo-link-style" do %>
      <div class="card property">
        <h3>All State</h3>
        <p>John Ponzleford</p>
        <p>j.ponzleford@allstate.com</p>
        <p>555-231-6754</p>
      </div>
    <% end %>
    <% @insurance_vendors.select { |v| v["group"]=="property" }.each do |vendor| %>
        <%= link_to details_account_category_path(:category => @category, :group => vendor["group"], :name => 'All State', :return => "insurance"), :class => "undo-link-style" do %>
            <div class="card property">
              <h3><%= vendor.name %></h3>
              <p><%= vendor.contact.firstname + " " + vendor.contact.lastname %></p>
              <p><%= vendor.webaddress %></p>
              <p><%= vendor.phone %></p>
            </div>
        <% end %>
    <% end %>

  </div>


  <div class="flex-33">
    <%= link_to details_account_category_path(:category => @category, :group => 'health', :name => 'BCBSIL', :return => "insurance"), :class => "undo-link-style" do %>
      <div class="card health">
        <h3>BCBSIL</h3>
        <p>John Ponzleford</p>
        <p>j.ponzleford@allstate.com</p>
        <p>555-231-6754</p>
      </div>
    <% end %>
    <% @insurance_vendors.select { |v| v["group"]=="health" }.each do |vendor| %>
        <%= link_to details_account_category_path(:category => @category, :group => vendor["group"], :name => 'BCBSIL', :return => "insurance"), :class => "undo-link-style" do %>
            <div class="card health">
              <h3><%= vendor.name %></h3>
              <p><%= vendor.contact.firstname + " " + vendor.contact.lastname %></p>
              <p><%= vendor.webaddress %></p>
              <p><%= vendor.phone %></p>
            </div>
        <% end %>
    <% end %>

  </div>
</div>

<div>
  <a class="add-link fr" href="<%= new_document_path(:category => @category) %>">
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-plus-1"></use>
      </svg>
    </span>Add Document
  </a>
  <h1>Insurance Documents</h1>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Modified</th>
    <th>Tags</th>
    <th>Shared With</th>
    <th>Actions</th>
  </tr>
  <% @insurance_documents.each do |document| %>
      <tr>
        <td>
          <a><%= link_to document.name, document.url %></a>
        </td>
        <td><%= document.updated_at %></td>
        <td>tags</td>
        <td>
          <span class="user-circle">AK</span>
          <span class="user-circle">BM</span>
          <span class="user-circle">MB</span>
        </td>
        <td>
          <%= link_to 'Edit', edit_document_path(document), class: "outline-button small-button" %>
          <%= link_to 'Delete', document_path(document), method: :delete, data: {confirm: 'Are you sure?'}, class: "outline-button small-button" %>
        </td>
      </tr>
  <% end %>
</table>