<h1>Insurance</h1>

<section class="flex-boxes">
  <% new_link_paths = {
  "life" => @shared_user.present? ? shared_new_life_path : new_life_path,
  "property" => @shared_user.present? ? shared_new_property_path : new_property_path,
  "health" => @shared_user.present? ? shared_new_health_path : new_health_path,
  } %>

  <% @groups.each do |group| %>
    <div class="flex-column">
      <div class="card <%= group['value'] %> column-card section-header">
        <% count = insurance_document_count(resource_owner, group['value'], @category.name) %>
        <% if show_insurance_info?(resource_owner, @insurance_vendors, group['value']) %>
          <%= render :partial => "layouts/documents_count_icon", :locals => {:count => count } %>
          <h3 class="mb-20"><%= group["label"] %></h3>
        <% else %>
          <h3 class="mb-20"><%= group["label"] %></h3>
          <p>No shared items.</p>
        <% end %>
        <% if category_shared?(resource_owner, @category.name) %>
          <%= link_to 'Add Insurance', new_link_paths[group['value']], class: "small-button outline-button " %>
        <% end %>
        <span class="clear"></span>
      </div>

      <% if group['value']=="life" %>
        <% @insurance_vendors.select { |v| v["group"]=="life" }.each do |vendor| %>
          <div class="card <%= group['value'] %> column-card">

            <%= render :partial => "layouts/documents_count_icon", :locals => {:count => document_card_insurance_count(resource_owner, @category, group['label'], vendor.id) } %>
            <h3><%= vendor.name %></h3>

            <% vendor.try(:policy) && vendor.policy.each do |policy| %>
              <label><%= policy.policy_type %></label>
              <ul class="data-list">
                <li class="data-pair">
                  <span class="pair-name">
                    <%= policy.policy_holder && policy.policy_holder.name %>
                  </span>
                  <span class="data-right">
                    <%= policy.coverage_amount && number_to_currency(policy.coverage_amount, unit: "$", precision: 0) %>
                  </span>
                </li>
              </ul>
            <% end %>

            <% if provider_main_page_present?(vendor) %>
              <label>Provider Details</label>
              <ul class="data-list">
                <li class="contact-pair">
                  <%if vendor.webaddress.present? %>
                    <%= link_to vendor.webaddress, vendor.webaddress, target: "_blank" %><br>
                  <% end %>
                  <%= vendor.phone %>
                </li>
              </ul>
            <% end %>

            <% if category_subcategory_shares(vendor, resource_owner).present? %>
              <label>Shared With</label>
              <section class="shared-list">
                <%= render :partial => "layouts/subcategory_share", :locals => { :shares => category_subcategory_shares(vendor, resource_owner) } %>
              </section>
            <% end %>
            
            <br>
            <%= link_to 'View Details', life_path(vendor), class: "small-button outline-button mt-20" %>
          </div>
        <% end %>
      <% end %>

      <% if group['value']=="property" %>
        <% @insurance_vendors.select { |v| v["group"]=="property" }.each do |vendor| %>
          <div class="card <%= group['value'] %> column-card">

            <%= render :partial => "layouts/documents_count_icon", :locals => {:count => document_card_insurance_count(resource_owner, @category, group['label'], vendor.id) } %>
            <h3><%= vendor.name %></h3>

            <% vendor.try(:policy) && vendor.policy.each do |policy| %>
              <label><%= policy.policy_type %></label>
              <ul class="data-list">
                <li class="data-pair">
                  <span class="pair-name">
                    <%= policy.insured_property %>
                  </span>
                  <span class="data-right">
                    <%= policy.coverage_amount && number_to_currency(policy.coverage_amount, unit: "$", precision: 0) %>
                  </span>
                </li>
              </ul>
            <% end %>

            <% if provider_main_page_present?(vendor) %>
              <label>Provider Details</label>
              <ul class="data-list">
                <li class="contact-pair">
                  <% if vendor.webaddress.present? %>
                    <%= link_to vendor.webaddress, vendor.webaddress, target: "_blank" %><br>
                  <% end %>
                  <%= vendor.phone %>
                </li>
              </ul>
            <% end %>

            <% if category_subcategory_shares(vendor, resource_owner).present? %>
              <label>Shared With</label>
              <section class="shared-list">
                <%= render :partial => "layouts/subcategory_share", :locals => { :shares => category_subcategory_shares(vendor, resource_owner) } %>
              </section>
            <% end %>
            
            <br>
            <%= link_to 'View Details', property_path(vendor), class: "small-button outline-button mt-20" %>
          </div>
        <% end %>
      <% end %>

      <% if group['value']=="health" %>
        <% @insurance_vendors.select { |v| v["group"]=="health" }.each do |vendor| %>
          <div class="card <%= group['value'] %> column-card">

            <%= render :partial => "layouts/documents_count_icon", :locals => {:count => document_card_insurance_count(resource_owner, @category, group['label'], vendor.id) } %>
            <h3><%= vendor.name %></h3>

              <% vendor.try(:policy) && vendor.policy.each do |policy| %>
                <label><%= policy_type_abbreviate(policy.policy_type) %></label>
                <ul class="data-list">
                  <li class="data-pair ">
                    <span class="pair-name"><%= policy.policy_holder && policy.policy_holder.name %></span>
                    <span class="data-right">
                      <%= policy.policy_number %>
                    </span>
                  </li>
                </ul>
              <% end %>

              <% if provider_main_page_present?(vendor) %>
                <label>Provider Details</label>
                <ul class="data-list">
                  <li class="contact-pair">
                    <% if vendor.webaddress.present? %>
                      <%= link_to vendor.webaddress, vendor.webaddress, target: "_blank" %><br>
                    <% end %>
                    <%= vendor.phone %>
                  </li>
                </ul>
              <% end %>

              <% if category_subcategory_shares(vendor, resource_owner).present? %>
                <label>Shared With</label>
                <section class="shared-list">
                  <%= render :partial => "layouts/subcategory_share", :locals => { :shares => category_subcategory_shares(vendor, resource_owner) } %>
                </section>
              <% end %>

            <br>
            <%= link_to 'View Details', health_path(vendor), class: "small-button outline-button mt-20" %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>



<%= render :partial => "layouts/add_document_button", :locals => {documents_path: new_documents_path(:shared_user_id => @shared_user.present? ? @shared_user.id : "", :category => @category.name),
  documents_title: "Insurance Documents"} %>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @insurance_documents} %>

<%= render :partial => "layouts/shared_category", :locals => { :category => Rails.application.config.x.InsuranceCategory.downcase } %>

<%= javascript_include_tag 'flex_boxes' %>
<script>
var is_safari = navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1;
if(!is_safari){
  $(function(){
    $('.flex-boxes').masonry({
      columnWidth: '.flex-column',
      gutter: 20,
      percentPosition: true,
      itemSelector: '.flex-column'
    });
  });
}
</script>
