<h1>Insurance</h1>

<div class="flex-boxes">
  <% @groups.each do |group| %>
    <div class="flex-33">
      <div class="card <%= group['value'] %>">
        <h3><%= group["label"] %></h3>
        <%= link_to 'Add Account', new_vendor_path(:category => @category, :group => group["value"]) %>
      </div>
    </div>
  <% end %>

  <% @insurance_vendors.group_by(&:group).each do |group, vendors| %>



        <% vendors.each do |vendor| %>

          <div class="card <%= group['value'] %>">
              <h3><%= vendor.name %></h3>
              <p><%= vendor.contact %></p>
              <p>
                <a href="<%= vendor.webaddress %>" target="_blank">
                  <%= vendor.webaddress %>
                </a>
              </p>
              <p><%= vendor.phone %></p>
          </div>
        <% end %>
  <% end %>
</div>
