<h1>Edit - <%= @category.name %></h1>

<div class="card cg-3 mb-30 fin-toggle" data-toggle="true">

  <%= form_for :shareable_category, url: share_category_path(@shareable_category.id) do |f| %>
Sharing your entire category with another contact will enable them to see all the categories detials. This includes all of the accounts, details, settings, contacts, and documents associated with the category.
    <div class="card mb-30 my_profile_info">
      <h3 class="card-label shared-label">
        <svg class="icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg>
        Category Shared With
      </h3>

        <label>Shared With</label>
          <div class="chosen-styled-select">
            <%= contact_select_with_create_new(f, :share_with_contact_ids, @contacts) %>
          </div>

        <% if @contacts_with_access.blank? %>
          <p>No shared access</p>
        <% else %>
          <% @contacts_with_access.each do |contact| %>
            <p><%= contact.name %> </p>
          <% end %>
        <% end %>
    </div>
    <%= f.submit 'Save', class: "button primary-button big-button" %>
    <%= link_to 'Cancel', :back || estate_planning_path, class: "button secondary-button big-button" %>
    <% end %>
</div>
<script>
  $('.chosen-select').chosen({allow_single_deselect: true});
</script>
<%= yield :new_contact_form %>
