<%= render :partial => "layouts/bread_crumbs" %>
<% document_upload_access = @category.name.downcase.eql?(Rails.application.config.x.DocumentsCategory.downcase) %>

<h1>Edit - <%= document_upload_access ? 'Document Upload Access' : @category.name %></h1>

<%= form_for :shareable_category, url: share_category_path(@shareable_category.id) do |f| %>
  <div class="card cg-3 mb-30 fin-toggle" data-toggle="true">

<% if document_upload_access %>
  Allow users to upload documents into your vault. The will only be able to see documents they upload.
<% else %>
  Sharing your entire category with a Contact will enable them to view all category details. This will include all of the accounts, contacts, documents and data associated with the category.
<% end %>
    <section class="shared-with">
      <h3 class="card-label shared-label">
        <svg class="icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg> <%= document_upload_access ? "Upload Shared With" : "Category Shared With" %>
      </h3>

      <label>Shared With</label>
      <div>
        <div class="chosen-styled-select">
          <%= contact_select_with_create_new(f, :share_with_contact_ids, @contacts) %>
        </div>
      </div>
    </section>
    
  </div>

  <%= f.submit 'Save', class: "button primary-button big-button" %>
  <%= link_to 'Cancel', back_path || root_path, class: "button secondary-button big-button" %>
<% end %>

<script>
  $('.chosen-select').chosen({allow_single_deselect: true});
</script>
<%= yield :new_contact_form %>
