<%= render :partial => "layouts/bread_crumbs" %>
<% document_upload_access = @category.name.downcase.eql?(Rails.application.config.x.DocumentsCategory.downcase) %>

<h1>Edit - <%= document_upload_access ? 'Document Upload Shared With' : @category.name %></h1>

<%= form_for :shareable_category, url: share_category_path(@shareable_category.id) do |f| %>
  <div class="card cg-3 mb-30 fin-toggle" data-toggle="true">

<% if document_upload_access %>
  Allow contacts to securely upload documents directly into your Vault.
<% else %>
  Sharing your entire category with a Contact will enable them to view all category details. This will include all of the accounts, contacts, documents and data associated with the category.
<% end %>
    <%= render partial: 'layouts/shared_with_email_preview_section', locals: { f: f, shared_with_field_symbol: :share_with_contact_ids,
                                                                               shared_with_dropdown_id: "shareable_category_share_with_contact_ids",
                                                                               title: document_upload_access ? "Upload Shared With" : "Category Shared With",
                                                                               skip_edit_share_class: true } %>
    
    
  </div>

  <%= f.submit 'Save', class: "button primary-button big-button" %>
  <%= link_to 'Cancel', back_path || root_path, class: "button secondary-button big-button" %>
<% end %>

<script>
  $('.chosen-select').chosen({allow_single_deselect: true});
</script>
<%= yield :new_contact_form %>
