<h1>Wills & Powers of Attorney</h1>

<div class="card cg-1 wide">
  <h3>Wills</h3>
  <% if category_shared?(resource_owner, @category.name) %>
    <%= link_to 'Add Will', new_will_path(@shared_user), class: "small-button outline-button" %>
  <% end %>
</div>

<div class="card cg-3 wide">
  <h3>Powers of Attorney</h3>
  <% if category_shared?(resource_owner, @category.name) %>
    <%= link_to 'Add Power of Attorney', new_power_of_attorney_path(@shared_user), class: "small-button outline-button" %>
    <% end %>
</div>

<section class="flex-boxes">
  <% @wills.each do |will| %>
    <% wills_poa = CardDocument.will(will.id) %>
    <% if wills_poa.blank? %>
      <% next %>
    <% end %>
    <div class="flex-column">
      <div class="card cg-1 column-card">
        <%= render :partial => "layouts/documents_count_icon", :locals => { :count => document_card_count(resource_owner, wills_poa.category.name, wills_poa.id) } %>

        <h3><%= will.title %></h3>
        <% if !will_present?(will) %>
          <label>There is no information about this Will</label>
        <% end %>
        <ul class="data-list mb-20">
          <% if will.primary_beneficiaries.present? %>
            <% will.primary_beneficiaries.each do |primary| %>
              <li class="data-pair">
                <span class="pair-name"><%= primary.name %></span>
                <span class="data-right">
                  Primary
                </span>
              </li>
            <% end %>
          <% end %>

          <% if will.secondary_beneficiaries.present? %>
            <% will.secondary_beneficiaries.each do |secondary| %>
              <li class="data-pair">
                <span class="pair-name"><%= secondary.name %></span>
                <span class="data-right">
                  Secondary
                </span>
              </li>
            <% end %>
          <% end %>
        </ul>

        <% if will.agents.present? %>
          <label>Advisor</label>
          <ul class="data-list">
            <% will.agents && will.agents.each do |advisor| %>
              <li class="contact-pair">
                <%= advisor.name %><br>
                <a href="mailto:<%= advisor.emailaddress %>"><%= advisor.emailaddress %></a><br>
                <%= advisor.phone %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <% if category_subcategory_shares(will, resource_owner).present? %>
          <label>Shared With</label>
          <section class="shared-list">
            <%= render :partial => "layouts/subcategory_share", :locals => { :shares => category_subcategory_shares(will, resource_owner) } %>
          </section>
        <% end %>
        <br>
        <%= link_to 'View Details', will_path(will, @shared_user), class: "small-button outline-button mt-20" %>
      </div>
    </div>
  <% end %>

  <% @power_of_attorney_contacts.each do |power_of_attorney_contact| %>
    <% wills_poa = CardDocument.power_of_attorney(power_of_attorney_contact.id) %>
    <% if wills_poa.blank? %>
      <% next %>
    <% end %>
    <div class="flex-column">
      <div class="card cg-3 column-card">
        <%= render :partial => "layouts/documents_count_icon", :locals => { :count => document_card_count(resource_owner, wills_poa.category.name, wills_poa.id) } %>

        <% if power_of_attorney_contact.contact.blank? %>
          <h3>Power of Attorney Contact Not Chosen</h3>
        <% else %>
          <h3><%= power_of_attorney_contact.contact.try(:name) %></h3>
        <% end %>

        <% power_of_attorney_contact.power_of_attorneys.each do |power_of_attorney| %>
          <ul class="data-list mb-20">
            <% if attorney_present?(power_of_attorney) %>
              <li class="data-pair">
                <label>
                  <%= power_of_attorney.agents && power_of_attorney.agents.map(&:name).join(", ") %>
                </label>
                <span class="data-right">
                <% if power_of_attorney.powers.present? %>
                  <% power_of_attorney.powers.keys.each do |agent_power| %>
                    <%= agent_power %><br>
                  <% end %>
                <% end %>
                </span>
              </li>
            <% end %>
          </ul>
        <% end %>

        <% if category_subcategory_shares(power_of_attorney_contact, resource_owner).present? %>
          <label>Shared With</label>
          <section class="shared-list">
            <%= render :partial => "layouts/subcategory_share", :locals => { :shares => category_subcategory_shares(power_of_attorney_contact, resource_owner) } %>
          </section>
        <% end %>

        <br>
        <%= link_to 'View Details', power_of_attorney_path(power_of_attorney_contact, @shared_user), class: "small-button outline-button mt-20" %>
      </div>
    </div>
  <% end %>
</section>

<h3>Wills & Powers of Attorney Documents</h3>

<a class="add-link fr" href="<%= new_documents_path(:shared_user_id => @shared_user.present? ? @shared_user.id : "", :category => @category.name) %>">
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>
  </span>Add Document
</a>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @wtl_documents} %>

<%= render :partial => "layouts/shared_category", :locals => { :category => Rails.application.config.x.WillsPoaCategory.downcase } %>

<%= javascript_include_tag 'flex_boxes' %>
<script>
var is_safari = navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1;
if(!is_safari){
  $(function(){
    $('.flex-boxes').masonry({
      columnWidth: '.flex-column',
      gutter: 20,
      percentPosition: true,
      itemSelector: '.flex-column'
    });
  });
}
</script>
