
<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
<script>
  /*filepicker.setKey("AU8hye5meSjiQ6l5oOxKFz");
  filepicker.pickAndStore(
    {
      location:"S3"
    },
    function(Blobs){
      console.log(JSON.stringify(Blobs));
    }
  );*/

  var fileToPage = function(evt){
    var infoDiv = document.getElementById("file-info");
    infoDiv.innerText=JSON.stringify(evt.fpfile,null,2);
    var nameField = document.getElementById("file-name");
    var locationField = document.getElementById("file-location");
    var typeField = document.getElementById("file-type");
    var uploadForm = document.getElementById("upload-form");
    nameField.value = evt.fpfile.filename;
    locationField.value = evt.fpfile.key;
    typeField.value = evt.fpfile.mimetype;
    uploadForm.submit();
  }
</script>

<h1>New Upload</h1>



<input type="filepicker" data-fp-apikey="AU8hye5meSjiQ6l5oOxKFz" data-fp-store-location="S3"
  data-fp-store-container="zoku-stage" onchange="fileToPage(event)"/>


<div id="file-info"></div>



<%= form_for @upload, :html => {:id => "upload-form"} do |f| %>
  <div>
    <%= f.text_field :name, :id => "file-name" %><br>
    <%= f.text_field :url, :id =>"file-location" %>
    <%= f.text_field :description, :id =>"file-type" %>
    <%# f.type_field :type, :id =>"file-type" %>
  </div>

<% end %>

<%= link_to 'Back', uploads_path %>
