<% account_providers.each do |provider| %>
  <div class="card cg-3 flex-column mb-20">
    <%= render :partial => "layouts/documents_count_icon", :locals => {:count => document_card_financial_count(resource_owner, @category, provider.id) } %>
    <h3><%= provider.name %></h3>
    <p>
      <%= link_to provider.web_address, provider.web_address, target: "_blank" %><br>
      <%= provider.phone_number %>
    </p>
      
    <% if provider.primary_contact.present? %>
      <label>Primary Contact</label>
      <ul class="data-list">
        <li class="contact-pair">
          <%= provider.primary_contact.name %><br>
          <%= mail_to provider.primary_contact.emailaddress, provider.primary_contact.emailaddress %><br>
          <%= provider.primary_contact.phone %><br>
        </li>
      </ul>
    <% end %>

    <ul class="data-list mb-20">
      <% if provider.accounts.any? %>
        <% provider.accounts.each do |account| %>
          <li class="data-pair">
            <label>
              <%= account.account_type %>
              <% if account.name.present? %>
                - <%= account.name %>
              <% end %>
            </label>
            <%= render partial: "financial_information/value_show", locals: { value: account.value, type: account.account_type } %>
          </li>
        <% end %>
        <span class="fr value-as-of"><%= "value as of #{date_format(financial_account_last_update_date(provider))}" %></span>
      <% end %>
    </ul>

    <% if category_subcategory_shares(provider, resource_owner).present? %>
      <label>Shared With</label>
      <section class="shared-list">
        <%= render :partial => "layouts/subcategory_share", :locals => { :shares => category_subcategory_shares(provider, resource_owner) } %>
      </section>
    <% end %>
     
    <br>
    <%= link_to 'View Details', show_account_url(provider, @shared_user), class: "small-button outline-button mt-20" %>
  </div>
<% end %>