<% alternative_managers.each do |manager| %>
  <div class="card cg-3 flex-column mb-20 cp cp">
    <%= link_to content_tag(:a), show_alternative_url(manager.id), class: "whole-card-link" %>
    <h3><%= manager.name %></h3>
    <p>
      <%= link_to manager.web_address, manager.web_address %><br>
      <%= manager.phone_number %>
    </p>
      
    <% if manager.primary_contact.present? %>
      <label>Primary Contact</label>
      <ul class="data-list">
        <li class="contact-pair">
          <%= manager.primary_contact.name %><br>
          <%= mail_to manager.primary_contact.emailaddress, manager.primary_contact.emailaddress %><br>
          <%= manager.primary_contact.phone %><br>
        </li>
      </ul>
    <% end %>

    <ul class="data-list mb-20">
      <% manager.alternatives.each do |alternative| %>
        <li class="data-pair">
          <label><%= alternative.name %></label>
          <%= render partial: "value_show", locals: { value: alternative.current_value, type: alternative.alternative_type } %>
        </li>
      <% end %>
    </ul>

    <% if manager.share_with_contacts.present? %>
      <label>Shared With</label>
      <section class="shared-list">
        <% manager.share_with_contacts.each do |share| %>
          <% if share.present? %>
            <%= render partial: "layouts/avatar_circle", locals: { :contact => share } %>
          <% end %>
         <% end %>
       </section>
     <% end %>
  </div>
<% end %>