<% alternative_managers.each do |manager| %>
  <div class="card cg-3 flex-column mb-20">
    <%= render :partial => "layouts/documents_count_icon", :locals => {:count => document_card_financial_count(resource_owner, @category, manager.id) } %>
    <h3><%= manager.name %></h3>
    <p>
      <%= link_to manager.web_address, manager.web_address %><br>
      <%= manager.phone_number %>
    </p>
      
    <% if manager.primary_contact.present? %>
      <label>Primary Contact</label>
      <ul class="data-list">
        <li class="contact-pair">
          <%= manager.primary_contact.name %><br>
          <%= mail_to manager.primary_contact.emailaddress, manager.primary_contact.emailaddress %><br>
          <%= manager.primary_contact.phone %><br>
        </li>
      </ul>
    <% end %>

    <ul class="data-list mb-20">
      <% manager.alternatives.each do |alternative| %>
        <li class="data-pair">
          <label><%= alternative.name %></label>
          <%= render partial: "financial_information/value_show", locals: { value: alternative.current_value, type: alternative.alternative_type } %>
        </li>
      <% end %>
    </ul>

    <% if category_subcategory_shares(manager, resource_owner).present? %>
      <label>Shared With</label>
      <section class="shared-list">
        <%= render :partial => "layouts/subcategory_share", :locals => { :shares => category_subcategory_shares(manager, resource_owner) } %>
      </section>
    <% end %>
     
    <br>
    <%= link_to 'View Details', show_account_url(manager, @shared_user), class: "small-button outline-button mt-20" %>
  </div>
<% end %>