<script type="text/javascript">
$(function () {

  //Top Toggle
  $( "#toggle" ).click(function() {
    $( ".fin-options, .fin-overview" ).toggle();
  });

  //Timeout function fixes safari load order dependancy issues
  setTimeout(function() {

  //Masonry
  $('.flex-boxes').masonry({
    columnWidth: '.flex-column',
    gutter: 20,
    percentPosition: true,
    itemSelector: '.flex-column'
  });
  
  var chartTooltip = function() {
    var s = '<span style="font-size: 16px;">' + this.key + ' </span>'
    s += '<span style="font-size: 16px;">' + this.percentage.toFixed(1) + '%</span><br/>';
    s += '<span style="color: transparent">empty</span><br/>'
    for (var key in this.point.parts) {
      s += '<br/><span style="font-size: 14px;">' + key + ': ' + this.point.parts[key] + '%' + '</span>';
    }

    s += '<br/><span style="font-size: 14px;">$' + this.y.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1,').slice(0, -2) + '</span>'
    return s;
  }

  //Highcharts
  Highcharts.chart('asset', {
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
          style: {
            fontFamily: "Open Sans"
          }
      },
      credits: {
        enabled: false
      },
      navigation: {
          buttonOptions: {
              enabled: false
          }
      },
      title: {
          text: 'Assets',
          verticalAlign: 'bottom'
      },
      tooltip: {
          formatter: chartTooltip
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                  enabled: false
              },
              colors: ['#6CA1D6','#255A85', '#B2B2B2', '#DADADA', '#717171']
          }
      },
      series: [{
          name: 'Brands',
          colorByPoint: true,
          data: [{
              name: 'Investments',
              y: <%= investments_sum %>,
              parts: <%= raw investment_parts.to_json %>
          }, {
              name: 'Property',
              y: <%= properties_sum %>,
              parts: <%= raw property_parts.to_json %>
          }, {
              name: 'Cash',
              y: <%= cash_sum %>,
              parts: <%= raw cash_parts.to_json %>
          }, {
              name: 'Alternatives',
              y: <%= alternatives_sum %>,
              parts: <%= raw alternative_parts.to_json %>
          }]
      }]
  });
  Highcharts.chart('debt', {
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
          style: {
            fontFamily: "Open Sans"
          }
      },
      credits: {
        enabled: false
      },
      navigation: {
          buttonOptions: {
              enabled: false
          }
      },
      title: {
          text: 'Liabilities',
          verticalAlign: 'bottom'
      },
      tooltip: {
          formatter: chartTooltip
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                  enabled: false
              },
              colors: ['#6CA1D6','#255A85', '#B2B2B2', '#DADADA', '#717171']
          }
      },
      series: [{
          name: 'Brands',
          colorByPoint: true,
          data: [{
              name: 'Loans',
              y: <%= loans_sum %>,
              parts: <%= raw loan_parts.to_json %>
          }, {
              name: 'Credit Cards',
              y: <%= credit_cards_sum %>,
              parts: <%= raw credit_card_parts.to_json %>
          }]
      }]
    });
        
  }, 50);
});
</script>
