<% properties.each do |property| %>
  <div class="card cg-3 flex-column mb-20 cp cp">
    <%= link_to content_tag(:a), show_property_url(property, @shared_user), class: "whole-card-link" %>
    <%= render :partial => "layouts/documents_count_icon", :locals => {:count => document_card_financial_count(resource_owner, @category, property_provider_id(resource_owner, property)) } %>
    <h3><%= property.name %></h3>

    <% if property.primary_contact.present? %>
      <label>Primary Contact</label>
      <ul class="data-list">
        <li class="contact-pair">
          <%= property.primary_contact.name %><br>
          <%= mail_to property.primary_contact.emailaddress, property.primary_contact.emailaddress %><br>
          <%= property.primary_contact.phone %><br>
        </li>
      </ul>
    <% end %>

    <ul class="data-list mb-20">
      <li class="data-pair">
        <label><%= property.property_type %></label>
        <%= render partial: "financial_information/value_show", locals: { value: property.value, type: property.property_type } %>
      </li>
    </ul>

    <% provider = financial_provider(property) %>
    <% if category_subcategory_shares(provider, resource_owner).present? %>
      <label>Shared With</label>
      <section class="shared-list">
        <%= render :partial => "layouts/subcategory_share", :locals => { :shares => category_subcategory_shares(provider, resource_owner) } %>
      </section>
    <% end %>
  </div>
<% end %>