<%= link_to "javascript:void(0)", class: "edit-link" do%>
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-pencil-1"></use>
    </svg>
  </span>Edit
<% end %>

<% properties = [
  { name: "Property Name 1", type: 'Account Type 1', owner: 'Jack Brown', value: '10000', primary_contact: 'Rogers Wintheiser', notes: 'some notes for example asdf  dshfkdhas fhads fdas fsdf ',
  address: 'Address Or Location here', city: 'City', state: 'AL', zip: '88888'},
  ]
  %>

<% properties.each do |property| %>
  <h2 class="mt-20"><%= "#{property[:type]} -  #{property[:owner]}" %></h2>

  <div class="card cg-3">

    <h3 class="card-label"><%= property[:name] %></h3>

    <label>Property Value</label>
    <p><%= number_to_currency(property[:value], unit: "$", precision: 0) %></p>

    <label>Property Address or Location</label>
    <p>
      <%= property[:address] %> <br>
      <%= property[:city] %>, 
      <%= property[:state] %>
      <%= property[:zip] %>
    </p>

    <label>Primary Contact - Broker</label>
    <p><%= property[:primary_contact] %></p>

    <label class="title">Notes</label>
    <p><%= property[:notes] %></p>

  </div>
<% end %>

<% documents = [
  {name: 'Bruno & Bruna Mars Living Will.pdf', modified: '8/25/2016', tags: ['Will-Trusts-Legal', 'Will']},
  {name: 'Gift Distributions.pdf', modified: '8/25/2016', tags: ['Will-Trusts-Legal', 'Will']},
  {name: 'Bruno Mars Power of Attorney.pdf', modified: '7/12/2016', tags: ['Insurance', 'Life & Disability']},
  {name: 'Scottrade.pdf', modified: '5/02/2016', tags: ['Taxes', '2016']}
  ]
  %>

<div>
  <a class="add-link fr" href="javascript:void(0)">
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-plus-1"></use>
      </svg>
    </span>Add Document
  </a>
  <h3 class="mt-20">Property Documents</h3>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Modified</th>
    <th>Tags</th>
    <th>Shared With</th>
    <th>Actions</th>
  </tr>
  <% documents.each do |document| %>
    <tr>
      <td>
        <a><%= link_to document[:name], '' %></a>
      </td>
      <td><%= document[:modified] %></td>
      <td>
        <span class="doc-tag"><%= document[:tags][0] %></span>
        <span class="doc-tag secondary-tag"><%= document[:tags][1] %></span>
      </td>
      <td>
        <span class="user-circle">AM</span>
        <span class="user-circle">DT</span>
      </td>
      <td>
        <%= link_to 'Edit', 'javascript:void(0)', class: "outline-button small-button" %>
        <%= link_to 'Delete', 'javascript:void(0)', class: "outline-button small-button" %>
      </td>
    </tr>
  <% end %>
</table>
