<h1>Add Property Insurance</h1>

<%- @insurance_card = Health.new(user: current_user, category: Category.fetch(Rails.application.config.x.InsuranceCategory.downcase)) %>

<%= form_for(@insurance_card,  url: url_for(action: :create, controller: :property_and_casualties)) do |f| %>
  <%= hidden_field_tag :insurance_step, '3' %>
  <%= hidden_field_tag :tutorial_id, @tutorial_name %>
  <%= hidden_field_tag :page_id, @page_id %>
  <%= hidden_field_tag :next_page_id, @next_page %>
  <%= label_tag "insurance_provider", 'Insurance Provider Name' %>
  <%= text_field_tag "property_and_casualty[name]", "", class: "form-control medium" %>

  <%= f.submit "Confirmation", class: "button big-button primary-button" %>
<% end %>
