<div class="card mb-30">
  <h1 class="mb-20">Add Life & Disability Insurance</h1>

  <%- @financial_investment = FinancialInvestment.new(user: resource_owner, category: Category.fetch(Rails.application.config.x.FinancialInformationCategory.downcase))%>

  <%= form_for @financial_investment, url: url_for(action: :create, controller: :financial_investment) do |f| %>
    <%= hidden_field_tag :tutorial_id, @tutorial_name %>
    <%= hidden_field_tag :page_id, @page_id %>
    <%= hidden_field_tag :next_page_id, @next_page %>
    <%= hidden_field_tag 'financial_investment[investment_type]', "Other Investments" %>
    <%= label_tag "insurance_provider", 'Insurance Provider Name' %>
    <%= text_field_tag "financial_investment[name]", "", class: "form-control medium" %>

    <%= render partial: 'tutorials/buttons_section', locals: { f: f } %>
  <% end %>
</div>
