<div class="card mb-30 mt-20 max-w-1000-centered">
  <h1 class="mb-20">Add Health Insurance</h1>

  <%- @insurance_card = PropertyAndCasualty.new(user: current_user, category: Category.fetch(Rails.application.config.x.InsuranceCategory.downcase)) %>
  
  <%= form_for(@insurance_card, url: properties_path) do |f| %>
    <%= hidden_field_tag :next_page_number, @next_page %>
    <%= hidden_field_tag :page_number, @page_number %>
    
    <%= label_tag "insurance_provider", 'Insurance Provider Name' %>
    <%= render partial: 'tutorials/insurance/properties' %>
    
    <div class="collect-fields">
      <%= hidden_field_tag :tutorial_name, @tutorial_name %>
      <div class="input-pair tutorial-fields property-casualty-fields">
        <%= text_field_tag "property_and_casualty[name]", "", class: "form-control medium repeated-field", placeholder: 'Insurance Provider Name', :maxlength => get_max_length(:default) %>
        <a class="medium-button button primary-button inline-button add-another-btn">Add Another</a>
      </div>
    </div>
        
    <%= render partial: 'tutorials/buttons_section', locals: { f: f } %>
  <% end %>
</div>
