<div class="card mb-30 mt-20 max-w-1000-centered">
  <h1 class="mb-20">Choose Insurance Tutorials</h1>
  <%= form_for @tutorial do |f| %>
    <%= hidden_field_tag :next_tutorial, @next_tutorial.try(:name).try(:parameterize) || 'confirmation_page' %>
    <%= hidden_field_tag :next_page_number, @next_page %>
    <%= hidden_field_tag :tutorial_name, @tutorial_name %>
    <%= hidden_field_tag :page_number, @page_number %>

    <ul>
      <%- @subtutorials.each_with_index do |tutorial, index|%>
        <li class="check-list">
          <label>
            <%= check_box_tag "tutorial[pages][#{index + 1}]", index, false, {class: "check-list-item", value: index + 1} %>
            <span></span><%= tutorial.name %>
          </label>
        </li>
      <% end %>

      <%= render partial: 'tutorials/buttons_section', locals: { f: f } %>
    </ul>
  <% end %>
</div>