<%= render :partial => "layouts/bread_crumbs" %>

<%= form_for @document, html: { id: "doc-form" } do |f| %>
  <%= hidden_field_tag :shared_user_id, @shared_user.present? ? @shared_user.id : "" %>
  <%= hidden_field_tag :group, f.object.group %>
  <h3 class="document-title"> <%= yield(:title) %> </h3>
  <% if @document.persisted? %>
    <span class='document-change-data'>
      <span class="edit-data-label">Created: </span><%= date_format(@document.created_at) %>
      <span class="edit-data-label">Modified: </span><%= date_format(@document.updated_at) %>
    </span>
  <% end %>
  <div class="card document mb-30">
    <% if @document.errors.any? %>
      <% errors = true %>
    <% end %>
    <% if add_new_document?(yield(:title)) %>
      <label>Attach File</label>
      <% if errors && @document.errors.messages[:url] %>
        <span class="error-label"> - You should select file before saving a document</span>
      <% end %>
      <div id="file-pick-section">
        <% policy = FilepickerService.policy %>
        <% signature = FilepickerService.signature(policy) %>
    
        <input type="filepicker" data-fp-apikey="<%= file_picker_api_key %>" data-fp-store-location="S3" data-fp-button-text="Select File"
         data-fp-maxSize="104857600" data-fp-policy=<%= policy %> data-fp-signature=<%= signature %> data-fp-store-container="zoku-stage" onchange="fileToPage(event)" class="js-modal-close primary-button big-button" data-buttonText="Select file" id="select-file"/>
      </div>
    <% end %>
    <%= f.hidden_field :folder_id %>
    <%= f.hidden_field :url %>

    <label>Document Name</label>
    <% if errors && @document.errors.messages[:name] %>
      <span class="error-label"> - <%= @document.errors.messages[:name].first %></span>
    <% end %>
    <%= f.text_field :name, { class: ("input-error" if @document.errors.messages[:name].present?), :maxlength => get_max_length(:default) } %>

    <label>Category</label>
    <div class="chosen-styled-select">
      <%= f.collection_select :category, 
        @category_dropdown_options, :to_s, :to_s, {}, 
        { 'data-placeholder' => 'Select...', class: "chosen-select", multiple: false, :onchange => 'get_drop_down_options();' }
      %>
    </div>
    
    <%= render partial: 'layouts/document_subcategory_dropdown', locals: { f: f } %>
    
    <label>Notes</label>
    <%= f.text_area :description, :maxlength => get_max_length(:notes) %>

    <section class="shared-with edit-shared">
      <h3 class="card-label shared-label">
        <svg class="icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg> Shared With
      </h3>
      <label>Shared With</label><br>
      <% f.hidden_field :contact_ids, :value => f.object.contact_ids %>
      <div class="chosen-styled-select">
        <%= contact_select_with_create_new(f, :contact_ids, @contacts_shareable) %>
      </div>
    </section>
  </div>
  
  <button
    class="js-modal-close
      primary-button
      big-button" >
      Save</button>
  <%= link_to "Cancel", document_return_path(@document),
    {class: "js-modal-close button secondary-button big-button"} %>
  <% if !add_new_document?(yield(:title)) && policy(@document).destroy? %>
    <%= link_to 'Delete', document_path(@document), method: :delete, data: { confirm: 'Are you sure?' },
      class: "button outline-button big-button fr"%>
  <% end %>
<% end %>

<script>
  $(document).ready(function() {
    categoryCheck($('#document_category.chosen-select :selected').text())
  })
  var fileToPage = function(evt){
    var documentNameField = document.getElementById("document_name");
    var documentUrl = document.getElementById("document_url");
    documentNameField.value = evt.fpfile.filename;
    documentUrl.value = evt.fpfile.key;
  }
  
  $('.chosen-select').chosen()
  function showForm() { 
    $('#form-fields').show();
    $('#upload-will-message').hide();
  }
  function showUploadMessage() { 
    $('#form-fields').hide();
    $('#upload-will-message').show();
  }
  
  function get_drop_down_options() {
    update_category($('#document_category.chosen-select :selected').text())
  }
  
  $("#document_category_groups.chosen-select").change(function(e, params){
    $("#group").val(params.selected)
  });
  
  //get ajax request to update card drop down info based on chosen category
  var update_category = function(category_selected){
    categoryCheck(category_selected)
    shared_user_id = $("#shared_user_id").val();
    var url = '/documents/get_drop_down_options/' + category_selected.replace('...', '') + '/' + shared_user_id;
    $.get(url, function(data) {
      card_values = $('#document_category_groups');
      card_values.empty();
      data.forEach(function(group){
        card_values.append("<option value='" + group.id + "'>" + group.name + "</option>");
      });
      card_values.trigger('chosen:updated');
      updateCardNames()
    });
  }
  
  var categoryCheck = function(category) {
    if (category === '<%= Rails.application.config.x.ProfileCategory %>') {
      $('#subcategory-dropdown').hide();
    } else {
      $('#subcategory-dropdown').show();
    }
  }
  
  //get ajax request to update card names drop down if its insurance or financial category
  var updateCardNames = function(){
    shared_user_id = $("#shared_user_id").val();
    var category = $("#document_category.chosen-select :selected").text().replace('...', '');
    var url = '/documents/get_card_names/' + category + '/' + shared_user_id
    $.get(url, function(data) {
      if(data.length > 0) {
        card_names = $('#document_subcategory' + idPostFixShow(data));
        card_names.empty();
        data.forEach(function(group){
          card_names.append("<option value='" + group.id + "'>" + group.name + "</option>");
        });
        card_names.trigger('chosen:updated');
      }
    }).done(function(data) {
      if (data.length > 0) {
        $("#category_groups").hide();
        $("#subcategory_names" + idPostFixShow(data)).show();
        idPostFixHide(data)
      } else {
        $("#category_groups").show();
        
        $("#subcategory_names_insurance").hide();
        $("#subcategory_names_financial").hide();
        $("#subcategory_names_card_documents").hide();
        $("#document_category_groups").find('option:selected').removeAttr('selected')
        $("#document_subcategory_financial").find('option:selected').removeAttr('selected')
      }
    });
  }
  
  var idPostFixShow = function(data) {
    var data_id = data[0].id.replace(/&/g, '&amp;')
    if (data_id === "<%= Rails.configuration.x.InsuranceCategory %>") {
      return "_insurance"
    }
    if (data_id === "<%= Rails.configuration.x.FinancialInformationCategory %>") {
      return "_financial"
    }
    if (data_id === "<%= Rails.configuration.x.WillsPoaCategory %>" ||
        data_id === "<%= Rails.configuration.x.TrustsEntitiesCategory %>") {
      return "_card_documents"
    }
  }
  
  var idPostFixHide = function(data) {
    var data_id = data[0].id.replace(/&amp;/g, '&')
    if (data_id === "<%= Rails.configuration.x.InsuranceCategory %>") {
      $("#subcategory_names_financial").hide();
      $("#document_subcategory_financial").find('option:selected').removeAttr('selected')
      
      $("#subcategory_names_card_documents").hide();
      $("#document_subcategory_card_documents").find('option:selected').removeAttr('selected')
    }
    if (data_id === "<%= Rails.configuration.x.FinancialInformationCategory %>") {
      $("#subcategory_names_insurance").hide();
      $("#document_subcategory_insurace").find('option:selected').removeAttr('selected')
      
      $("#subcategory_names_card_documents").hide();
      $("#document_subcategory_card_documents").find('option:selected').removeAttr('selected')
    }
    if (data_id === "<%= Rails.configuration.x.WillsPoaCategory %>" ||
        data_id === "<%= Rails.configuration.x.TrustsEntitiesCategory %>") {
      $("#subcategory_names_insurance").hide();
      $("#document_subcategory_insurace").find('option:selected').removeAttr('selected')
      
      $("#subcategory_names_financial").hide();
      $("#document_subcategory_financial").find('option:selected').removeAttr('selected')
    }
  }
  
  $("#document_group.chosen-select").chosen().change(updateCardNames)
</script>
<%= yield :new_contact_form %>