<div class="<% if @first_run %> max-w-1000-centered <% end %>" >
  <%= render :partial => "layouts/bread_crumbs" %>
</div>

<%= form_for @document, html: { id: "doc-form" } do |f| %>
  <%= hidden_field_tag :shared_user_id, @shared_user.present? ? @shared_user.id : "" %>
  <%= hidden_field_tag :group, f.object.group %>
  <%= hidden_field_tag :first_run, @first_run || false %>

  <div class="<% if @first_run %> max-w-1000-centered <% end %>" >
    <h3 class="document-title"> <%= yield(:title) %> </h3>
  </div>
  <% if @document.persisted? %>
    <span class='document-change-data'>
      <span class="edit-data-label">Created: </span><%= date_format(@document.created_at) %>
      <span class="edit-data-label">Modified: </span><%= date_format(@document.updated_at) %>
    </span>
  <% end %>
  <div class="card document mb-30 <% if @first_run %> max-w-1000-centered <% end %>">
    <% if @document.errors.any? %>
      <% errors = true %>
    <% end %>
    <% if add_new_document?(yield(:title)) %>
      <label>Attach File</label>
      <% if errors && @document.errors.messages[:url] %>
        <span class="error-label"> - You should select file before saving a document</span>
      <% end %>
      <div id="file-pick-section">
        <% upload_args = "'#{file_picker_api_key}', #{FilepickerService.fetch_policy(:document)}, fileToPage" %>
        <button id="select-file" type="button" onclick="uploadDocumentWithFilestack(<%= upload_args %>);" class="js-modal-close primary-button big-button">Select File</button>
      </div>
      <%= f.hidden_field :url %>
    <% end %>
    <%= f.hidden_field :folder_id %>

    <label>Document Name</label>
    <% if errors && @document.errors.messages[:name] %>
      <span class="error-label"> - <%= @document.errors.messages[:name].first %></span>
    <% end %>
    <%= f.text_field :name, { class: ("input-error" if @document.errors.messages[:name].present?), :maxlength => get_max_length(:default) } %>

    <label>Category</label>
    <div class="chosen-styled-select">
      <%= f.collection_select :category,
        @category_dropdown_options, :to_s, :to_s, {},
        { 'data-placeholder' => 'Select...', class: "chosen-select", multiple: false, :onchange => 'get_drop_down_options();' }
      %>
    </div>

    <%= render partial: 'layouts/document_subcategory_dropdown', locals: { f: f } %>

    <label>Notes</label>
    <%= f.text_area :description, :maxlength => get_max_length(:notes) %>

    <section class="shared-with edit-shared">
      <h3 class="card-label shared-label">
        <svg class="icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg> Shared With
      </h3>
      <label>Shared With</label><br>
      <% f.hidden_field :contact_ids, :value => f.object.contact_ids %>
      <div class="chosen-styled-select">
        <%= contact_select_with_create_new(f, :contact_ids, @contacts_shareable) %>
      </div>
    </section>
  </div>

  <div class="<% if @first_run %> max-w-1000-centered <% end %>" >
    <button
      class="js-modal-close
        primary-button
        big-button" >
        Save</button>
    <%= link_to "Cancel", document_return_path(@document),
      {class: "js-modal-close button secondary-button big-button"} %>
    <% if !add_new_document?(yield(:title)) && policy(@document).destroy? %>
      <%= link_to 'Delete', document_path(@document), method: :delete, data: { confirm: 'Are you sure?' },
        class: "button outline-button big-button fr"%>
    <% end %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    categoryCheck($('#document_category.chosen-select :selected').text())
  })

  var fileToPage = function(file){
    var documentNameField = document.getElementById("document_name");
    var documentUrl = document.getElementById("document_url");
    documentNameField.value = file.filename;
    documentUrl.value = file.key;
  }

  $('.chosen-select').chosen()
  function showForm() {
    $('#form-fields').show();
    $('#upload-will-message').hide();
  }
  function showUploadMessage() {
    $('#form-fields').hide();
    $('#upload-will-message').show();
  }
</script>
<%= yield :new_contact_form %>
