<% with_name ||= false %>
<% if contact.present? %>
  <div class="tooltip-item">
    <% if @shared_user.blank? %>
      <%= link_to content_tag(:a), contact_path(contact), class: "avatar-link" %>
    <% end %>
    <% if contact.photourl.present? %>
      <p class="avatar-initials transparent unselectable"><%= contact.initials %></p>
      <%= image_tag(get_file_url(contact.photourl), class: "avatar-small", alt: contact.initials.to_s) %>
    <% else %>
      <p class="avatar-initials"><%= contact.initials %></p>
      <%= image_tag(empty_image, class: "avatar-small", alt: contact.initials.to_s) %>
    <% end %>
    <div class="tooltip top">
      <p><%= contact.name %></p>
      <%= mail_to(contact.emailaddress.to_s, contact.emailaddress.to_s, class: "no-underline-link") %>
      <p><%= contact.phone %></p>
    </div>
  </div>
  <% if with_name %>
    <span class="avatar-name"><%= contact.name %></span>
  <% end %>
<% end %>