<div>
  <a class="edit-link" href='#'>
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-pencil-1"></use>
      </svg>
    </span>Edit
  </a>
  <h1><%= params[:name] %></h1>
</div>
<div class="card <%= @group['value'] %> details insurance">
  <div class="details-wrapper">
    <% static_insurance_provider_data = { 'web address': ['link:www.metlife.com'], 
          address: ['1234 Pearl Street', 'Chicago IL, 60506'],
          phone: ['555-231-6754', '555-231-6754 fax'],
          'primary contact': ['John Ponzleford', 'link:j.ponzleford@allstate.com', '555-231-6754']} %>

    <div class="details-card-info details">
      <h2 class="provider-details-title">Insurance Provider Details</h2>
      <% static_insurance_provider_data.each do |field_title, field_values| %>
        <div class = "details-card-field">
          <label class="title"><%= field_title %></label>
          <% field_values.each do |value| %>
            <% if value.include? 'link' %>
              <a class="details-field details-field-value"><%= value.sub!('link:', '') %></a>
            <% else %>
              <span class="details-field details-field-value"><%= value %></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="add-document-field details-bottom">
      <svg class="icon add-icon">
        <use xlink:href="#icon-add-1"></use>
      </svg>
      Add Insurance Provider Documents<br>
    </div>
  </div>  
  <div class="field shared-field bt-gray-light bb-gray-light details-bottom">
    <span class="shared-with-block">
      <h2 class="shared-with-title">Shared With</h2>
      <svg class="icon icon-Safe share-with-icon" viewBox="0 0 20 20">
        <use xlink:href="#icon-Safe"></use>
      </svg>
    </span>
    <div class="details-card-info details">
      <div class="details-card-field shared">
        <label class="title">Shared With</label>
        <div class="details-field">
         <span class="user-circle">JF</span>
         <span class="user-circle">EL</span>
         <span class="user-circle">EM</span>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render yield(:partial_path) %>

<div>
  <a class="add-link fr" href="<%= new_document_path(:category => @category, :group => @group["label"]) %>">
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-plus-1"></use>
      </svg>
    </span>Add Document
  </a>
  <h1><%= params[:name] %> Documents</h1>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Modified</th>
    <th>Tags</th>
    <th>Shared With</th>
    <th>Actions</th>
  </tr>
  <% @group_documents.each do |document| %>
    <tr>
      <td>
        <a><%= link_to document.name, document_path(document) %></a>
      </td>
      <td><%= document.updated_at %></td>
      <td>tags</td>
      <td>
        <% document.shares.each do |share| %>
          <% if !share.contact.nil? %>
            <span class="user-circle"><%= share.contact.initials %></span>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Edit', edit_document_path(document), class: "outline-button small-button" %>
        <%= link_to 'Delete', document_path(document), method: :delete, data: {confirm: 'Are you sure?'}, class: "outline-button small-button" %>
      </td>
    </tr>
  <% end %>
</table>