<%= render :partial => "layouts/bread_crumbs" %>

<%= link_to "#{@insurance_card.id}/edit", class: "edit-link mrg-top" do%>
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-pencil-1"></use>
    </svg>
  </span>Edit <%= yield(:edit_title) %>
<% end %>
<h1><%= @insurance_card.name %></h1>


<div class="card <%= @insurance_card.group %>">
  <h3 class="card-label">Insurance Provider Details</h3>
  <% if !provider_present?(@insurance_card) %>
    <label>There is no information about Provider</label>
  <% end %>

  <% if @insurance_card.webaddress.present? %>
    <label>Web Address</label>
    <p><%= sanitize link_to @insurance_card.webaddress, @insurance_card.webaddress, target: "_blank" %></p>
  <% end %>

  <% if show_street?(@insurance_card) %>
    <label>Address</label>
    <p><%= @insurance_card.street_address_1 %><br>
       <%= @insurance_card.city %>,
       <%= @insurance_card.state %>
       <%= @insurance_card.zip %>
    </p>
  <% end %>

  <% if @insurance_card.phone.present? || @insurance_card.fax.present? %>
    <label>Phone</label>
    <p>
      <% if @insurance_card.phone.present? %>
        <%= @insurance_card.phone %><br>
      <% end %>
      <% if @insurance_card.fax.present? %>
        <%= @insurance_card.fax %><span class="phone-type">fax</span>
      <% end %>
    </p>
  <% end %>

  <% if @insurance_card.contact.present? %>
    <label>Primary Contact</label>
    <p><%= @insurance_card.contact.name %><br>
       <a href="mailto:<%= @insurance_card.contact.emailaddress %>">
         <%= @insurance_card.contact.emailaddress %>
       </a><br>
       <%= @insurance_card.contact.phone %>
    </p>
  <% end %>
  <span class="clear"></span>

  <% if category_subcategory_shares(@insurance_card, resource_owner).present? %>
    <section class="shared-with">
      <h3 class="card-label shared-label">
        <svg class="icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg> Shared With
      </h3>

      <label>Shared With</label>
      <div>
        <%= render :partial => "layouts/subcategory_share", :locals => { :shares => category_subcategory_shares(@insurance_card, resource_owner) } %>
      </div>
    </section>
  <% end %>
</div>

<%= render yield(:partial_path) %>

<%= render :partial => "layouts/add_document_button", :locals => {documents_path: new_documents_path(:shared_user_id => @shared_user.present? ? @shared_user.id : "", :category => @insurance_card.category.try(:name), :group => @group_label, :vendor_id => @insurance_card.id), 
  documents_title: "#{@insurance_card.name} Documents"} %>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @group_documents} %>
