<section id='subcategory-dropdown'>
  <label>Subcategory</label>
  <div class="chosen-styled-select" id="category_groups" <% if @card_names.present? %> style="display: none;" <% end %> >
    <%= f.collection_select :group, 
      @cards.collect{|s| [s[0][:id], s[0][:name]]}, :first, :second, {},
      { 'data-placeholder' => 'Select...', class: "chosen-select", multiple: false, blank_value: "Select...", id: "document_category_groups" }
    %>
  </div>

  <div class="chosen-styled-select" id="subcategory_names_financial"  <% if @card_names.empty? || !category?(@card_names, Rails.configuration.x.FinancialInformationCategory) %> style="display: none;" <% end %> >
    <%= f.collection_select :financial_information_id, 
      @card_names.collect{|s| [s[0][:id], s[0][:name]]}, :first, :second, {},
      { 'data-placeholder' => 'Select...', class: "chosen-select", multiple: false, blank_value: "Select...", id: "document_subcategory_financial",
        selected: params[:id] }
    %>
  </div>

  <div class="chosen-styled-select" id="subcategory_names_insurance"  <% if @card_names.empty? || !category?(@card_names, Rails.configuration.x.InsuranceCategory) %> style="display: none;" <% end %> >
    <%= f.collection_select :vendor_id, 
      @card_names.collect{|s| [s[0][:id], s[0][:name]]}, :first, :second, {},
      { 'data-placeholder' => 'Select...', class: "chosen-select", multiple: false, blank_value: "Select...", id: "document_subcategory_insurance",
        selected: params[:id] }
    %>
  </div>

  <div class="chosen-styled-select" id="subcategory_names_card_documents" <% if @card_names.empty? || (!category?(@card_names, Rails.configuration.x.WillsPoaCategory) && 
    !category?(@card_names, Rails.configuration.x.TrustsEntitiesCategory)) %> style="display: none;" <% end %> >
    <%= f.collection_select :card_document_id, 
      @card_names.collect{|s| [s[0][:id], s[0][:name]]}, :first, :second, {},
      { 'data-placeholder' => 'Select...', class: "chosen-select", multiple: false, blank_value: "Select...", id: "document_subcategory_card_documents",
        selected: params[:card_document_id] }
    %>
  </div>
</section>

<script>
  function get_drop_down_options() {
    update_category($('#document_category.chosen-select :selected').text())
  }
  
  $("#document_category.chosen-select").change(function(e, params) {
    var shared_user_id = $("#shared_user_id").val();
    var category_selected = $('#document_category.chosen-select :selected').text()
    var url = "/documents/document_category_share_contacts/" + category_selected.replace('...', '') + "/" + shared_user_id
    $.get(url, function(data) {
      $("#document_contact_ids").val(data)
      $("#document_contact_ids").trigger('chosen:updated');
    })
  })
  
  $("#document_subcategory_financial.chosen-select").change(function(e, params) {
    var subcategory_selected = $('#document_subcategory_financial :selected').val()
    update_shared_with(subcategory_selected)
  })
  
  $("#document_subcategory_insurance.chosen-select").change(function(e, params) {
    var subcategory_selected = $('#document_subcategory_insurance :selected').val()
    update_shared_with(subcategory_selected)
  })
  
  $("#document_subcategory_card_documents.chosen-select").change(function(e, params) {
    var subcategory_selected = $('#document_subcategory_card_documents :selected').val()
    update_shared_with(subcategory_selected)
  })

  $("#document_category_groups.chosen-select").change(function(e, params){
    $("#group").val(params.selected)
    var subcategory_selected = $('#document_category_groups :selected').val()
    update_shared_with(subcategory_selected)
  });
  
  var update_shared_with = function(subcategory_selected) {
    var shared_user_id = $("#shared_user_id").val();
    var category_selected = $('#document_category.chosen-select :selected').text()
    var url = "/documents/document_subcategory_share_contacts/" + category_selected + "/" + subcategory_selected.replace('...', '') + "/" + shared_user_id
    $.get(url, function(data) {
      $("#document_contact_ids").val(data)
      $("#document_contact_ids").trigger('chosen:updated');
    })
  }

  //get ajax request to update card drop down info based on chosen category
  var update_category = function(category_selected){
    categoryCheck(category_selected)
    shared_user_id = $("#shared_user_id").val();
    var url = '/documents/get_drop_down_options/' + category_selected.replace('...', '') + '/' + shared_user_id;
    $.get(url, function(data) {
      card_values = $('#document_category_groups');
      card_values.empty();
      data.forEach(function(group){
        card_values.append("<option value='" + group.id + "'>" + group.name + "</option>");
      });
      card_values.trigger('chosen:updated');
      updateCardNames()
    });
  }

  var categoryCheck = function(category) {
    if (category === '<%= Rails.application.config.x.ProfileCategory %>') {
      $('#subcategory-dropdown').hide();
    } else {
      $('#subcategory-dropdown').show();
    }
  }

  //get ajax request to update card names drop down if its insurance or financial category
  var updateCardNames = function(){
    shared_user_id = $("#shared_user_id").val();
    var category = $("#document_category.chosen-select :selected").text().replace('...', '');
    var url = '/documents/get_card_names/' + category + '/' + shared_user_id
    $.get(url, function(data) {
      if(data.length > 0) {
        card_names = $('#document_subcategory' + idPostFixShow(data));
        card_names.empty();
        data.forEach(function(group){
          var shortSubCat = group.name;
          if (group.name.length > 25) { shortSubCat = group.name.substring(0, 24) + '...' };
          card_names.append("<option value='" + group.id + "'>" + shortSubCat + "</option>");
        });
        card_names.trigger('chosen:updated');
      }
    }).done(function(data) {
      if (data.length > 0) {
        $("#category_groups").hide();
        $("#subcategory_names" + idPostFixShow(data)).show();
        idPostFixHide(data)
      } else {
        $("#category_groups").show();

        $("#subcategory_names_insurance").hide();
        $("#subcategory_names_financial").hide();
        $("#subcategory_names_card_documents").hide();
        $("#document_category_groups").find('option:selected').removeAttr('selected')
        $("#document_subcategory_financial").find('option:selected').removeAttr('selected')
      }
    });
  }

  var idPostFixShow = function(data) {
    var data_id = data[0].id.replace(/&/g, '&amp;')
    if (data_id === "<%= Rails.configuration.x.InsuranceCategory %>") {
      return "_insurance"
    }
    if (data_id === "<%= Rails.configuration.x.FinancialInformationCategory %>") {
      return "_financial"
    }
    if (data_id === "<%= Rails.configuration.x.WillsPoaCategory %>" ||
        data_id === "<%= Rails.configuration.x.TrustsEntitiesCategory %>") {
      return "_card_documents"
    }
  }

  var idPostFixHide = function(data) {
    var data_id = data[0].id.replace(/&/g, '&amp;')
    if (data_id === "<%= Rails.configuration.x.InsuranceCategory %>") {
      $("#subcategory_names_financial").hide();
      $("#document_subcategory_financial").find('option:selected').removeAttr('selected')

      $("#subcategory_names_card_documents").hide();
      $("#document_subcategory_card_documents").find('option:selected').removeAttr('selected')
    }
    if (data_id === "<%= Rails.configuration.x.FinancialInformationCategory %>") {
      $("#subcategory_names_insurance").hide();
      $("#document_subcategory_insurace").find('option:selected').removeAttr('selected')

      $("#subcategory_names_card_documents").hide();
      $("#document_subcategory_card_documents").find('option:selected').removeAttr('selected')
    }
    if (data_id === "<%= Rails.configuration.x.WillsPoaCategory %>" ||
        data_id === "<%= Rails.configuration.x.TrustsEntitiesCategory %>") {
      $("#subcategory_names_insurance").hide();
      $("#document_subcategory_insurace").find('option:selected').removeAttr('selected')

      $("#subcategory_names_financial").hide();
      $("#document_subcategory_financial").find('option:selected').removeAttr('selected')
    }
  }

  $("#document_group.chosen-select").chosen().change(updateCardNames)
</script>