<header>
  <section class="header-inner">
    <% if !user_signed_in? %>
       <a id="mobile-menu" class="mobile-menu button fr primary-button big-button">☰ Menu</a>

       <section class="slide-nav">
         <a id="close-mobile-menu" class="close-link">
           Close Menu
           <svg class="icon close-icon fr">
             <use xlink:href="#icon-x-2"></use>
           </svg>
         </a>
         <%= link_to 'Sign Up', sign_up_path, class: "button fr primary-button big-button menu-signup" %>

         <%= link_to 'Log In', new_user_session_path, class: "login-link" %>

         <nav class="marketing-nav">
          <%= link_to 'About Us', about_path, class: "marketing-link" %>
          <%#= link_to 'Setup', setup_path, class: "marketing-link" %>
          <%= link_to 'Security', security_path, class: "marketing-link" %>
          <%= link_to 'Enterprise', enterprise_path, class: "marketing-link" %>
          <%= link_to 'Pricing', pricing_path, class: "marketing-link" %>
          <a href="https://zokuresources.com" class="marketing-link">Resources</a>
          <%= link_to 'Contact', contact_page_path, class: "marketing-link" %>
        </nav>
      </section>
    <% end %>

    <%= render partial: 'layouts/header_elements' %>
  </section>
</header>
