<header>
  <section class="header-inner">
    <% if !user_signed_in? %>
       <a id="mobile-menu" class="mobile-menu button fr primary-button big-button">☰ Menu</a>

       <section class="slide-nav">
         <a id="close-mobile-menu" class="close-link">
           Close Menu
           <svg class="icon close-icon fr">
             <use xlink:href="#icon-x-2"></use>
           </svg>
         </a>
         <%= link_to 'Sign Up', sign_up_path, class: "button fr primary-button big-button menu-signup" %>

         <%= link_to 'Login', new_user_session_path, class: "login-link" %>

         <nav class="marketing-nav">
          <%= link_to 'About Us', about_path, class: "marketing-link" %>
          <%= link_to 'Setup', setup_path, class: "marketing-link" %>
          <%= link_to 'Security', security_path, class: "marketing-link" %>
          <%= link_to 'Enterprise', enterprise_path, class: "marketing-link" %>
          <a href="https://zokuresources.com" class="marketing-link">Resources</a>
          <%= link_to 'Contact', contact_page_path, class: "marketing-link" %>
        </nav>
      </section>
    <% end %>

    <%=link_to( image_tag("SVG/ZokuVault.svg", :alt=>"Zoku Vault"), root_url, :class=>"logo") %>

    <% if user_signed_in? %>

      <a class="user-menu-link" id="user-menu-toggle" href="javascript:void(0)">
        <span class="user-avatar fr">
          <%= render :partial => "layouts/user_profile_avatar", locals: { user: current_user.user_profile, :with_name => true, :avatar_size => 'small' } %>
        </span>
      </a>

      <div class="user-menu">
        <%= link_to my_profile_path, class: "user-nav" do %>
          <svg class="icon nav-icon">
            <use xlink:href="#icon-contacts-2"></use>
          </svg>My Profile
        <% end %>
        <%= link_to user_account_traffics_path, class: "user-nav" do %>
          <svg class="icon nav-icon">
            <use xlink:href="#icon-user-1"></use>
          </svg>Account Traffic
        <% end %>
        <%= link_to account_users_path, class: "user-nav" do %>
          <svg class="icon nav-icon">
            <use xlink:href="#icon-settings-1"></use>
          </svg>Account Settings
        <% end %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class=>"user-nav") %>
      </div>

      <a id="mobile-app-menu" class="mobile-app-menu button fr primary-button big-button">☰ Menu</a>

      <%=link_to( image_tag("SVG/search.svg", :alt=>"Search", :class=>"search-icon"), search_url, class: "fr header-search") %>
    <% end %>
  </section>
</header>

<script>
$(function(){
  //marketing website navigation
  $('#mobile-menu, #close-mobile-menu').click(function() {
     $('.slide-nav').animate({width:'toggle'},150);
  });
  //application navigation
  $('#mobile-app-menu, #close-mobile-app-menu').click(function() {
     $('.primary-nav').animate({width:'toggle'},150);
  });
  //window navigation resize reset
  $( window ).resize(function() {
    if ($(window).width() < 660) {
       $('.primary-nav, .slide-nav').css('display', '');
    }
  });
  //user menu
  $('#user-menu-toggle').click(function() {
     $('.user-menu').animate({height:'toggle'},150);
  });
});
</script>
