<nav class="primary-nav">

  <a id="close-mobile-app-menu" class="main-nav close-primary-nav">
    Close Menu
    <svg class="icon close-icon fr">
      <use xlink:href="#icon-x-2"></use>
    </svg>
  </a>

  <a class="main-nav <%= 'active' if current_page?(root_url) %>"
    href="/">
    <svg class="icon nav-icon">
      <use xlink:href="#icon-dashboard"></use>
    </svg>Dashboard
  </a>
    <a class="main-nav <%= 'active' if current_page?(my_profile_url) %>"
      href="/my_profile">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-contacts-2"></use>
      </svg>My Profile
    </a>
    <a class="main-nav <%= 'active' if current_page?(contacts_url) %>"
       href="/contacts">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-share-3"></use>
      </svg>Contacts &amp; Permissions
    </a>
    <a class="main-nav <%= 'active' if current_page?(financial_information_url) %>"
       href="/financial_information">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-activity-monitor-1"></use>
      </svg>Financial Information
    </a>
    <% estate_planning = 'active' if current_page?(estate_planning_url) %>
    <%= link_to estate_planning_path, class: "main-nav #{estate_planning}" do %>
      <svg class="icon nav-icon">
        <use xlink:href="#icon-document-3"></use>
      </svg>Wills Trusts &amp; Legal
    <% end %>
    <% insurance_current = 'active' if current_page?(insurance_url) %>
    <%= link_to insurance_path, class: "main-nav #{insurance_current}" do %>
      <svg class="icon nav-icon">
        <use xlink:href="#icon-umbrella-1"></use>
      </svg>Insurance
    <% end %>
    <a class="main-nav <%= 'active' if current_page?(taxes_url) %>"
       href="taxes">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-book-6"></use>
      </svg>Taxes
    </a>
    <a class="main-nav <%= 'active' if current_page?(healthcare_choices_url) %>"
       href="healthcare_choices">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-plus-1"></use>
      </svg>Healthcare Choices
    </a>
    <a class="main-nav <%= 'active' if current_page?(final_wishes_url) %>"
       href="final_wishes">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-bookmark-2"></use>
      </svg>Final Wishes
    </a>
    <a class="main-nav <%= 'active' if current_page?(web_accounts_url) %>"
       href="web_accounts">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-cloud-1"></use>
      </svg>Web Accounts
    </a>
    <a class="main-nav <%= 'active' if current_page?(shared_url) %>"
       href="/shared">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-Safe"></use>
      </svg>Shared With Me
    </a>
    <a class="main-nav <%= 'active' if current_page?(documents_url) %>"
       href="<%=documents_path%>">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-folder-1"></use>
      </svg>Documents
    </a>


</nav>
