<nav class="primary-nav">

  <a id="close-mobile-app-menu" class="main-nav close-primary-nav">
    Close Menu
    <svg class="icon close-icon fr">
      <use xlink:href="#icon-x-2"></use>
    </svg>
  </a>

  <a class="main-nav <%= 'active' if current_page?(root_url) %>"
    href="/">
    <svg class="icon nav-icon">
      <use xlink:href="#icon-dashboard"></use>
    </svg>Dashboard
  </a>
  <% financial_information_current = 'active' if current_page?(financial_information_url) || controller?('financial_account', 'financial_property', 'financial_investment') ||
      breadcrumb?(:financial_information_path) %>
  <%= link_to financial_information_path, class: "main-nav #{financial_information_current}" do %>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-activity-monitor-1"></use>
    </svg>Financial Information
  <% end %>
  <% wills_powers_of_attorney = 'active' if current_page?(wills_powers_of_attorney_url) || wills_poa?%>
  <%= link_to wills_powers_of_attorney_path, class: "main-nav #{wills_powers_of_attorney}" do%>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-document-3"></use>
    </svg>Wills - Powers of Attorney
  <% end %>
  <% trusts_entities = 'active' if current_page?(trusts_entities_url) || trusts_entities? %>
  <%= link_to trusts_entities_path, class: "main-nav #{trusts_entities}" do%>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-trust"></use>
    </svg>Trusts &amp; Entities
  <% end %>
  <% estate_planning = 'active' if (current_page?(estate_planning_url) || controller?('wills', 'trusts', 'power_of_attorneys') ||
      breadcrumb?(:estate_planning_path)) && !wills_poa? && !trusts_entities? %>
  <%= link_to estate_planning_path, class: "main-nav #{estate_planning}" do%>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-document-3"></use>
    </svg>Wills Trusts &amp; Legal
  <% end %>
  <% insurance_current = 'active' if current_page?(insurance_url) || controller?('life_and_disabilities', 'healths', 'property_and_casualties') ||
      breadcrumb?(:insurance_path) %>
  <%= link_to insurance_path, class: "main-nav #{insurance_current}" do %>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-umbrella-1"></use>
    </svg>Insurance
  <% end %>
  <% taxes_current = 'active' if current_page?(taxes_url) || controller?('taxes') || breadcrumb?(:taxes_path) %>
  <%= link_to taxes_path, class: "main-nav #{taxes_current}" do %>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-book-6"></use>
    </svg>Taxes
  <% end %>
<!--  <% healthcare_choices_current = 'active' if current_page?(healthcare_choices_url) || breadcrumb?(:healthcare_choices_path) %>
  <%= link_to healthcare_choices_path, class: "main-nav #{healthcare_choices_current}" do %>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>Healthcare Choices
  <% end %> -->
  <% final_wishes_current = 'active' if current_page?(final_wishes_url) || controller?('final_wishes') || breadcrumb?(:final_wishes_path) %>
  <%= link_to final_wishes_path, class: "main-nav #{final_wishes_current}" do %>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-bookmark-2"></use>
    </svg>Final Wishes
  <% end %>
<!--  <% web_accounts_current = 'active' if current_page?(web_accounts_url) %>
  <%= link_to web_accounts_path, class: "main-nav #{web_accounts_current}" do %>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-cloud-1"></use>
    </svg>Web Accounts
  <% end %> -->
  <% documents_current = 'active' if current_page?(documents_url) || controller?('documents') && document_breadcrumb_free? %>
  <%= link_to documents_path, class: "main-nav #{documents_current}" do %>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-folder-1"></use>
    </svg>Documents
  <% end %>
  <% contacts_current = 'active' if current_page?(contacts_url) || controller?('contacts') || breadcrumb?(:contacts_path) %>
  <%= link_to contacts_path, class: "main-nav #{contacts_current}" do %>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-share-3"></use>
    </svg>Contacts &amp; Permissions
  <% end %>
  <% shared_current = 'active' if current_page?(shares_path)%>
  <%= link_to shares_path, class: "main-nav #{shared_current}" do %>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-Safe"></use>
    </svg>Shared With Me
  <% end %>
  <% my_profile_current = 'active' if current_page?(my_profile_url) || controller?('user_profiles') || breadcrumb?(:my_profile_path) %>
  <%= link_to my_profile_path, class: "main-nav #{my_profile_current}" do %>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-contacts-2"></use>
    </svg>My Profile
  <% end %>
  <% account_settings_current = 'active' if current_page?(account_settings_url) %>
  <%= link_to account_settings_path, class: "main-nav mobile-show #{account_settings_current}" do %>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-settings-1"></use>
    </svg>Account Settings
  <% end %>
  <% zoku_support_current = 'active' if current_page?(email_support_url) %>
  <%= link_to email_support_path, class: "main-nav #{zoku_support_current} bottom-nav" do %>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-mail-2"></use>
    </svg>ZokuVault Support
  <% end %>

  <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class=>"main-nav mobile-show") %>
</nav>
