<nav>

  <% if !user_signed_in? %>

    <%= link_to('Login', new_user_session_path, :class=>"main-nav")  %>

  <% else %>

    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-contacts-2"></use>
      </svg>My Profile
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-share-3"></use>
      </svg>Contacts &amp; Permissions
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-activity-monitor-1"></use>
      </svg>Financial Information
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-document-3"></use>
      </svg>Estate Planning
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-umbrella-1"></use>
      </svg>Insurance
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-book-6"></use>
      </svg>Taxes
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-plus-1"></use>
      </svg>Healthcare Choices
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-bookmark-2"></use>
      </svg>Final Wishes
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-cloud-1"></use>
      </svg>Web Accounts
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-Safe"></use>
      </svg>Shared With Me
    </a>
    <a class="main-nav" href="<%=documents_path%>">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-folder-1"></use>
      </svg>Documents
    </a>
    <a class="main-nav" href="<%=categories_path%>">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-folder-1"></use>
      </svg>Categories
    </a>
    <% Category.for_user(current_user).each do |category| %>
      <a class="main-nav" href="<%=category_path(category)%>"
        <svg class="icon nav-icon">
          <use xlink:href="#icon-folder-1"></use>
        </svg><%=category.name%>
      </a>
    <% end %>
  <% end %>
</nav>
