<h1><%= "#{yield(:title).gsub("&amp;", "&")} Insurance Setup" %></h1>
<%= form_for(@insurance_card, url: "#{yield(:url_path)}") do |f| %>
  <%= f.hidden_field :id %>
  <% if @insurance_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@insurance_card.errors.count, "error") %> prohibited this <%= @insurance_card.group %> from being saved:</h2>
      <ul>
      <% @insurance_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="insurance-header-content">
   <%= link_to 'Delete', "#{yield(:delete_path)}provider/#{params[:id]}", method: :delete, 
      data: { confirm: "Deleting this '#{@insurance_card.group} provider' will permanently remove it from ZokuVault." },
     class: 'right-align-delete-link insurance', id: 'delete-insurance' %>

    <div class="field">
      <label>Insurance Provider Name </label>
      <div class="styled-text-input">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="field">
      <label>Insurance Provider Web Address </label>
      <div class="styled-text-input">
        <%= f.text_field :webaddress %>
      </div>
    </div>
    <div class="field">
      <label>Street Address</label>
      <div class="styled-text-input">
        <%= f.text_field :street_address_1 %>
      </div>
    </div>
    <div class="field">
      <label>City </label>
      <div class="styled-text-input">
        <%= f.text_field :city %>
      </div>
    </div>
    <div class="field address-field">
      <div class="zipcode-field">
        <label>Zip Code </label>
        <div class="zipcode-text styled-input-text">
          <div class="insurance-zipcode">
            <%= f.text_field :zip %>
          </div>
        </div>
      </div>
      <div class="state-select">
        <label>State </label>
        <div class="styled-select insurance-state">
          <%= f.select :state, options_for_select(us_states) %>
        </div>
      </div>
    </div>
    <div class="field">
      <label>Business Phone Number </label>
      <div class="styled-text-input">
        <%= f.text_field :phone %>
      </div>
    </div>
    <div class="field">
      <label>Business Fax Number </label>
      <div class="styled-text-input">
        <%= f.text_field :fax %>
      </div>
    </div>
    <div class="field">
      <label>Primary Contact</label>
      <div class="chosen-styled-select">
          <%= f.collection_select :contact_id, 
            @contacts, :id, :name, {}, 
            { 'data-placeholder' => 'Choose Contact...', class: "chosen-select"}
          %>
      </div>
    </div>
    <div class="field shared-field bt-gray-light bb-gray-light insurance-shared-with">
      <label>Shared With</label>
      <span class="shared-with-block">
        <h2 class="shared-with-title">Shared With</h2>
        <svg class="icon icon-Safe share-with-icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg>
      </span>
      <div class="chosen-styled-select">
        <%= f.collection_select :share_with_ids, 
          @contacts, :id, :name, {}, 
          { 'data-placeholder' => 'Choose Contact...', multiple: true, class: "chosen-select"}
        %>
      </div>
    </div>
  </div>
  

  <% @insurance_card.policy.each_with_index do |data, index| %>
    <div class="insurance-body-content">
      <%= f.fields_for "policy_#{index}", data do |ff| %>
        <% if data.id %>
          <%= link_to 'Delete', "#{yield(:delete_path)}#{data.id}", method: :delete, 
              data: { confirm: "Deleting this '#{@insurance_card.group} policy' will permanently remove it from ZokuVault." },
              class: 'right-align-delete-link insurance', id: 'delete-insurance' %>
        <% end %>
        <%= render yield(:partial_path), ff: ff, index: index, data: data %>
      <% end %>
    </div>
  <% end %>
  <% if @insurance_card.policy.empty? %>
    <% index= 0 %>
    <div class="insurance-body-content">
      <%= f.fields_for "policy_#{index}" do |ff| %>
        <%= render yield(:partial_path), ff: ff, index: index %>
      <% end %>
    </div>
  <% end %>


<div class="insurance-footer-content">
  <div class="add-new-field" href="" onclick="addNewField()">
    <svg class="icon add-icon">
      <use xlink:href="#icon-add-1"></use>
    </svg>
    Add another <%= yield(:add_another_title) %><br>
  </div>
</div>

<div class="wtl-btn-group">
  <%= f.submit 'Save', class: "button primary-button big-button" %>
  <%= link_to 'Cancel', :back || insurance_path, class: "button secondary-button big-button"%>
</div>
<% end %>
<script>
  clearFormFields = function(form){
    form.find(':text').val("");
    form.find('textarea').val("");
    form.find(':checked').prop('checked', false);
  }

  addNewField = function(){
    var $insuranceForm = $('div[class^="insurance-body-content"]:last');
    var $newWtlForm = $insuranceForm.clone();
    old_id_number = parseInt($newWtlForm.find("input[type=hidden]").attr("id").split('_').last());
    new_id_number = old_id_number + 1;
    clearFormFields($newWtlForm);
    clearForm($newWtlForm, old_id_number, new_id_number);
    $('.chosen-container',$newWtlForm).remove();
    $newWtlForm.find(':text').val("");
    $newWtlForm.find(':checked').prop('checked', false);
    $newWtlForm.find("#delete-insurance").remove()
    $newWtlForm.insertAfter('.insurance-body-content:last');
    $('.chosen-select').chosen();
  }
  
  $('.chosen-select').chosen();
</script>
