<h1><%= "#{yield(:title).gsub("&amp;", "&")} - Setup" %></h1>
<%= form_for(@insurance_card, url: "#{yield(:url_path)}") do |f| %>
  <%= f.hidden_field :id %>
  <% if @insurance_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@insurance_card.errors.count, "error") %> prohibited this <%= @insurance_card.group %> from being saved:</h2>
      <ul>
      <% @insurance_card.errors.full_messages.each do |message| %>
        <% if message.include?("Contact") %>
        <li>Primary <%= message %></li>
        <% else %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card <%= @insurance_card.group %> mb-30">

    <h3 class="card-label">Provider Details</h3>

    <label>Insurance Provider Name</label>
    <%= f.text_field :name %>

    <label>Insurance Provider Web Address</label>
    <a>
      <%= f.text_field :webaddress, type: "url", onblur: "checkURL(this)", onsubmit: "checkURL(this)" %>
    </a>

    <label>Street Address</label>
    <%= f.text_field :street_address_1 %>

    <label>City </label>
    <%= f.text_field :city %>

      <span class="state-input">
        <label>State</label>
        <div class="styled-select">
          <%= f.select :state, options_for_select(us_states, f.object.state), :include_blank => "Select..." %>
        </div>
      </span>
      <span class="zip-input">
        <label>Zip Code</label>
        <%= zip_code_form(f, :zip) %>
      </span>

    <label>Business Phone Number</label>
    <%= f.text_field :phone, class: "form-control", :data => {:mask => '999-999-9999'}, type: "tel" %>

    <label>Business Fax Number</label>
    <%= f.text_field :fax, class: "form-control", :data => {:mask => '999-999-9999'}, type: "tel"  %>

    <label>Primary Contact</label>
    <div class="chosen-styled-select">
        <%= contact_select_with_create_new(f, :contact_id, @contacts, multiple: false) %>
    </div>

    <section class="shared-with edit-shared">
      <h3 class="card-label shared-label">
        <svg class="icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg> Shared With
      </h3>
      <label>Shared With</label><br>
      <div class="chosen-styled-select">
        <%= contact_select_with_create_new(f, :share_with_ids, @contacts_shareable) %>
      </div>
    </section>

    <% if params[:id] %>
      <%= link_to 'Delete this Provider', "#{yield(:delete_path)}provider/#{params[:id]}", method: :delete,
        data: { confirm: "Deleting this '#{@insurance_card.group} provider' will permanently remove it from ZokuVault." },
        class: 'button small-button secondary-button', id: 'delete-insurance' %>
    <% end %>

  </div>

  <% @insurance_card.policy.each_with_index do |data, index| %>

    <div class="card <%= @insurance_card.group %> mb-30 add-another">

      <%= f.fields_for "policy_#{index}", data do |ff| %>
        <%= render yield(:partial_path), ff: ff, index: index, data: data %>
      <% end %>

      <% if data.id %>
        <span class="mt-30 mb-30">
          <%= link_to 'Delete this policy', "#{yield(:delete_path)}#{data.id}", method: :delete,
              data: { confirm: "Deleting this '#{@insurance_card.group} policy' will permanently remove it from ZokuVault." },
              class: 'button small-button secondary-button', id: 'delete-insurance' %>
        </span>
      <% end %>

    </div>
  <% end %>


  <% if @insurance_card.policy.empty? %>
    <% index= 0 %>
    <div class="card <%= @insurance_card.group %> mb-30 add-another">
      <%= f.fields_for "policy_#{index}" do |ff| %>
        <%= render yield(:partial_path), ff: ff, index: index %>
      <% end %>
    </div>
  <% end %>

<div class="insurance-footer-content">
  <div class="add-new-button" href="" onclick="addNewField()">
    <svg class="icon add-icon">
      <use xlink:href="#icon-add-1"></use>
    </svg>
    Add another <%= yield(:add_another_title) %><br>
  </div>
</div>

<div class="wtl-btn-group">
  <%= f.submit 'Save', class: "button primary-button big-button" %>
  <%= link_to 'Cancel', :back || insurance_path, class: "button secondary-button big-button"%>
</div>
<% end %>
<script>
  clearFormFields = function(form){
    form.find(':text').val("");
    form.find('textarea').val("");
    form.find(':checked').prop('checked', false);
  }
  addNewField = function(){
    var $insuranceForm = $('.add-another:last');
    var $newWtlForm = $insuranceForm.clone();
    old_id_number = parseInt($newWtlForm.find("input[type=hidden]").attr("id").split('_').last());
    new_id_number = old_id_number + 1;
    clearFormFields($newWtlForm);
    clearForm($newWtlForm, old_id_number, new_id_number);
    $('.chosen-container',$newWtlForm).remove();
    $newWtlForm.find("#delete-insurance").remove()
    $newWtlForm.insertAfter('.add-another:last');
    $('.chosen-select').chosen({allow_single_deselect: true});
    $('.chosen-container').css({"width": ""});//enforces > 0 width when adding policy in mobile view
    $(document).trigger('refresh_autonumeric')
  }
  $('.chosen-select').chosen({allow_single_deselect: true});
</script>