<h1><%= yield(:title) + ' Setup' %></h1>

<body>
  <% if @vault_entry.errors.any? %>
    <div>
      Errors:
      <ul>
        <% @vault_entry.errors.full_messages.each do |message| %>
          <li><%= message %>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_for @vault_entry, :remote => true do |f| %>
  <div id="wtl-forms">
    <div id="wtl-form-1">
      <% @vault_entries.each_with_index do |data, index| %>
        <%= fields_for "vault_entry_#{index}", data do |builder| %>
          <% if data.id %>
            <%= link_to 'Delete', "#{yield(:delete_path)}#{data.id}", method: :delete, 
                data: { confirm: "Deleting this '#{yield(:question_title)}' will permanently remove it from ZokuVault." }, class: 'right-align-delete-link' %>
          <% end %>
          <%= render yield(:partial_path), f: builder, index: index, data: data %>
        <% end %>
      <% end %>
    </div>
  </div>

<div class="wtl-footer-content">
    <div class="add-new-field" href="" onclick="addNewField();">
    <svg class="icon add-icon">
      <use xlink:href="#icon-add-1"></use>
    </svg>
  Add another <%= yield(:add_another_title) %><br>
  </div>
</div>

<%= f.submit "Save", class: "button primary-button big-button" %>
<%= link_to 'Cancel', :back || estate_planning_path, {class: "button secondary-button big-button"}%>
<% end %>
</body>
<script>
  addNewField = function(){
    var $wtlForm = $('div[class^="wtl-body-content"]:last');
    var $newWtlForm = $wtlForm.clone();
    old_id_number = parseInt($wtlForm.find("input[type=hidden]").attr("id").split('_').last());
    new_id_number = old_id_number + 1;
    clearForm($newWtlForm, old_id_number, new_id_number);
    
    $('.chosen-container',$newWtlForm).remove();
    $newWtlForm.find(':text').val("");
    $newWtlForm.find(':checked').prop('checked', false);
    $newWtlForm.appendTo('#wtl-form-1');
    $('.chosen-select').chosen();
  };
  
  $('.chosen-select').chosen()
  function showForm() { 
    $('#form-fields').show();
    $('#upload-will-message').hide();
  }

  function showUploadMessage() { 
    $('#form-fields').hide();
    $('#upload-will-message').show();
  }
</script>
