<h1><%= yield(:title) + ' - Setup' %></h1>

  <% if @vault_entry.errors.any? %>
    <div>
      Errors:
      <ul>
        <% @vault_entry.errors.full_messages.each do |message| %>
          <li><%= message %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @vault_entry, :remote => true do |f| %>

  <div id="wtl-forms">
    <div id="wtl-form-1">
      <% @vault_entries.each_with_index do |data, index| %>
        <%= fields_for "vault_entry_#{index}", data do |builder| %>
          <%= render yield(:partial_path), f: builder, index: index, data: data %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="add-new-button" href="" onclick="addNewField();">
    <svg class="icon add-icon">
      <use xlink:href="#icon-add-1"></use>
    </svg>
    Add another <%= yield(:add_another_title) %><br>
  </div>

<%= f.submit "Save", class: "button primary-button big-button" %>
<%= link_to 'Cancel', :back || estate_planning_path, {class: "button secondary-button big-button"}%>
<% end %>


<script>
  addNewField = function(){
    var $wtlForm = $('.card:last');
    var $newWtlForm = $wtlForm.clone();
    old_id_number = parseInt($wtlForm.find("input[type=hidden]").attr("id").split('_').last());
    new_id_number = old_id_number + 1;
    clearForm($newWtlForm, old_id_number, new_id_number);

    $('.chosen-container',$newWtlForm).remove();
    $newWtlForm.find(':text').val("");
    $newWtlForm.find(':checked').prop('checked', false);
    $newWtlForm.appendTo('#wtl-form-1');
    $('.chosen-select').chosen({allow_single_deselect: true});
    $('.chosen-container').css({"width": ""});//enforces > 0 width when adding policy in mobile view
  };
  $('.chosen-select').chosen({allow_single_deselect: true});
</script>
