<%= render :partial => "layouts/bread_crumbs" %>

<h1><%= "#{yield(:title).gsub("&amp;", "&")} - Setup" %></h1>
<%= form_for(@insurance_card, url: "#{yield(:url_path)}") do |f| %>
  <%= f.hidden_field :id %>
  <%= hidden_field_tag :shared_user_id, params[:shared_user_id] %>
  <div class="card <%= @insurance_card.group %> mb-30">

    <h3 class="card-label">Provider Details</h3>

    <label>Insurance Provider Name</label>
    <% if @insurance_card.errors && @insurance_card.errors.messages[:name] %>
      <span class="error-label"> - <%= @insurance_card.errors.messages[:name].first %></span>
    <% end %>
    <%= f.text_field :name, { class: ("input-error" if @insurance_card.errors.messages[:name].present?), :maxlength => get_max_length(:default) } %>

    <label>Insurance Provider Web Address</label>
    <a>
      <%= f.text_field :webaddress, type: "url", onblur: "checkURL(this)", onsubmit: "checkURL(this)", :maxlength => get_max_length(:web) %>
    </a>
    
    <label>Primary Contact</label>
    <div class="chosen-styled-select">
        <%= contact_select_with_create_new(f, :contact_id, @contacts, multiple: false) %>
    </div>

    <%= render partial: 'layouts/address_phone_toggle_button', locals: { provider: @insurance_card } %>

    <section id="address_phone_details" <% if !edit?(@insurance_card) %> style="display: none;" <% end %>>
      <label>Street Address</label>
      <%= f.text_field :street_address_1, :maxlength => get_max_length(:default) %>

      <label>City </label>
      <%= f.text_field :city, :maxlength => get_max_length(:default) %>

        <span class="state-input">
          <label>State</label>
          <div class="styled-select">
            <%= f.select :state, options_for_select(us_states, f.object.state), :include_blank => "Select..." %>
          </div>
        </span>
        <span class="zip-input">
          <label>Zip Code</label>
          <%= zip_code_form(f, :zip) %>
        </span>

      <label>Business Phone Number</label>
      <%= f.text_field :phone, class: "form-control", :data => {:mask => '999-999-9999'} %>

      <label>Business Fax Number</label>
      <%= f.text_field :fax, class: "form-control", :data => {:mask => '999-999-9999'} %>
    </section>

    <section class="shared-with edit-shared">
      <h3 class="card-label shared-label">
        <svg class="icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg> Shared With
      </h3>
      <label>Shared With</label><br>
      <div class="chosen-styled-select">
        <%= contact_select_with_create_new(f, :share_with_ids, @contacts_shareable) %>
      </div>
    </section>

    <% if params[:id] && policy(@insurance_card).destroy? %>
      <%= link_to 'Delete this Provider', "#{yield(:delete_path)}provider/#{params[:id]}", method: :delete,
        data: { confirm: "Deleting this '#{@insurance_card.group} provider' will permanently remove it from ZokuVault." },
        class: 'button small-button secondary-button', id: 'delete-insurance' %>
    <% end %>

  </div>

  <% @insurance_card.policy.each_with_index do |data, index| %>

    <div class="card <%= @insurance_card.group %> mb-30 add-another">

      <%= f.fields_for "policy_#{index}", data do |ff| %>
        <%= render yield(:partial_path), ff: ff, index: index, data: data %>
      <% end %>

      <% if data.id && policy(@insurance_card).destroy? %>
        <span class="mt-30 mb-30">
          <%= link_to 'Delete this policy', "#{yield(:delete_path)}#{data.id}", method: :delete,
              data: { confirm: "Deleting this '#{@insurance_card.group} policy' will permanently remove it from ZokuVault." },
              class: 'button small-button secondary-button', id: 'delete-insurance' %>
        </span>
      <% end %>

    </div>
  <% end %>


  <% if @insurance_card.policy.empty? %>
    <% index= 0 %>
    <div class="card <%= @insurance_card.group %> mb-30 add-another">
      <%= f.fields_for "policy_#{index}" do |ff| %>
        <%= render yield(:partial_path), ff: ff, index: index, data: nil %>
      <% end %>
    </div>
  <% end %>

<div class="insurance-footer-content">
  <div class="add-new-button" href="" onclick="addNewField()">
    <svg class="icon add-icon">
      <use xlink:href="#icon-add-1"></use>
    </svg>
    Add another <%= yield(:add_another_title) %><br>
  </div>
</div>

<div class="wtl-btn-group">
  <%= f.submit 'Save', class: "button primary-button big-button" %>
  <%= link_to 'Cancel', back_path || insurance_path, class: "button secondary-button big-button"%>
</div>
<% end %>

<%= javascript_include_tag "phone_address_toggle" %>
<script>
  $(document).ready(function() {
    clearFormFields = function(form){
      form.find(':text').val("");
      form.find('textarea').val("");
      form.find(':checked').prop('checked', false);
    }
    addNewField = function(){
      var $insuranceForm = $('.add-another:last');
      var $newWtlForm = $insuranceForm.clone();
      old_id_number = parseInt($newWtlForm.find("input[type=hidden]").attr("id").split('_').last());
      new_id_number = old_id_number + 1;
      clearFormFields($newWtlForm);
      clearForm($newWtlForm, old_id_number, new_id_number);
      $('.chosen-container',$newWtlForm).remove();
      $newWtlForm.find("#delete-insurance").remove()
      $newWtlForm.insertAfter('.add-another:last');
      $('.chosen-select').chosen({allow_single_deselect: true});
      $('.chosen-container').css({"width": ""});//enforces > 0 width when adding policy in mobile view
      $(document).trigger('refresh_autonumeric')
    }
    
    var policiesCount = <%= @insurance_card.policy.count %>
    for(var i = 0; i < policiesCount; i++ ) {
      setValue($('#life_coverage_amount_id_' + i), $('#life_coverage_amount_id_' + i).val())
      setValue($('#property_coverage_id_' + i), $('#property_coverage_id_' + i).val())
    }
  });
  $('.chosen-select').chosen({allow_single_deselect: true});
</script>