<nav class="primary-nav share-with">

  <a id="close-mobile-app-menu" class="main-nav close-primary-nav">
    Close Menu
    <svg class="icon close-icon fr">
      <use xlink:href="#icon-x-2"></use>
    </svg>
  </a>

  <a class="main-nav <%= 'active' if current_page?(dashboard_shared_view_path(@shared_user)) || breadcrumb?(dashboard_shared_view_path(@shared_user)) || breadcrumb?(:dashboard_shared_view_path) %>"
     href=<%= dashboard_shared_view_path(@shared_user) %> >
    <svg class="icon nav-icon">
      <use xlink:href="#icon-dashboard"></use>
    </svg>Dashboard
  </a>
  <! -- Financial Information -- >
  <% if show_navigation_link?('Financial Information') %>
    <% shared_view_financial_information = 'active' if current_page?(financial_information_shared_view_path(@shared_user)) ||
    controller?('financial_account', 'financial_property', 'financial_investment', 'financial_alternative') || breadcrumb?(:financial_information_shared_view_path) || breadcrumb?(financial_information_shared_view_path(@shared_user)) %>
    <%= link_to financial_information_shared_view_path(@shared_user), class: "main-nav #{shared_view_financial_information}" do %>
      <svg class="icon nav-icon">
        <use xlink:href="#icon-activity-monitor-1"></use>
      </svg>Financial Information
    <% end %>
  <% end %>
  <! -- Wills - Powers of Attorney -->
  <% if show_navigation_link?('Wills - POA') %>
    <% shared_view_wills_powers_of_attorney = 'active' if current_page?(wills_powers_of_attorney_shared_view_path(@shared_user)) ||
    controller?('wills', 'power_of_attorneys') || breadcrumb?(:wills_powers_of_attorney_shared_view_path) || breadcrumb?(wills_powers_of_attorney_shared_view_path(@shared_user)) %>
    <%= link_to wills_powers_of_attorney_shared_view_path(@shared_user), class: "main-nav #{shared_view_wills_powers_of_attorney}" do %>
      <svg class="icon nav-icon">
        <use xlink:href="#icon-document-3"></use>
      </svg>Wills & Powers of Attorney
    <% end %>
  <% end %>
  <! -- Trusts & Entities -- >
  <% if show_navigation_link?('Trusts & Entities') %>
    <% shared_view_trusts_entities = 'active' if current_page?(trusts_entities_shared_view_path(@shared_user)) ||
    controller?('trusts', 'entities') || breadcrumb?(:trusts_entities_shared_view_path) || breadcrumb?(trusts_entities_shared_view_path(@shared_user)) %>
    <%= link_to trusts_entities_shared_view_path(@shared_user), class: "main-nav #{shared_view_trusts_entities}" do %>
      <svg class="icon nav-icon">
        <use xlink:href="#icon-trust"></use>
      </svg>Trusts & Entities
    <% end %>
  <% end %>
  <! -- Insurance -->
  <% if show_navigation_link?('Insurance') %>
    <% shared_view_insurance = 'active' if current_page?(insurance_shared_view_path(@shared_user)) ||
      controller?('life_and_disabilities', 'healths', 'property_and_casualties') || breadcrumb?(:insurance_shared_view_path) || breadcrumb?(insurance_shared_view_path(@shared_user)) %>
    <%= link_to insurance_shared_view_path(@shared_user), class: "main-nav #{shared_view_insurance}" do %>
      <svg class="icon nav-icon">
        <use xlink:href="#icon-umbrella-1"></use>
      </svg>Insurance
    <% end %>
  <% end %>
  <! -- Taxes -->
  <% if show_navigation_link?('Taxes') %>
    <% shared_view_taxes = 'active' if current_page?(taxes_shared_view_path(@shared_user)) || controller?('taxes') || breadcrumb?(:taxes_shared_view_path) || breadcrumb?(taxes_shared_view_path(@shared_user)) %>
    <%= link_to taxes_shared_view_path(@shared_user), class: "main-nav #{shared_view_taxes}" do %>
      <svg class="icon nav-icon">
        <use xlink:href="#icon-book-6"></use>
      </svg>Taxes
    <% end %>
  <% end %>
  <! -- Final Wishes -->
  <% if show_navigation_link?('Final Wishes') %>
    <% shared_view_final_wishes = 'active' if current_page?(final_wishes_shared_view_path(@shared_user)) || controller?('final_wishes') ||
       breadcrumb?(:final_wishes_shared_view_path) || breadcrumb?(final_wishes_shared_view_path(@shared_user)) %>
    <%= link_to final_wishes_shared_view_path(@shared_user), class: "main-nav #{shared_view_final_wishes}" do %>
      <svg class="icon nav-icon">
        <use xlink:href="#icon-bookmark-2"></use>
      </svg>Final Wishes
    <% end %>
  <% end %>

  <% if show_navigation_link?('Online Accounts') %>
    <% shared_view_online_accounts = 'active' if current_page?(online_accounts_shared_view_path(@shared_user)) || controller?('online_accounts') ||
       breadcrumb?(:online_accounts_shared_view_path) || breadcrumb?(online_accounts_shared_view_path(@shared_user)) %>
    <% link_to online_accounts_shared_view_path(@shared_user), class: "main-nav #{shared_view_online_accounts}" do %>
      <svg class="icon nav-icon">
        <use xlink:href="#icon-cloud-1"></use>
      </svg>Online Accounts
    <% end %>
  <% end %>
  
  <! -- Documents -->
  <% if show_navigation_link?('Documents') %>
    <% shared_view_documents = 'active' if current_page?(documents_shared_view_path(@shared_user)) ||
       breadcrumb?(:documents_shared_view_path) || breadcrumb?(documents_shared_view_path(@shared_user))  %>
    <%= link_to documents_shared_view_path(@shared_user), class: "main-nav #{shared_view_documents}" do %>
      <svg class="icon nav-icon">
        <use xlink:href="#icon-folder-1"></use>
      </svg>Documents
    <% end %>
  <% end %>
  <! -- Contacts & Permissions -->
  <% if show_navigation_link?('Contact') %>
    <% shared_view_contacts = 'active' if current_page?(contacts_shared_view_path(@shared_user)) || controller?('contacts') ||
       breadcrumb?(:contacts_shared_view_path) || breadcrumb?(contacts_shared_view_path(@shared_user)) %>
    <%= link_to contacts_shared_view_path(@shared_user), class: "main-nav #{shared_view_contacts}" do %>
      <svg class="icon nav-icon">
      <use xlink:href="#icon-share-3"></use>
    </svg>Contacts &amp; Permissions
    <% end %>
  <% end %>
  
  <%= link_to shares_path, class: "main-nav mobile-show" do %>
    Exit Shared View
  <% end %>
</nav>
