<table id="documents-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Modified</th>
      <th>Tags</th>
      <th class="fixed-cell-small">Shared With</th>
      <th class="fixed-cell-small">Notes</th>
      <th class="nosort nosearch">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% documents && documents.each do |document| %>
      <% if exists?(document) %>
        <tr>
          <td>
            <%= render :partial => "layouts/document_links", :locals => {:document => document } %>
          </td>
          <td><%= date_format(document.updated_at) %></td>
          <td>
            <%= render :partial => "layouts/document_tags", :locals => {:document => document} %>
          </td>
          <td>
            <%= render :partial => "layouts/share_with_contacts", :locals => {:shares => document_shares(document)} %>
          </td>
          <td>
            <%= render :partial => "layouts/document_notes", :locals => {:notes => document.description } %>
          </td>
          <td>
            <%= render :partial => "layouts/document_actions", :locals => {:document => document } %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    DatatableUpdate('#documents-table', tableSettingsGenerate([5, 10, 15, 25, 50, 100], 'documents', [[0, 'asc']]))
  });
</script>
