<%= render :partial => "layouts/bread_crumbs" %>

<div>
  <% if yield(:no_editable_resources).blank? %>
    <a class="edit-link mrg-top" href='<%= yield(:edit_wtl_path) %>'>
      <span class="circle-button">
        <svg class="icon circle-icon">
          <use xlink:href="#icon-pencil-1"></use>
        </svg>
      </span>Edit <%= yield(:title) %>
    </a>
  <% end %>
  <h1><%= yield(:title) %></h1>
</div>

<%= render yield(:card_details_partial_path) %>
<div>
  <%= link_to new_documents_path(:shared_user_id => @shared_user.present? ? @shared_user.id : "", :category => @category, :group => @group), class: "add-link fr" do %>
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-plus-1"></use>
      </svg>
    </span>Add Document
  <% end %>
  <h3><%= yield(:add_document_title) %> Documents</h3>
</div>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @group_documents, shareable: yield(:shareable) } %>
