<div>
  <a class="edit-link" href='<%= yield(:edit_wtl_path) %>'>
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-pencil-1"></use>
      </svg>
    </span>Edit
  </a>
  <h1><%= yield(:title) %></h1>
</div>

<%= render yield(:card_details_partial_path) %>

<div>
  <a class="add-link fr" href="<%= new_document_path(:category => @category, :group => @group) %>">
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-plus-1"></use>
      </svg>
    </span>Add Document
  </a>
  <h1><%= yield(:add_document_title) %> Documents</h1>
</div>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @group_documents} %>
