<div>
  <a class="edit-link" href='<%= yield(:edit_wtl_path) %>'>
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-pencil-1"></use>
      </svg>
    </span>Edit
  </a>
  <h1><%= yield(:title) %></h1>
</div>

<%= render yield(:card_details_partial_path) %>

<div>
  <a class="add-link fr" href="<%= new_document_path(:category => @category, :group => @group) %>">
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-plus-1"></use>
      </svg>
    </span>Add Document
  </a>
  <h1><%= yield(:add_document_title) %> Documents</h1>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Modified</th>
    <th>Tags</th>
    <th>Shared With</th>
    <th>Actions</th>
  </tr>
  <% @group_documents.each do |document| %>
    <tr>
      <td>
        <a><%= link_to document.name, document_path(document) %></a>
      </td>
      <td><%= document.updated_at %></td>
      <td>tags</td>
      <td>
        <% document.shares.each do |share| %>
          <% if !share.contact.nil? %>
            <span class="user-circle"><%= share.contact.initials %></span>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Edit', edit_document_path(document), class: "outline-button small-button" %>
        <%= link_to 'Delete', document_path(document), method: :delete, data: {confirm: 'Are you sure?'}, class: "outline-button small-button" %>
      </td>
    </tr>
  <% end %>
</table>
