<!DOCTYPE html>
<html>
<head>
  <title>ZokuVault</title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<% if user_signed_in? %>
  <body class="logged-in">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% else %>
  <body class="logged-out">
<% end %>

  <%= render :partial => 'layouts/svgdefs' %>
  <%= render :partial => 'layouts/alerts' %>
  <% if user_signed_in? %>
    <%= render :partial => 'layouts/nav' %>
    <main class="app-nav">

  <% else %>
    <main class="marketing">

  <% end %>

    <%= render :partial => 'layouts/header' %>

    <div class="content">
      <%= yield %>

    </div>
    <%= render :partial => 'layouts/footer' %>
  </main>
  </body>
</html>
