<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/application_head_tag' %>

  <%= render :partial => 'layouts/svgdefs' %>
  <%= render :partial => 'layouts/alerts' %>
    <main class="app-nav blank">
    <%= render :partial => 'layouts/blank_header', locals: { header_information: @header_information } %>

    <div class="content blank">
      <%= yield %>

    </div>
  </main>
    <%= render partial: 'layouts/layout_javascript_include' %>
  </body>
</html>

<%= javascript_include_tag 'date_picker_check' %>
