<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/application_head_tag' %>

  <% if user_signed_in? %>
    <body class="logged-in">
  <% else %>
    <body class="logged-out">
  <% end %>

  <%= render :partial => 'layouts/svgdefs' %>
  <%= render :partial => 'layouts/alerts' %>
  <% if user_signed_in? %>
    <%= render :partial => 'layouts/left_nav' %>
    <main class="app-nav">

  <% else %>
    <main class="marketing">

  <% end %>

    <%= render :partial => 'layouts/header' %>

    <div class="content">
      <%= yield %>

    </div>
    <%= render :partial => 'layouts/footer' %>
  </main>
    <%= render partial: 'layouts/layout_javascript_include' %>
  </body>
</html>

<%= javascript_include_tag 'date_picker_check' %>
