<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/application_head_tag' %>

  <div>
    <div id="header-wrap">
      <div class="title">
        <span class="bold-title">Shared View:</span><span class="user-name"> <%= @shared_user.name %> </span>
        <%= link_to "Exit", shares_path,
        class: "button primary-button big-button exit-button mobile-hide" %>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <body class="logged-in">
  <% else %>
    <body class="logged-out">
  <% end %>

  <%= render :partial => 'layouts/svgdefs' %>
  <%= render :partial => 'layouts/alerts' %>
  <% if user_signed_in? %>
    <%= render :partial => 'layouts/shared_view_nav' %>
    <main class="app-nav">

    <% else %>
      <main class="marketing">

  <% end %>
  <%= render :partial => 'layouts/shared_view_header' %>

  <div class="content">
    <%= yield %>
  </div>

  <%= render :partial => 'layouts/footer' %>
  </main>
    <%= javascript_include_tag 'autonumeric' %>
    <%= javascript_include_tag 'tooltip_position' %>
  </body>
</html>

<%= javascript_include_tag 'date_picker_check' %>
<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>