<!DOCTYPE html>
<html>
  <head>
    <title>ZokuVault</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <div>
    <div id="header-wrap">
      <div class="title">
        <span class="bold-title">Shared View:</span><span class="user-name"> <%= current_user.name %> </span>
        <%= link_to "Exit", shares_path,
        class: "button primary-button big-button exit-button" %>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <body class="logged-in">
  <% else %>
    <body class="logged-out">
  <% end %>

  <%= render :partial => 'layouts/svgdefs' %>
  <%= render :partial => 'layouts/alerts' %>
  <% if user_signed_in? %>
    <%= render :partial => 'layouts/shared_view_nav' %>
    <main class="app-nav">

    <% else %>
      <main class="marketing">

  <% end %>
  <%= render :partial => 'layouts/shared_view_header' %>

  <div class="content">
    <%= yield %>
  </div>

  <%= render :partial => 'layouts/footer' %>
  </main>

  </body>
</html>
