<div class="modal-header">
</div>

<div class="modal-content pt-50">
  <div class="flex-boxes justify-center">
    <div class="flex-account-setup b-gray-light">
      <section class="ps-relative mb-25">
        <%= image_tag "marketing/cloud.png", :class => "" %>
        <h4 class="ml-15 bold inline-block mobile-hide">Free Plan</h4>
        <h5 class="ml-15 bold inline-block mobile-show">Free Plan</h5>
      </section>
      <div class="text-center mb-15">
        <%= link_to 'Get Started', 'javascript:void(0);', class: 'button medium-button primary-button', onclick: 'submitAccount(event)' %>
      </div>
      
      <p>If someone has shared information with you, sign up on the free plan.</p>
      
      <p class="bold">Security Settings</p>
      <ul>
        <li>Full encryption of your data during storage and transmission.</li>
        <li>Two-factor authentication</li>
      </ul>
      
      <p class="bold">Features</p>
      <ul>
        <li>View all documents and data shared with you</li>
        <li>Ability to upload 10 secure documents</li>
        <li>Ability to create and share with 2 contacts</li>
      </ul>
    </div>
    <div class="flex-account-setup recommended-setup">
      <section class="ps-relative mb-25">
        <%= image_tag "marketing/safe.png", :class => "" %>
        <h4 class="ml-15 bold inline-block mobile-hide">Full Plan</h4>
        <h5 class="ml-15 bold inline-block mobile-show">Full Plan</h5>
      </section>
      <div class="text-center mb-15">
        <%= link_to 'Sign Up', 'javascript:void(0);', class: 'button big-button primary-button', onclick: 'wizNav(currentStep+1); return false;' %></br>
        <h1 class="bold mt-30">$9.99 Month</h1>
      </div>
      
      <p>Is there an individual lika a parent or child that you wish to share all or some of your information with?</p>
      
      <p class="bold">Features</p>
      <ul>
        <li>Everything in the Free Plan</li>
        <li>Unlimited Contacts</li>
        <li>Unlimited Documents</li>
        <li>Unlimited Shares</li>
        <li>Access to Financial Information</li>
        <li>Access to Insurance</li>
        <li>Access to Wills Trusts and Legal</li>
        <li>Access to Taxes</li>
        <li>Access to Final Wishes</li>
      </ul>
    </div>
    <div class="flex-account-setup b-gray-light">
      <section class="ps-relative mb-25">
        <%= image_tag "marketing/files.png", :class => "" %>
        <h4 class="ml-15 bold inline-block mobile-hide">Corporate Account</h4>
        <h5 class="ml-15 bold inline-block mobile-show">Corporate Account</h5>
      </section>
      
      <div class="text-center mb-15">
        <p class="fz-20 mobile-hide">Email Us: <%= mail_to 'corporate@zokuvault.com', 'corporate@zokuvault.com', class: 'no-underline-link' %></p>
        <p class="fz-20 mobile-hide">Call Us: 1-888-555-5555</p>
        
        <p class="fz-16 mobile-show">Email Us: <%= mail_to 'corporate@zokuvault.com', 'corporate@zokuvault.com', class: 'no-underline-link' %></p>
        <p class="fz-16 mobile-show">Call Us: 1-888-555-5555</p>
      </div>
      
      <p>Is there an individual like a parent or child that you would wish to share all or some of your information with?</p>
      
      <p class="bold">Features</p>
      <ul>
        <li>Corporate Dashboard</li>
        <li>Manage your team</li>
        <li>Manage your clients</li>
      </ul>
    </div>
  </div>
</div>
