<div class="modal-header"></div>

<div class="modal-content">
  <%= render partial: "subscription_details" %>
</div>

<div class="modal-content">
  <h1>Payment Information</h1>

  <div class="card-info">
    <span id="payment-errors" style="color: red"></span>
  </div>


  <%= label_tag "user_subscription_attributes_name_on_card", 'Name on Card' %><br>
  <%= text_field_tag "user[subscription_attributes][name_on_card]" %>

  <%= label_tag "user_subscription_attributes_card_number", 'Card Number' %><br>
  <%= text_field_tag "user[subscription_attributes][card_number]", 
    "",
    "data-stripe" => "number" 
  %>

  <%= label_tag "user_subscription_attributes_expiration_month", 'Expiration Date' %><br>

  <div class='styled-select question-select'>
    <%= select_tag "user[subscription_attributes][expiration_month]", 
      options_for_select(Date::MONTHNAMES.map.with_index { |m, i| [m, i]}),  
      include_blank: "Month",
      "data-stripe" => "exp_month"
    %>
  </div>

  <div class='styled-select question-select'>
    <%= select_tag "user[subscription_attributes][expiration_year]", 
      options_for_select(Date.today.year..(Date.today.year+10)), 
      include_blank: "Year",
      "data-stripe" => "exp_year"
    %>
  </div>

  <%= label_tag "user_subscription_attributes_cvc", 'CV Code' %><br>
  <%= text_field_tag "user[subscription_attributes][cvc]", "", "data-stripe" => "cvc" %>
</div>

<%= hidden_field_tag "user[subscription_attributes][stripe_token]", "" %>

<button class="button primary-button big-button" onClick="addCreditCard(); return false" id="submit-cc-button">Submit</button>

<%= javascript_include_tag "https://js.stripe.com/v2/" %>

<script>
  Stripe.setPublishableKey('<%= ENV["STRIPE_PUBLIC_KEY"] %>')
  function stripeResponseHandler(status, response) {
    if (response.error) {
      $('#payment-errors').text(response.error.message);
      $('#submit-cc-button').prop('disabled', false);
    } else {
      $("input[id=user_subscription_attributes_stripe_token]").val(response.id);
      $('#account-form').submit();  // XXX: Remove for golive
    }
  }

  function paymentEntryStarted() {
    return (
        $("#user__card_number").val() != "" ||
        $("#user_subscription_attributes_expiration_month").val() != "" ||
        $("#user_subscription_attributes_expiration_year").val() != "" 
      );
  }
 
  function addCreditCard() {
    if (paymentEntryStarted()) {
      // conditional prevents the form from breaking if not updating card
      $('#submit-cc-button').prop('disabled', true);
      var attrs = {
        number: $("#user_subscription_attributes_card_number").val(),
        exp_month: $("#user_subscription_attributes_expiration_month").val(),
        exp_year: $("#user_subscription_attributes_expiration_year").val(),
        cvc: $("#user_subscription_attributes_cvc").val() 
      }
      Stripe.card.createToken(attrs, stripeResponseHandler);
      return false;
    }
  }

  function updatePromoRow(data) {
    if (isNaN(data['amount_off'])) {
      $('#promo-code-text').html('Error!');
      return
    } else {
      $('#promo-code-text').html('');
    }
    $('#promo-name').text(data['id']);
    $('#promo-description').text(data['id']);
    $('#promo-price').text(data['amount_off'] / 100.0);
    $('#promo-row').show();
  }

  function clearPromoRow(data) {
    $('#user_subscription_attributes_promo_code').val('');
    $('#promo-name').text('');
    $('#promo-description').text('');
    $('#promo-price').text('');
    $('#promo-row').hide();
  }

  function applyPromoCode() {
    var data = $('#user_subscription_attributes_promo_code').serialize();
    $.post("<%= apply_promo_code_account_path %>", data, updatePromoRow)
    .fail(function() {
      $('#promo-code-text').html('Error!');
    })
  }

  function updateSubscription() {
    var subscriptions=<%= Subscription.plans.to_json.html_safe %>
    var select = $('#user_subscription_attributes_plan_id').prop('selectedIndex');

    var interval = "annually";
    if (subscriptions[select]['interval'] === 'month') {
      interval = "monthly";
    }
    var description = "This amount is billed " + interval + " to your account.";
    $('#subscription-description').text(description);

    var price = '$ ' + (subscriptions[select]['amount'] / 100.0).toFixed(2);
    $('#subscription-price').text(price);
    $('#subscription-total').text(price);
    clearPromoRow();
  }

  updateSubscription();
  clearPromoRow();

</script>
