<div class="modal-header"></div>

<div class="modal-content mb-30">
  <%= render partial: "subscription_details" %>
</div>

<div class="bb-gray-med mb-30 mt-30">
</div>

<div class="modal-content overflow-y-visible p-rel">

  <h1>Payment Information</h1>

  <div class="card-info">
    <span id="payment-errors" style="color: red"></span>
  </div>

  <%= label_tag "user_stripe_subscription_attributes_name_on_card", 'Name on Card' %><br>
  <%= text_field_tag "user[stripe_subscription_attributes][name_on_card]" %>

  <%= label_tag "user_stripe_subscription_attributes_card_number", 'Card Number' %><br>
  <%= text_field_tag "user[stripe_subscription_attributes][card_number]",
    "",
    "data-stripe" => "number"
  %>

    <%= label_tag "user_stripe_subscription_attributes_expiration_month", 'Expiration Date' %><br>
    <div class='styled-select small-width inline-block'>
      <%= select_tag "user[stripe_subscription_attributes][expiration_month]",
        options_for_select(Date::MONTHNAMES.compact.map.with_index { |m, i| [m, i]}),
        include_blank: "Month",
        "data-stripe" => "exp_month",
        class: 'small-width'
      %>
    </div>
    <div class="styled-select-separator">/</div>
    <div class='styled-select small-width inline-block'>
      <%= select_tag "user[stripe_subscription_attributes][expiration_year]",
        options_for_select(card_expiration_years),
        include_blank: "Year",
        "data-stripe" => "exp_year",
        class: 'small-width'
      %>
    </div><br>

    <%= label_tag "user_stripe_subscription_attributes_cvc", 'CV Code' %><br>
    <p>
      <%= text_field_tag "user[stripe_subscription_attributes][cvc]", "", "data-stripe" => "cvc", class: 'small-width inline-block' %>
      <%= image_tag(cvv_code_image, class: "inline-block ml-10 cvv-card b-40", alt: 'CVV Code') %>
    </p>

  <%= hidden_field_tag "user[stripe_subscription_attributes][stripe_token]", "" %>

  <div>
    <%= link_to "Submit", 'javascript:void(0);' , onClick: "addCreditCard(); return false", id: "submit-cc-button", class: "button primary-button big-button" %>
  </div>
</div>

<%= javascript_include_tag "https://js.stripe.com/v2/" %>
<%= javascript_include_tag "sub_with_promo" %>

<script>
  Stripe.setPublishableKey('<%= ENV["STRIPE_PUBLIC_KEY"] %>')
</script>
