<h5 class="clr-gray-dark-tinted mt-10 mb-30 text-center fw-600">To get started, please choose one of the Vault options.</h5>

<ul class="tut-button-wrapper mb-30 max-w-1000">
  <li class="icon-box-large">
    <label>
      <%= link_to 'javascript:formSubmit("free")' do %>
        <input type="checkbox" name="user_type" value="free" >
        <span class="pt-30">
          <%= image_tag "marketing/cloud.png", :class => "max-w-150" %><br>
          I was invited to share in someone else's Vault.
        </span>
      <% end %>
    </label>
  </li>
  <li class="icon-box-large">
    <label>
       <%= link_to 'javascript:formSubmit("trial")' do %>
        <input type="checkbox" name="user_type" value="trial">
         <span class="pt-30">
          <%= image_tag "marketing/safe.png", :class => "max-w-150" %><br>
          I want to complete my own Vault.
        </span>
      <% end %>
    </label>
  </li>
  <li class="icon-box-large">
    <label>
       <%= link_to 'javascript:formSubmit("corporate")' do %>
        <input type="checkbox" name="user_type" value="corporate">
         <span class="pt-30">
          <%= image_tag "marketing/files.png", :class => "max-w-150" %><br>
          I want to offer ZokuVault to my Clients or Employees.
        </span>
      <% end %>
    </label>
  </li>
</ul>