<div class="modal-header">
  <h2>Phone Setup</h2>

  <p>A phone number is required for account recovery purposes. It can also be used to
  provide an extra layer of security for your account.
  Please enter your cell phone number below.</p>
</div>

<div class="modal-content">
  <div class="field">
    <%= label_tag "user_user_profile_attributes_two_factor_phone_number", 'Cell Phone Number' %><br>
    <%= text_field_tag "user[user_profile_attributes][two_factor_phone_number]", "", class: "form-control", :data => {:mask => '999-999-9999'} %>
  </div>

  <button class="button primary-button big-button" onClick="sendCode(); return false">Send code</button>
  <span id='send_code_text'></span>

  <hr/>

  <h1>Enter Phone Code</h1>

  You should recieve your phone code within the next few minutes.
  Please enter the code below.

  <div class="field">
    <%= label_tag "user_user_profile_attributes_phone_code", 'Cell Phone Code' %><br>
    <%= text_field_tag "user[user_profile_attributes][phone_code]" %>
  </div>
  <button class="button primary-button big-button" onClick="verifyCode(); return false">Verify code</button>
  <span id='verify_code_text'></span>

</div>

<script>
function sendCode() {
  var data = $('#account-form').serialize();
  $.post("<%= send_code_account_path %>",
      data,
      function() {
        $('#send_code_text').html('Code sent!');
      })
  .fail(function() {
    $('#send_code_text').html('Error!');
  })
}
function verifyCode() {
  var data = $('#account-form').serialize();
  $.post("<%= verify_code_account_path %>",
      data,
      function() {
        $('#verify_code_text').html("You've been verified!");
        $("#next-step").show();
      })
  .fail(function() {
    $('#verify_code_text').html('Error!')
  })
}

</script>
