<h1>Account Setup</h1>

<div class="settings-card min-w-330">
  <%= render partial: "settings_header" %>
  
  <%= form_tag :account, { method: :put, id: 'account-form' } do %>
    <%= hidden_field_tag 'user[free_account]', true %>
    
    <div id="form-step-1">
      <%= render partial: "terms_of_service" %>
    </div>
    <div id="form-step-2">
      <%= render partial: "phone" %>
    </div>
    <div id="form-step-3">
      <%= render partial: "settings" %>
    </div>
    <div id="form-step-4">
      <%= render partial: "account_type" %>
    </div>
    <div id="form-step-5">
      <%= render partial: "billing_information" %>
    </div>
  <% end %>

  <footer>
    <a href="javascript:;" id='next-step' class=" button primary-button big-button"
                                          onclick="wizNav(currentStep+1); return false;">Next</a>
  </footer>
</div>

<script>
var currentStep = 1;
var maxStep = 5;

$(document).ready(function(){
  changeTabNames()
  $('button[data-modal-id]').click();
  wizNav(1);
});

$(window).resize(function() {
  changeTabNames()
})

var changeTabNames = function() {
  $('#step-1-text').text('Terms')
  $('#step-2-text').text('Phone Setup')
  $('#step-3-text').text('Login Settings')
  $('#step-4-text').text('Select Account Type')
  $('#step-5-text').text('Billing Information')

  if (window.matchMedia("(max-width: 1020px)").matches) {
    $('#step-2-text').text('Phone')
    $('#step-3-text').text('Settings')
    $('#step-4-text').text('Account Type')
    $('#step-5-text').text('Billing')
  }
  if (window.matchMedia("(max-width: 670px)").matches) {
    $('#step-2-text').text('Phone')
    $('#step-3-text').text('Settings')
    $('#step-4-text').text('Account')
    $('#step-5-text').text('Billing')
  }
  if (window.matchMedia("(max-width: 625px)").matches) {
    $('#step-1-text').text('   ')
    $('#step-2-text').text('   ')
    $('#step-3-text').text('   ')
    $('#step-4-text').text('   ')
    $('#step-5-text').text('   ')
  }
}

var wizNav = function(step){
  currentStep = step;
  for(var i = 1; i < maxStep + 1; i++) {
    var step_el = $("#step-" + i);
    var form_el = $("#form-step-" + i);
    if (i === currentStep) {
      step_el.removeClass().addClass("settings-inner-counter settings-current-step")
      form_el.show();
    }
    else {
      if (currentStep > i) {
        step_el.removeClass().addClass("settings-inner-counter settings-completed-step");
        step_el.html('<svg class="icon circle-icon"><use xlink:href="#icon-checkmark-1"> </use></svg>');
      } else {
        step_el.removeClass().addClass("settings-inner-counter");
      }
      form_el.hide();
    }
    
    if (currentStep == 1) {
      $("#save-btn").hide();
      toggleNextOnTos();
      $("#next-step").hide();
      $("#save-btn").hide();
    }
    else if (currentStep == 2 || currentStep == 4) {
      $("#next-step").hide();
    }
    else if (maxStep === currentStep) {
      $("#next-step").hide();
      $("#save-btn").show();
    }
    else {
      $("#next-step").show();
      $("#save-btn").hide();
    }
  }
  
  //Billing Information set free to false
  if (currentStep == 5) {
    $('#user_free_account').val(false)
  }
}

var submitAccount = function(){
  var accountForm = document.getElementById("account-form");
  accountForm.submit();
}
</script>
