<h1>Account Setup</h1>

<div class="settings-card">
  <div class="settings-header">
    <div class="settings-inner-step">
      <span id="step-1" class="settings-inner-counter">
        1
      </span>
      <span class="step-name" id="terms">Terms</span>
    </div>
    <div class="settings-inner-step">
      <span id="step-2" class="settings-inner-counter">
        2
      </span>
      <span class="step-name" id="security">Security Questions</span>
    </div>
    <div class="settings-inner-step">
      <span id="step-3" class="settings-inner-counter">
        3
      </span>
      <span class="step-name" id="phone">Phone Setup</span>
    </div>
    <div class="settings-inner-step">
      <span id="step-4" class="settings-inner-counter">
        4
      </span>
      <span class="step-name" id="login">Login Settings</span>
    </div>
    <div class="settings-inner-step last-line"></div>
  </div>
  
  <%= form_tag :account, { method: :put, id: 'account-form' } do %>
    <div id="form-step-1">
      <%= render partial: "terms_of_service" %>
    </div>
    <div id="form-step-2">
      <%= render partial: "security_questions" %>
    </div>
    <div id="form-step-3">
      <%= render partial: "phone" %>
    </div>
    <div id="form-step-4">
      <%= render partial: "settings" %>
    </div>
  <% end %>
  
  <footer>
    <a href="javascript:;" id='next-step' class=" button primary-button big-button"
                                          onclick="wizNav(currentStep+1); return false;">Next</a>
    <button id="save-btn" class="primary-button big-button" onclick="submitAccount(event)">Save</button>
  </footer>
</div>

<script>
var currentStep = 1;
var maxStep = 4;

$(document).ready(function(){
  changeTabNames()
  $('button[data-modal-id]').click();
  wizNav(1);
});

$(window).resize(function() {
  changeTabNames()
})

var changeTabNames = function() {
  $('#security').text('Security Questions')
  $('#login').text('Login Settings')
  $('#phone').text('Phone Setup')
  $('#terms').text('Terms')

  if (window.matchMedia("(max-width: 660px)").matches) {
    $('#security').text('Security')
    $('#login').text('Settings')
    $('#phone').text('Phone')
  } if (window.matchMedia("(max-width: 485px)").matches) {
    $('#security').text('   ')
    $('#login').text('   ')
    $('#phone').text('   ')
    $('#terms').text('   ')
  }
}

var wizNav = function(step){
  currentStep = step;
  for(var i = 1; i < maxStep + 1; i++) {
    var step_el = $("#step-" + i);
    var form_el = $("#form-step-" + i);
    if (i === currentStep) {
      step_el.removeClass().addClass("settings-inner-counter settings-current-step")
      form_el.show();
    }
    else {
      if (currentStep > i) {
        step_el.removeClass().addClass("settings-inner-counter settings-completed-step");
        step_el.html('<svg class="icon circle-icon"><use xlink:href="#icon-checkmark-1"> </use></svg>');
      } else {
        step_el.removeClass().addClass("settings-inner-counter");
      }
      form_el.hide();
    }

    if (currentStep == 1) {
      $("#save-btn").hide();
      toggleNextOnTos();
    } 
    else if (currentStep == 3) {
      $("#next-step").hide();
      $("#save-btn").hide();
    }
    else if (maxStep === currentStep) {
      $("#next-step").hide();
      $("#save-btn").show();
    }
    else {
      $("#next-step").show();
      $("#save-btn").hide();
    }
  }
}

var submitAccount = function(){
  var accountForm = document.getElementById("account-form");
  accountForm.submit();
}
</script>