<h1><% current_user.name %> User Profile </h1>


<p>
  <b>Agreed to  Terms of Service?</b><br/>
  <%= current_user.user_profile.signed_terms_of_service? ? 'yes' : 'no' %>
</p>

<p>
  <b>Phone Number:</b><br/>
  <%= current_user.user_profile.phone_number_formatted %>
</p>

<p>
  <b>Phone Code:</b>(not persisted)<br/>
  <%= current_user.user_profile.phone_code %>
</p>

<p>
  <b>MFA Frequency:</b><br/>
  <%= current_user.user_profile.mfa_frequency || 'n/a' %>
</p>

<p>
  <b>Security Questions:</b><br/>
  <% current_user.user_profile.security_questions.each do |sq| %>
    <p>
      <%= sq.question %><br/>
      <i><%= sq.answer %></i>
    </p>
  <% end %>
</p>
