<%= form_tag :trial_questionnaire_accounts, { method: :put, id: 'questionnaire-form' } do %>
  <div class="card mb-30 max-w-1000-centered">
    <%= image_tag "marketing/heart_bubble.png", :class => "questionnaire-heart" %>

    <h3 class="mb-20">Thanks for Being a Trial Member</h3>
    <p class="mb-20">Please help us by answering a few questions.</p>

    <p>1. Why didn't you continue your subscription?</p>
    <ul class="check-list ml-15 mb-30">
      <% @deny_reasons.each do |option| %>
        <li class="check-list">
          <label>
            <%= check_box_tag "questionnaire[reasons][#{option}]", option %>
            <span></span> <%= option %>
          </label>
        </li>
      <% end %>
    </ul>

    <p>2. Do you have feedback you would like to leave our team?</p>
    <%= text_area_tag 'questionnaire[feedback]', nil, class: 'w-100-percent max-w-430 h-100' %>
    <section class="mt-20 bt-gray-light pt-20 mb-10 flex-button">
      <%= link_to 'Back', trial_membership_update_accounts_path, class: 'big-button outline-button padded f-left' %>
      <%= hidden_field_tag 'skip', false %>
      <%= link_to 'Skip', 'javascript:skip()', class: 'big-button outline-button padded' %>
      <%= link_to 'Continue as Free User', 'javascript:submitForm()', class: 'button big-button blue-button f-right' %>
    </section>
  </div>
<% end %>

<script>
  var submitForm = function() {
    $('#questionnaire-form').submit()
  }
  var skip = function() {
    $('#skip').val(true)
    submitForm();
  }
</script>