<%= form_tag :account_user_type, { method: :put, id: 'account-form' } do %>
  <div class="card mb-30">
    <%= hidden_field_tag "user[user_type]" %>
    <h5 class="tut-top-label mt-10 mb-30">Tell us about yourself so we can help you set up your vault.</h5>

    <ul class="tut-button-wrapper mb-30">
        <li class="icon-box">
          <label>
            <%= link_to 'javascript:formSubmit("free")' do %>
              <input type="checkbox" name="user_type" value="free" >
              <span>
                <%= image_tag "marketing/cloud-2.png", :class => "" %><br>
                Someone shared ZokuVault with Me.
              </span>
            <% end %>
          </label>
        </li>
      <li class="icon-box">
        <label>
          <%= link_to 'javascript:formSubmit("trial")' do %>
            <input type="checkbox" name="user_type" value="trial">
            <span>
              <%= image_tag "marketing/safe-2.png", :class => "" %><br>
              I am interested in setting up my own ZokuVault.
            </span>
          <% end %>
        </label>
      </li>
    </ul>
  </div>
<% end %>


<script>
  var formSubmit = function(type) {
    $('#user_user_type').val(type)
    $('#account-form').submit()
  }
</script>
