<div class="card vault-info mb-30 text-center max-w-1000-centered">
  <h3 class="mb-30">Welcome to ZokuVault, <%= current_user.try(:name) %>!</h3>
  
  <h5 class="mb-30 lh-35 max-w-1000 clr-gray-dark inline-block fw-500">Putting all of your family’s most sensitive documents online can be a little nerve racking. So before we get started, here’s a look at what we’re doing everyday to keep your data safe.
  </h5>
  
   <div class="max-w-800 m-0-auto mb-30">
     <%= image_tag "SVG/data-lock.svg", :class => "w-100 inline-block mt-20"%>
     <p class="description lh-30 clr-gray-dark-tinted w-80-percent text-aligned fr mt-10"><span class="inline-block fw-600">Secure Servers</span><br>We store your files in secure, SSAE 16 audited data centers. We use the latest firewalls and have backup strategies in place to protect against loss of data.</p>
     <span class="clear mb-30"></span>
   
     <%= image_tag "SVG/web-lock.svg", :class => "w-100 inline-block mt-20"%>
     <p class="description lh-30 clr-gray-dark-tinted w-80-percent text-aligned fr mt-10"><span class="inline-block fw-600">Zero Knowledge Policy</span><br>ZokuVault employees will never see any of the information or documents you keep in your vault.</p>
     <span class="clear mb-30"></span>
   
     <%= image_tag "SVG/key-lock.svg", :class => "w-100 inline-block mt-20"%>
     <p class="description lh-30 clr-gray-dark-tinted w-80-percent text-aligned fr mt-10"><span class="inline-block fw-600">Encrypted Data</span><br>We encrypt all of your data using 128 & 256-bit AES encryption, the same ones used by the world’s leading banks and e-commerece sites.</p>
     <span class="clear mb-30"></span>

     <%= link_to 'Next', phone_setup_account_path, class: 'button big-button-2 blue-button m-0-auto' %>
   </div>
</div>