<% current_user = User.last %>

<section class="card signup-card eightfifty-align-left">

  <h3>
    <svg class="icon">lo
      <use xlink:href="#icon-lock-large"></use>
    </svg>
    <span class="sign-up-title">Secure Sign Up</span>
  </h3>

  <% resource.build_user_profile rescue nil if resource.user_profile.nil? %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {novalidate: true}) do |f| %>
    <% if resource.errors.any? %>
      <% errors = true %>
    <% end %>

    <%= f.fields_for :user_profile do |user_profile_form| %>

      <%= user_profile_form.label :first_name, 'First Name', autofocus: true %>
      <% if errors && resource.errors.messages[:"user_profile.first_name"].try(:first) %>
        <span class="error-label"> - <%= resource.errors.messages[:"user_profile.first_name"].first %></span>
      <% end %>
      <%= user_profile_form.text_field :first_name, { class: ("input-error" if resource.errors.messages[:"user_profile.first_name"].present?) } %>

      <%= user_profile_form.label :last_name, 'Last Name' %>
      <% if errors && resource.errors.messages[:"user_profile.last_name"].try(:first) %>
        <span class="error-label"> - <%= resource.errors.messages[:"user_profile.last_name"].first %></span>
      <% end %>
      <%= user_profile_form.text_field :last_name, { class: ("input-error" if resource.errors.messages[:"user_profile.last_name"].present?) } %>

      <%= f.label :email %>
      <% if @email_error %>
        <span class="error-label"> - <%= @email_error %></span>
        <%= f.email_field :email, { class: "input-error" } %>
      <% else %>
        <%= f.email_field :email %>
      <% end %>

      <%= f.label :password %>
      <% if errors && resource.errors.messages[:password].try(:first) %>
        <span class="error-label"> - <%= resource.errors.messages[:password].first %></span>
      <% end %>

      <div class="tooltip-item fixed w-100-percent">
        <%= f.password_field :password, {autocomplete: "off", class: ("input-error tooltip-item-input" if resource.errors.messages[:password].present?) } %>
        <%= render partial: 'layouts/password_tooltip' %>
      </div>
      <%= render partial: 'layouts/password_requirements', locals: { password_field_id: 'user_password' } %>

      <%= f.label :password_confirmation, 'Confirm Password' %>
      <% if errors && resource.errors.messages[:password_confirmation].try(:first) %>
        <span class="error-label"> - <%= resource.errors.messages[:password_confirmation].first %></span>
      <% end %>
      <%= f.password_field :password_confirmation, {autocomplete: "off", class: ("input-error" if resource.errors.messages[:password_confirmation].present?) } %>

    <% end %>


    <%= button_tag(class: "button blue-button big-button-2 form-width mt-20 mb-20", method: :get) do %>
      <svg class="icon button-icon">
        <use xlink:href="#icon-lock-1"></use>
      </svg>
      <span>Create Account</span>
    <% end %>

    <p class="mt-20 max-w-300 small-text mb-30 m-0-auto text-center">By submitting this information, I agree to the ZokuVault
      <%= link_to 'Terms of Service', terms_of_service_path, class: "no-underline-link" %> and
      <%= link_to 'Privacy Policy', privacy_policy_path, class: "no-underline-link" %>.
    </p>
  <% end %>
</section>

<%= render partial: 'layouts/improvely_conversion_tracking_js', locals: { goal: 'sign up', revenue: 0, reference: '' } %>