<h2>Sign up</h2>

<% resource.build_user_profile rescue nil %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <%= f.fields_for :user_profile do |user_profile_form| %>
    <div class="field">
      <%= user_profile_form.label :first_name, autofocus: true %><br />
      <%= user_profile_form.text_field :first_name %>
    </div>

    <div class="field">
      <%= user_profile_form.label :middle_name %><br />
      <%= user_profile_form.text_field :middle_name %>
    </div>

    <div class="field">
      <%= user_profile_form.label :last_name %><br />
      <%= user_profile_form.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= user_profile_form.label :date_of_birth%><br />
      <%= user_profile_form.date_field :date_of_birth %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
