<% current_user = User.last %>

<section class="card signup-card">

  <p class="fr">Already have a ZokuVault? <%= link_to 'Login', new_session_path(resource_name), class: 'no-underline-link'%></p>

  <h3 class="confirmation-title">Sign Up</h3>

  <p>Please provide some basic information about yourself to create your account. We'll never share your personal information with anyone.</p>

  <% resource.build_user_profile rescue nil %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {novalidate: true}) do |f| %>
    <% if resource.errors.any? %>
      <% errors = true %>
    <% end %>

    <%= f.fields_for :user_profile do |user_profile_form| %>

      <%= user_profile_form.label :first_name, 'First Name', autofocus: true %>
      <%= user_profile_form.text_field :first_name %>

      <%= user_profile_form.label :middle_name, 'Middle Name' %><span class="optional"> optional</span>
      <%= user_profile_form.text_field :middle_name %>

      <%= user_profile_form.label :last_name, 'Last Name' %>
      <%= user_profile_form.text_field :last_name %>

      <%= f.label :email %>
      <% if errors && resource.errors.messages[:email] %>
        <span class="error-label"> - <%= resource.errors.messages[:email].first %></span>
      <% end %>
      <%= f.email_field :email, { class: ("input-error" if resource.errors.messages[:email].present?) } %>

      <%= user_profile_form.label :date_of_birth, 'Date of Birth'%>
      <% if errors && resource.errors.messages[:'user_profile.Date of Birth'] %>
        <span class="error-label"> - <%= resource.errors.messages[:'user_profile.Date of Birth'].first.html_safe %></span>
      <% end %>
      <%= render partial: 'layouts/date_picker', locals: { birth_value: user_profile_form.object.date_of_birth, error_condition: resource.errors.messages[:'user_profile.Date of Birth'].present?, f: user_profile_form, object: :date_of_birth} %>
      <%= f.label :password %>
      <%= render partial: 'layouts/password_requirements' %>
      <% if errors && resource.errors.messages[:password] %>
        <span class="error-label"> - <%= resource.errors.messages[:password].first %></span>
      <% end %>

      <%= f.password_field :password, {autocomplete: "off", class: ("input-error" if resource.errors.messages[:password].present?) } %>

      <%= f.label :password_confirmation, 'Confirm Password' %>
      <% if errors && resource.errors.messages[:password_confirmation] %>
        <span class="error-label"> - <%= resource.errors.messages[:password_confirmation].first %></span>
      <% end %>
      <%= f.password_field :password_confirmation, {autocomplete: "off", class: ("input-error" if resource.errors.messages[:password_confirmation].present?) } %>

    <% end %>


      <%= f.button "Sign Up", class: 'js-modal-close button primary-button big-button' %>
      <%= link_to 'Cancel', '/', class: "js-modal-close button secondary-button big-button", method: :get %>

    <p class="mt-20 small-text">By submitting this information, I agree to the ZokuVault
      <%= link_to 'Terms of Service', terms_of_service_path, class: "no-underline-link" %> and
      <%= link_to 'Privacy Policy', privacy_policy_path, class: "no-underline-link" %>.
    </p>
  <% end %>
</section>
